// LIGHT MODE VARIABLES
@mixin border-light-mode {
  --color-border: var(--color-shading-200);
  --color-border-alt: var(--color-shading-200);
}

// DARK MODE VARIABLES
@mixin border-dark-mode {
  --color-border: var(--color-shading-500);
  --color-border-alt: var(--color-shading-500);
}

:root {
  --border-radius-pill: 50em;
  --border-radius: 0.5rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
  --border-width: 1.5px;

  --border: 1px solid var(--color-border);
  --border-alt: 1px solid var(--color-border-alt);
}

.border-1px,
.border {
  border: var(--border);
}

.border-1px-alt,
.border-alt {
  border: var(--border-alt);
}

.round-corners,
.rounded-corners {
  border-radius: var(--border-radius);
}

.round-corners-sm,
.rounded-corners-sm {
  border-radius: var(--border-radius-sm);
}

.round-corners-lg,
.rounded-corners-lg {
  border-radius: var(--border-radius-lg);
}

.round-corners-xl,
.rounded-corners-xl {
  border-radius: var(--border-radius-xl);
}

.round-corners-pill,
.rounded-corners-pill {
  border-radius: var(--border-radius-pill);
}

hr {
  border: 0;
  height: 1px;
  background: var(--color-border);
}
