// NickBravo.dev color scheme
:root {
  --bravo-dark-900: #272b2a;
  --bravo-dark-700: #607466;
  --bravo-light-100: #edefce;
  --bravo-light-200: #dde0bd;
  --danger: #ba3f1d;

  // LIGHT MODE
  // Text variables
  --clr-txt-body: var(--bravo-light-200);
  --clr-txt-heading: var(--bravo-light-100);

  --clr-bg-body: var(--bravo-dark-900);

  --nav-link-color: var(--bravo-light-200);
  --nav-link-hover-color: var(--bravo-light-100);
  --nav-link-button-hover-color: var(--bravo-dark-900);
}

// NickBravo.dev color scheme
$bravo-dark-900: #272b2a !default;
$bravo-dark-700: #607466 !default;
$bravo-light-100: #edefce !default;
$bravo-light-200: #dde0bd !default;
$danger: #ba3f1d !default;

// NickBravo.dev alternate color scheme
// $bravo-dark-900: #111 !default;
// $bravo-dark-700: #555 !default;
// $bravo-light-100: #fafafa !default;
// $bravo-light-200: #e8e8e8 !default;
// $danger: #ae1515 !default;

.color-dark-900 {
  color: $bravo-dark-900;
}

.color-dark-700 {
  color: $bravo-dark-700;
}

.color-light-100 {
  color: $bravo-light-100;
}

.color-light-200 {
  color: $bravo-light-200;
}
