// padding-block-start Negative 1
.pt-n1 {
  padding-block-start: var(--gap-neg-1);
}

@media (--sm) {
  .pt-sm-n1 {
    padding-block-start: var(--gap-neg-1);
  }
}

@media (--md) {
  .pt-md-n1 {
    padding-block-start: var(--gap-neg-1);
  }
}

@media (--lg) {
  .pt-lg-n1 {
    padding-block-start: var(--gap-neg-1);
  }
}

@media (--xl) {
  .pt-xl-n1 {
    padding-block-start: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .pt-xxl-n1 {
    padding-block-start: var(--gap-neg-1);
  }
}

// padding-block-start Negative 2
.pt-n2 {
  padding-block-start: var(--gap-neg-2);
}

@media (--sm) {
  .pt-sm-n2 {
    padding-block-start: var(--gap-neg-2);
  }
}

@media (--md) {
  .pt-md-n2 {
    padding-block-start: var(--gap-neg-2);
  }
}

@media (--lg) {
  .pt-lg-n2 {
    padding-block-start: var(--gap-neg-2);
  }
}

@media (--xl) {
  .pt-xl-n2 {
    padding-block-start: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .pt-xxl-n2 {
    padding-block-start: var(--gap-neg-2);
  }
}

// padding-block-start Negative 3
.pt-n3 {
  padding-block-start: var(--gap-neg-3);
}

@media (--sm) {
  .pt-sm-n3 {
    padding-block-start: var(--gap-neg-3);
  }
}

@media (--md) {
  .pt-md-n3 {
    padding-block-start: var(--gap-neg-3);
  }
}

@media (--lg) {
  .pt-lg-n3 {
    padding-block-start: var(--gap-neg-3);
  }
}

@media (--xl) {
  .pt-xl-n3 {
    padding-block-start: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .pt-xxl-n3 {
    padding-block-start: var(--gap-neg-3);
  }
}

// padding-block-start Negative 4
.pt-n4 {
  padding-block-start: var(--gap-neg-4);
}

@media (--sm) {
  .pt-sm-n4 {
    padding-block-start: var(--gap-neg-4);
  }
}

@media (--md) {
  .pt-md-n4 {
    padding-block-start: var(--gap-neg-4);
  }
}

@media (--lg) {
  .pt-lg-n4 {
    padding-block-start: var(--gap-neg-4);
  }
}

@media (--xl) {
  .pt-xl-n4 {
    padding-block-start: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .pt-xxl-n4 {
    padding-block-start: var(--gap-neg-4);
  }
}

// padding-block-start Negative 5
.pt-n5 {
  padding-block-start: var(--gap-neg-5);
}

@media (--sm) {
  .pt-sm-n5 {
    padding-block-start: var(--gap-neg-5);
  }
}

@media (--md) {
  .pt-md-n5 {
    padding-block-start: var(--gap-neg-5);
  }
}

@media (--lg) {
  .pt-lg-n5 {
    padding-block-start: var(--gap-neg-5);
  }
}

@media (--xl) {
  .pt-xl-n5 {
    padding-block-start: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .pt-xxl-n5 {
    padding-block-start: var(--gap-neg-5);
  }
}

// padding-block-start Negative 6
.pt-n6 {
  padding-block-start: var(--gap-neg-6);
}

@media (--sm) {
  .pt-sm-n6 {
    padding-block-start: var(--gap-neg-6);
  }
}

@media (--md) {
  .pt-md-n6 {
    padding-block-start: var(--gap-neg-6);
  }
}

@media (--lg) {
  .pt-lg-n6 {
    padding-block-start: var(--gap-neg-6);
  }
}

@media (--xl) {
  .pt-xl-n6 {
    padding-block-start: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .pt-xxl-n6 {
    padding-block-start: var(--gap-neg-6);
  }
}

// padding-block-start Negative 7
.pt-n7 {
  padding-block-start: var(--gap-neg-7);
}

@media (--sm) {
  .pt-sm-n7 {
    padding-block-start: var(--gap-neg-7);
  }
}

@media (--md) {
  .pt-md-n7 {
    padding-block-start: var(--gap-neg-7);
  }
}

@media (--lg) {
  .pt-lg-n7 {
    padding-block-start: var(--gap-neg-7);
  }
}

@media (--xl) {
  .pt-xl-n7 {
    padding-block-start: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .pt-xxl-n7 {
    padding-block-start: var(--gap-neg-7);
  }
}

// padding-block-start Negative 8
.pt-n8 {
  padding-block-start: var(--gap-neg-8);
}

@media (--sm) {
  .pt-sm-n8 {
    padding-block-start: var(--gap-neg-8);
  }
}

@media (--md) {
  .pt-md-n8 {
    padding-block-start: var(--gap-neg-8);
  }
}

@media (--lg) {
  .pt-lg-n8 {
    padding-block-start: var(--gap-neg-8);
  }
}

@media (--xl) {
  .pt-xl-n8 {
    padding-block-start: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .pt-xxl-n8 {
    padding-block-start: var(--gap-neg-8);
  }
}

// padding-block-start Negative 9
.pt-n9 {
  padding-block-start: var(--gap-neg-9);
}

@media (--sm) {
  .pt-sm-n9 {
    padding-block-start: var(--gap-neg-9);
  }
}

@media (--md) {
  .pt-md-n9 {
    padding-block-start: var(--gap-neg-9);
  }
}

@media (--lg) {
  .pt-lg-n9 {
    padding-block-start: var(--gap-neg-9);
  }
}

@media (--xl) {
  .pt-xl-n9 {
    padding-block-start: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .pt-xxl-n9 {
    padding-block-start: var(--gap-neg-9);
  }
}

// padding-block-start Negative 10
.pt-n10 {
  padding-block-start: var(--gap-neg-10);
}

@media (--sm) {
  .pt-sm-n10 {
    padding-block-start: var(--gap-neg-10);
  }
}

@media (--md) {
  .pt-md-n10 {
    padding-block-start: var(--gap-neg-10);
  }
}

@media (--lg) {
  .pt-lg-n10 {
    padding-block-start: var(--gap-neg-10);
  }
}

@media (--xl) {
  .pt-xl-n10 {
    padding-block-start: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .pt-xxl-n10 {
    padding-block-start: var(--gap-neg-10);
  }
}
