// Padding Negative 1
.p-n1 {
  padding: var(--gap-neg-1);
}

@media (--sm) {
  .p-sm-n1 {
    padding: var(--gap-neg-1);
  }
}

@media (--md) {
  .p-md-n1 {
    padding: var(--gap-neg-1);
  }
}

@media (--lg) {
  .p-lg-n1 {
    padding: var(--gap-neg-1);
  }
}

@media (--xl) {
  .p-xl-n1 {
    padding: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .p-xxl-n1 {
    padding: var(--gap-neg-1);
  }
}

// Padding Negative 2
.p-n2 {
  padding: var(--gap-neg-2);
}

@media (--sm) {
  .p-sm-n2 {
    padding: var(--gap-neg-2);
  }
}

@media (--md) {
  .p-md-n2 {
    padding: var(--gap-neg-2);
  }
}

@media (--lg) {
  .p-lg-n2 {
    padding: var(--gap-neg-2);
  }
}

@media (--xl) {
  .p-xl-n2 {
    padding: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .p-xxl-n2 {
    padding: var(--gap-neg-2);
  }
}

// Padding Negative 3
.p-n3 {
  padding: var(--gap-neg-3);
}

@media (--sm) {
  .p-sm-n3 {
    padding: var(--gap-neg-3);
  }
}

@media (--md) {
  .p-md-n3 {
    padding: var(--gap-neg-3);
  }
}

@media (--lg) {
  .p-lg-n3 {
    padding: var(--gap-neg-3);
  }
}

@media (--xl) {
  .p-xl-n3 {
    padding: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .p-xxl-n3 {
    padding: var(--gap-neg-3);
  }
}

// Padding Negative 4
.p-n4 {
  padding: var(--gap-neg-4);
}

@media (--sm) {
  .p-sm-n4 {
    padding: var(--gap-neg-4);
  }
}

@media (--md) {
  .p-md-n4 {
    padding: var(--gap-neg-4);
  }
}

@media (--lg) {
  .p-lg-n4 {
    padding: var(--gap-neg-4);
  }
}

@media (--xl) {
  .p-xl-n4 {
    padding: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .p-xxl-n4 {
    padding: var(--gap-neg-4);
  }
}

// Padding Negative 5
.p-n5 {
  padding: var(--gap-neg-5);
}

@media (--sm) {
  .p-sm-n5 {
    padding: var(--gap-neg-5);
  }
}

@media (--md) {
  .p-md-n5 {
    padding: var(--gap-neg-5);
  }
}

@media (--lg) {
  .p-lg-n5 {
    padding: var(--gap-neg-5);
  }
}

@media (--xl) {
  .p-xl-n5 {
    padding: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .p-xxl-n5 {
    padding: var(--gap-neg-5);
  }
}

// Padding Negative 6
.p-n6 {
  padding: var(--gap-neg-6);
}

@media (--sm) {
  .p-sm-n6 {
    padding: var(--gap-neg-6);
  }
}

@media (--md) {
  .p-md-n6 {
    padding: var(--gap-neg-6);
  }
}

@media (--lg) {
  .p-lg-n6 {
    padding: var(--gap-neg-6);
  }
}

@media (--xl) {
  .p-xl-n6 {
    padding: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .p-xxl-n6 {
    padding: var(--gap-neg-6);
  }
}

// Padding Negative 7
.p-n7 {
  padding: var(--gap-neg-7);
}

@media (--sm) {
  .p-sm-n7 {
    padding: var(--gap-neg-7);
  }
}

@media (--md) {
  .p-md-n7 {
    padding: var(--gap-neg-7);
  }
}

@media (--lg) {
  .p-lg-n7 {
    padding: var(--gap-neg-7);
  }
}

@media (--xl) {
  .p-xl-n7 {
    padding: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .p-xxl-n7 {
    padding: var(--gap-neg-7);
  }
}

// Padding Negative 8
.p-n8 {
  padding: var(--gap-neg-8);
}

@media (--sm) {
  .p-sm-n8 {
    padding: var(--gap-neg-8);
  }
}

@media (--md) {
  .p-md-n8 {
    padding: var(--gap-neg-8);
  }
}

@media (--lg) {
  .p-lg-n8 {
    padding: var(--gap-neg-8);
  }
}

@media (--xl) {
  .p-xl-n8 {
    padding: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .p-xxl-n8 {
    padding: var(--gap-neg-8);
  }
}

// Padding Negative 9
.p-n9 {
  padding: var(--gap-neg-9);
}

@media (--sm) {
  .p-sm-n9 {
    padding: var(--gap-neg-9);
  }
}

@media (--md) {
  .p-md-n9 {
    padding: var(--gap-neg-9);
  }
}

@media (--lg) {
  .p-lg-n9 {
    padding: var(--gap-neg-9);
  }
}

@media (--xl) {
  .p-xl-n9 {
    padding: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .p-xxl-n9 {
    padding: var(--gap-neg-9);
  }
}

// Padding Negative 10
.p-n10 {
  padding: var(--gap-neg-10);
}

@media (--sm) {
  .p-sm-n10 {
    padding: var(--gap-neg-10);
  }
}

@media (--md) {
  .p-md-n10 {
    padding: var(--gap-neg-10);
  }
}

@media (--lg) {
  .p-lg-n10 {
    padding: var(--gap-neg-10);
  }
}

@media (--xl) {
  .p-xl-n10 {
    padding: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .p-xxl-n10 {
    padding: var(--gap-neg-10);
  }
}
