// Padding-inline-start 0
.ps-0 {
  padding-inline-start: 0;
}

@media (--sm) {
  .ps-sm-0 {
    padding-inline-start: 0;
  }
}

@media (--md) {
  .ps-md-0 {
    padding-inline-start: 0;
  }
}

@media (--lg) {
  .ps-lg-0 {
    padding-inline-start: 0;
  }
}

@media (--xl) {
  .ps-xl-0 {
    padding-inline-start: 0;
  }
}

@media (--xxl) {
  .ps-xxl-0 {
    padding-inline-start: 0;
  }
}

// Padding-inline-start 1
.ps-1 {
  padding-inline-start: var(--spacer-1);
}

@media (--sm) {
  .ps-sm-1 {
    padding-inline-start: var(--spacer-1);
  }
}

@media (--md) {
  .ps-md-1 {
    padding-inline-start: var(--spacer-1);
  }
}

@media (--lg) {
  .ps-lg-1 {
    padding-inline-start: var(--spacer-1);
  }
}

@media (--xl) {
  .ps-xl-1 {
    padding-inline-start: var(--spacer-1);
  }
}

@media (--xxl) {
  .ps-xxl-1 {
    padding-inline-start: var(--spacer-1);
  }
}

// Padding-inline-start 2
.ps-2 {
  padding-inline-start: var(--spacer-2);
}

@media (--sm) {
  .ps-sm-2 {
    padding-inline-start: var(--spacer-2);
  }
}

@media (--md) {
  .ps-md-2 {
    padding-inline-start: var(--spacer-2);
  }
}

@media (--lg) {
  .ps-lg-2 {
    padding-inline-start: var(--spacer-2);
  }
}

@media (--xl) {
  .ps-xl-2 {
    padding-inline-start: var(--spacer-2);
  }
}

@media (--xxl) {
  .ps-xxl-2 {
    padding-inline-start: var(--spacer-2);
  }
}

// Padding-inline-start 3
.ps-3 {
  padding-inline-start: var(--spacer-3);
}

@media (--sm) {
  .ps-sm-3 {
    padding-inline-start: var(--spacer-3);
  }
}

@media (--md) {
  .ps-md-3 {
    padding-inline-start: var(--spacer-3);
  }
}

@media (--lg) {
  .ps-lg-3 {
    padding-inline-start: var(--spacer-3);
  }
}

@media (--xl) {
  .ps-xl-3 {
    padding-inline-start: var(--spacer-3);
  }
}

@media (--xxl) {
  .ps-xxl-3 {
    padding-inline-start: var(--spacer-3);
  }
}

// Padding-inline-start 4
.ps-4 {
  padding-inline-start: var(--spacer-4);
}

@media (--sm) {
  .ps-sm-4 {
    padding-inline-start: var(--spacer-4);
  }
}

@media (--md) {
  .ps-md-4 {
    padding-inline-start: var(--spacer-4);
  }
}

@media (--lg) {
  .ps-lg-4 {
    padding-inline-start: var(--spacer-4);
  }
}

@media (--xl) {
  .ps-xl-4 {
    padding-inline-start: var(--spacer-4);
  }
}

@media (--xxl) {
  .ps-xxl-4 {
    padding-inline-start: var(--spacer-4);
  }
}

// Padding-inline-start 5
.ps-5 {
  padding-inline-start: var(--spacer-5);
}

@media (--sm) {
  .ps-sm-5 {
    padding-inline-start: var(--spacer-5);
  }
}

@media (--md) {
  .ps-md-5 {
    padding-inline-start: var(--spacer-5);
  }
}

@media (--lg) {
  .ps-lg-5 {
    padding-inline-start: var(--spacer-5);
  }
}

@media (--xl) {
  .ps-xl-5 {
    padding-inline-start: var(--spacer-5);
  }
}

@media (--xxl) {
  .ps-xxl-5 {
    padding-inline-start: var(--spacer-5);
  }
}

// Padding-inline-start 6
.ps-6 {
  padding-inline-start: var(--spacer-6);
}

@media (--sm) {
  .ps-sm-6 {
    padding-inline-start: var(--spacer-6);
  }
}

@media (--md) {
  .ps-md-6 {
    padding-inline-start: var(--spacer-6);
  }
}

@media (--lg) {
  .ps-lg-6 {
    padding-inline-start: var(--spacer-6);
  }
}

@media (--xl) {
  .ps-xl-6 {
    padding-inline-start: var(--spacer-6);
  }
}

@media (--xxl) {
  .ps-xxl-6 {
    padding-inline-start: var(--spacer-6);
  }
}

// Padding-inline-start 7
.ps-7 {
  padding-inline-start: var(--spacer-7);
}

@media (--sm) {
  .ps-sm-7 {
    padding-inline-start: var(--spacer-7);
  }
}

@media (--md) {
  .ps-md-7 {
    padding-inline-start: var(--spacer-7);
  }
}

@media (--lg) {
  .ps-lg-7 {
    padding-inline-start: var(--spacer-7);
  }
}

@media (--xl) {
  .ps-xl-7 {
    padding-inline-start: var(--spacer-7);
  }
}

@media (--xxl) {
  .ps-xxl-7 {
    padding-inline-start: var(--spacer-7);
  }
}

// Padding-inline-start 8
.ps-8 {
  padding-inline-start: var(--spacer-8);
}

@media (--sm) {
  .ps-sm-8 {
    padding-inline-start: var(--spacer-8);
  }
}

@media (--md) {
  .ps-md-8 {
    padding-inline-start: var(--spacer-8);
  }
}

@media (--lg) {
  .ps-lg-8 {
    padding-inline-start: var(--spacer-8);
  }
}

@media (--xl) {
  .ps-xl-8 {
    padding-inline-start: var(--spacer-8);
  }
}

@media (--xxl) {
  .ps-xxl-8 {
    padding-inline-start: var(--spacer-8);
  }
}

// Padding-inline-start 9
.ps-9 {
  padding-inline-start: var(--spacer-9);
}

@media (--sm) {
  .ps-sm-9 {
    padding-inline-start: var(--spacer-9);
  }
}

@media (--md) {
  .ps-md-9 {
    padding-inline-start: var(--spacer-9);
  }
}

@media (--lg) {
  .ps-lg-9 {
    padding-inline-start: var(--spacer-9);
  }
}

@media (--xl) {
  .ps-xl-9 {
    padding-inline-start: var(--spacer-9);
  }
}

@media (--xxl) {
  .ps-xxl-9 {
    padding-inline-start: var(--spacer-9);
  }
}

// Padding-inline-start 10
.ps-10 {
  padding-inline-start: var(--spacer-10);
}

@media (--sm) {
  .ps-sm-10 {
    padding-inline-start: var(--spacer-10);
  }
}

@media (--md) {
  .ps-md-10 {
    padding-inline-start: var(--spacer-10);
  }
}

@media (--lg) {
  .ps-lg-10 {
    padding-inline-start: var(--spacer-10);
  }
}

@media (--xl) {
  .ps-xl-10 {
    padding-inline-start: var(--spacer-10);
  }
}

@media (--xxl) {
  .ps-xxl-10 {
    padding-inline-start: var(--spacer-10);
  }
}

// Padding-inline-start 12
.ps-12 {
  padding-inline-start: var(--spacer-12);
}

@media (--sm) {
  .ps-sm-12 {
    padding-inline-start: var(--spacer-12);
  }
}

@media (--md) {
  .ps-md-12 {
    padding-inline-start: var(--spacer-12);
  }
}

@media (--lg) {
  .ps-lg-12 {
    padding-inline-start: var(--spacer-12);
  }
}

@media (--xl) {
  .ps-xl-12 {
    padding-inline-start: var(--spacer-12);
  }
}

@media (--xxl) {
  .ps-xxl-12 {
    padding-inline-start: var(--spacer-12);
  }
}

// Padding-inline-start 14
.ps-14 {
  padding-inline-start: var(--spacer-14);
}

@media (--sm) {
  .ps-sm-14 {
    padding-inline-start: var(--spacer-14);
  }
}

@media (--md) {
  .ps-md-14 {
    padding-inline-start: var(--spacer-14);
  }
}

@media (--lg) {
  .ps-lg-14 {
    padding-inline-start: var(--spacer-14);
  }
}

@media (--xl) {
  .ps-xl-14 {
    padding-inline-start: var(--spacer-14);
  }
}

@media (--xxl) {
  .ps-xxl-14 {
    padding-inline-start: var(--spacer-14);
  }
}

// Padding-inline-start 16
.ps-16 {
  padding-inline-start: var(--spacer-16);
}

@media (--sm) {
  .ps-sm-16 {
    padding-inline-start: var(--spacer-16);
  }
}

@media (--md) {
  .ps-md-16 {
    padding-inline-start: var(--spacer-16);
  }
}

@media (--lg) {
  .ps-lg-16 {
    padding-inline-start: var(--spacer-16);
  }
}

@media (--xl) {
  .ps-xl-16 {
    padding-inline-start: var(--spacer-16);
  }
}

@media (--xxl) {
  .ps-xxl-16 {
    padding-inline-start: var(--spacer-16);
  }
}

// Padding-inline-start 20
.ps-20 {
  padding-inline-start: var(--spacer-20);
}

@media (--sm) {
  .ps-sm-20 {
    padding-inline-start: var(--spacer-20);
  }
}

@media (--md) {
  .ps-md-20 {
    padding-inline-start: var(--spacer-20);
  }
}

@media (--lg) {
  .ps-lg-20 {
    padding-inline-start: var(--spacer-20);
  }
}

@media (--xl) {
  .ps-xl-20 {
    padding-inline-start: var(--spacer-20);
  }
}

@media (--xxl) {
  .ps-xxl-20 {
    padding-inline-start: var(--spacer-20);
  }
}

// Padding-inline-start 24
.ps-24 {
  padding-inline-start: var(--spacer-24);
}

@media (--sm) {
  .ps-sm-24 {
    padding-inline-start: var(--spacer-24);
  }
}

@media (--md) {
  .ps-md-24 {
    padding-inline-start: var(--spacer-24);
  }
}

@media (--lg) {
  .ps-lg-24 {
    padding-inline-start: var(--spacer-24);
  }
}

@media (--xl) {
  .ps-xl-24 {
    padding-inline-start: var(--spacer-24);
  }
}

@media (--xxl) {
  .ps-xxl-24 {
    padding-inline-start: var(--spacer-24);
  }
}

// Padding-inline-start 28
.ps-28 {
  padding-inline-start: var(--spacer-28);
}

@media (--sm) {
  .ps-sm-28 {
    padding-inline-start: var(--spacer-28);
  }
}

@media (--md) {
  .ps-md-28 {
    padding-inline-start: var(--spacer-28);
  }
}

@media (--lg) {
  .ps-lg-28 {
    padding-inline-start: var(--spacer-28);
  }
}

@media (--xl) {
  .ps-xl-28 {
    padding-inline-start: var(--spacer-28);
  }
}

@media (--xxl) {
  .ps-xxl-28 {
    padding-inline-start: var(--spacer-28);
  }
}

// Padding-inline-start 32
.ps-32 {
  padding-inline-start: var(--spacer-32);
}

@media (--sm) {
  .ps-sm-32 {
    padding-inline-start: var(--spacer-32);
  }
}

@media (--md) {
  .ps-md-32 {
    padding-inline-start: var(--spacer-32);
  }
}

@media (--lg) {
  .ps-lg-32 {
    padding-inline-start: var(--spacer-32);
  }
}

@media (--xl) {
  .ps-xl-32 {
    padding-inline-start: var(--spacer-32);
  }
}

@media (--xxl) {
  .ps-xxl-32 {
    padding-inline-start: var(--spacer-32);
  }
}

// Padding-inline-start 36
.ps-36 {
  padding-inline-start: var(--spacer-36);
}

@media (--sm) {
  .ps-sm-36 {
    padding-inline-start: var(--spacer-36);
  }
}

@media (--md) {
  .ps-md-36 {
    padding-inline-start: var(--spacer-36);
  }
}

@media (--lg) {
  .ps-lg-36 {
    padding-inline-start: var(--spacer-36);
  }
}

@media (--xl) {
  .ps-xl-36 {
    padding-inline-start: var(--spacer-36);
  }
}

@media (--xxl) {
  .ps-xxl-36 {
    padding-inline-start: var(--spacer-36);
  }
}

// Padding-inline-start 40
.ps-40 {
  padding-inline-start: var(--spacer-40);
}

@media (--sm) {
  .ps-sm-40 {
    padding-inline-start: var(--spacer-40);
  }
}

@media (--md) {
  .ps-md-40 {
    padding-inline-start: var(--spacer-40);
  }
}

@media (--lg) {
  .ps-lg-40 {
    padding-inline-start: var(--spacer-40);
  }
}

@media (--xl) {
  .ps-xl-40 {
    padding-inline-start: var(--spacer-40);
  }
}

@media (--xxl) {
  .ps-xxl-40 {
    padding-inline-start: var(--spacer-40);
  }
}

// Padding-inline-start 44
.ps-44 {
  padding-inline-start: var(--spacer-44);
}

@media (--sm) {
  .ps-sm-44 {
    padding-inline-start: var(--spacer-44);
  }
}

@media (--md) {
  .ps-md-44 {
    padding-inline-start: var(--spacer-44);
  }
}

@media (--lg) {
  .ps-lg-44 {
    padding-inline-start: var(--spacer-44);
  }
}

@media (--xl) {
  .ps-xl-44 {
    padding-inline-start: var(--spacer-44);
  }
}

@media (--xxl) {
  .ps-xxl-44 {
    padding-inline-start: var(--spacer-44);
  }
}

// Padding-inline-start 48
.ps-48 {
  padding-inline-start: var(--spacer-48);
}

@media (--sm) {
  .ps-sm-48 {
    padding-inline-start: var(--spacer-48);
  }
}

@media (--md) {
  .ps-md-48 {
    padding-inline-start: var(--spacer-48);
  }
}

@media (--lg) {
  .ps-lg-48 {
    padding-inline-start: var(--spacer-48);
  }
}

@media (--xl) {
  .ps-xl-48 {
    padding-inline-start: var(--spacer-48);
  }
}

@media (--xxl) {
  .ps-xxl-48 {
    padding-inline-start: var(--spacer-48);
  }
}

// Padding-inline-start 52
.ps-52 {
  padding-inline-start: var(--spacer-52);
}

@media (--sm) {
  .ps-sm-52 {
    padding-inline-start: var(--spacer-52);
  }
}

@media (--md) {
  .ps-md-52 {
    padding-inline-start: var(--spacer-52);
  }
}

@media (--lg) {
  .ps-lg-52 {
    padding-inline-start: var(--spacer-52);
  }
}

@media (--xl) {
  .ps-xl-52 {
    padding-inline-start: var(--spacer-52);
  }
}

@media (--xxl) {
  .ps-xxl-52 {
    padding-inline-start: var(--spacer-52);
  }
}

// Padding-inline-start 56
.ps-56 {
  padding-inline-start: var(--spacer-56);
}

@media (--sm) {
  .ps-sm-56 {
    padding-inline-start: var(--spacer-56);
  }
}

@media (--md) {
  .ps-md-56 {
    padding-inline-start: var(--spacer-56);
  }
}

@media (--lg) {
  .ps-lg-56 {
    padding-inline-start: var(--spacer-56);
  }
}

@media (--xl) {
  .ps-xl-56 {
    padding-inline-start: var(--spacer-56);
  }
}

@media (--xxl) {
  .ps-xxl-56 {
    padding-inline-start: var(--spacer-56);
  }
}

// Padding-inline-start 60
.ps-60 {
  padding-inline-start: var(--spacer-60);
}

@media (--sm) {
  .ps-sm-60 {
    padding-inline-start: var(--spacer-60);
  }
}

@media (--md) {
  .ps-md-60 {
    padding-inline-start: var(--spacer-60);
  }
}

@media (--lg) {
  .ps-lg-60 {
    padding-inline-start: var(--spacer-60);
  }
}

@media (--xl) {
  .ps-xl-60 {
    padding-inline-start: var(--spacer-60);
  }
}

@media (--xxl) {
  .ps-xxl-60 {
    padding-inline-start: var(--spacer-60);
  }
}

// Padding-inline-start 64
.ps-64 {
  padding-inline-start: var(--spacer-64);
}

@media (--sm) {
  .ps-sm-64 {
    padding-inline-start: var(--spacer-64);
  }
}

@media (--md) {
  .ps-md-64 {
    padding-inline-start: var(--spacer-64);
  }
}

@media (--lg) {
  .ps-lg-64 {
    padding-inline-start: var(--spacer-64);
  }
}

@media (--xl) {
  .ps-xl-64 {
    padding-inline-start: var(--spacer-64);
  }
}

@media (--xxl) {
  .ps-xxl-64 {
    padding-inline-start: var(--spacer-64);
  }
}

// Padding-inline-start 72
.ps-72 {
  padding-inline-start: var(--spacer-72);
}

@media (--sm) {
  .ps-sm-72 {
    padding-inline-start: var(--spacer-72);
  }
}

@media (--md) {
  .ps-md-72 {
    padding-inline-start: var(--spacer-72);
  }
}

@media (--lg) {
  .ps-lg-72 {
    padding-inline-start: var(--spacer-72);
  }
}

@media (--xl) {
  .ps-xl-72 {
    padding-inline-start: var(--spacer-72);
  }
}

@media (--xxl) {
  .ps-xxl-72 {
    padding-inline-start: var(--spacer-72);
  }
}

// Padding-inline-start 80
.ps-80 {
  padding-inline-start: var(--spacer-80);
}

@media (--sm) {
  .ps-sm-80 {
    padding-inline-start: var(--spacer-80);
  }
}

@media (--md) {
  .ps-md-80 {
    padding-inline-start: var(--spacer-80);
  }
}

@media (--lg) {
  .ps-lg-80 {
    padding-inline-start: var(--spacer-80);
  }
}

@media (--xl) {
  .ps-xl-80 {
    padding-inline-start: var(--spacer-80);
  }
}

@media (--xxl) {
  .ps-xxl-80 {
    padding-inline-start: var(--spacer-80);
  }
}

// Padding-inline-start 96
.ps-96 {
  padding-inline-start: var(--spacer-96);
}

@media (--sm) {
  .ps-sm-96 {
    padding-inline-start: var(--spacer-96);
  }
}

@media (--md) {
  .ps-md-96 {
    padding-inline-start: var(--spacer-96);
  }
}

@media (--lg) {
  .ps-lg-96 {
    padding-inline-start: var(--spacer-96);
  }
}

@media (--xl) {
  .ps-xl-96 {
    padding-inline-start: var(--spacer-96);
  }
}

@media (--xxl) {
  .ps-xxl-96 {
    padding-inline-start: var(--spacer-96);
  }
}
