// Padding-block-end 0
.pb-0 {
  padding-block-end: 0;
}

@media (--sm) {
  .pb-sm-0 {
    padding-block-end: 0;
  }
}

@media (--md) {
  .pb-md-0 {
    padding-block-end: 0;
  }
}

@media (--lg) {
  .pb-lg-0 {
    padding-block-end: 0;
  }
}

@media (--xl) {
  .pb-xl-0 {
    padding-block-end: 0;
  }
}

@media (--xxl) {
  .pb-xxl-0 {
    padding-block-end: 0;
  }
}

// Padding-block-end 1
.pb-1 {
  padding-block-end: var(--gap-1);
}

@media (--sm) {
  .pb-sm-1 {
    padding-block-end: var(--gap-1);
  }
}

@media (--md) {
  .pb-md-1 {
    padding-block-end: var(--gap-1);
  }
}

@media (--lg) {
  .pb-lg-1 {
    padding-block-end: var(--gap-1);
  }
}

@media (--xl) {
  .pb-xl-1 {
    padding-block-end: var(--gap-1);
  }
}

@media (--xxl) {
  .pb-xxl-1 {
    padding-block-end: var(--gap-1);
  }
}

// Padding-block-end 2
.pb-2 {
  padding-block-end: var(--gap-2);
}

@media (--sm) {
  .pb-sm-2 {
    padding-block-end: var(--gap-2);
  }
}

@media (--md) {
  .pb-md-2 {
    padding-block-end: var(--gap-2);
  }
}

@media (--lg) {
  .pb-lg-2 {
    padding-block-end: var(--gap-2);
  }
}

@media (--xl) {
  .pb-xl-2 {
    padding-block-end: var(--gap-2);
  }
}

@media (--xxl) {
  .pb-xxl-2 {
    padding-block-end: var(--gap-2);
  }
}

// Padding-block-end 3
.pb-3 {
  padding-block-end: var(--gap-3);
}

@media (--sm) {
  .pb-sm-3 {
    padding-block-end: var(--gap-3);
  }
}

@media (--md) {
  .pb-md-3 {
    padding-block-end: var(--gap-3);
  }
}

@media (--lg) {
  .pb-lg-3 {
    padding-block-end: var(--gap-3);
  }
}

@media (--xl) {
  .pb-xl-3 {
    padding-block-end: var(--gap-3);
  }
}

@media (--xxl) {
  .pb-xxl-3 {
    padding-block-end: var(--gap-3);
  }
}

// Padding-block-end 4
.pb-4 {
  padding-block-end: var(--gap-4);
}

@media (--sm) {
  .pb-sm-4 {
    padding-block-end: var(--gap-4);
  }
}

@media (--md) {
  .pb-md-4 {
    padding-block-end: var(--gap-4);
  }
}

@media (--lg) {
  .pb-lg-4 {
    padding-block-end: var(--gap-4);
  }
}

@media (--xl) {
  .pb-xl-4 {
    padding-block-end: var(--gap-4);
  }
}

@media (--xxl) {
  .pb-xxl-4 {
    padding-block-end: var(--gap-4);
  }
}

// Padding-block-end 5
.pb-5 {
  padding-block-end: var(--gap-5);
}

@media (--sm) {
  .pb-sm-5 {
    padding-block-end: var(--gap-5);
  }
}

@media (--md) {
  .pb-md-5 {
    padding-block-end: var(--gap-5);
  }
}

@media (--lg) {
  .pb-lg-5 {
    padding-block-end: var(--gap-5);
  }
}

@media (--xl) {
  .pb-xl-5 {
    padding-block-end: var(--gap-5);
  }
}

@media (--xxl) {
  .pb-xxl-5 {
    padding-block-end: var(--gap-5);
  }
}

// Padding-block-end 6
.pb-6 {
  padding-block-end: var(--gap-6);
}

@media (--sm) {
  .pb-sm-6 {
    padding-block-end: var(--gap-6);
  }
}

@media (--md) {
  .pb-md-6 {
    padding-block-end: var(--gap-6);
  }
}

@media (--lg) {
  .pb-lg-6 {
    padding-block-end: var(--gap-6);
  }
}

@media (--xl) {
  .pb-xl-6 {
    padding-block-end: var(--gap-6);
  }
}

@media (--xxl) {
  .pb-xxl-6 {
    padding-block-end: var(--gap-6);
  }
}

// Padding-block-end 7
.pb-7 {
  padding-block-end: var(--gap-7);
}

@media (--sm) {
  .pb-sm-7 {
    padding-block-end: var(--gap-7);
  }
}

@media (--md) {
  .pb-md-7 {
    padding-block-end: var(--gap-7);
  }
}

@media (--lg) {
  .pb-lg-7 {
    padding-block-end: var(--gap-7);
  }
}

@media (--xl) {
  .pb-xl-7 {
    padding-block-end: var(--gap-7);
  }
}

@media (--xxl) {
  .pb-xxl-7 {
    padding-block-end: var(--gap-7);
  }
}

// Padding-block-end 8
.pb-8 {
  padding-block-end: var(--gap-8);
}

@media (--sm) {
  .pb-sm-8 {
    padding-block-end: var(--gap-8);
  }
}

@media (--md) {
  .pb-md-8 {
    padding-block-end: var(--gap-8);
  }
}

@media (--lg) {
  .pb-lg-8 {
    padding-block-end: var(--gap-8);
  }
}

@media (--xl) {
  .pb-xl-8 {
    padding-block-end: var(--gap-8);
  }
}

@media (--xxl) {
  .pb-xxl-8 {
    padding-block-end: var(--gap-8);
  }
}

// Padding-block-end 9
.pb-9 {
  padding-block-end: var(--gap-9);
}

@media (--sm) {
  .pb-sm-9 {
    padding-block-end: var(--gap-9);
  }
}

@media (--md) {
  .pb-md-9 {
    padding-block-end: var(--gap-9);
  }
}

@media (--lg) {
  .pb-lg-9 {
    padding-block-end: var(--gap-9);
  }
}

@media (--xl) {
  .pb-xl-9 {
    padding-block-end: var(--gap-9);
  }
}

@media (--xxl) {
  .pb-xxl-9 {
    padding-block-end: var(--gap-9);
  }
}

// Padding-block-end 10
.pb-10 {
  padding-block-end: var(--gap-10);
}

@media (--sm) {
  .pb-sm-10 {
    padding-block-end: var(--gap-10);
  }
}

@media (--md) {
  .pb-md-10 {
    padding-block-end: var(--gap-10);
  }
}

@media (--lg) {
  .pb-lg-10 {
    padding-block-end: var(--gap-10);
  }
}

@media (--xl) {
  .pb-xl-10 {
    padding-block-end: var(--gap-10);
  }
}

@media (--xxl) {
  .pb-xxl-10 {
    padding-block-end: var(--gap-10);
  }
}
