// padding-inline Negative 1
.px-n1 {
  padding-inline: var(--gap-neg-1);
}

@media (--sm) {
  .px-sm-n1 {
    padding-inline: var(--gap-neg-1);
  }
}

@media (--md) {
  .px-md-n1 {
    padding-inline: var(--gap-neg-1);
  }
}

@media (--lg) {
  .px-lg-n1 {
    padding-inline: var(--gap-neg-1);
  }
}

@media (--xl) {
  .px-xl-n1 {
    padding-inline: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .px-xxl-n1 {
    padding-inline: var(--gap-neg-1);
  }
}

// padding-inline Negative 2
.px-n2 {
  padding-inline: var(--gap-neg-2);
}

@media (--sm) {
  .px-sm-n2 {
    padding-inline: var(--gap-neg-2);
  }
}

@media (--md) {
  .px-md-n2 {
    padding-inline: var(--gap-neg-2);
  }
}

@media (--lg) {
  .px-lg-n2 {
    padding-inline: var(--gap-neg-2);
  }
}

@media (--xl) {
  .px-xl-n2 {
    padding-inline: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .px-xxl-n2 {
    padding-inline: var(--gap-neg-2);
  }
}

// padding-inline Negative 3
.px-n3 {
  padding-inline: var(--gap-neg-3);
}

@media (--sm) {
  .px-sm-n3 {
    padding-inline: var(--gap-neg-3);
  }
}

@media (--md) {
  .px-md-n3 {
    padding-inline: var(--gap-neg-3);
  }
}

@media (--lg) {
  .px-lg-n3 {
    padding-inline: var(--gap-neg-3);
  }
}

@media (--xl) {
  .px-xl-n3 {
    padding-inline: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .px-xxl-n3 {
    padding-inline: var(--gap-neg-3);
  }
}

// padding-inline Negative 4
.px-n4 {
  padding-inline: var(--gap-neg-4);
}

@media (--sm) {
  .px-sm-n4 {
    padding-inline: var(--gap-neg-4);
  }
}

@media (--md) {
  .px-md-n4 {
    padding-inline: var(--gap-neg-4);
  }
}

@media (--lg) {
  .px-lg-n4 {
    padding-inline: var(--gap-neg-4);
  }
}

@media (--xl) {
  .px-xl-n4 {
    padding-inline: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .px-xxl-n4 {
    padding-inline: var(--gap-neg-4);
  }
}

// padding-inline Negative 5
.px-n5 {
  padding-inline: var(--gap-neg-5);
}

@media (--sm) {
  .px-sm-n5 {
    padding-inline: var(--gap-neg-5);
  }
}

@media (--md) {
  .px-md-n5 {
    padding-inline: var(--gap-neg-5);
  }
}

@media (--lg) {
  .px-lg-n5 {
    padding-inline: var(--gap-neg-5);
  }
}

@media (--xl) {
  .px-xl-n5 {
    padding-inline: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .px-xxl-n5 {
    padding-inline: var(--gap-neg-5);
  }
}

// padding-inline Negative 6
.px-n6 {
  padding-inline: var(--gap-neg-6);
}

@media (--sm) {
  .px-sm-n6 {
    padding-inline: var(--gap-neg-6);
  }
}

@media (--md) {
  .px-md-n6 {
    padding-inline: var(--gap-neg-6);
  }
}

@media (--lg) {
  .px-lg-n6 {
    padding-inline: var(--gap-neg-6);
  }
}

@media (--xl) {
  .px-xl-n6 {
    padding-inline: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .px-xxl-n6 {
    padding-inline: var(--gap-neg-6);
  }
}

// padding-inline Negative 7
.px-n7 {
  padding-inline: var(--gap-neg-7);
}

@media (--sm) {
  .px-sm-n7 {
    padding-inline: var(--gap-neg-7);
  }
}

@media (--md) {
  .px-md-n7 {
    padding-inline: var(--gap-neg-7);
  }
}

@media (--lg) {
  .px-lg-n7 {
    padding-inline: var(--gap-neg-7);
  }
}

@media (--xl) {
  .px-xl-n7 {
    padding-inline: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .px-xxl-n7 {
    padding-inline: var(--gap-neg-7);
  }
}

// padding-inline Negative 8
.px-n8 {
  padding-inline: var(--gap-neg-8);
}

@media (--sm) {
  .px-sm-n8 {
    padding-inline: var(--gap-neg-8);
  }
}

@media (--md) {
  .px-md-n8 {
    padding-inline: var(--gap-neg-8);
  }
}

@media (--lg) {
  .px-lg-n8 {
    padding-inline: var(--gap-neg-8);
  }
}

@media (--xl) {
  .px-xl-n8 {
    padding-inline: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .px-xxl-n8 {
    padding-inline: var(--gap-neg-8);
  }
}

// padding-inline Negative 9
.px-n9 {
  padding-inline: var(--gap-neg-9);
}

@media (--sm) {
  .px-sm-n9 {
    padding-inline: var(--gap-neg-9);
  }
}

@media (--md) {
  .px-md-n9 {
    padding-inline: var(--gap-neg-9);
  }
}

@media (--lg) {
  .px-lg-n9 {
    padding-inline: var(--gap-neg-9);
  }
}

@media (--xl) {
  .px-xl-n9 {
    padding-inline: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .px-xxl-n9 {
    padding-inline: var(--gap-neg-9);
  }
}

// padding-inline Negative 10
.px-n10 {
  padding-inline: var(--gap-neg-10);
}

@media (--sm) {
  .px-sm-n10 {
    padding-inline: var(--gap-neg-10);
  }
}

@media (--md) {
  .px-md-n10 {
    padding-inline: var(--gap-neg-10);
  }
}

@media (--lg) {
  .px-lg-n10 {
    padding-inline: var(--gap-neg-10);
  }
}

@media (--xl) {
  .px-xl-n10 {
    padding-inline: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .px-xxl-n10 {
    padding-inline: var(--gap-neg-10);
  }
}
