// padding-block-end Negative 1
.pb-n1 {
  padding-block-end: var(--gap-neg-1);
}

@media (--sm) {
  .pb-sm-n1 {
    padding-block-end: var(--gap-neg-1);
  }
}

@media (--md) {
  .pb-md-n1 {
    padding-block-end: var(--gap-neg-1);
  }
}

@media (--lg) {
  .pb-lg-n1 {
    padding-block-end: var(--gap-neg-1);
  }
}

@media (--xl) {
  .pb-xl-n1 {
    padding-block-end: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .pb-xxl-n1 {
    padding-block-end: var(--gap-neg-1);
  }
}

// padding-block-end Negative 2
.pb-n2 {
  padding-block-end: var(--gap-neg-2);
}

@media (--sm) {
  .pb-sm-n2 {
    padding-block-end: var(--gap-neg-2);
  }
}

@media (--md) {
  .pb-md-n2 {
    padding-block-end: var(--gap-neg-2);
  }
}

@media (--lg) {
  .pb-lg-n2 {
    padding-block-end: var(--gap-neg-2);
  }
}

@media (--xl) {
  .pb-xl-n2 {
    padding-block-end: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .pb-xxl-n2 {
    padding-block-end: var(--gap-neg-2);
  }
}

// padding-block-end Negative 3
.pb-n3 {
  padding-block-end: var(--gap-neg-3);
}

@media (--sm) {
  .pb-sm-n3 {
    padding-block-end: var(--gap-neg-3);
  }
}

@media (--md) {
  .pb-md-n3 {
    padding-block-end: var(--gap-neg-3);
  }
}

@media (--lg) {
  .pb-lg-n3 {
    padding-block-end: var(--gap-neg-3);
  }
}

@media (--xl) {
  .pb-xl-n3 {
    padding-block-end: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .pb-xxl-n3 {
    padding-block-end: var(--gap-neg-3);
  }
}

// padding-block-end Negative 4
.pb-n4 {
  padding-block-end: var(--gap-neg-4);
}

@media (--sm) {
  .pb-sm-n4 {
    padding-block-end: var(--gap-neg-4);
  }
}

@media (--md) {
  .pb-md-n4 {
    padding-block-end: var(--gap-neg-4);
  }
}

@media (--lg) {
  .pb-lg-n4 {
    padding-block-end: var(--gap-neg-4);
  }
}

@media (--xl) {
  .pb-xl-n4 {
    padding-block-end: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .pb-xxl-n4 {
    padding-block-end: var(--gap-neg-4);
  }
}

// padding-block-end Negative 5
.pb-n5 {
  padding-block-end: var(--gap-neg-5);
}

@media (--sm) {
  .pb-sm-n5 {
    padding-block-end: var(--gap-neg-5);
  }
}

@media (--md) {
  .pb-md-n5 {
    padding-block-end: var(--gap-neg-5);
  }
}

@media (--lg) {
  .pb-lg-n5 {
    padding-block-end: var(--gap-neg-5);
  }
}

@media (--xl) {
  .pb-xl-n5 {
    padding-block-end: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .pb-xxl-n5 {
    padding-block-end: var(--gap-neg-5);
  }
}

// padding-block-end Negative 6
.pb-n6 {
  padding-block-end: var(--gap-neg-6);
}

@media (--sm) {
  .pb-sm-n6 {
    padding-block-end: var(--gap-neg-6);
  }
}

@media (--md) {
  .pb-md-n6 {
    padding-block-end: var(--gap-neg-6);
  }
}

@media (--lg) {
  .pb-lg-n6 {
    padding-block-end: var(--gap-neg-6);
  }
}

@media (--xl) {
  .pb-xl-n6 {
    padding-block-end: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .pb-xxl-n6 {
    padding-block-end: var(--gap-neg-6);
  }
}

// padding-block-end Negative 7
.pb-n7 {
  padding-block-end: var(--gap-neg-7);
}

@media (--sm) {
  .pb-sm-n7 {
    padding-block-end: var(--gap-neg-7);
  }
}

@media (--md) {
  .pb-md-n7 {
    padding-block-end: var(--gap-neg-7);
  }
}

@media (--lg) {
  .pb-lg-n7 {
    padding-block-end: var(--gap-neg-7);
  }
}

@media (--xl) {
  .pb-xl-n7 {
    padding-block-end: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .pb-xxl-n7 {
    padding-block-end: var(--gap-neg-7);
  }
}

// padding-block-end Negative 8
.pb-n8 {
  padding-block-end: var(--gap-neg-8);
}

@media (--sm) {
  .pb-sm-n8 {
    padding-block-end: var(--gap-neg-8);
  }
}

@media (--md) {
  .pb-md-n8 {
    padding-block-end: var(--gap-neg-8);
  }
}

@media (--lg) {
  .pb-lg-n8 {
    padding-block-end: var(--gap-neg-8);
  }
}

@media (--xl) {
  .pb-xl-n8 {
    padding-block-end: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .pb-xxl-n8 {
    padding-block-end: var(--gap-neg-8);
  }
}

// padding-block-end Negative 9
.pb-n9 {
  padding-block-end: var(--gap-neg-9);
}

@media (--sm) {
  .pb-sm-n9 {
    padding-block-end: var(--gap-neg-9);
  }
}

@media (--md) {
  .pb-md-n9 {
    padding-block-end: var(--gap-neg-9);
  }
}

@media (--lg) {
  .pb-lg-n9 {
    padding-block-end: var(--gap-neg-9);
  }
}

@media (--xl) {
  .pb-xl-n9 {
    padding-block-end: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .pb-xxl-n9 {
    padding-block-end: var(--gap-neg-9);
  }
}

// padding-block-end Negative 10
.pb-n10 {
  padding-block-end: var(--gap-neg-10);
}

@media (--sm) {
  .pb-sm-n10 {
    padding-block-end: var(--gap-neg-10);
  }
}

@media (--md) {
  .pb-md-n10 {
    padding-block-end: var(--gap-neg-10);
  }
}

@media (--lg) {
  .pb-lg-n10 {
    padding-block-end: var(--gap-neg-10);
  }
}

@media (--xl) {
  .pb-xl-n10 {
    padding-block-end: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .pb-xxl-n10 {
    padding-block-end: var(--gap-neg-10);
  }
}
