// padding-inline-start Negative 1
.ps-n1 {
  padding-inline-start: var(--gap-neg-1);
}

@media (--sm) {
  .ps-sm-n1 {
    padding-inline-start: var(--gap-neg-1);
  }
}

@media (--md) {
  .ps-md-n1 {
    padding-inline-start: var(--gap-neg-1);
  }
}

@media (--lg) {
  .ps-lg-n1 {
    padding-inline-start: var(--gap-neg-1);
  }
}

@media (--xl) {
  .ps-xl-n1 {
    padding-inline-start: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .ps-xxl-n1 {
    padding-inline-start: var(--gap-neg-1);
  }
}

// padding-inline-start Negative 2
.ps-n2 {
  padding-inline-start: var(--gap-neg-2);
}

@media (--sm) {
  .ps-sm-n2 {
    padding-inline-start: var(--gap-neg-2);
  }
}

@media (--md) {
  .ps-md-n2 {
    padding-inline-start: var(--gap-neg-2);
  }
}

@media (--lg) {
  .ps-lg-n2 {
    padding-inline-start: var(--gap-neg-2);
  }
}

@media (--xl) {
  .ps-xl-n2 {
    padding-inline-start: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .ps-xxl-n2 {
    padding-inline-start: var(--gap-neg-2);
  }
}

// padding-inline-start Negative 3
.ps-n3 {
  padding-inline-start: var(--gap-neg-3);
}

@media (--sm) {
  .ps-sm-n3 {
    padding-inline-start: var(--gap-neg-3);
  }
}

@media (--md) {
  .ps-md-n3 {
    padding-inline-start: var(--gap-neg-3);
  }
}

@media (--lg) {
  .ps-lg-n3 {
    padding-inline-start: var(--gap-neg-3);
  }
}

@media (--xl) {
  .ps-xl-n3 {
    padding-inline-start: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .ps-xxl-n3 {
    padding-inline-start: var(--gap-neg-3);
  }
}

// padding-inline-start Negative 4
.ps-n4 {
  padding-inline-start: var(--gap-neg-4);
}

@media (--sm) {
  .ps-sm-n4 {
    padding-inline-start: var(--gap-neg-4);
  }
}

@media (--md) {
  .ps-md-n4 {
    padding-inline-start: var(--gap-neg-4);
  }
}

@media (--lg) {
  .ps-lg-n4 {
    padding-inline-start: var(--gap-neg-4);
  }
}

@media (--xl) {
  .ps-xl-n4 {
    padding-inline-start: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .ps-xxl-n4 {
    padding-inline-start: var(--gap-neg-4);
  }
}

// padding-inline-start Negative 5
.ps-n5 {
  padding-inline-start: var(--gap-neg-5);
}

@media (--sm) {
  .ps-sm-n5 {
    padding-inline-start: var(--gap-neg-5);
  }
}

@media (--md) {
  .ps-md-n5 {
    padding-inline-start: var(--gap-neg-5);
  }
}

@media (--lg) {
  .ps-lg-n5 {
    padding-inline-start: var(--gap-neg-5);
  }
}

@media (--xl) {
  .ps-xl-n5 {
    padding-inline-start: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .ps-xxl-n5 {
    padding-inline-start: var(--gap-neg-5);
  }
}

// padding-inline-start Negative 6
.ps-n6 {
  padding-inline-start: var(--gap-neg-6);
}

@media (--sm) {
  .ps-sm-n6 {
    padding-inline-start: var(--gap-neg-6);
  }
}

@media (--md) {
  .ps-md-n6 {
    padding-inline-start: var(--gap-neg-6);
  }
}

@media (--lg) {
  .ps-lg-n6 {
    padding-inline-start: var(--gap-neg-6);
  }
}

@media (--xl) {
  .ps-xl-n6 {
    padding-inline-start: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .ps-xxl-n6 {
    padding-inline-start: var(--gap-neg-6);
  }
}

// padding-inline-start Negative 7
.ps-n7 {
  padding-inline-start: var(--gap-neg-7);
}

@media (--sm) {
  .ps-sm-n7 {
    padding-inline-start: var(--gap-neg-7);
  }
}

@media (--md) {
  .ps-md-n7 {
    padding-inline-start: var(--gap-neg-7);
  }
}

@media (--lg) {
  .ps-lg-n7 {
    padding-inline-start: var(--gap-neg-7);
  }
}

@media (--xl) {
  .ps-xl-n7 {
    padding-inline-start: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .ps-xxl-n7 {
    padding-inline-start: var(--gap-neg-7);
  }
}

// padding-inline-start Negative 8
.ps-n8 {
  padding-inline-start: var(--gap-neg-8);
}

@media (--sm) {
  .ps-sm-n8 {
    padding-inline-start: var(--gap-neg-8);
  }
}

@media (--md) {
  .ps-md-n8 {
    padding-inline-start: var(--gap-neg-8);
  }
}

@media (--lg) {
  .ps-lg-n8 {
    padding-inline-start: var(--gap-neg-8);
  }
}

@media (--xl) {
  .ps-xl-n8 {
    padding-inline-start: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .ps-xxl-n8 {
    padding-inline-start: var(--gap-neg-8);
  }
}

// padding-inline-start Negative 9
.ps-n9 {
  padding-inline-start: var(--gap-neg-9);
}

@media (--sm) {
  .ps-sm-n9 {
    padding-inline-start: var(--gap-neg-9);
  }
}

@media (--md) {
  .ps-md-n9 {
    padding-inline-start: var(--gap-neg-9);
  }
}

@media (--lg) {
  .ps-lg-n9 {
    padding-inline-start: var(--gap-neg-9);
  }
}

@media (--xl) {
  .ps-xl-n9 {
    padding-inline-start: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .ps-xxl-n9 {
    padding-inline-start: var(--gap-neg-9);
  }
}

// padding-inline-start Negative 10
.ps-n10 {
  padding-inline-start: var(--gap-neg-10);
}

@media (--sm) {
  .ps-sm-n10 {
    padding-inline-start: var(--gap-neg-10);
  }
}

@media (--md) {
  .ps-md-n10 {
    padding-inline-start: var(--gap-neg-10);
  }
}

@media (--lg) {
  .ps-lg-n10 {
    padding-inline-start: var(--gap-neg-10);
  }
}

@media (--xl) {
  .ps-xl-n10 {
    padding-inline-start: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .ps-xxl-n10 {
    padding-inline-start: var(--gap-neg-10);
  }
}
