// Padding-block-start 0
.pt-0 {
  padding-block-start: 0;
}

@media (--sm) {
  .pt-sm-0 {
    padding-block-start: 0;
  }
}

@media (--md) {
  .pt-md-0 {
    padding-block-start: 0;
  }
}

@media (--lg) {
  .pt-lg-0 {
    padding-block-start: 0;
  }
}

@media (--xl) {
  .pt-xl-0 {
    padding-block-start: 0;
  }
}

@media (--xxl) {
  .pt-xxl-0 {
    padding-block-start: 0;
  }
}

// Padding-block-start 1
.pt-1 {
  padding-block-start: var(--gap-1);
}

@media (--sm) {
  .pt-sm-1 {
    padding-block-start: var(--gap-1);
  }
}

@media (--md) {
  .pt-md-1 {
    padding-block-start: var(--gap-1);
  }
}

@media (--lg) {
  .pt-lg-1 {
    padding-block-start: var(--gap-1);
  }
}

@media (--xl) {
  .pt-xl-1 {
    padding-block-start: var(--gap-1);
  }
}

@media (--xxl) {
  .pt-xxl-1 {
    padding-block-start: var(--gap-1);
  }
}

// Padding-block-start 2
.pt-2 {
  padding-block-start: var(--gap-2);
}

@media (--sm) {
  .pt-sm-2 {
    padding-block-start: var(--gap-2);
  }
}

@media (--md) {
  .pt-md-2 {
    padding-block-start: var(--gap-2);
  }
}

@media (--lg) {
  .pt-lg-2 {
    padding-block-start: var(--gap-2);
  }
}

@media (--xl) {
  .pt-xl-2 {
    padding-block-start: var(--gap-2);
  }
}

@media (--xxl) {
  .pt-xxl-2 {
    padding-block-start: var(--gap-2);
  }
}

// Padding-block-start 3
.pt-3 {
  padding-block-start: var(--gap-3);
}

@media (--sm) {
  .pt-sm-3 {
    padding-block-start: var(--gap-3);
  }
}

@media (--md) {
  .pt-md-3 {
    padding-block-start: var(--gap-3);
  }
}

@media (--lg) {
  .pt-lg-3 {
    padding-block-start: var(--gap-3);
  }
}

@media (--xl) {
  .pt-xl-3 {
    padding-block-start: var(--gap-3);
  }
}

@media (--xxl) {
  .pt-xxl-3 {
    padding-block-start: var(--gap-3);
  }
}

// Padding-block-start 4
.pt-4 {
  padding-block-start: var(--gap-4);
}

@media (--sm) {
  .pt-sm-4 {
    padding-block-start: var(--gap-4);
  }
}

@media (--md) {
  .pt-md-4 {
    padding-block-start: var(--gap-4);
  }
}

@media (--lg) {
  .pt-lg-4 {
    padding-block-start: var(--gap-4);
  }
}

@media (--xl) {
  .pt-xl-4 {
    padding-block-start: var(--gap-4);
  }
}

@media (--xxl) {
  .pt-xxl-4 {
    padding-block-start: var(--gap-4);
  }
}

// Padding-block-start 5
.pt-5 {
  padding-block-start: var(--gap-5);
}

@media (--sm) {
  .pt-sm-5 {
    padding-block-start: var(--gap-5);
  }
}

@media (--md) {
  .pt-md-5 {
    padding-block-start: var(--gap-5);
  }
}

@media (--lg) {
  .pt-lg-5 {
    padding-block-start: var(--gap-5);
  }
}

@media (--xl) {
  .pt-xl-5 {
    padding-block-start: var(--gap-5);
  }
}

@media (--xxl) {
  .pt-xxl-5 {
    padding-block-start: var(--gap-5);
  }
}

// Padding-block-start 6
.pt-6 {
  padding-block-start: var(--gap-6);
}

@media (--sm) {
  .pt-sm-6 {
    padding-block-start: var(--gap-6);
  }
}

@media (--md) {
  .pt-md-6 {
    padding-block-start: var(--gap-6);
  }
}

@media (--lg) {
  .pt-lg-6 {
    padding-block-start: var(--gap-6);
  }
}

@media (--xl) {
  .pt-xl-6 {
    padding-block-start: var(--gap-6);
  }
}

@media (--xxl) {
  .pt-xxl-6 {
    padding-block-start: var(--gap-6);
  }
}

// Padding-block-start 7
.pt-7 {
  padding-block-start: var(--gap-7);
}

@media (--sm) {
  .pt-sm-7 {
    padding-block-start: var(--gap-7);
  }
}

@media (--md) {
  .pt-md-7 {
    padding-block-start: var(--gap-7);
  }
}

@media (--lg) {
  .pt-lg-7 {
    padding-block-start: var(--gap-7);
  }
}

@media (--xl) {
  .pt-xl-7 {
    padding-block-start: var(--gap-7);
  }
}

@media (--xxl) {
  .pt-xxl-7 {
    padding-block-start: var(--gap-7);
  }
}

// Padding-block-start 8
.pt-8 {
  padding-block-start: var(--gap-8);
}

@media (--sm) {
  .pt-sm-8 {
    padding-block-start: var(--gap-8);
  }
}

@media (--md) {
  .pt-md-8 {
    padding-block-start: var(--gap-8);
  }
}

@media (--lg) {
  .pt-lg-8 {
    padding-block-start: var(--gap-8);
  }
}

@media (--xl) {
  .pt-xl-8 {
    padding-block-start: var(--gap-8);
  }
}

@media (--xxl) {
  .pt-xxl-8 {
    padding-block-start: var(--gap-8);
  }
}

// Padding-block-start 9
.pt-9 {
  padding-block-start: var(--gap-9);
}

@media (--sm) {
  .pt-sm-9 {
    padding-block-start: var(--gap-9);
  }
}

@media (--md) {
  .pt-md-9 {
    padding-block-start: var(--gap-9);
  }
}

@media (--lg) {
  .pt-lg-9 {
    padding-block-start: var(--gap-9);
  }
}

@media (--xl) {
  .pt-xl-9 {
    padding-block-start: var(--gap-9);
  }
}

@media (--xxl) {
  .pt-xxl-9 {
    padding-block-start: var(--gap-9);
  }
}

// Padding-block-start 10
.pt-10 {
  padding-block-start: var(--gap-10);
}

@media (--sm) {
  .pt-sm-10 {
    padding-block-start: var(--gap-10);
  }
}

@media (--md) {
  .pt-md-10 {
    padding-block-start: var(--gap-10);
  }
}

@media (--lg) {
  .pt-lg-10 {
    padding-block-start: var(--gap-10);
  }
}

@media (--xl) {
  .pt-xl-10 {
    padding-block-start: var(--gap-10);
  }
}

@media (--xxl) {
  .pt-xxl-10 {
    padding-block-start: var(--gap-10);
  }
}
