// Padding-block-start 0
.pt-0 {
  padding-block-start: 0;
}

@media (--sm) {
  .pt-sm-0 {
    padding-block-start: 0;
  }
}

@media (--md) {
  .pt-md-0 {
    padding-block-start: 0;
  }
}

@media (--lg) {
  .pt-lg-0 {
    padding-block-start: 0;
  }
}

@media (--xl) {
  .pt-xl-0 {
    padding-block-start: 0;
  }
}

@media (--xxl) {
  .pt-xxl-0 {
    padding-block-start: 0;
  }
}

// Padding-block-start 1
.pt-1 {
  padding-block-start: var(--spacer-1);
}

@media (--sm) {
  .pt-sm-1 {
    padding-block-start: var(--spacer-1);
  }
}

@media (--md) {
  .pt-md-1 {
    padding-block-start: var(--spacer-1);
  }
}

@media (--lg) {
  .pt-lg-1 {
    padding-block-start: var(--spacer-1);
  }
}

@media (--xl) {
  .pt-xl-1 {
    padding-block-start: var(--spacer-1);
  }
}

@media (--xxl) {
  .pt-xxl-1 {
    padding-block-start: var(--spacer-1);
  }
}

// Padding-block-start 2
.pt-2 {
  padding-block-start: var(--spacer-2);
}

@media (--sm) {
  .pt-sm-2 {
    padding-block-start: var(--spacer-2);
  }
}

@media (--md) {
  .pt-md-2 {
    padding-block-start: var(--spacer-2);
  }
}

@media (--lg) {
  .pt-lg-2 {
    padding-block-start: var(--spacer-2);
  }
}

@media (--xl) {
  .pt-xl-2 {
    padding-block-start: var(--spacer-2);
  }
}

@media (--xxl) {
  .pt-xxl-2 {
    padding-block-start: var(--spacer-2);
  }
}

// Padding-block-start 3
.pt-3 {
  padding-block-start: var(--spacer-3);
}

@media (--sm) {
  .pt-sm-3 {
    padding-block-start: var(--spacer-3);
  }
}

@media (--md) {
  .pt-md-3 {
    padding-block-start: var(--spacer-3);
  }
}

@media (--lg) {
  .pt-lg-3 {
    padding-block-start: var(--spacer-3);
  }
}

@media (--xl) {
  .pt-xl-3 {
    padding-block-start: var(--spacer-3);
  }
}

@media (--xxl) {
  .pt-xxl-3 {
    padding-block-start: var(--spacer-3);
  }
}

// Padding-block-start 4
.pt-4 {
  padding-block-start: var(--spacer-4);
}

@media (--sm) {
  .pt-sm-4 {
    padding-block-start: var(--spacer-4);
  }
}

@media (--md) {
  .pt-md-4 {
    padding-block-start: var(--spacer-4);
  }
}

@media (--lg) {
  .pt-lg-4 {
    padding-block-start: var(--spacer-4);
  }
}

@media (--xl) {
  .pt-xl-4 {
    padding-block-start: var(--spacer-4);
  }
}

@media (--xxl) {
  .pt-xxl-4 {
    padding-block-start: var(--spacer-4);
  }
}

// Padding-block-start 5
.pt-5 {
  padding-block-start: var(--spacer-5);
}

@media (--sm) {
  .pt-sm-5 {
    padding-block-start: var(--spacer-5);
  }
}

@media (--md) {
  .pt-md-5 {
    padding-block-start: var(--spacer-5);
  }
}

@media (--lg) {
  .pt-lg-5 {
    padding-block-start: var(--spacer-5);
  }
}

@media (--xl) {
  .pt-xl-5 {
    padding-block-start: var(--spacer-5);
  }
}

@media (--xxl) {
  .pt-xxl-5 {
    padding-block-start: var(--spacer-5);
  }
}

// Padding-block-start 6
.pt-6 {
  padding-block-start: var(--spacer-6);
}

@media (--sm) {
  .pt-sm-6 {
    padding-block-start: var(--spacer-6);
  }
}

@media (--md) {
  .pt-md-6 {
    padding-block-start: var(--spacer-6);
  }
}

@media (--lg) {
  .pt-lg-6 {
    padding-block-start: var(--spacer-6);
  }
}

@media (--xl) {
  .pt-xl-6 {
    padding-block-start: var(--spacer-6);
  }
}

@media (--xxl) {
  .pt-xxl-6 {
    padding-block-start: var(--spacer-6);
  }
}

// Padding-block-start 7
.pt-7 {
  padding-block-start: var(--spacer-7);
}

@media (--sm) {
  .pt-sm-7 {
    padding-block-start: var(--spacer-7);
  }
}

@media (--md) {
  .pt-md-7 {
    padding-block-start: var(--spacer-7);
  }
}

@media (--lg) {
  .pt-lg-7 {
    padding-block-start: var(--spacer-7);
  }
}

@media (--xl) {
  .pt-xl-7 {
    padding-block-start: var(--spacer-7);
  }
}

@media (--xxl) {
  .pt-xxl-7 {
    padding-block-start: var(--spacer-7);
  }
}

// Padding-block-start 8
.pt-8 {
  padding-block-start: var(--spacer-8);
}

@media (--sm) {
  .pt-sm-8 {
    padding-block-start: var(--spacer-8);
  }
}

@media (--md) {
  .pt-md-8 {
    padding-block-start: var(--spacer-8);
  }
}

@media (--lg) {
  .pt-lg-8 {
    padding-block-start: var(--spacer-8);
  }
}

@media (--xl) {
  .pt-xl-8 {
    padding-block-start: var(--spacer-8);
  }
}

@media (--xxl) {
  .pt-xxl-8 {
    padding-block-start: var(--spacer-8);
  }
}

// Padding-block-start 9
.pt-9 {
  padding-block-start: var(--spacer-9);
}

@media (--sm) {
  .pt-sm-9 {
    padding-block-start: var(--spacer-9);
  }
}

@media (--md) {
  .pt-md-9 {
    padding-block-start: var(--spacer-9);
  }
}

@media (--lg) {
  .pt-lg-9 {
    padding-block-start: var(--spacer-9);
  }
}

@media (--xl) {
  .pt-xl-9 {
    padding-block-start: var(--spacer-9);
  }
}

@media (--xxl) {
  .pt-xxl-9 {
    padding-block-start: var(--spacer-9);
  }
}

// Padding-block-start 10
.pt-10 {
  padding-block-start: var(--spacer-10);
}

@media (--sm) {
  .pt-sm-10 {
    padding-block-start: var(--spacer-10);
  }
}

@media (--md) {
  .pt-md-10 {
    padding-block-start: var(--spacer-10);
  }
}

@media (--lg) {
  .pt-lg-10 {
    padding-block-start: var(--spacer-10);
  }
}

@media (--xl) {
  .pt-xl-10 {
    padding-block-start: var(--spacer-10);
  }
}

@media (--xxl) {
  .pt-xxl-10 {
    padding-block-start: var(--spacer-10);
  }
}

// Padding-block-start 12
.pt-12 {
  padding-block-start: var(--spacer-12);
}

@media (--sm) {
  .pt-sm-12 {
    padding-block-start: var(--spacer-12);
  }
}

@media (--md) {
  .pt-md-12 {
    padding-block-start: var(--spacer-12);
  }
}

@media (--lg) {
  .pt-lg-12 {
    padding-block-start: var(--spacer-12);
  }
}

@media (--xl) {
  .pt-xl-12 {
    padding-block-start: var(--spacer-12);
  }
}

@media (--xxl) {
  .pt-xxl-12 {
    padding-block-start: var(--spacer-12);
  }
}

// Padding-block-start 14
.pt-14 {
  padding-block-start: var(--spacer-14);
}

@media (--sm) {
  .pt-sm-14 {
    padding-block-start: var(--spacer-14);
  }
}

@media (--md) {
  .pt-md-14 {
    padding-block-start: var(--spacer-14);
  }
}

@media (--lg) {
  .pt-lg-14 {
    padding-block-start: var(--spacer-14);
  }
}

@media (--xl) {
  .pt-xl-14 {
    padding-block-start: var(--spacer-14);
  }
}

@media (--xxl) {
  .pt-xxl-14 {
    padding-block-start: var(--spacer-14);
  }
}

// Padding-block-start 16
.pt-16 {
  padding-block-start: var(--spacer-16);
}

@media (--sm) {
  .pt-sm-16 {
    padding-block-start: var(--spacer-16);
  }
}

@media (--md) {
  .pt-md-16 {
    padding-block-start: var(--spacer-16);
  }
}

@media (--lg) {
  .pt-lg-16 {
    padding-block-start: var(--spacer-16);
  }
}

@media (--xl) {
  .pt-xl-16 {
    padding-block-start: var(--spacer-16);
  }
}

@media (--xxl) {
  .pt-xxl-16 {
    padding-block-start: var(--spacer-16);
  }
}

// Padding-block-start 20
.pt-20 {
  padding-block-start: var(--spacer-20);
}

@media (--sm) {
  .pt-sm-20 {
    padding-block-start: var(--spacer-20);
  }
}

@media (--md) {
  .pt-md-20 {
    padding-block-start: var(--spacer-20);
  }
}

@media (--lg) {
  .pt-lg-20 {
    padding-block-start: var(--spacer-20);
  }
}

@media (--xl) {
  .pt-xl-20 {
    padding-block-start: var(--spacer-20);
  }
}

@media (--xxl) {
  .pt-xxl-20 {
    padding-block-start: var(--spacer-20);
  }
}

// Padding-block-start 24
.pt-24 {
  padding-block-start: var(--spacer-24);
}

@media (--sm) {
  .pt-sm-24 {
    padding-block-start: var(--spacer-24);
  }
}

@media (--md) {
  .pt-md-24 {
    padding-block-start: var(--spacer-24);
  }
}

@media (--lg) {
  .pt-lg-24 {
    padding-block-start: var(--spacer-24);
  }
}

@media (--xl) {
  .pt-xl-24 {
    padding-block-start: var(--spacer-24);
  }
}

@media (--xxl) {
  .pt-xxl-24 {
    padding-block-start: var(--spacer-24);
  }
}

// Padding-block-start 28
.pt-28 {
  padding-block-start: var(--spacer-28);
}

@media (--sm) {
  .pt-sm-28 {
    padding-block-start: var(--spacer-28);
  }
}

@media (--md) {
  .pt-md-28 {
    padding-block-start: var(--spacer-28);
  }
}

@media (--lg) {
  .pt-lg-28 {
    padding-block-start: var(--spacer-28);
  }
}

@media (--xl) {
  .pt-xl-28 {
    padding-block-start: var(--spacer-28);
  }
}

@media (--xxl) {
  .pt-xxl-28 {
    padding-block-start: var(--spacer-28);
  }
}

// Padding-block-start 32
.pt-32 {
  padding-block-start: var(--spacer-32);
}

@media (--sm) {
  .pt-sm-32 {
    padding-block-start: var(--spacer-32);
  }
}

@media (--md) {
  .pt-md-32 {
    padding-block-start: var(--spacer-32);
  }
}

@media (--lg) {
  .pt-lg-32 {
    padding-block-start: var(--spacer-32);
  }
}

@media (--xl) {
  .pt-xl-32 {
    padding-block-start: var(--spacer-32);
  }
}

@media (--xxl) {
  .pt-xxl-32 {
    padding-block-start: var(--spacer-32);
  }
}

// Padding-block-start 36
.pt-36 {
  padding-block-start: var(--spacer-36);
}

@media (--sm) {
  .pt-sm-36 {
    padding-block-start: var(--spacer-36);
  }
}

@media (--md) {
  .pt-md-36 {
    padding-block-start: var(--spacer-36);
  }
}

@media (--lg) {
  .pt-lg-36 {
    padding-block-start: var(--spacer-36);
  }
}

@media (--xl) {
  .pt-xl-36 {
    padding-block-start: var(--spacer-36);
  }
}

@media (--xxl) {
  .pt-xxl-36 {
    padding-block-start: var(--spacer-36);
  }
}

// Padding-block-start 40
.pt-40 {
  padding-block-start: var(--spacer-40);
}

@media (--sm) {
  .pt-sm-40 {
    padding-block-start: var(--spacer-40);
  }
}

@media (--md) {
  .pt-md-40 {
    padding-block-start: var(--spacer-40);
  }
}

@media (--lg) {
  .pt-lg-40 {
    padding-block-start: var(--spacer-40);
  }
}

@media (--xl) {
  .pt-xl-40 {
    padding-block-start: var(--spacer-40);
  }
}

@media (--xxl) {
  .pt-xxl-40 {
    padding-block-start: var(--spacer-40);
  }
}

// Padding-block-start 44
.pt-44 {
  padding-block-start: var(--spacer-44);
}

@media (--sm) {
  .pt-sm-44 {
    padding-block-start: var(--spacer-44);
  }
}

@media (--md) {
  .pt-md-44 {
    padding-block-start: var(--spacer-44);
  }
}

@media (--lg) {
  .pt-lg-44 {
    padding-block-start: var(--spacer-44);
  }
}

@media (--xl) {
  .pt-xl-44 {
    padding-block-start: var(--spacer-44);
  }
}

@media (--xxl) {
  .pt-xxl-44 {
    padding-block-start: var(--spacer-44);
  }
}

// Padding-block-start 48
.pt-48 {
  padding-block-start: var(--spacer-48);
}

@media (--sm) {
  .pt-sm-48 {
    padding-block-start: var(--spacer-48);
  }
}

@media (--md) {
  .pt-md-48 {
    padding-block-start: var(--spacer-48);
  }
}

@media (--lg) {
  .pt-lg-48 {
    padding-block-start: var(--spacer-48);
  }
}

@media (--xl) {
  .pt-xl-48 {
    padding-block-start: var(--spacer-48);
  }
}

@media (--xxl) {
  .pt-xxl-48 {
    padding-block-start: var(--spacer-48);
  }
}

// Padding-block-start 52
.pt-52 {
  padding-block-start: var(--spacer-52);
}

@media (--sm) {
  .pt-sm-52 {
    padding-block-start: var(--spacer-52);
  }
}

@media (--md) {
  .pt-md-52 {
    padding-block-start: var(--spacer-52);
  }
}

@media (--lg) {
  .pt-lg-52 {
    padding-block-start: var(--spacer-52);
  }
}

@media (--xl) {
  .pt-xl-52 {
    padding-block-start: var(--spacer-52);
  }
}

@media (--xxl) {
  .pt-xxl-52 {
    padding-block-start: var(--spacer-52);
  }
}

// Padding-block-start 56
.pt-56 {
  padding-block-start: var(--spacer-56);
}

@media (--sm) {
  .pt-sm-56 {
    padding-block-start: var(--spacer-56);
  }
}

@media (--md) {
  .pt-md-56 {
    padding-block-start: var(--spacer-56);
  }
}

@media (--lg) {
  .pt-lg-56 {
    padding-block-start: var(--spacer-56);
  }
}

@media (--xl) {
  .pt-xl-56 {
    padding-block-start: var(--spacer-56);
  }
}

@media (--xxl) {
  .pt-xxl-56 {
    padding-block-start: var(--spacer-56);
  }
}

// Padding-block-start 60
.pt-60 {
  padding-block-start: var(--spacer-60);
}

@media (--sm) {
  .pt-sm-60 {
    padding-block-start: var(--spacer-60);
  }
}

@media (--md) {
  .pt-md-60 {
    padding-block-start: var(--spacer-60);
  }
}

@media (--lg) {
  .pt-lg-60 {
    padding-block-start: var(--spacer-60);
  }
}

@media (--xl) {
  .pt-xl-60 {
    padding-block-start: var(--spacer-60);
  }
}

@media (--xxl) {
  .pt-xxl-60 {
    padding-block-start: var(--spacer-60);
  }
}

// Padding-block-start 64
.pt-64 {
  padding-block-start: var(--spacer-64);
}

@media (--sm) {
  .pt-sm-64 {
    padding-block-start: var(--spacer-64);
  }
}

@media (--md) {
  .pt-md-64 {
    padding-block-start: var(--spacer-64);
  }
}

@media (--lg) {
  .pt-lg-64 {
    padding-block-start: var(--spacer-64);
  }
}

@media (--xl) {
  .pt-xl-64 {
    padding-block-start: var(--spacer-64);
  }
}

@media (--xxl) {
  .pt-xxl-64 {
    padding-block-start: var(--spacer-64);
  }
}

// Padding-block-start 72
.pt-72 {
  padding-block-start: var(--spacer-72);
}

@media (--sm) {
  .pt-sm-72 {
    padding-block-start: var(--spacer-72);
  }
}

@media (--md) {
  .pt-md-72 {
    padding-block-start: var(--spacer-72);
  }
}

@media (--lg) {
  .pt-lg-72 {
    padding-block-start: var(--spacer-72);
  }
}

@media (--xl) {
  .pt-xl-72 {
    padding-block-start: var(--spacer-72);
  }
}

@media (--xxl) {
  .pt-xxl-72 {
    padding-block-start: var(--spacer-72);
  }
}

// Padding-block-start 80
.pt-80 {
  padding-block-start: var(--spacer-80);
}

@media (--sm) {
  .pt-sm-80 {
    padding-block-start: var(--spacer-80);
  }
}

@media (--md) {
  .pt-md-80 {
    padding-block-start: var(--spacer-80);
  }
}

@media (--lg) {
  .pt-lg-80 {
    padding-block-start: var(--spacer-80);
  }
}

@media (--xl) {
  .pt-xl-80 {
    padding-block-start: var(--spacer-80);
  }
}

@media (--xxl) {
  .pt-xxl-80 {
    padding-block-start: var(--spacer-80);
  }
}

// Padding-block-start 96
.pt-96 {
  padding-block-start: var(--spacer-96);
}

@media (--sm) {
  .pt-sm-96 {
    padding-block-start: var(--spacer-96);
  }
}

@media (--md) {
  .pt-md-96 {
    padding-block-start: var(--spacer-96);
  }
}

@media (--lg) {
  .pt-lg-96 {
    padding-block-start: var(--spacer-96);
  }
}

@media (--xl) {
  .pt-xl-96 {
    padding-block-start: var(--spacer-96);
  }
}

@media (--xxl) {
  .pt-xxl-96 {
    padding-block-start: var(--spacer-96);
  }
}
