// Padding Negative 1
.p-n1 {
  padding: var(--spacer-neg-1);
}

@media (--sm) {
  .p-sm-n1 {
    padding: var(--spacer-neg-1);
  }
}

@media (--md) {
  .p-md-n1 {
    padding: var(--spacer-neg-1);
  }
}

@media (--lg) {
  .p-lg-n1 {
    padding: var(--spacer-neg-1);
  }
}

@media (--xl) {
  .p-xl-n1 {
    padding: var(--spacer-neg-1);
  }
}

@media (--xxl) {
  .p-xxl-n1 {
    padding: var(--spacer-neg-1);
  }
}

// Padding Negative Negative 2
.p-n2 {
  padding: var(--spacer-neg-2);
}

@media (--sm) {
  .p-sm-n2 {
    padding: var(--spacer-neg-2);
  }
}

@media (--md) {
  .p-md-n2 {
    padding: var(--spacer-neg-2);
  }
}

@media (--lg) {
  .p-lg-n2 {
    padding: var(--spacer-neg-2);
  }
}

@media (--xl) {
  .p-xl-n2 {
    padding: var(--spacer-neg-2);
  }
}

@media (--xxl) {
  .p-xxl-n2 {
    padding: var(--spacer-neg-2);
  }
}

// Padding Negative Negative 3
.p-n3 {
  padding: var(--spacer-neg-3);
}

@media (--sm) {
  .p-sm-n3 {
    padding: var(--spacer-neg-3);
  }
}

@media (--md) {
  .p-md-n3 {
    padding: var(--spacer-neg-3);
  }
}

@media (--lg) {
  .p-lg-n3 {
    padding: var(--spacer-neg-3);
  }
}

@media (--xl) {
  .p-xl-n3 {
    padding: var(--spacer-neg-3);
  }
}

@media (--xxl) {
  .p-xxl-n3 {
    padding: var(--spacer-neg-3);
  }
}

// Padding Negative Negative 4
.p-n4 {
  padding: var(--spacer-neg-4);
}

@media (--sm) {
  .p-sm-n4 {
    padding: var(--spacer-neg-4);
  }
}

@media (--md) {
  .p-md-n4 {
    padding: var(--spacer-neg-4);
  }
}

@media (--lg) {
  .p-lg-n4 {
    padding: var(--spacer-neg-4);
  }
}

@media (--xl) {
  .p-xl-n4 {
    padding: var(--spacer-neg-4);
  }
}

@media (--xxl) {
  .p-xxl-n4 {
    padding: var(--spacer-neg-4);
  }
}

// Padding Negative Negative 5
.p-n5 {
  padding: var(--spacer-neg-5);
}

@media (--sm) {
  .p-sm-n5 {
    padding: var(--spacer-neg-5);
  }
}

@media (--md) {
  .p-md-n5 {
    padding: var(--spacer-neg-5);
  }
}

@media (--lg) {
  .p-lg-n5 {
    padding: var(--spacer-neg-5);
  }
}

@media (--xl) {
  .p-xl-n5 {
    padding: var(--spacer-neg-5);
  }
}

@media (--xxl) {
  .p-xxl-n5 {
    padding: var(--spacer-neg-5);
  }
}

// Padding Negative Negative 6
.p-n6 {
  padding: var(--spacer-neg-6);
}

@media (--sm) {
  .p-sm-n6 {
    padding: var(--spacer-neg-6);
  }
}

@media (--md) {
  .p-md-n6 {
    padding: var(--spacer-neg-6);
  }
}

@media (--lg) {
  .p-lg-n6 {
    padding: var(--spacer-neg-6);
  }
}

@media (--xl) {
  .p-xl-n6 {
    padding: var(--spacer-neg-6);
  }
}

@media (--xxl) {
  .p-xxl-n6 {
    padding: var(--spacer-neg-6);
  }
}

// Padding Negative Negative 7
.p-n7 {
  padding: var(--spacer-neg-7);
}

@media (--sm) {
  .p-sm-n7 {
    padding: var(--spacer-neg-7);
  }
}

@media (--md) {
  .p-md-n7 {
    padding: var(--spacer-neg-7);
  }
}

@media (--lg) {
  .p-lg-n7 {
    padding: var(--spacer-neg-7);
  }
}

@media (--xl) {
  .p-xl-n7 {
    padding: var(--spacer-neg-7);
  }
}

@media (--xxl) {
  .p-xxl-n7 {
    padding: var(--spacer-neg-7);
  }
}

// Padding Negative Negative 8
.p-n8 {
  padding: var(--spacer-neg-8);
}

@media (--sm) {
  .p-sm-n8 {
    padding: var(--spacer-neg-8);
  }
}

@media (--md) {
  .p-md-n8 {
    padding: var(--spacer-neg-8);
  }
}

@media (--lg) {
  .p-lg-n8 {
    padding: var(--spacer-neg-8);
  }
}

@media (--xl) {
  .p-xl-n8 {
    padding: var(--spacer-neg-8);
  }
}

@media (--xxl) {
  .p-xxl-n8 {
    padding: var(--spacer-neg-8);
  }
}

// Padding Negative Negative 9
.p-n9 {
  padding: var(--spacer-neg-9);
}

@media (--sm) {
  .p-sm-n9 {
    padding: var(--spacer-neg-9);
  }
}

@media (--md) {
  .p-md-n9 {
    padding: var(--spacer-neg-9);
  }
}

@media (--lg) {
  .p-lg-n9 {
    padding: var(--spacer-neg-9);
  }
}

@media (--xl) {
  .p-xl-n9 {
    padding: var(--spacer-neg-9);
  }
}

@media (--xxl) {
  .p-xxl-n9 {
    padding: var(--spacer-neg-9);
  }
}

// Padding Negative Negative 10
.p-n10 {
  padding: var(--spacer-neg-10);
}

@media (--sm) {
  .p-sm-n10 {
    padding: var(--spacer-neg-10);
  }
}

@media (--md) {
  .p-md-n10 {
    padding: var(--spacer-neg-10);
  }
}

@media (--lg) {
  .p-lg-n10 {
    padding: var(--spacer-neg-10);
  }
}

@media (--xl) {
  .p-xl-n10 {
    padding: var(--spacer-neg-10);
  }
}

@media (--xxl) {
  .p-xxl-n10 {
    padding: var(--spacer-neg-10);
  }
}

// Padding Negative 12
.p-n12 {
  padding: var(--spacer-neg-12);
}

@media (--sm) {
  .p-sm-n12 {
    padding: var(--spacer-neg-12);
  }
}

@media (--md) {
  .p-md-n12 {
    padding: var(--spacer-neg-12);
  }
}

@media (--lg) {
  .p-lg-n12 {
    padding: var(--spacer-neg-12);
  }
}

@media (--xl) {
  .p-xl-n12 {
    padding: var(--spacer-neg-12);
  }
}

@media (--xxl) {
  .p-xxl-n12 {
    padding: var(--spacer-neg-12);
  }
}

// Padding Negative 14
.p-n14 {
  padding: var(--spacer-neg-14);
}

@media (--sm) {
  .p-sm-n14 {
    padding: var(--spacer-neg-14);
  }
}

@media (--md) {
  .p-md-n14 {
    padding: var(--spacer-neg-14);
  }
}

@media (--lg) {
  .p-lg-n14 {
    padding: var(--spacer-neg-14);
  }
}

@media (--xl) {
  .p-xl-n14 {
    padding: var(--spacer-neg-14);
  }
}

@media (--xxl) {
  .p-xxl-n14 {
    padding: var(--spacer-neg-14);
  }
}

// Padding Negative 16
.p-n16 {
  padding: var(--spacer-neg-16);
}

@media (--sm) {
  .p-sm-n16 {
    padding: var(--spacer-neg-16);
  }
}

@media (--md) {
  .p-md-n16 {
    padding: var(--spacer-neg-16);
  }
}

@media (--lg) {
  .p-lg-n16 {
    padding: var(--spacer-neg-16);
  }
}

@media (--xl) {
  .p-xl-n16 {
    padding: var(--spacer-neg-16);
  }
}

@media (--xxl) {
  .p-xxl-n16 {
    padding: var(--spacer-neg-16);
  }
}

// Padding Negative 20
.p-n20 {
  padding: var(--spacer-neg-20);
}

@media (--sm) {
  .p-sm-n20 {
    padding: var(--spacer-neg-20);
  }
}

@media (--md) {
  .p-md-n20 {
    padding: var(--spacer-neg-20);
  }
}

@media (--lg) {
  .p-lg-n20 {
    padding: var(--spacer-neg-20);
  }
}

@media (--xl) {
  .p-xl-n20 {
    padding: var(--spacer-neg-20);
  }
}

@media (--xxl) {
  .p-xxl-n20 {
    padding: var(--spacer-neg-20);
  }
}

// Padding Negative 24
.p-n24 {
  padding: var(--spacer-neg-24);
}

@media (--sm) {
  .p-sm-n24 {
    padding: var(--spacer-neg-24);
  }
}

@media (--md) {
  .p-md-n24 {
    padding: var(--spacer-neg-24);
  }
}

@media (--lg) {
  .p-lg-n24 {
    padding: var(--spacer-neg-24);
  }
}

@media (--xl) {
  .p-xl-n24 {
    padding: var(--spacer-neg-24);
  }
}

@media (--xxl) {
  .p-xxl-n24 {
    padding: var(--spacer-neg-24);
  }
}

// Padding Negative 28
.p-n28 {
  padding: var(--spacer-neg-28);
}

@media (--sm) {
  .p-sm-n28 {
    padding: var(--spacer-neg-28);
  }
}

@media (--md) {
  .p-md-n28 {
    padding: var(--spacer-neg-28);
  }
}

@media (--lg) {
  .p-lg-n28 {
    padding: var(--spacer-neg-28);
  }
}

@media (--xl) {
  .p-xl-n28 {
    padding: var(--spacer-neg-28);
  }
}

@media (--xxl) {
  .p-xxl-n28 {
    padding: var(--spacer-neg-28);
  }
}

// Padding Negative 32
.p-n32 {
  padding: var(--spacer-neg-32);
}

@media (--sm) {
  .p-sm-n32 {
    padding: var(--spacer-neg-32);
  }
}

@media (--md) {
  .p-md-n32 {
    padding: var(--spacer-neg-32);
  }
}

@media (--lg) {
  .p-lg-n32 {
    padding: var(--spacer-neg-32);
  }
}

@media (--xl) {
  .p-xl-n32 {
    padding: var(--spacer-neg-32);
  }
}

@media (--xxl) {
  .p-xxl-n32 {
    padding: var(--spacer-neg-32);
  }
}

// Padding Negative 36
.p-n36 {
  padding: var(--spacer-neg-36);
}

@media (--sm) {
  .p-sm-n36 {
    padding: var(--spacer-neg-36);
  }
}

@media (--md) {
  .p-md-n36 {
    padding: var(--spacer-neg-36);
  }
}

@media (--lg) {
  .p-lg-n36 {
    padding: var(--spacer-neg-36);
  }
}

@media (--xl) {
  .p-xl-n36 {
    padding: var(--spacer-neg-36);
  }
}

@media (--xxl) {
  .p-xxl-n36 {
    padding: var(--spacer-neg-36);
  }
}

// Padding Negative 40
.p-n40 {
  padding: var(--spacer-neg-40);
}

@media (--sm) {
  .p-sm-n40 {
    padding: var(--spacer-neg-40);
  }
}

@media (--md) {
  .p-md-n40 {
    padding: var(--spacer-neg-40);
  }
}

@media (--lg) {
  .p-lg-n40 {
    padding: var(--spacer-neg-40);
  }
}

@media (--xl) {
  .p-xl-n40 {
    padding: var(--spacer-neg-40);
  }
}

@media (--xxl) {
  .p-xxl-n40 {
    padding: var(--spacer-neg-40);
  }
}

// Padding Negative 44
.p-n44 {
  padding: var(--spacer-neg-44);
}

@media (--sm) {
  .p-sm-n44 {
    padding: var(--spacer-neg-44);
  }
}

@media (--md) {
  .p-md-n44 {
    padding: var(--spacer-neg-44);
  }
}

@media (--lg) {
  .p-lg-n44 {
    padding: var(--spacer-neg-44);
  }
}

@media (--xl) {
  .p-xl-n44 {
    padding: var(--spacer-neg-44);
  }
}

@media (--xxl) {
  .p-xxl-n44 {
    padding: var(--spacer-neg-44);
  }
}

// Padding Negative 48
.p-n48 {
  padding: var(--spacer-neg-48);
}

@media (--sm) {
  .p-sm-n48 {
    padding: var(--spacer-neg-48);
  }
}

@media (--md) {
  .p-md-n48 {
    padding: var(--spacer-neg-48);
  }
}

@media (--lg) {
  .p-lg-n48 {
    padding: var(--spacer-neg-48);
  }
}

@media (--xl) {
  .p-xl-n48 {
    padding: var(--spacer-neg-48);
  }
}

@media (--xxl) {
  .p-xxl-n48 {
    padding: var(--spacer-neg-48);
  }
}

// Padding Negative 52
.p-n52 {
  padding: var(--spacer-neg-52);
}

@media (--sm) {
  .p-sm-n52 {
    padding: var(--spacer-neg-52);
  }
}

@media (--md) {
  .p-md-n52 {
    padding: var(--spacer-neg-52);
  }
}

@media (--lg) {
  .p-lg-n52 {
    padding: var(--spacer-neg-52);
  }
}

@media (--xl) {
  .p-xl-n52 {
    padding: var(--spacer-neg-52);
  }
}

@media (--xxl) {
  .p-xxl-n52 {
    padding: var(--spacer-neg-52);
  }
}

// Padding Negative 56
.p-n56 {
  padding: var(--spacer-neg-56);
}

@media (--sm) {
  .p-sm-n56 {
    padding: var(--spacer-neg-56);
  }
}

@media (--md) {
  .p-md-n56 {
    padding: var(--spacer-neg-56);
  }
}

@media (--lg) {
  .p-lg-n56 {
    padding: var(--spacer-neg-56);
  }
}

@media (--xl) {
  .p-xl-n56 {
    padding: var(--spacer-neg-56);
  }
}

@media (--xxl) {
  .p-xxl-n56 {
    padding: var(--spacer-neg-56);
  }
}

// Padding Negative 60
.p-n60 {
  padding: var(--spacer-neg-60);
}

@media (--sm) {
  .p-sm-n60 {
    padding: var(--spacer-neg-60);
  }
}

@media (--md) {
  .p-md-n60 {
    padding: var(--spacer-neg-60);
  }
}

@media (--lg) {
  .p-lg-n60 {
    padding: var(--spacer-neg-60);
  }
}

@media (--xl) {
  .p-xl-n60 {
    padding: var(--spacer-neg-60);
  }
}

@media (--xxl) {
  .p-xxl-n60 {
    padding: var(--spacer-neg-60);
  }
}

// Padding Negative 64
.p-n64 {
  padding: var(--spacer-neg-64);
}

@media (--sm) {
  .p-sm-n64 {
    padding: var(--spacer-neg-64);
  }
}

@media (--md) {
  .p-md-n64 {
    padding: var(--spacer-neg-64);
  }
}

@media (--lg) {
  .p-lg-n64 {
    padding: var(--spacer-neg-64);
  }
}

@media (--xl) {
  .p-xl-n64 {
    padding: var(--spacer-neg-64);
  }
}

@media (--xxl) {
  .p-xxl-n64 {
    padding: var(--spacer-neg-64);
  }
}

// Padding Negative 72
.p-n72 {
  padding: var(--spacer-neg-72);
}

@media (--sm) {
  .p-sm-n72 {
    padding: var(--spacer-neg-72);
  }
}

@media (--md) {
  .p-md-n72 {
    padding: var(--spacer-neg-72);
  }
}

@media (--lg) {
  .p-lg-n72 {
    padding: var(--spacer-neg-72);
  }
}

@media (--xl) {
  .p-xl-n72 {
    padding: var(--spacer-neg-72);
  }
}

@media (--xxl) {
  .p-xxl-n72 {
    padding: var(--spacer-neg-72);
  }
}

// Padding Negative 80
.p-n80 {
  padding: var(--spacer-neg-80);
}

@media (--sm) {
  .p-sm-n80 {
    padding: var(--spacer-neg-80);
  }
}

@media (--md) {
  .p-md-n80 {
    padding: var(--spacer-neg-80);
  }
}

@media (--lg) {
  .p-lg-n80 {
    padding: var(--spacer-neg-80);
  }
}

@media (--xl) {
  .p-xl-n80 {
    padding: var(--spacer-neg-80);
  }
}

@media (--xxl) {
  .p-xxl-n80 {
    padding: var(--spacer-neg-80);
  }
}

// Padding Negative 96
.p-n96 {
  padding: var(--spacer-neg-96);
}

@media (--sm) {
  .p-sm-n96 {
    padding: var(--spacer-neg-96);
  }
}

@media (--md) {
  .p-md-n96 {
    padding: var(--spacer-neg-96);
  }
}

@media (--lg) {
  .p-lg-n96 {
    padding: var(--spacer-neg-96);
  }
}

@media (--xl) {
  .p-xl-n96 {
    padding: var(--spacer-neg-96);
  }
}

@media (--xxl) {
  .p-xxl-n96 {
    padding: var(--spacer-neg-96);
  }
}
