// Padding-inline 0
.px-0 {
  padding-inline: 0;
}

@media (--sm) {
  .px-sm-0 {
    padding-inline: 0;
  }
}

@media (--md) {
  .px-md-0 {
    padding-inline: 0;
  }
}

@media (--lg) {
  .px-lg-0 {
    padding-inline: 0;
  }
}

@media (--xl) {
  .px-xl-0 {
    padding-inline: 0;
  }
}

@media (--xxl) {
  .px-xxl-0 {
    padding-inline: 0;
  }
}

// Padding-inline 1
.px-1 {
  padding-inline: var(--spacer-1);
}

@media (--sm) {
  .px-sm-1 {
    padding-inline: var(--spacer-1);
  }
}

@media (--md) {
  .px-md-1 {
    padding-inline: var(--spacer-1);
  }
}

@media (--lg) {
  .px-lg-1 {
    padding-inline: var(--spacer-1);
  }
}

@media (--xl) {
  .px-xl-1 {
    padding-inline: var(--spacer-1);
  }
}

@media (--xxl) {
  .px-xxl-1 {
    padding-inline: var(--spacer-1);
  }
}

// Padding-inline 2
.px-2 {
  padding-inline: var(--spacer-2);
}

@media (--sm) {
  .px-sm-2 {
    padding-inline: var(--spacer-2);
  }
}

@media (--md) {
  .px-md-2 {
    padding-inline: var(--spacer-2);
  }
}

@media (--lg) {
  .px-lg-2 {
    padding-inline: var(--spacer-2);
  }
}

@media (--xl) {
  .px-xl-2 {
    padding-inline: var(--spacer-2);
  }
}

@media (--xxl) {
  .px-xxl-2 {
    padding-inline: var(--spacer-2);
  }
}

// Padding-inline 3
.px-3 {
  padding-inline: var(--spacer-3);
}

@media (--sm) {
  .px-sm-3 {
    padding-inline: var(--spacer-3);
  }
}

@media (--md) {
  .px-md-3 {
    padding-inline: var(--spacer-3);
  }
}

@media (--lg) {
  .px-lg-3 {
    padding-inline: var(--spacer-3);
  }
}

@media (--xl) {
  .px-xl-3 {
    padding-inline: var(--spacer-3);
  }
}

@media (--xxl) {
  .px-xxl-3 {
    padding-inline: var(--spacer-3);
  }
}

// Padding-inline 4
.px-4 {
  padding-inline: var(--spacer-4);
}

@media (--sm) {
  .px-sm-4 {
    padding-inline: var(--spacer-4);
  }
}

@media (--md) {
  .px-md-4 {
    padding-inline: var(--spacer-4);
  }
}

@media (--lg) {
  .px-lg-4 {
    padding-inline: var(--spacer-4);
  }
}

@media (--xl) {
  .px-xl-4 {
    padding-inline: var(--spacer-4);
  }
}

@media (--xxl) {
  .px-xxl-4 {
    padding-inline: var(--spacer-4);
  }
}

// Padding-inline 5
.px-5 {
  padding-inline: var(--spacer-5);
}

@media (--sm) {
  .px-sm-5 {
    padding-inline: var(--spacer-5);
  }
}

@media (--md) {
  .px-md-5 {
    padding-inline: var(--spacer-5);
  }
}

@media (--lg) {
  .px-lg-5 {
    padding-inline: var(--spacer-5);
  }
}

@media (--xl) {
  .px-xl-5 {
    padding-inline: var(--spacer-5);
  }
}

@media (--xxl) {
  .px-xxl-5 {
    padding-inline: var(--spacer-5);
  }
}

// Padding-inline 6
.px-6 {
  padding-inline: var(--spacer-6);
}

@media (--sm) {
  .px-sm-6 {
    padding-inline: var(--spacer-6);
  }
}

@media (--md) {
  .px-md-6 {
    padding-inline: var(--spacer-6);
  }
}

@media (--lg) {
  .px-lg-6 {
    padding-inline: var(--spacer-6);
  }
}

@media (--xl) {
  .px-xl-6 {
    padding-inline: var(--spacer-6);
  }
}

@media (--xxl) {
  .px-xxl-6 {
    padding-inline: var(--spacer-6);
  }
}

// Padding-inline 7
.px-7 {
  padding-inline: var(--spacer-7);
}

@media (--sm) {
  .px-sm-7 {
    padding-inline: var(--spacer-7);
  }
}

@media (--md) {
  .px-md-7 {
    padding-inline: var(--spacer-7);
  }
}

@media (--lg) {
  .px-lg-7 {
    padding-inline: var(--spacer-7);
  }
}

@media (--xl) {
  .px-xl-7 {
    padding-inline: var(--spacer-7);
  }
}

@media (--xxl) {
  .px-xxl-7 {
    padding-inline: var(--spacer-7);
  }
}

// Padding-inline 8
.px-8 {
  padding-inline: var(--spacer-8);
}

@media (--sm) {
  .px-sm-8 {
    padding-inline: var(--spacer-8);
  }
}

@media (--md) {
  .px-md-8 {
    padding-inline: var(--spacer-8);
  }
}

@media (--lg) {
  .px-lg-8 {
    padding-inline: var(--spacer-8);
  }
}

@media (--xl) {
  .px-xl-8 {
    padding-inline: var(--spacer-8);
  }
}

@media (--xxl) {
  .px-xxl-8 {
    padding-inline: var(--spacer-8);
  }
}

// Padding-inline 9
.px-9 {
  padding-inline: var(--spacer-9);
}

@media (--sm) {
  .px-sm-9 {
    padding-inline: var(--spacer-9);
  }
}

@media (--md) {
  .px-md-9 {
    padding-inline: var(--spacer-9);
  }
}

@media (--lg) {
  .px-lg-9 {
    padding-inline: var(--spacer-9);
  }
}

@media (--xl) {
  .px-xl-9 {
    padding-inline: var(--spacer-9);
  }
}

@media (--xxl) {
  .px-xxl-9 {
    padding-inline: var(--spacer-9);
  }
}

// Padding-inline 10
.px-10 {
  padding-inline: var(--spacer-10);
}

@media (--sm) {
  .px-sm-10 {
    padding-inline: var(--spacer-10);
  }
}

@media (--md) {
  .px-md-10 {
    padding-inline: var(--spacer-10);
  }
}

@media (--lg) {
  .px-lg-10 {
    padding-inline: var(--spacer-10);
  }
}

@media (--xl) {
  .px-xl-10 {
    padding-inline: var(--spacer-10);
  }
}

@media (--xxl) {
  .px-xxl-10 {
    padding-inline: var(--spacer-10);
  }
}

// Padding-inline 12
.px-12 {
  padding-inline: var(--spacer-12);
}

@media (--sm) {
  .px-sm-12 {
    padding-inline: var(--spacer-12);
  }
}

@media (--md) {
  .px-md-12 {
    padding-inline: var(--spacer-12);
  }
}

@media (--lg) {
  .px-lg-12 {
    padding-inline: var(--spacer-12);
  }
}

@media (--xl) {
  .px-xl-12 {
    padding-inline: var(--spacer-12);
  }
}

@media (--xxl) {
  .px-xxl-12 {
    padding-inline: var(--spacer-12);
  }
}

// Padding-inline 14
.px-14 {
  padding-inline: var(--spacer-14);
}

@media (--sm) {
  .px-sm-14 {
    padding-inline: var(--spacer-14);
  }
}

@media (--md) {
  .px-md-14 {
    padding-inline: var(--spacer-14);
  }
}

@media (--lg) {
  .px-lg-14 {
    padding-inline: var(--spacer-14);
  }
}

@media (--xl) {
  .px-xl-14 {
    padding-inline: var(--spacer-14);
  }
}

@media (--xxl) {
  .px-xxl-14 {
    padding-inline: var(--spacer-14);
  }
}

// Padding-inline 16
.px-16 {
  padding-inline: var(--spacer-16);
}

@media (--sm) {
  .px-sm-16 {
    padding-inline: var(--spacer-16);
  }
}

@media (--md) {
  .px-md-16 {
    padding-inline: var(--spacer-16);
  }
}

@media (--lg) {
  .px-lg-16 {
    padding-inline: var(--spacer-16);
  }
}

@media (--xl) {
  .px-xl-16 {
    padding-inline: var(--spacer-16);
  }
}

@media (--xxl) {
  .px-xxl-16 {
    padding-inline: var(--spacer-16);
  }
}

// Padding-inline 20
.px-20 {
  padding-inline: var(--spacer-20);
}

@media (--sm) {
  .px-sm-20 {
    padding-inline: var(--spacer-20);
  }
}

@media (--md) {
  .px-md-20 {
    padding-inline: var(--spacer-20);
  }
}

@media (--lg) {
  .px-lg-20 {
    padding-inline: var(--spacer-20);
  }
}

@media (--xl) {
  .px-xl-20 {
    padding-inline: var(--spacer-20);
  }
}

@media (--xxl) {
  .px-xxl-20 {
    padding-inline: var(--spacer-20);
  }
}

// Padding-inline 24
.px-24 {
  padding-inline: var(--spacer-24);
}

@media (--sm) {
  .px-sm-24 {
    padding-inline: var(--spacer-24);
  }
}

@media (--md) {
  .px-md-24 {
    padding-inline: var(--spacer-24);
  }
}

@media (--lg) {
  .px-lg-24 {
    padding-inline: var(--spacer-24);
  }
}

@media (--xl) {
  .px-xl-24 {
    padding-inline: var(--spacer-24);
  }
}

@media (--xxl) {
  .px-xxl-24 {
    padding-inline: var(--spacer-24);
  }
}

// Padding-inline 28
.px-28 {
  padding-inline: var(--spacer-28);
}

@media (--sm) {
  .px-sm-28 {
    padding-inline: var(--spacer-28);
  }
}

@media (--md) {
  .px-md-28 {
    padding-inline: var(--spacer-28);
  }
}

@media (--lg) {
  .px-lg-28 {
    padding-inline: var(--spacer-28);
  }
}

@media (--xl) {
  .px-xl-28 {
    padding-inline: var(--spacer-28);
  }
}

@media (--xxl) {
  .px-xxl-28 {
    padding-inline: var(--spacer-28);
  }
}

// Padding-inline 32
.px-32 {
  padding-inline: var(--spacer-32);
}

@media (--sm) {
  .px-sm-32 {
    padding-inline: var(--spacer-32);
  }
}

@media (--md) {
  .px-md-32 {
    padding-inline: var(--spacer-32);
  }
}

@media (--lg) {
  .px-lg-32 {
    padding-inline: var(--spacer-32);
  }
}

@media (--xl) {
  .px-xl-32 {
    padding-inline: var(--spacer-32);
  }
}

@media (--xxl) {
  .px-xxl-32 {
    padding-inline: var(--spacer-32);
  }
}

// Padding-inline 36
.px-36 {
  padding-inline: var(--spacer-36);
}

@media (--sm) {
  .px-sm-36 {
    padding-inline: var(--spacer-36);
  }
}

@media (--md) {
  .px-md-36 {
    padding-inline: var(--spacer-36);
  }
}

@media (--lg) {
  .px-lg-36 {
    padding-inline: var(--spacer-36);
  }
}

@media (--xl) {
  .px-xl-36 {
    padding-inline: var(--spacer-36);
  }
}

@media (--xxl) {
  .px-xxl-36 {
    padding-inline: var(--spacer-36);
  }
}

// Padding-inline 40
.px-40 {
  padding-inline: var(--spacer-40);
}

@media (--sm) {
  .px-sm-40 {
    padding-inline: var(--spacer-40);
  }
}

@media (--md) {
  .px-md-40 {
    padding-inline: var(--spacer-40);
  }
}

@media (--lg) {
  .px-lg-40 {
    padding-inline: var(--spacer-40);
  }
}

@media (--xl) {
  .px-xl-40 {
    padding-inline: var(--spacer-40);
  }
}

@media (--xxl) {
  .px-xxl-40 {
    padding-inline: var(--spacer-40);
  }
}

// Padding-inline 44
.px-44 {
  padding-inline: var(--spacer-44);
}

@media (--sm) {
  .px-sm-44 {
    padding-inline: var(--spacer-44);
  }
}

@media (--md) {
  .px-md-44 {
    padding-inline: var(--spacer-44);
  }
}

@media (--lg) {
  .px-lg-44 {
    padding-inline: var(--spacer-44);
  }
}

@media (--xl) {
  .px-xl-44 {
    padding-inline: var(--spacer-44);
  }
}

@media (--xxl) {
  .px-xxl-44 {
    padding-inline: var(--spacer-44);
  }
}

// Padding-inline 48
.px-48 {
  padding-inline: var(--spacer-48);
}

@media (--sm) {
  .px-sm-48 {
    padding-inline: var(--spacer-48);
  }
}

@media (--md) {
  .px-md-48 {
    padding-inline: var(--spacer-48);
  }
}

@media (--lg) {
  .px-lg-48 {
    padding-inline: var(--spacer-48);
  }
}

@media (--xl) {
  .px-xl-48 {
    padding-inline: var(--spacer-48);
  }
}

@media (--xxl) {
  .px-xxl-48 {
    padding-inline: var(--spacer-48);
  }
}

// Padding-inline 52
.px-52 {
  padding-inline: var(--spacer-52);
}

@media (--sm) {
  .px-sm-52 {
    padding-inline: var(--spacer-52);
  }
}

@media (--md) {
  .px-md-52 {
    padding-inline: var(--spacer-52);
  }
}

@media (--lg) {
  .px-lg-52 {
    padding-inline: var(--spacer-52);
  }
}

@media (--xl) {
  .px-xl-52 {
    padding-inline: var(--spacer-52);
  }
}

@media (--xxl) {
  .px-xxl-52 {
    padding-inline: var(--spacer-52);
  }
}

// Padding-inline 56
.px-56 {
  padding-inline: var(--spacer-56);
}

@media (--sm) {
  .px-sm-56 {
    padding-inline: var(--spacer-56);
  }
}

@media (--md) {
  .px-md-56 {
    padding-inline: var(--spacer-56);
  }
}

@media (--lg) {
  .px-lg-56 {
    padding-inline: var(--spacer-56);
  }
}

@media (--xl) {
  .px-xl-56 {
    padding-inline: var(--spacer-56);
  }
}

@media (--xxl) {
  .px-xxl-56 {
    padding-inline: var(--spacer-56);
  }
}

// Padding-inline 60
.px-60 {
  padding-inline: var(--spacer-60);
}

@media (--sm) {
  .px-sm-60 {
    padding-inline: var(--spacer-60);
  }
}

@media (--md) {
  .px-md-60 {
    padding-inline: var(--spacer-60);
  }
}

@media (--lg) {
  .px-lg-60 {
    padding-inline: var(--spacer-60);
  }
}

@media (--xl) {
  .px-xl-60 {
    padding-inline: var(--spacer-60);
  }
}

@media (--xxl) {
  .px-xxl-60 {
    padding-inline: var(--spacer-60);
  }
}

// Padding-inline 64
.px-64 {
  padding-inline: var(--spacer-64);
}

@media (--sm) {
  .px-sm-64 {
    padding-inline: var(--spacer-64);
  }
}

@media (--md) {
  .px-md-64 {
    padding-inline: var(--spacer-64);
  }
}

@media (--lg) {
  .px-lg-64 {
    padding-inline: var(--spacer-64);
  }
}

@media (--xl) {
  .px-xl-64 {
    padding-inline: var(--spacer-64);
  }
}

@media (--xxl) {
  .px-xxl-64 {
    padding-inline: var(--spacer-64);
  }
}

// Padding-inline 72
.px-72 {
  padding-inline: var(--spacer-72);
}

@media (--sm) {
  .px-sm-72 {
    padding-inline: var(--spacer-72);
  }
}

@media (--md) {
  .px-md-72 {
    padding-inline: var(--spacer-72);
  }
}

@media (--lg) {
  .px-lg-72 {
    padding-inline: var(--spacer-72);
  }
}

@media (--xl) {
  .px-xl-72 {
    padding-inline: var(--spacer-72);
  }
}

@media (--xxl) {
  .px-xxl-72 {
    padding-inline: var(--spacer-72);
  }
}

// Padding-inline 80
.px-80 {
  padding-inline: var(--spacer-80);
}

@media (--sm) {
  .px-sm-80 {
    padding-inline: var(--spacer-80);
  }
}

@media (--md) {
  .px-md-80 {
    padding-inline: var(--spacer-80);
  }
}

@media (--lg) {
  .px-lg-80 {
    padding-inline: var(--spacer-80);
  }
}

@media (--xl) {
  .px-xl-80 {
    padding-inline: var(--spacer-80);
  }
}

@media (--xxl) {
  .px-xxl-80 {
    padding-inline: var(--spacer-80);
  }
}

// Padding-inline 96
.px-96 {
  padding-inline: var(--spacer-96);
}

@media (--sm) {
  .px-sm-96 {
    padding-inline: var(--spacer-96);
  }
}

@media (--md) {
  .px-md-96 {
    padding-inline: var(--spacer-96);
  }
}

@media (--lg) {
  .px-lg-96 {
    padding-inline: var(--spacer-96);
  }
}

@media (--xl) {
  .px-xl-96 {
    padding-inline: var(--spacer-96);
  }
}

@media (--xxl) {
  .px-xxl-96 {
    padding-inline: var(--spacer-96);
  }
}
