// Padding-block 0
.py-0 {
  padding-block: 0;
}

@media (--sm) {
  .py-sm-0 {
    padding-block: 0;
  }
}

@media (--md) {
  .py-md-0 {
    padding-block: 0;
  }
}

@media (--lg) {
  .py-lg-0 {
    padding-block: 0;
  }
}

@media (--xl) {
  .py-xl-0 {
    padding-block: 0;
  }
}

@media (--xxl) {
  .py-xxl-0 {
    padding-block: 0;
  }
}

// Padding-block 1
.py-1 {
  padding-block: var(--spacer-1);
}

@media (--sm) {
  .py-sm-1 {
    padding-block: var(--spacer-1);
  }
}

@media (--md) {
  .py-md-1 {
    padding-block: var(--spacer-1);
  }
}

@media (--lg) {
  .py-lg-1 {
    padding-block: var(--spacer-1);
  }
}

@media (--xl) {
  .py-xl-1 {
    padding-block: var(--spacer-1);
  }
}

@media (--xxl) {
  .py-xxl-1 {
    padding-block: var(--spacer-1);
  }
}

// Padding-block 2
.py-2 {
  padding-block: var(--spacer-2);
}

@media (--sm) {
  .py-sm-2 {
    padding-block: var(--spacer-2);
  }
}

@media (--md) {
  .py-md-2 {
    padding-block: var(--spacer-2);
  }
}

@media (--lg) {
  .py-lg-2 {
    padding-block: var(--spacer-2);
  }
}

@media (--xl) {
  .py-xl-2 {
    padding-block: var(--spacer-2);
  }
}

@media (--xxl) {
  .py-xxl-2 {
    padding-block: var(--spacer-2);
  }
}

// Padding-block 3
.py-3 {
  padding-block: var(--spacer-3);
}

@media (--sm) {
  .py-sm-3 {
    padding-block: var(--spacer-3);
  }
}

@media (--md) {
  .py-md-3 {
    padding-block: var(--spacer-3);
  }
}

@media (--lg) {
  .py-lg-3 {
    padding-block: var(--spacer-3);
  }
}

@media (--xl) {
  .py-xl-3 {
    padding-block: var(--spacer-3);
  }
}

@media (--xxl) {
  .py-xxl-3 {
    padding-block: var(--spacer-3);
  }
}

// Padding-block 4
.py-4 {
  padding-block: var(--spacer-4);
}

@media (--sm) {
  .py-sm-4 {
    padding-block: var(--spacer-4);
  }
}

@media (--md) {
  .py-md-4 {
    padding-block: var(--spacer-4);
  }
}

@media (--lg) {
  .py-lg-4 {
    padding-block: var(--spacer-4);
  }
}

@media (--xl) {
  .py-xl-4 {
    padding-block: var(--spacer-4);
  }
}

@media (--xxl) {
  .py-xxl-4 {
    padding-block: var(--spacer-4);
  }
}

// Padding-block 5
.py-5 {
  padding-block: var(--spacer-5);
}

@media (--sm) {
  .py-sm-5 {
    padding-block: var(--spacer-5);
  }
}

@media (--md) {
  .py-md-5 {
    padding-block: var(--spacer-5);
  }
}

@media (--lg) {
  .py-lg-5 {
    padding-block: var(--spacer-5);
  }
}

@media (--xl) {
  .py-xl-5 {
    padding-block: var(--spacer-5);
  }
}

@media (--xxl) {
  .py-xxl-5 {
    padding-block: var(--spacer-5);
  }
}

// Padding-block 6
.py-6 {
  padding-block: var(--spacer-6);
}

@media (--sm) {
  .py-sm-6 {
    padding-block: var(--spacer-6);
  }
}

@media (--md) {
  .py-md-6 {
    padding-block: var(--spacer-6);
  }
}

@media (--lg) {
  .py-lg-6 {
    padding-block: var(--spacer-6);
  }
}

@media (--xl) {
  .py-xl-6 {
    padding-block: var(--spacer-6);
  }
}

@media (--xxl) {
  .py-xxl-6 {
    padding-block: var(--spacer-6);
  }
}

// Padding-block 7
.py-7 {
  padding-block: var(--spacer-7);
}

@media (--sm) {
  .py-sm-7 {
    padding-block: var(--spacer-7);
  }
}

@media (--md) {
  .py-md-7 {
    padding-block: var(--spacer-7);
  }
}

@media (--lg) {
  .py-lg-7 {
    padding-block: var(--spacer-7);
  }
}

@media (--xl) {
  .py-xl-7 {
    padding-block: var(--spacer-7);
  }
}

@media (--xxl) {
  .py-xxl-7 {
    padding-block: var(--spacer-7);
  }
}

// Padding-block 8
.py-8 {
  padding-block: var(--spacer-8);
}

@media (--sm) {
  .py-sm-8 {
    padding-block: var(--spacer-8);
  }
}

@media (--md) {
  .py-md-8 {
    padding-block: var(--spacer-8);
  }
}

@media (--lg) {
  .py-lg-8 {
    padding-block: var(--spacer-8);
  }
}

@media (--xl) {
  .py-xl-8 {
    padding-block: var(--spacer-8);
  }
}

@media (--xxl) {
  .py-xxl-8 {
    padding-block: var(--spacer-8);
  }
}

// Padding-block 9
.py-9 {
  padding-block: var(--spacer-9);
}

@media (--sm) {
  .py-sm-9 {
    padding-block: var(--spacer-9);
  }
}

@media (--md) {
  .py-md-9 {
    padding-block: var(--spacer-9);
  }
}

@media (--lg) {
  .py-lg-9 {
    padding-block: var(--spacer-9);
  }
}

@media (--xl) {
  .py-xl-9 {
    padding-block: var(--spacer-9);
  }
}

@media (--xxl) {
  .py-xxl-9 {
    padding-block: var(--spacer-9);
  }
}

// Padding-block 10
.py-10 {
  padding-block: var(--spacer-10);
}

@media (--sm) {
  .py-sm-10 {
    padding-block: var(--spacer-10);
  }
}

@media (--md) {
  .py-md-10 {
    padding-block: var(--spacer-10);
  }
}

@media (--lg) {
  .py-lg-10 {
    padding-block: var(--spacer-10);
  }
}

@media (--xl) {
  .py-xl-10 {
    padding-block: var(--spacer-10);
  }
}

@media (--xxl) {
  .py-xxl-10 {
    padding-block: var(--spacer-10);
  }
}

// Padding-block12
.py-12 {
  padding-block: var(--spacer-12);
}

@media (--sm) {
  .py-sm-12 {
    padding-block: var(--spacer-12);
  }
}

@media (--md) {
  .py-md-12 {
    padding-block: var(--spacer-12);
  }
}

@media (--lg) {
  .py-lg-12 {
    padding-block: var(--spacer-12);
  }
}

@media (--xl) {
  .py-xl-12 {
    padding-block: var(--spacer-12);
  }
}

@media (--xxl) {
  .py-xxl-12 {
    padding-block: var(--spacer-12);
  }
}

// Padding-block14
.py-14 {
  padding-block: var(--spacer-14);
}

@media (--sm) {
  .py-sm-14 {
    padding-block: var(--spacer-14);
  }
}

@media (--md) {
  .py-md-14 {
    padding-block: var(--spacer-14);
  }
}

@media (--lg) {
  .py-lg-14 {
    padding-block: var(--spacer-14);
  }
}

@media (--xl) {
  .py-xl-14 {
    padding-block: var(--spacer-14);
  }
}

@media (--xxl) {
  .py-xxl-14 {
    padding-block: var(--spacer-14);
  }
}

// Padding-block16
.py-16 {
  padding-block: var(--spacer-16);
}

@media (--sm) {
  .py-sm-16 {
    padding-block: var(--spacer-16);
  }
}

@media (--md) {
  .py-md-16 {
    padding-block: var(--spacer-16);
  }
}

@media (--lg) {
  .py-lg-16 {
    padding-block: var(--spacer-16);
  }
}

@media (--xl) {
  .py-xl-16 {
    padding-block: var(--spacer-16);
  }
}

@media (--xxl) {
  .py-xxl-16 {
    padding-block: var(--spacer-16);
  }
}

// Padding-block20
.py-20 {
  padding-block: var(--spacer-20);
}

@media (--sm) {
  .py-sm-20 {
    padding-block: var(--spacer-20);
  }
}

@media (--md) {
  .py-md-20 {
    padding-block: var(--spacer-20);
  }
}

@media (--lg) {
  .py-lg-20 {
    padding-block: var(--spacer-20);
  }
}

@media (--xl) {
  .py-xl-20 {
    padding-block: var(--spacer-20);
  }
}

@media (--xxl) {
  .py-xxl-20 {
    padding-block: var(--spacer-20);
  }
}

// Padding-block24
.py-24 {
  padding-block: var(--spacer-24);
}

@media (--sm) {
  .py-sm-24 {
    padding-block: var(--spacer-24);
  }
}

@media (--md) {
  .py-md-24 {
    padding-block: var(--spacer-24);
  }
}

@media (--lg) {
  .py-lg-24 {
    padding-block: var(--spacer-24);
  }
}

@media (--xl) {
  .py-xl-24 {
    padding-block: var(--spacer-24);
  }
}

@media (--xxl) {
  .py-xxl-24 {
    padding-block: var(--spacer-24);
  }
}

// Padding-block28
.py-28 {
  padding-block: var(--spacer-28);
}

@media (--sm) {
  .py-sm-28 {
    padding-block: var(--spacer-28);
  }
}

@media (--md) {
  .py-md-28 {
    padding-block: var(--spacer-28);
  }
}

@media (--lg) {
  .py-lg-28 {
    padding-block: var(--spacer-28);
  }
}

@media (--xl) {
  .py-xl-28 {
    padding-block: var(--spacer-28);
  }
}

@media (--xxl) {
  .py-xxl-28 {
    padding-block: var(--spacer-28);
  }
}

// Padding-block32
.py-32 {
  padding-block: var(--spacer-32);
}

@media (--sm) {
  .py-sm-32 {
    padding-block: var(--spacer-32);
  }
}

@media (--md) {
  .py-md-32 {
    padding-block: var(--spacer-32);
  }
}

@media (--lg) {
  .py-lg-32 {
    padding-block: var(--spacer-32);
  }
}

@media (--xl) {
  .py-xl-32 {
    padding-block: var(--spacer-32);
  }
}

@media (--xxl) {
  .py-xxl-32 {
    padding-block: var(--spacer-32);
  }
}

// Padding-block36
.py-36 {
  padding-block: var(--spacer-36);
}

@media (--sm) {
  .py-sm-36 {
    padding-block: var(--spacer-36);
  }
}

@media (--md) {
  .py-md-36 {
    padding-block: var(--spacer-36);
  }
}

@media (--lg) {
  .py-lg-36 {
    padding-block: var(--spacer-36);
  }
}

@media (--xl) {
  .py-xl-36 {
    padding-block: var(--spacer-36);
  }
}

@media (--xxl) {
  .py-xxl-36 {
    padding-block: var(--spacer-36);
  }
}

// Padding-block40
.py-40 {
  padding-block: var(--spacer-40);
}

@media (--sm) {
  .py-sm-40 {
    padding-block: var(--spacer-40);
  }
}

@media (--md) {
  .py-md-40 {
    padding-block: var(--spacer-40);
  }
}

@media (--lg) {
  .py-lg-40 {
    padding-block: var(--spacer-40);
  }
}

@media (--xl) {
  .py-xl-40 {
    padding-block: var(--spacer-40);
  }
}

@media (--xxl) {
  .py-xxl-40 {
    padding-block: var(--spacer-40);
  }
}

// Padding-block44
.py-44 {
  padding-block: var(--spacer-44);
}

@media (--sm) {
  .py-sm-44 {
    padding-block: var(--spacer-44);
  }
}

@media (--md) {
  .py-md-44 {
    padding-block: var(--spacer-44);
  }
}

@media (--lg) {
  .py-lg-44 {
    padding-block: var(--spacer-44);
  }
}

@media (--xl) {
  .py-xl-44 {
    padding-block: var(--spacer-44);
  }
}

@media (--xxl) {
  .py-xxl-44 {
    padding-block: var(--spacer-44);
  }
}

// Padding-block48
.py-48 {
  padding-block: var(--spacer-48);
}

@media (--sm) {
  .py-sm-48 {
    padding-block: var(--spacer-48);
  }
}

@media (--md) {
  .py-md-48 {
    padding-block: var(--spacer-48);
  }
}

@media (--lg) {
  .py-lg-48 {
    padding-block: var(--spacer-48);
  }
}

@media (--xl) {
  .py-xl-48 {
    padding-block: var(--spacer-48);
  }
}

@media (--xxl) {
  .py-xxl-48 {
    padding-block: var(--spacer-48);
  }
}

// Padding-block52
.py-52 {
  padding-block: var(--spacer-52);
}

@media (--sm) {
  .py-sm-52 {
    padding-block: var(--spacer-52);
  }
}

@media (--md) {
  .py-md-52 {
    padding-block: var(--spacer-52);
  }
}

@media (--lg) {
  .py-lg-52 {
    padding-block: var(--spacer-52);
  }
}

@media (--xl) {
  .py-xl-52 {
    padding-block: var(--spacer-52);
  }
}

@media (--xxl) {
  .py-xxl-52 {
    padding-block: var(--spacer-52);
  }
}

// Padding-block56
.py-56 {
  padding-block: var(--spacer-56);
}

@media (--sm) {
  .py-sm-56 {
    padding-block: var(--spacer-56);
  }
}

@media (--md) {
  .py-md-56 {
    padding-block: var(--spacer-56);
  }
}

@media (--lg) {
  .py-lg-56 {
    padding-block: var(--spacer-56);
  }
}

@media (--xl) {
  .py-xl-56 {
    padding-block: var(--spacer-56);
  }
}

@media (--xxl) {
  .py-xxl-56 {
    padding-block: var(--spacer-56);
  }
}

// Padding-block60
.py-60 {
  padding-block: var(--spacer-60);
}

@media (--sm) {
  .py-sm-60 {
    padding-block: var(--spacer-60);
  }
}

@media (--md) {
  .py-md-60 {
    padding-block: var(--spacer-60);
  }
}

@media (--lg) {
  .py-lg-60 {
    padding-block: var(--spacer-60);
  }
}

@media (--xl) {
  .py-xl-60 {
    padding-block: var(--spacer-60);
  }
}

@media (--xxl) {
  .py-xxl-60 {
    padding-block: var(--spacer-60);
  }
}

// Padding-block64
.py-64 {
  padding-block: var(--spacer-64);
}

@media (--sm) {
  .py-sm-64 {
    padding-block: var(--spacer-64);
  }
}

@media (--md) {
  .py-md-64 {
    padding-block: var(--spacer-64);
  }
}

@media (--lg) {
  .py-lg-64 {
    padding-block: var(--spacer-64);
  }
}

@media (--xl) {
  .py-xl-64 {
    padding-block: var(--spacer-64);
  }
}

@media (--xxl) {
  .py-xxl-64 {
    padding-block: var(--spacer-64);
  }
}

// Padding-block72
.py-72 {
  padding-block: var(--spacer-72);
}

@media (--sm) {
  .py-sm-72 {
    padding-block: var(--spacer-72);
  }
}

@media (--md) {
  .py-md-72 {
    padding-block: var(--spacer-72);
  }
}

@media (--lg) {
  .py-lg-72 {
    padding-block: var(--spacer-72);
  }
}

@media (--xl) {
  .py-xl-72 {
    padding-block: var(--spacer-72);
  }
}

@media (--xxl) {
  .py-xxl-72 {
    padding-block: var(--spacer-72);
  }
}

// Padding-block80
.py-80 {
  padding-block: var(--spacer-80);
}

@media (--sm) {
  .py-sm-80 {
    padding-block: var(--spacer-80);
  }
}

@media (--md) {
  .py-md-80 {
    padding-block: var(--spacer-80);
  }
}

@media (--lg) {
  .py-lg-80 {
    padding-block: var(--spacer-80);
  }
}

@media (--xl) {
  .py-xl-80 {
    padding-block: var(--spacer-80);
  }
}

@media (--xxl) {
  .py-xxl-80 {
    padding-block: var(--spacer-80);
  }
}

// Padding-block96
.py-96 {
  padding-block: var(--spacer-96);
}

@media (--sm) {
  .py-sm-96 {
    padding-block: var(--spacer-96);
  }
}

@media (--md) {
  .py-md-96 {
    padding-block: var(--spacer-96);
  }
}

@media (--lg) {
  .py-lg-96 {
    padding-block: var(--spacer-96);
  }
}

@media (--xl) {
  .py-xl-96 {
    padding-block: var(--spacer-96);
  }
}

@media (--xxl) {
  .py-xxl-96 {
    padding-block: var(--spacer-96);
  }
}
