// Padding-inline-start 0
.ps-0 {
  padding-inline-start: 0;
}

@media (--sm) {
  .ps-sm-0 {
    padding-inline-start: 0;
  }
}

@media (--md) {
  .ps-md-0 {
    padding-inline-start: 0;
  }
}

@media (--lg) {
  .ps-lg-0 {
    padding-inline-start: 0;
  }
}

@media (--xl) {
  .ps-xl-0 {
    padding-inline-start: 0;
  }
}

@media (--xxl) {
  .ps-xxl-0 {
    padding-inline-start: 0;
  }
}

// Padding-inline-start 1
.ps-1 {
  padding-inline-start: var(--gap-1);
}

@media (--sm) {
  .ps-sm-1 {
    padding-inline-start: var(--gap-1);
  }
}

@media (--md) {
  .ps-md-1 {
    padding-inline-start: var(--gap-1);
  }
}

@media (--lg) {
  .ps-lg-1 {
    padding-inline-start: var(--gap-1);
  }
}

@media (--xl) {
  .ps-xl-1 {
    padding-inline-start: var(--gap-1);
  }
}

@media (--xxl) {
  .ps-xxl-1 {
    padding-inline-start: var(--gap-1);
  }
}

// Padding-inline-start 2
.ps-2 {
  padding-inline-start: var(--gap-2);
}

@media (--sm) {
  .ps-sm-2 {
    padding-inline-start: var(--gap-2);
  }
}

@media (--md) {
  .ps-md-2 {
    padding-inline-start: var(--gap-2);
  }
}

@media (--lg) {
  .ps-lg-2 {
    padding-inline-start: var(--gap-2);
  }
}

@media (--xl) {
  .ps-xl-2 {
    padding-inline-start: var(--gap-2);
  }
}

@media (--xxl) {
  .ps-xxl-2 {
    padding-inline-start: var(--gap-2);
  }
}

// Padding-inline-start 3
.ps-3 {
  padding-inline-start: var(--gap-3);
}

@media (--sm) {
  .ps-sm-3 {
    padding-inline-start: var(--gap-3);
  }
}

@media (--md) {
  .ps-md-3 {
    padding-inline-start: var(--gap-3);
  }
}

@media (--lg) {
  .ps-lg-3 {
    padding-inline-start: var(--gap-3);
  }
}

@media (--xl) {
  .ps-xl-3 {
    padding-inline-start: var(--gap-3);
  }
}

@media (--xxl) {
  .ps-xxl-3 {
    padding-inline-start: var(--gap-3);
  }
}

// Padding-inline-start 4
.ps-4 {
  padding-inline-start: var(--gap-4);
}

@media (--sm) {
  .ps-sm-4 {
    padding-inline-start: var(--gap-4);
  }
}

@media (--md) {
  .ps-md-4 {
    padding-inline-start: var(--gap-4);
  }
}

@media (--lg) {
  .ps-lg-4 {
    padding-inline-start: var(--gap-4);
  }
}

@media (--xl) {
  .ps-xl-4 {
    padding-inline-start: var(--gap-4);
  }
}

@media (--xxl) {
  .ps-xxl-4 {
    padding-inline-start: var(--gap-4);
  }
}

// Padding-inline-start 5
.ps-5 {
  padding-inline-start: var(--gap-5);
}

@media (--sm) {
  .ps-sm-5 {
    padding-inline-start: var(--gap-5);
  }
}

@media (--md) {
  .ps-md-5 {
    padding-inline-start: var(--gap-5);
  }
}

@media (--lg) {
  .ps-lg-5 {
    padding-inline-start: var(--gap-5);
  }
}

@media (--xl) {
  .ps-xl-5 {
    padding-inline-start: var(--gap-5);
  }
}

@media (--xxl) {
  .ps-xxl-5 {
    padding-inline-start: var(--gap-5);
  }
}

// Padding-inline-start 6
.ps-6 {
  padding-inline-start: var(--gap-6);
}

@media (--sm) {
  .ps-sm-6 {
    padding-inline-start: var(--gap-6);
  }
}

@media (--md) {
  .ps-md-6 {
    padding-inline-start: var(--gap-6);
  }
}

@media (--lg) {
  .ps-lg-6 {
    padding-inline-start: var(--gap-6);
  }
}

@media (--xl) {
  .ps-xl-6 {
    padding-inline-start: var(--gap-6);
  }
}

@media (--xxl) {
  .ps-xxl-6 {
    padding-inline-start: var(--gap-6);
  }
}

// Padding-inline-start 7
.ps-7 {
  padding-inline-start: var(--gap-7);
}

@media (--sm) {
  .ps-sm-7 {
    padding-inline-start: var(--gap-7);
  }
}

@media (--md) {
  .ps-md-7 {
    padding-inline-start: var(--gap-7);
  }
}

@media (--lg) {
  .ps-lg-7 {
    padding-inline-start: var(--gap-7);
  }
}

@media (--xl) {
  .ps-xl-7 {
    padding-inline-start: var(--gap-7);
  }
}

@media (--xxl) {
  .ps-xxl-7 {
    padding-inline-start: var(--gap-7);
  }
}

// Padding-inline-start 8
.ps-8 {
  padding-inline-start: var(--gap-8);
}

@media (--sm) {
  .ps-sm-8 {
    padding-inline-start: var(--gap-8);
  }
}

@media (--md) {
  .ps-md-8 {
    padding-inline-start: var(--gap-8);
  }
}

@media (--lg) {
  .ps-lg-8 {
    padding-inline-start: var(--gap-8);
  }
}

@media (--xl) {
  .ps-xl-8 {
    padding-inline-start: var(--gap-8);
  }
}

@media (--xxl) {
  .ps-xxl-8 {
    padding-inline-start: var(--gap-8);
  }
}

// Padding-inline-start 9
.ps-9 {
  padding-inline-start: var(--gap-9);
}

@media (--sm) {
  .ps-sm-9 {
    padding-inline-start: var(--gap-9);
  }
}

@media (--md) {
  .ps-md-9 {
    padding-inline-start: var(--gap-9);
  }
}

@media (--lg) {
  .ps-lg-9 {
    padding-inline-start: var(--gap-9);
  }
}

@media (--xl) {
  .ps-xl-9 {
    padding-inline-start: var(--gap-9);
  }
}

@media (--xxl) {
  .ps-xxl-9 {
    padding-inline-start: var(--gap-9);
  }
}

// Padding-inline-start 10
.ps-10 {
  padding-inline-start: var(--gap-10);
}

@media (--sm) {
  .ps-sm-10 {
    padding-inline-start: var(--gap-10);
  }
}

@media (--md) {
  .ps-md-10 {
    padding-inline-start: var(--gap-10);
  }
}

@media (--lg) {
  .ps-lg-10 {
    padding-inline-start: var(--gap-10);
  }
}

@media (--xl) {
  .ps-xl-10 {
    padding-inline-start: var(--gap-10);
  }
}

@media (--xxl) {
  .ps-xxl-10 {
    padding-inline-start: var(--gap-10);
  }
}
