// Padding-inline-end 0
.pe-0 {
  padding-inline-end: 0;
}

@media (--sm) {
  .pe-sm-0 {
    padding-inline-end: 0;
  }
}

@media (--md) {
  .pe-md-0 {
    padding-inline-end: 0;
  }
}

@media (--lg) {
  .pe-lg-0 {
    padding-inline-end: 0;
  }
}

@media (--xl) {
  .pe-xl-0 {
    padding-inline-end: 0;
  }
}

@media (--xxl) {
  .pe-xxl-0 {
    padding-inline-end: 0;
  }
}

// Padding-inline-end 1
.pe-1 {
  padding-inline-end: var(--spacer-1);
}

@media (--sm) {
  .pe-sm-1 {
    padding-inline-end: var(--spacer-1);
  }
}

@media (--md) {
  .pe-md-1 {
    padding-inline-end: var(--spacer-1);
  }
}

@media (--lg) {
  .pe-lg-1 {
    padding-inline-end: var(--spacer-1);
  }
}

@media (--xl) {
  .pe-xl-1 {
    padding-inline-end: var(--spacer-1);
  }
}

@media (--xxl) {
  .pe-xxl-1 {
    padding-inline-end: var(--spacer-1);
  }
}

// Padding-inline-end 2
.pe-2 {
  padding-inline-end: var(--spacer-2);
}

@media (--sm) {
  .pe-sm-2 {
    padding-inline-end: var(--spacer-2);
  }
}

@media (--md) {
  .pe-md-2 {
    padding-inline-end: var(--spacer-2);
  }
}

@media (--lg) {
  .pe-lg-2 {
    padding-inline-end: var(--spacer-2);
  }
}

@media (--xl) {
  .pe-xl-2 {
    padding-inline-end: var(--spacer-2);
  }
}

@media (--xxl) {
  .pe-xxl-2 {
    padding-inline-end: var(--spacer-2);
  }
}

// Padding-inline-end 3
.pe-3 {
  padding-inline-end: var(--spacer-3);
}

@media (--sm) {
  .pe-sm-3 {
    padding-inline-end: var(--spacer-3);
  }
}

@media (--md) {
  .pe-md-3 {
    padding-inline-end: var(--spacer-3);
  }
}

@media (--lg) {
  .pe-lg-3 {
    padding-inline-end: var(--spacer-3);
  }
}

@media (--xl) {
  .pe-xl-3 {
    padding-inline-end: var(--spacer-3);
  }
}

@media (--xxl) {
  .pe-xxl-3 {
    padding-inline-end: var(--spacer-3);
  }
}

// Padding-inline-end 4
.pe-4 {
  padding-inline-end: var(--spacer-4);
}

@media (--sm) {
  .pe-sm-4 {
    padding-inline-end: var(--spacer-4);
  }
}

@media (--md) {
  .pe-md-4 {
    padding-inline-end: var(--spacer-4);
  }
}

@media (--lg) {
  .pe-lg-4 {
    padding-inline-end: var(--spacer-4);
  }
}

@media (--xl) {
  .pe-xl-4 {
    padding-inline-end: var(--spacer-4);
  }
}

@media (--xxl) {
  .pe-xxl-4 {
    padding-inline-end: var(--spacer-4);
  }
}

// Padding-inline-end 5
.pe-5 {
  padding-inline-end: var(--spacer-5);
}

@media (--sm) {
  .pe-sm-5 {
    padding-inline-end: var(--spacer-5);
  }
}

@media (--md) {
  .pe-md-5 {
    padding-inline-end: var(--spacer-5);
  }
}

@media (--lg) {
  .pe-lg-5 {
    padding-inline-end: var(--spacer-5);
  }
}

@media (--xl) {
  .pe-xl-5 {
    padding-inline-end: var(--spacer-5);
  }
}

@media (--xxl) {
  .pe-xxl-5 {
    padding-inline-end: var(--spacer-5);
  }
}

// Padding-inline-end 6
.pe-6 {
  padding-inline-end: var(--spacer-6);
}

@media (--sm) {
  .pe-sm-6 {
    padding-inline-end: var(--spacer-6);
  }
}

@media (--md) {
  .pe-md-6 {
    padding-inline-end: var(--spacer-6);
  }
}

@media (--lg) {
  .pe-lg-6 {
    padding-inline-end: var(--spacer-6);
  }
}

@media (--xl) {
  .pe-xl-6 {
    padding-inline-end: var(--spacer-6);
  }
}

@media (--xxl) {
  .pe-xxl-6 {
    padding-inline-end: var(--spacer-6);
  }
}

// Padding-inline-end 7
.pe-7 {
  padding-inline-end: var(--spacer-7);
}

@media (--sm) {
  .pe-sm-7 {
    padding-inline-end: var(--spacer-7);
  }
}

@media (--md) {
  .pe-md-7 {
    padding-inline-end: var(--spacer-7);
  }
}

@media (--lg) {
  .pe-lg-7 {
    padding-inline-end: var(--spacer-7);
  }
}

@media (--xl) {
  .pe-xl-7 {
    padding-inline-end: var(--spacer-7);
  }
}

@media (--xxl) {
  .pe-xxl-7 {
    padding-inline-end: var(--spacer-7);
  }
}

// Padding-inline-end 8
.pe-8 {
  padding-inline-end: var(--spacer-8);
}

@media (--sm) {
  .pe-sm-8 {
    padding-inline-end: var(--spacer-8);
  }
}

@media (--md) {
  .pe-md-8 {
    padding-inline-end: var(--spacer-8);
  }
}

@media (--lg) {
  .pe-lg-8 {
    padding-inline-end: var(--spacer-8);
  }
}

@media (--xl) {
  .pe-xl-8 {
    padding-inline-end: var(--spacer-8);
  }
}

@media (--xxl) {
  .pe-xxl-8 {
    padding-inline-end: var(--spacer-8);
  }
}

// Padding-inline-end 9
.pe-9 {
  padding-inline-end: var(--spacer-9);
}

@media (--sm) {
  .pe-sm-9 {
    padding-inline-end: var(--spacer-9);
  }
}

@media (--md) {
  .pe-md-9 {
    padding-inline-end: var(--spacer-9);
  }
}

@media (--lg) {
  .pe-lg-9 {
    padding-inline-end: var(--spacer-9);
  }
}

@media (--xl) {
  .pe-xl-9 {
    padding-inline-end: var(--spacer-9);
  }
}

@media (--xxl) {
  .pe-xxl-9 {
    padding-inline-end: var(--spacer-9);
  }
}

// Padding-inline-end 10
.pe-10 {
  padding-inline-end: var(--spacer-10);
}

@media (--sm) {
  .pe-sm-10 {
    padding-inline-end: var(--spacer-10);
  }
}

@media (--md) {
  .pe-md-10 {
    padding-inline-end: var(--spacer-10);
  }
}

@media (--lg) {
  .pe-lg-10 {
    padding-inline-end: var(--spacer-10);
  }
}

@media (--xl) {
  .pe-xl-10 {
    padding-inline-end: var(--spacer-10);
  }
}

@media (--xxl) {
  .pe-xxl-10 {
    padding-inline-end: var(--spacer-10);
  }
}

// Padding-inline-end 12
.pe-12 {
  padding-inline-end: var(--spacer-12);
}

@media (--sm) {
  .pe-sm-12 {
    padding-inline-end: var(--spacer-12);
  }
}

@media (--md) {
  .pe-md-12 {
    padding-inline-end: var(--spacer-12);
  }
}

@media (--lg) {
  .pe-lg-12 {
    padding-inline-end: var(--spacer-12);
  }
}

@media (--xl) {
  .pe-xl-12 {
    padding-inline-end: var(--spacer-12);
  }
}

@media (--xxl) {
  .pe-xxl-12 {
    padding-inline-end: var(--spacer-12);
  }
}

// Padding-inline-end 14
.pe-14 {
  padding-inline-end: var(--spacer-14);
}

@media (--sm) {
  .pe-sm-14 {
    padding-inline-end: var(--spacer-14);
  }
}

@media (--md) {
  .pe-md-14 {
    padding-inline-end: var(--spacer-14);
  }
}

@media (--lg) {
  .pe-lg-14 {
    padding-inline-end: var(--spacer-14);
  }
}

@media (--xl) {
  .pe-xl-14 {
    padding-inline-end: var(--spacer-14);
  }
}

@media (--xxl) {
  .pe-xxl-14 {
    padding-inline-end: var(--spacer-14);
  }
}

// Padding-inline-end 16
.pe-16 {
  padding-inline-end: var(--spacer-16);
}

@media (--sm) {
  .pe-sm-16 {
    padding-inline-end: var(--spacer-16);
  }
}

@media (--md) {
  .pe-md-16 {
    padding-inline-end: var(--spacer-16);
  }
}

@media (--lg) {
  .pe-lg-16 {
    padding-inline-end: var(--spacer-16);
  }
}

@media (--xl) {
  .pe-xl-16 {
    padding-inline-end: var(--spacer-16);
  }
}

@media (--xxl) {
  .pe-xxl-16 {
    padding-inline-end: var(--spacer-16);
  }
}

// Padding-inline-end 20
.pe-20 {
  padding-inline-end: var(--spacer-20);
}

@media (--sm) {
  .pe-sm-20 {
    padding-inline-end: var(--spacer-20);
  }
}

@media (--md) {
  .pe-md-20 {
    padding-inline-end: var(--spacer-20);
  }
}

@media (--lg) {
  .pe-lg-20 {
    padding-inline-end: var(--spacer-20);
  }
}

@media (--xl) {
  .pe-xl-20 {
    padding-inline-end: var(--spacer-20);
  }
}

@media (--xxl) {
  .pe-xxl-20 {
    padding-inline-end: var(--spacer-20);
  }
}

// Padding-inline-end 24
.pe-24 {
  padding-inline-end: var(--spacer-24);
}

@media (--sm) {
  .pe-sm-24 {
    padding-inline-end: var(--spacer-24);
  }
}

@media (--md) {
  .pe-md-24 {
    padding-inline-end: var(--spacer-24);
  }
}

@media (--lg) {
  .pe-lg-24 {
    padding-inline-end: var(--spacer-24);
  }
}

@media (--xl) {
  .pe-xl-24 {
    padding-inline-end: var(--spacer-24);
  }
}

@media (--xxl) {
  .pe-xxl-24 {
    padding-inline-end: var(--spacer-24);
  }
}

// Padding-inline-end 28
.pe-28 {
  padding-inline-end: var(--spacer-28);
}

@media (--sm) {
  .pe-sm-28 {
    padding-inline-end: var(--spacer-28);
  }
}

@media (--md) {
  .pe-md-28 {
    padding-inline-end: var(--spacer-28);
  }
}

@media (--lg) {
  .pe-lg-28 {
    padding-inline-end: var(--spacer-28);
  }
}

@media (--xl) {
  .pe-xl-28 {
    padding-inline-end: var(--spacer-28);
  }
}

@media (--xxl) {
  .pe-xxl-28 {
    padding-inline-end: var(--spacer-28);
  }
}

// Padding-inline-end 32
.pe-32 {
  padding-inline-end: var(--spacer-32);
}

@media (--sm) {
  .pe-sm-32 {
    padding-inline-end: var(--spacer-32);
  }
}

@media (--md) {
  .pe-md-32 {
    padding-inline-end: var(--spacer-32);
  }
}

@media (--lg) {
  .pe-lg-32 {
    padding-inline-end: var(--spacer-32);
  }
}

@media (--xl) {
  .pe-xl-32 {
    padding-inline-end: var(--spacer-32);
  }
}

@media (--xxl) {
  .pe-xxl-32 {
    padding-inline-end: var(--spacer-32);
  }
}

// Padding-inline-end 36
.pe-36 {
  padding-inline-end: var(--spacer-36);
}

@media (--sm) {
  .pe-sm-36 {
    padding-inline-end: var(--spacer-36);
  }
}

@media (--md) {
  .pe-md-36 {
    padding-inline-end: var(--spacer-36);
  }
}

@media (--lg) {
  .pe-lg-36 {
    padding-inline-end: var(--spacer-36);
  }
}

@media (--xl) {
  .pe-xl-36 {
    padding-inline-end: var(--spacer-36);
  }
}

@media (--xxl) {
  .pe-xxl-36 {
    padding-inline-end: var(--spacer-36);
  }
}

// Padding-inline-end 40
.pe-40 {
  padding-inline-end: var(--spacer-40);
}

@media (--sm) {
  .pe-sm-40 {
    padding-inline-end: var(--spacer-40);
  }
}

@media (--md) {
  .pe-md-40 {
    padding-inline-end: var(--spacer-40);
  }
}

@media (--lg) {
  .pe-lg-40 {
    padding-inline-end: var(--spacer-40);
  }
}

@media (--xl) {
  .pe-xl-40 {
    padding-inline-end: var(--spacer-40);
  }
}

@media (--xxl) {
  .pe-xxl-40 {
    padding-inline-end: var(--spacer-40);
  }
}

// Padding-inline-end 44
.pe-44 {
  padding-inline-end: var(--spacer-44);
}

@media (--sm) {
  .pe-sm-44 {
    padding-inline-end: var(--spacer-44);
  }
}

@media (--md) {
  .pe-md-44 {
    padding-inline-end: var(--spacer-44);
  }
}

@media (--lg) {
  .pe-lg-44 {
    padding-inline-end: var(--spacer-44);
  }
}

@media (--xl) {
  .pe-xl-44 {
    padding-inline-end: var(--spacer-44);
  }
}

@media (--xxl) {
  .pe-xxl-44 {
    padding-inline-end: var(--spacer-44);
  }
}

// Padding-inline-end 48
.pe-48 {
  padding-inline-end: var(--spacer-48);
}

@media (--sm) {
  .pe-sm-48 {
    padding-inline-end: var(--spacer-48);
  }
}

@media (--md) {
  .pe-md-48 {
    padding-inline-end: var(--spacer-48);
  }
}

@media (--lg) {
  .pe-lg-48 {
    padding-inline-end: var(--spacer-48);
  }
}

@media (--xl) {
  .pe-xl-48 {
    padding-inline-end: var(--spacer-48);
  }
}

@media (--xxl) {
  .pe-xxl-48 {
    padding-inline-end: var(--spacer-48);
  }
}

// Padding-inline-end 52
.pe-52 {
  padding-inline-end: var(--spacer-52);
}

@media (--sm) {
  .pe-sm-52 {
    padding-inline-end: var(--spacer-52);
  }
}

@media (--md) {
  .pe-md-52 {
    padding-inline-end: var(--spacer-52);
  }
}

@media (--lg) {
  .pe-lg-52 {
    padding-inline-end: var(--spacer-52);
  }
}

@media (--xl) {
  .pe-xl-52 {
    padding-inline-end: var(--spacer-52);
  }
}

@media (--xxl) {
  .pe-xxl-52 {
    padding-inline-end: var(--spacer-52);
  }
}

// Padding-inline-end 56
.pe-56 {
  padding-inline-end: var(--spacer-56);
}

@media (--sm) {
  .pe-sm-56 {
    padding-inline-end: var(--spacer-56);
  }
}

@media (--md) {
  .pe-md-56 {
    padding-inline-end: var(--spacer-56);
  }
}

@media (--lg) {
  .pe-lg-56 {
    padding-inline-end: var(--spacer-56);
  }
}

@media (--xl) {
  .pe-xl-56 {
    padding-inline-end: var(--spacer-56);
  }
}

@media (--xxl) {
  .pe-xxl-56 {
    padding-inline-end: var(--spacer-56);
  }
}

// Padding-inline-end 60
.pe-60 {
  padding-inline-end: var(--spacer-60);
}

@media (--sm) {
  .pe-sm-60 {
    padding-inline-end: var(--spacer-60);
  }
}

@media (--md) {
  .pe-md-60 {
    padding-inline-end: var(--spacer-60);
  }
}

@media (--lg) {
  .pe-lg-60 {
    padding-inline-end: var(--spacer-60);
  }
}

@media (--xl) {
  .pe-xl-60 {
    padding-inline-end: var(--spacer-60);
  }
}

@media (--xxl) {
  .pe-xxl-60 {
    padding-inline-end: var(--spacer-60);
  }
}

// Padding-inline-end 64
.pe-64 {
  padding-inline-end: var(--spacer-64);
}

@media (--sm) {
  .pe-sm-64 {
    padding-inline-end: var(--spacer-64);
  }
}

@media (--md) {
  .pe-md-64 {
    padding-inline-end: var(--spacer-64);
  }
}

@media (--lg) {
  .pe-lg-64 {
    padding-inline-end: var(--spacer-64);
  }
}

@media (--xl) {
  .pe-xl-64 {
    padding-inline-end: var(--spacer-64);
  }
}

@media (--xxl) {
  .pe-xxl-64 {
    padding-inline-end: var(--spacer-64);
  }
}

// Padding-inline-end 72
.pe-72 {
  padding-inline-end: var(--spacer-72);
}

@media (--sm) {
  .pe-sm-72 {
    padding-inline-end: var(--spacer-72);
  }
}

@media (--md) {
  .pe-md-72 {
    padding-inline-end: var(--spacer-72);
  }
}

@media (--lg) {
  .pe-lg-72 {
    padding-inline-end: var(--spacer-72);
  }
}

@media (--xl) {
  .pe-xl-72 {
    padding-inline-end: var(--spacer-72);
  }
}

@media (--xxl) {
  .pe-xxl-72 {
    padding-inline-end: var(--spacer-72);
  }
}

// Padding-inline-end 80
.pe-80 {
  padding-inline-end: var(--spacer-80);
}

@media (--sm) {
  .pe-sm-80 {
    padding-inline-end: var(--spacer-80);
  }
}

@media (--md) {
  .pe-md-80 {
    padding-inline-end: var(--spacer-80);
  }
}

@media (--lg) {
  .pe-lg-80 {
    padding-inline-end: var(--spacer-80);
  }
}

@media (--xl) {
  .pe-xl-80 {
    padding-inline-end: var(--spacer-80);
  }
}

@media (--xxl) {
  .pe-xxl-80 {
    padding-inline-end: var(--spacer-80);
  }
}

// Padding-inline-end 96
.pe-96 {
  padding-inline-end: var(--spacer-96);
}

@media (--sm) {
  .pe-sm-96 {
    padding-inline-end: var(--spacer-96);
  }
}

@media (--md) {
  .pe-md-96 {
    padding-inline-end: var(--spacer-96);
  }
}

@media (--lg) {
  .pe-lg-96 {
    padding-inline-end: var(--spacer-96);
  }
}

@media (--xl) {
  .pe-xl-96 {
    padding-inline-end: var(--spacer-96);
  }
}

@media (--xxl) {
  .pe-xxl-96 {
    padding-inline-end: var(--spacer-96);
  }
}
