// padding-inline-start Negative 1
.ps-n1 {
  padding-inline-start: var(--spacer-neg-1);
}

@media (--sm) {
  .ps-sm-n1 {
    padding-inline-start: var(--spacer-neg-1);
  }
}

@media (--md) {
  .ps-md-n1 {
    padding-inline-start: var(--spacer-neg-1);
  }
}

@media (--lg) {
  .ps-lg-n1 {
    padding-inline-start: var(--spacer-neg-1);
  }
}

@media (--xl) {
  .ps-xl-n1 {
    padding-inline-start: var(--spacer-neg-1);
  }
}

@media (--xxl) {
  .ps-xxl-n1 {
    padding-inline-start: var(--spacer-neg-1);
  }
}

// padding-inline-start Negative 2
.ps-n2 {
  padding-inline-start: var(--spacer-neg-2);
}

@media (--sm) {
  .ps-sm-n2 {
    padding-inline-start: var(--spacer-neg-2);
  }
}

@media (--md) {
  .ps-md-n2 {
    padding-inline-start: var(--spacer-neg-2);
  }
}

@media (--lg) {
  .ps-lg-n2 {
    padding-inline-start: var(--spacer-neg-2);
  }
}

@media (--xl) {
  .ps-xl-n2 {
    padding-inline-start: var(--spacer-neg-2);
  }
}

@media (--xxl) {
  .ps-xxl-n2 {
    padding-inline-start: var(--spacer-neg-2);
  }
}

// padding-inline-start Negative 3
.ps-n3 {
  padding-inline-start: var(--spacer-neg-3);
}

@media (--sm) {
  .ps-sm-n3 {
    padding-inline-start: var(--spacer-neg-3);
  }
}

@media (--md) {
  .ps-md-n3 {
    padding-inline-start: var(--spacer-neg-3);
  }
}

@media (--lg) {
  .ps-lg-n3 {
    padding-inline-start: var(--spacer-neg-3);
  }
}

@media (--xl) {
  .ps-xl-n3 {
    padding-inline-start: var(--spacer-neg-3);
  }
}

@media (--xxl) {
  .ps-xxl-n3 {
    padding-inline-start: var(--spacer-neg-3);
  }
}

// padding-inline-start Negative 4
.ps-n4 {
  padding-inline-start: var(--spacer-neg-4);
}

@media (--sm) {
  .ps-sm-n4 {
    padding-inline-start: var(--spacer-neg-4);
  }
}

@media (--md) {
  .ps-md-n4 {
    padding-inline-start: var(--spacer-neg-4);
  }
}

@media (--lg) {
  .ps-lg-n4 {
    padding-inline-start: var(--spacer-neg-4);
  }
}

@media (--xl) {
  .ps-xl-n4 {
    padding-inline-start: var(--spacer-neg-4);
  }
}

@media (--xxl) {
  .ps-xxl-n4 {
    padding-inline-start: var(--spacer-neg-4);
  }
}

// padding-inline-start Negative 5
.ps-n5 {
  padding-inline-start: var(--spacer-neg-5);
}

@media (--sm) {
  .ps-sm-n5 {
    padding-inline-start: var(--spacer-neg-5);
  }
}

@media (--md) {
  .ps-md-n5 {
    padding-inline-start: var(--spacer-neg-5);
  }
}

@media (--lg) {
  .ps-lg-n5 {
    padding-inline-start: var(--spacer-neg-5);
  }
}

@media (--xl) {
  .ps-xl-n5 {
    padding-inline-start: var(--spacer-neg-5);
  }
}

@media (--xxl) {
  .ps-xxl-n5 {
    padding-inline-start: var(--spacer-neg-5);
  }
}

// padding-inline-start Negative 6
.ps-n6 {
  padding-inline-start: var(--spacer-neg-6);
}

@media (--sm) {
  .ps-sm-n6 {
    padding-inline-start: var(--spacer-neg-6);
  }
}

@media (--md) {
  .ps-md-n6 {
    padding-inline-start: var(--spacer-neg-6);
  }
}

@media (--lg) {
  .ps-lg-n6 {
    padding-inline-start: var(--spacer-neg-6);
  }
}

@media (--xl) {
  .ps-xl-n6 {
    padding-inline-start: var(--spacer-neg-6);
  }
}

@media (--xxl) {
  .ps-xxl-n6 {
    padding-inline-start: var(--spacer-neg-6);
  }
}

// padding-inline-start Negative 7
.ps-n7 {
  padding-inline-start: var(--spacer-neg-7);
}

@media (--sm) {
  .ps-sm-n7 {
    padding-inline-start: var(--spacer-neg-7);
  }
}

@media (--md) {
  .ps-md-n7 {
    padding-inline-start: var(--spacer-neg-7);
  }
}

@media (--lg) {
  .ps-lg-n7 {
    padding-inline-start: var(--spacer-neg-7);
  }
}

@media (--xl) {
  .ps-xl-n7 {
    padding-inline-start: var(--spacer-neg-7);
  }
}

@media (--xxl) {
  .ps-xxl-n7 {
    padding-inline-start: var(--spacer-neg-7);
  }
}

// padding-inline-start Negative 8
.ps-n8 {
  padding-inline-start: var(--spacer-neg-8);
}

@media (--sm) {
  .ps-sm-n8 {
    padding-inline-start: var(--spacer-neg-8);
  }
}

@media (--md) {
  .ps-md-n8 {
    padding-inline-start: var(--spacer-neg-8);
  }
}

@media (--lg) {
  .ps-lg-n8 {
    padding-inline-start: var(--spacer-neg-8);
  }
}

@media (--xl) {
  .ps-xl-n8 {
    padding-inline-start: var(--spacer-neg-8);
  }
}

@media (--xxl) {
  .ps-xxl-n8 {
    padding-inline-start: var(--spacer-neg-8);
  }
}

// padding-inline-start Negative 9
.ps-n9 {
  padding-inline-start: var(--spacer-neg-9);
}

@media (--sm) {
  .ps-sm-n9 {
    padding-inline-start: var(--spacer-neg-9);
  }
}

@media (--md) {
  .ps-md-n9 {
    padding-inline-start: var(--spacer-neg-9);
  }
}

@media (--lg) {
  .ps-lg-n9 {
    padding-inline-start: var(--spacer-neg-9);
  }
}

@media (--xl) {
  .ps-xl-n9 {
    padding-inline-start: var(--spacer-neg-9);
  }
}

@media (--xxl) {
  .ps-xxl-n9 {
    padding-inline-start: var(--spacer-neg-9);
  }
}

// padding-inline-start Negative 10
.ps-n10 {
  padding-inline-start: var(--spacer-neg-10);
}

@media (--sm) {
  .ps-sm-n10 {
    padding-inline-start: var(--spacer-neg-10);
  }
}

@media (--md) {
  .ps-md-n10 {
    padding-inline-start: var(--spacer-neg-10);
  }
}

@media (--lg) {
  .ps-lg-n10 {
    padding-inline-start: var(--spacer-neg-10);
  }
}

@media (--xl) {
  .ps-xl-n10 {
    padding-inline-start: var(--spacer-neg-10);
  }
}

@media (--xxl) {
  .ps-xxl-n10 {
    padding-inline-start: var(--spacer-neg-10);
  }
}

// padding-inline-start Negative 12
.ps-n12 {
  padding-inline-start: var(--spacer-neg-12);
}

@media (--sm) {
  .ps-sm-n12 {
    padding-inline-start: var(--spacer-neg-12);
  }
}

@media (--md) {
  .ps-md-n12 {
    padding-inline-start: var(--spacer-neg-12);
  }
}

@media (--lg) {
  .ps-lg-n12 {
    padding-inline-start: var(--spacer-neg-12);
  }
}

@media (--xl) {
  .ps-xl-n12 {
    padding-inline-start: var(--spacer-neg-12);
  }
}

@media (--xxl) {
  .ps-xxl-n12 {
    padding-inline-start: var(--spacer-neg-12);
  }
}

// padding-inline-start Negative 14
.ps-n14 {
  padding-inline-start: var(--spacer-neg-14);
}

@media (--sm) {
  .ps-sm-n14 {
    padding-inline-start: var(--spacer-neg-14);
  }
}

@media (--md) {
  .ps-md-n14 {
    padding-inline-start: var(--spacer-neg-14);
  }
}

@media (--lg) {
  .ps-lg-n14 {
    padding-inline-start: var(--spacer-neg-14);
  }
}

@media (--xl) {
  .ps-xl-n14 {
    padding-inline-start: var(--spacer-neg-14);
  }
}

@media (--xxl) {
  .ps-xxl-n14 {
    padding-inline-start: var(--spacer-neg-14);
  }
}

// padding-inline-start Negative 16
.ps-n16 {
  padding-inline-start: var(--spacer-neg-16);
}

@media (--sm) {
  .ps-sm-n16 {
    padding-inline-start: var(--spacer-neg-16);
  }
}

@media (--md) {
  .ps-md-n16 {
    padding-inline-start: var(--spacer-neg-16);
  }
}

@media (--lg) {
  .ps-lg-n16 {
    padding-inline-start: var(--spacer-neg-16);
  }
}

@media (--xl) {
  .ps-xl-n16 {
    padding-inline-start: var(--spacer-neg-16);
  }
}

@media (--xxl) {
  .ps-xxl-n16 {
    padding-inline-start: var(--spacer-neg-16);
  }
}

// padding-inline-start Negative 20
.ps-n20 {
  padding-inline-start: var(--spacer-neg-20);
}

@media (--sm) {
  .ps-sm-n20 {
    padding-inline-start: var(--spacer-neg-20);
  }
}

@media (--md) {
  .ps-md-n20 {
    padding-inline-start: var(--spacer-neg-20);
  }
}

@media (--lg) {
  .ps-lg-n20 {
    padding-inline-start: var(--spacer-neg-20);
  }
}

@media (--xl) {
  .ps-xl-n20 {
    padding-inline-start: var(--spacer-neg-20);
  }
}

@media (--xxl) {
  .ps-xxl-n20 {
    padding-inline-start: var(--spacer-neg-20);
  }
}

// padding-inline-start Negative 24
.ps-n24 {
  padding-inline-start: var(--spacer-neg-24);
}

@media (--sm) {
  .ps-sm-n24 {
    padding-inline-start: var(--spacer-neg-24);
  }
}

@media (--md) {
  .ps-md-n24 {
    padding-inline-start: var(--spacer-neg-24);
  }
}

@media (--lg) {
  .ps-lg-n24 {
    padding-inline-start: var(--spacer-neg-24);
  }
}

@media (--xl) {
  .ps-xl-n24 {
    padding-inline-start: var(--spacer-neg-24);
  }
}

@media (--xxl) {
  .ps-xxl-n24 {
    padding-inline-start: var(--spacer-neg-24);
  }
}

// padding-inline-start Negative 28
.ps-n28 {
  padding-inline-start: var(--spacer-neg-28);
}

@media (--sm) {
  .ps-sm-n28 {
    padding-inline-start: var(--spacer-neg-28);
  }
}

@media (--md) {
  .ps-md-n28 {
    padding-inline-start: var(--spacer-neg-28);
  }
}

@media (--lg) {
  .ps-lg-n28 {
    padding-inline-start: var(--spacer-neg-28);
  }
}

@media (--xl) {
  .ps-xl-n28 {
    padding-inline-start: var(--spacer-neg-28);
  }
}

@media (--xxl) {
  .ps-xxl-n28 {
    padding-inline-start: var(--spacer-neg-28);
  }
}

// padding-inline-start Negative 32
.ps-n32 {
  padding-inline-start: var(--spacer-neg-32);
}

@media (--sm) {
  .ps-sm-n32 {
    padding-inline-start: var(--spacer-neg-32);
  }
}

@media (--md) {
  .ps-md-n32 {
    padding-inline-start: var(--spacer-neg-32);
  }
}

@media (--lg) {
  .ps-lg-n32 {
    padding-inline-start: var(--spacer-neg-32);
  }
}

@media (--xl) {
  .ps-xl-n32 {
    padding-inline-start: var(--spacer-neg-32);
  }
}

@media (--xxl) {
  .ps-xxl-n32 {
    padding-inline-start: var(--spacer-neg-32);
  }
}

// padding-inline-start Negative 36
.ps-n36 {
  padding-inline-start: var(--spacer-neg-36);
}

@media (--sm) {
  .ps-sm-n36 {
    padding-inline-start: var(--spacer-neg-36);
  }
}

@media (--md) {
  .ps-md-n36 {
    padding-inline-start: var(--spacer-neg-36);
  }
}

@media (--lg) {
  .ps-lg-n36 {
    padding-inline-start: var(--spacer-neg-36);
  }
}

@media (--xl) {
  .ps-xl-n36 {
    padding-inline-start: var(--spacer-neg-36);
  }
}

@media (--xxl) {
  .ps-xxl-n36 {
    padding-inline-start: var(--spacer-neg-36);
  }
}

// padding-inline-start Negative 40
.ps-n40 {
  padding-inline-start: var(--spacer-neg-40);
}

@media (--sm) {
  .ps-sm-n40 {
    padding-inline-start: var(--spacer-neg-40);
  }
}

@media (--md) {
  .ps-md-n40 {
    padding-inline-start: var(--spacer-neg-40);
  }
}

@media (--lg) {
  .ps-lg-n40 {
    padding-inline-start: var(--spacer-neg-40);
  }
}

@media (--xl) {
  .ps-xl-n40 {
    padding-inline-start: var(--spacer-neg-40);
  }
}

@media (--xxl) {
  .ps-xxl-n40 {
    padding-inline-start: var(--spacer-neg-40);
  }
}

// padding-inline-start Negative 44
.ps-n44 {
  padding-inline-start: var(--spacer-neg-44);
}

@media (--sm) {
  .ps-sm-n44 {
    padding-inline-start: var(--spacer-neg-44);
  }
}

@media (--md) {
  .ps-md-n44 {
    padding-inline-start: var(--spacer-neg-44);
  }
}

@media (--lg) {
  .ps-lg-n44 {
    padding-inline-start: var(--spacer-neg-44);
  }
}

@media (--xl) {
  .ps-xl-n44 {
    padding-inline-start: var(--spacer-neg-44);
  }
}

@media (--xxl) {
  .ps-xxl-n44 {
    padding-inline-start: var(--spacer-neg-44);
  }
}

// padding-inline-start Negative 48
.ps-n48 {
  padding-inline-start: var(--spacer-neg-48);
}

@media (--sm) {
  .ps-sm-n48 {
    padding-inline-start: var(--spacer-neg-48);
  }
}

@media (--md) {
  .ps-md-n48 {
    padding-inline-start: var(--spacer-neg-48);
  }
}

@media (--lg) {
  .ps-lg-n48 {
    padding-inline-start: var(--spacer-neg-48);
  }
}

@media (--xl) {
  .ps-xl-n48 {
    padding-inline-start: var(--spacer-neg-48);
  }
}

@media (--xxl) {
  .ps-xxl-n48 {
    padding-inline-start: var(--spacer-neg-48);
  }
}

// padding-inline-start Negative 52
.ps-n52 {
  padding-inline-start: var(--spacer-neg-52);
}

@media (--sm) {
  .ps-sm-n52 {
    padding-inline-start: var(--spacer-neg-52);
  }
}

@media (--md) {
  .ps-md-n52 {
    padding-inline-start: var(--spacer-neg-52);
  }
}

@media (--lg) {
  .ps-lg-n52 {
    padding-inline-start: var(--spacer-neg-52);
  }
}

@media (--xl) {
  .ps-xl-n52 {
    padding-inline-start: var(--spacer-neg-52);
  }
}

@media (--xxl) {
  .ps-xxl-n52 {
    padding-inline-start: var(--spacer-neg-52);
  }
}

// padding-inline-start Negative 56
.ps-n56 {
  padding-inline-start: var(--spacer-neg-56);
}

@media (--sm) {
  .ps-sm-n56 {
    padding-inline-start: var(--spacer-neg-56);
  }
}

@media (--md) {
  .ps-md-n56 {
    padding-inline-start: var(--spacer-neg-56);
  }
}

@media (--lg) {
  .ps-lg-n56 {
    padding-inline-start: var(--spacer-neg-56);
  }
}

@media (--xl) {
  .ps-xl-n56 {
    padding-inline-start: var(--spacer-neg-56);
  }
}

@media (--xxl) {
  .ps-xxl-n56 {
    padding-inline-start: var(--spacer-neg-56);
  }
}

// padding-inline-start Negative 60
.ps-n60 {
  padding-inline-start: var(--spacer-neg-60);
}

@media (--sm) {
  .ps-sm-n60 {
    padding-inline-start: var(--spacer-neg-60);
  }
}

@media (--md) {
  .ps-md-n60 {
    padding-inline-start: var(--spacer-neg-60);
  }
}

@media (--lg) {
  .ps-lg-n60 {
    padding-inline-start: var(--spacer-neg-60);
  }
}

@media (--xl) {
  .ps-xl-n60 {
    padding-inline-start: var(--spacer-neg-60);
  }
}

@media (--xxl) {
  .ps-xxl-n60 {
    padding-inline-start: var(--spacer-neg-60);
  }
}

// padding-inline-start Negative 64
.ps-n64 {
  padding-inline-start: var(--spacer-neg-64);
}

@media (--sm) {
  .ps-sm-n64 {
    padding-inline-start: var(--spacer-neg-64);
  }
}

@media (--md) {
  .ps-md-n64 {
    padding-inline-start: var(--spacer-neg-64);
  }
}

@media (--lg) {
  .ps-lg-n64 {
    padding-inline-start: var(--spacer-neg-64);
  }
}

@media (--xl) {
  .ps-xl-n64 {
    padding-inline-start: var(--spacer-neg-64);
  }
}

@media (--xxl) {
  .ps-xxl-n64 {
    padding-inline-start: var(--spacer-neg-64);
  }
}

// padding-inline-start Negative 72
.ps-n72 {
  padding-inline-start: var(--spacer-neg-72);
}

@media (--sm) {
  .ps-sm-n72 {
    padding-inline-start: var(--spacer-neg-72);
  }
}

@media (--md) {
  .ps-md-n72 {
    padding-inline-start: var(--spacer-neg-72);
  }
}

@media (--lg) {
  .ps-lg-n72 {
    padding-inline-start: var(--spacer-neg-72);
  }
}

@media (--xl) {
  .ps-xl-n72 {
    padding-inline-start: var(--spacer-neg-72);
  }
}

@media (--xxl) {
  .ps-xxl-n72 {
    padding-inline-start: var(--spacer-neg-72);
  }
}

// padding-inline-start Negative 80
.ps-n80 {
  padding-inline-start: var(--spacer-neg-80);
}

@media (--sm) {
  .ps-sm-n80 {
    padding-inline-start: var(--spacer-neg-80);
  }
}

@media (--md) {
  .ps-md-n80 {
    padding-inline-start: var(--spacer-neg-80);
  }
}

@media (--lg) {
  .ps-lg-n80 {
    padding-inline-start: var(--spacer-neg-80);
  }
}

@media (--xl) {
  .ps-xl-n80 {
    padding-inline-start: var(--spacer-neg-80);
  }
}

@media (--xxl) {
  .ps-xxl-n80 {
    padding-inline-start: var(--spacer-neg-80);
  }
}

// padding-inline-start Negative 96
.ps-n96 {
  padding-inline-start: var(--spacer-neg-96);
}

@media (--sm) {
  .ps-sm-n96 {
    padding-inline-start: var(--spacer-neg-96);
  }
}

@media (--md) {
  .ps-md-n96 {
    padding-inline-start: var(--spacer-neg-96);
  }
}

@media (--lg) {
  .ps-lg-n96 {
    padding-inline-start: var(--spacer-neg-96);
  }
}

@media (--xl) {
  .ps-xl-n96 {
    padding-inline-start: var(--spacer-neg-96);
  }
}

@media (--xxl) {
  .ps-xxl-n96 {
    padding-inline-start: var(--spacer-neg-96);
  }
}
