// Padding-inline 0
.px-0 {
  padding-inline: 0;
}

@media (--sm) {
  .px-sm-0 {
    padding-inline: 0;
  }
}

@media (--md) {
  .px-md-0 {
    padding-inline: 0;
  }
}

@media (--lg) {
  .px-lg-0 {
    padding-inline: 0;
  }
}

@media (--xl) {
  .px-xl-0 {
    padding-inline: 0;
  }
}

@media (--xxl) {
  .px-xxl-0 {
    padding-inline: 0;
  }
}

// Padding-inline 1
.px-1 {
  padding-inline: var(--gap-1);
}

@media (--sm) {
  .px-sm-1 {
    padding-inline: var(--gap-1);
  }
}

@media (--md) {
  .px-md-1 {
    padding-inline: var(--gap-1);
  }
}

@media (--lg) {
  .px-lg-1 {
    padding-inline: var(--gap-1);
  }
}

@media (--xl) {
  .px-xl-1 {
    padding-inline: var(--gap-1);
  }
}

@media (--xxl) {
  .px-xxl-1 {
    padding-inline: var(--gap-1);
  }
}

// Padding-inline 2
.px-2 {
  padding-inline: var(--gap-2);
}

@media (--sm) {
  .px-sm-2 {
    padding-inline: var(--gap-2);
  }
}

@media (--md) {
  .px-md-2 {
    padding-inline: var(--gap-2);
  }
}

@media (--lg) {
  .px-lg-2 {
    padding-inline: var(--gap-2);
  }
}

@media (--xl) {
  .px-xl-2 {
    padding-inline: var(--gap-2);
  }
}

@media (--xxl) {
  .px-xxl-2 {
    padding-inline: var(--gap-2);
  }
}

// Padding-inline 3
.px-3 {
  padding-inline: var(--gap-3);
}

@media (--sm) {
  .px-sm-3 {
    padding-inline: var(--gap-3);
  }
}

@media (--md) {
  .px-md-3 {
    padding-inline: var(--gap-3);
  }
}

@media (--lg) {
  .px-lg-3 {
    padding-inline: var(--gap-3);
  }
}

@media (--xl) {
  .px-xl-3 {
    padding-inline: var(--gap-3);
  }
}

@media (--xxl) {
  .px-xxl-3 {
    padding-inline: var(--gap-3);
  }
}

// Padding-inline 4
.px-4 {
  padding-inline: var(--gap-4);
}

@media (--sm) {
  .px-sm-4 {
    padding-inline: var(--gap-4);
  }
}

@media (--md) {
  .px-md-4 {
    padding-inline: var(--gap-4);
  }
}

@media (--lg) {
  .px-lg-4 {
    padding-inline: var(--gap-4);
  }
}

@media (--xl) {
  .px-xl-4 {
    padding-inline: var(--gap-4);
  }
}

@media (--xxl) {
  .px-xxl-4 {
    padding-inline: var(--gap-4);
  }
}

// Padding-inline 5
.px-5 {
  padding-inline: var(--gap-5);
}

@media (--sm) {
  .px-sm-5 {
    padding-inline: var(--gap-5);
  }
}

@media (--md) {
  .px-md-5 {
    padding-inline: var(--gap-5);
  }
}

@media (--lg) {
  .px-lg-5 {
    padding-inline: var(--gap-5);
  }
}

@media (--xl) {
  .px-xl-5 {
    padding-inline: var(--gap-5);
  }
}

@media (--xxl) {
  .px-xxl-5 {
    padding-inline: var(--gap-5);
  }
}

// Padding-inline 6
.px-6 {
  padding-inline: var(--gap-6);
}

@media (--sm) {
  .px-sm-6 {
    padding-inline: var(--gap-6);
  }
}

@media (--md) {
  .px-md-6 {
    padding-inline: var(--gap-6);
  }
}

@media (--lg) {
  .px-lg-6 {
    padding-inline: var(--gap-6);
  }
}

@media (--xl) {
  .px-xl-6 {
    padding-inline: var(--gap-6);
  }
}

@media (--xxl) {
  .px-xxl-6 {
    padding-inline: var(--gap-6);
  }
}

// Padding-inline 7
.px-7 {
  padding-inline: var(--gap-7);
}

@media (--sm) {
  .px-sm-7 {
    padding-inline: var(--gap-7);
  }
}

@media (--md) {
  .px-md-7 {
    padding-inline: var(--gap-7);
  }
}

@media (--lg) {
  .px-lg-7 {
    padding-inline: var(--gap-7);
  }
}

@media (--xl) {
  .px-xl-7 {
    padding-inline: var(--gap-7);
  }
}

@media (--xxl) {
  .px-xxl-7 {
    padding-inline: var(--gap-7);
  }
}

// Padding-inline 8
.px-8 {
  padding-inline: var(--gap-8);
}

@media (--sm) {
  .px-sm-8 {
    padding-inline: var(--gap-8);
  }
}

@media (--md) {
  .px-md-8 {
    padding-inline: var(--gap-8);
  }
}

@media (--lg) {
  .px-lg-8 {
    padding-inline: var(--gap-8);
  }
}

@media (--xl) {
  .px-xl-8 {
    padding-inline: var(--gap-8);
  }
}

@media (--xxl) {
  .px-xxl-8 {
    padding-inline: var(--gap-8);
  }
}

// Padding-inline 9
.px-9 {
  padding-inline: var(--gap-9);
}

@media (--sm) {
  .px-sm-9 {
    padding-inline: var(--gap-9);
  }
}

@media (--md) {
  .px-md-9 {
    padding-inline: var(--gap-9);
  }
}

@media (--lg) {
  .px-lg-9 {
    padding-inline: var(--gap-9);
  }
}

@media (--xl) {
  .px-xl-9 {
    padding-inline: var(--gap-9);
  }
}

@media (--xxl) {
  .px-xxl-9 {
    padding-inline: var(--gap-9);
  }
}

// Padding-inline 10
.px-10 {
  padding-inline: var(--gap-10);
}

@media (--sm) {
  .px-sm-10 {
    padding-inline: var(--gap-10);
  }
}

@media (--md) {
  .px-md-10 {
    padding-inline: var(--gap-10);
  }
}

@media (--lg) {
  .px-lg-10 {
    padding-inline: var(--gap-10);
  }
}

@media (--xl) {
  .px-xl-10 {
    padding-inline: var(--gap-10);
  }
}

@media (--xxl) {
  .px-xxl-10 {
    padding-inline: var(--gap-10);
  }
}
