// Padding-block 0
.py-0 {
  padding-block: 0;
}

@media (--sm) {
  .py-sm-0 {
    padding-block: 0;
  }
}

@media (--md) {
  .py-md-0 {
    padding-block: 0;
  }
}

@media (--lg) {
  .py-lg-0 {
    padding-block: 0;
  }
}

@media (--xl) {
  .py-xl-0 {
    padding-block: 0;
  }
}

@media (--xxl) {
  .py-xxl-0 {
    padding-block: 0;
  }
}

// Padding-block 1
.py-1 {
  padding-block: var(--gap-1);
}

@media (--sm) {
  .py-sm-1 {
    padding-block: var(--gap-1);
  }
}

@media (--md) {
  .py-md-1 {
    padding-block: var(--gap-1);
  }
}

@media (--lg) {
  .py-lg-1 {
    padding-block: var(--gap-1);
  }
}

@media (--xl) {
  .py-xl-1 {
    padding-block: var(--gap-1);
  }
}

@media (--xxl) {
  .py-xxl-1 {
    padding-block: var(--gap-1);
  }
}

// Padding-block 2
.py-2 {
  padding-block: var(--gap-2);
}

@media (--sm) {
  .py-sm-2 {
    padding-block: var(--gap-2);
  }
}

@media (--md) {
  .py-md-2 {
    padding-block: var(--gap-2);
  }
}

@media (--lg) {
  .py-lg-2 {
    padding-block: var(--gap-2);
  }
}

@media (--xl) {
  .py-xl-2 {
    padding-block: var(--gap-2);
  }
}

@media (--xxl) {
  .py-xxl-2 {
    padding-block: var(--gap-2);
  }
}

// Padding-block 3
.py-3 {
  padding-block: var(--gap-3);
}

@media (--sm) {
  .py-sm-3 {
    padding-block: var(--gap-3);
  }
}

@media (--md) {
  .py-md-3 {
    padding-block: var(--gap-3);
  }
}

@media (--lg) {
  .py-lg-3 {
    padding-block: var(--gap-3);
  }
}

@media (--xl) {
  .py-xl-3 {
    padding-block: var(--gap-3);
  }
}

@media (--xxl) {
  .py-xxl-3 {
    padding-block: var(--gap-3);
  }
}

// Padding-block 4
.py-4 {
  padding-block: var(--gap-4);
}

@media (--sm) {
  .py-sm-4 {
    padding-block: var(--gap-4);
  }
}

@media (--md) {
  .py-md-4 {
    padding-block: var(--gap-4);
  }
}

@media (--lg) {
  .py-lg-4 {
    padding-block: var(--gap-4);
  }
}

@media (--xl) {
  .py-xl-4 {
    padding-block: var(--gap-4);
  }
}

@media (--xxl) {
  .py-xxl-4 {
    padding-block: var(--gap-4);
  }
}

// Padding-block 5
.py-5 {
  padding-block: var(--gap-5);
}

@media (--sm) {
  .py-sm-5 {
    padding-block: var(--gap-5);
  }
}

@media (--md) {
  .py-md-5 {
    padding-block: var(--gap-5);
  }
}

@media (--lg) {
  .py-lg-5 {
    padding-block: var(--gap-5);
  }
}

@media (--xl) {
  .py-xl-5 {
    padding-block: var(--gap-5);
  }
}

@media (--xxl) {
  .py-xxl-5 {
    padding-block: var(--gap-5);
  }
}

// Padding-block 6
.py-6 {
  padding-block: var(--gap-6);
}

@media (--sm) {
  .py-sm-6 {
    padding-block: var(--gap-6);
  }
}

@media (--md) {
  .py-md-6 {
    padding-block: var(--gap-6);
  }
}

@media (--lg) {
  .py-lg-6 {
    padding-block: var(--gap-6);
  }
}

@media (--xl) {
  .py-xl-6 {
    padding-block: var(--gap-6);
  }
}

@media (--xxl) {
  .py-xxl-6 {
    padding-block: var(--gap-6);
  }
}

// Padding-block 7
.py-7 {
  padding-block: var(--gap-7);
}

@media (--sm) {
  .py-sm-7 {
    padding-block: var(--gap-7);
  }
}

@media (--md) {
  .py-md-7 {
    padding-block: var(--gap-7);
  }
}

@media (--lg) {
  .py-lg-7 {
    padding-block: var(--gap-7);
  }
}

@media (--xl) {
  .py-xl-7 {
    padding-block: var(--gap-7);
  }
}

@media (--xxl) {
  .py-xxl-7 {
    padding-block: var(--gap-7);
  }
}

// Padding-block 8
.py-8 {
  padding-block: var(--gap-8);
}

@media (--sm) {
  .py-sm-8 {
    padding-block: var(--gap-8);
  }
}

@media (--md) {
  .py-md-8 {
    padding-block: var(--gap-8);
  }
}

@media (--lg) {
  .py-lg-8 {
    padding-block: var(--gap-8);
  }
}

@media (--xl) {
  .py-xl-8 {
    padding-block: var(--gap-8);
  }
}

@media (--xxl) {
  .py-xxl-8 {
    padding-block: var(--gap-8);
  }
}

// Padding-block 9
.py-9 {
  padding-block: var(--gap-9);
}

@media (--sm) {
  .py-sm-9 {
    padding-block: var(--gap-9);
  }
}

@media (--md) {
  .py-md-9 {
    padding-block: var(--gap-9);
  }
}

@media (--lg) {
  .py-lg-9 {
    padding-block: var(--gap-9);
  }
}

@media (--xl) {
  .py-xl-9 {
    padding-block: var(--gap-9);
  }
}

@media (--xxl) {
  .py-xxl-9 {
    padding-block: var(--gap-9);
  }
}

// Padding-block 10
.py-10 {
  padding-block: var(--gap-10);
}

@media (--sm) {
  .py-sm-10 {
    padding-block: var(--gap-10);
  }
}

@media (--md) {
  .py-md-10 {
    padding-block: var(--gap-10);
  }
}

@media (--lg) {
  .py-lg-10 {
    padding-block: var(--gap-10);
  }
}

@media (--xl) {
  .py-xl-10 {
    padding-block: var(--gap-10);
  }
}

@media (--xxl) {
  .py-xxl-10 {
    padding-block: var(--gap-10);
  }
}
