// padding-inline-end Negative 1
.pe-n1 {
  padding-inline-end: var(--gap-neg-1);
}

@media (--sm) {
  .pe-sm-n1 {
    padding-inline-end: var(--gap-neg-1);
  }
}

@media (--md) {
  .pe-md-n1 {
    padding-inline-end: var(--gap-neg-1);
  }
}

@media (--lg) {
  .pe-lg-n1 {
    padding-inline-end: var(--gap-neg-1);
  }
}

@media (--xl) {
  .pe-xl-n1 {
    padding-inline-end: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .pe-xxl-n1 {
    padding-inline-end: var(--gap-neg-1);
  }
}

// padding-inline-end Negative 2
.pe-n2 {
  padding-inline-end: var(--gap-neg-2);
}

@media (--sm) {
  .pe-sm-n2 {
    padding-inline-end: var(--gap-neg-2);
  }
}

@media (--md) {
  .pe-md-n2 {
    padding-inline-end: var(--gap-neg-2);
  }
}

@media (--lg) {
  .pe-lg-n2 {
    padding-inline-end: var(--gap-neg-2);
  }
}

@media (--xl) {
  .pe-xl-n2 {
    padding-inline-end: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .pe-xxl-n2 {
    padding-inline-end: var(--gap-neg-2);
  }
}

// padding-inline-end Negative 3
.pe-n3 {
  padding-inline-end: var(--gap-neg-3);
}

@media (--sm) {
  .pe-sm-n3 {
    padding-inline-end: var(--gap-neg-3);
  }
}

@media (--md) {
  .pe-md-n3 {
    padding-inline-end: var(--gap-neg-3);
  }
}

@media (--lg) {
  .pe-lg-n3 {
    padding-inline-end: var(--gap-neg-3);
  }
}

@media (--xl) {
  .pe-xl-n3 {
    padding-inline-end: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .pe-xxl-n3 {
    padding-inline-end: var(--gap-neg-3);
  }
}

// padding-inline-end Negative 4
.pe-n4 {
  padding-inline-end: var(--gap-neg-4);
}

@media (--sm) {
  .pe-sm-n4 {
    padding-inline-end: var(--gap-neg-4);
  }
}

@media (--md) {
  .pe-md-n4 {
    padding-inline-end: var(--gap-neg-4);
  }
}

@media (--lg) {
  .pe-lg-n4 {
    padding-inline-end: var(--gap-neg-4);
  }
}

@media (--xl) {
  .pe-xl-n4 {
    padding-inline-end: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .pe-xxl-n4 {
    padding-inline-end: var(--gap-neg-4);
  }
}

// padding-inline-end Negative 5
.pe-n5 {
  padding-inline-end: var(--gap-neg-5);
}

@media (--sm) {
  .pe-sm-n5 {
    padding-inline-end: var(--gap-neg-5);
  }
}

@media (--md) {
  .pe-md-n5 {
    padding-inline-end: var(--gap-neg-5);
  }
}

@media (--lg) {
  .pe-lg-n5 {
    padding-inline-end: var(--gap-neg-5);
  }
}

@media (--xl) {
  .pe-xl-n5 {
    padding-inline-end: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .pe-xxl-n5 {
    padding-inline-end: var(--gap-neg-5);
  }
}

// padding-inline-end Negative 6
.pe-n6 {
  padding-inline-end: var(--gap-neg-6);
}

@media (--sm) {
  .pe-sm-n6 {
    padding-inline-end: var(--gap-neg-6);
  }
}

@media (--md) {
  .pe-md-n6 {
    padding-inline-end: var(--gap-neg-6);
  }
}

@media (--lg) {
  .pe-lg-n6 {
    padding-inline-end: var(--gap-neg-6);
  }
}

@media (--xl) {
  .pe-xl-n6 {
    padding-inline-end: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .pe-xxl-n6 {
    padding-inline-end: var(--gap-neg-6);
  }
}

// padding-inline-end Negative 7
.pe-n7 {
  padding-inline-end: var(--gap-neg-7);
}

@media (--sm) {
  .pe-sm-n7 {
    padding-inline-end: var(--gap-neg-7);
  }
}

@media (--md) {
  .pe-md-n7 {
    padding-inline-end: var(--gap-neg-7);
  }
}

@media (--lg) {
  .pe-lg-n7 {
    padding-inline-end: var(--gap-neg-7);
  }
}

@media (--xl) {
  .pe-xl-n7 {
    padding-inline-end: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .pe-xxl-n7 {
    padding-inline-end: var(--gap-neg-7);
  }
}

// padding-inline-end Negative 8
.pe-n8 {
  padding-inline-end: var(--gap-neg-8);
}

@media (--sm) {
  .pe-sm-n8 {
    padding-inline-end: var(--gap-neg-8);
  }
}

@media (--md) {
  .pe-md-n8 {
    padding-inline-end: var(--gap-neg-8);
  }
}

@media (--lg) {
  .pe-lg-n8 {
    padding-inline-end: var(--gap-neg-8);
  }
}

@media (--xl) {
  .pe-xl-n8 {
    padding-inline-end: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .pe-xxl-n8 {
    padding-inline-end: var(--gap-neg-8);
  }
}

// padding-inline-end Negative 9
.pe-n9 {
  padding-inline-end: var(--gap-neg-9);
}

@media (--sm) {
  .pe-sm-n9 {
    padding-inline-end: var(--gap-neg-9);
  }
}

@media (--md) {
  .pe-md-n9 {
    padding-inline-end: var(--gap-neg-9);
  }
}

@media (--lg) {
  .pe-lg-n9 {
    padding-inline-end: var(--gap-neg-9);
  }
}

@media (--xl) {
  .pe-xl-n9 {
    padding-inline-end: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .pe-xxl-n9 {
    padding-inline-end: var(--gap-neg-9);
  }
}

// padding-inline-end Negative 10
.pe-n10 {
  padding-inline-end: var(--gap-neg-10);
}

@media (--sm) {
  .pe-sm-n10 {
    padding-inline-end: var(--gap-neg-10);
  }
}

@media (--md) {
  .pe-md-n10 {
    padding-inline-end: var(--gap-neg-10);
  }
}

@media (--lg) {
  .pe-lg-n10 {
    padding-inline-end: var(--gap-neg-10);
  }
}

@media (--xl) {
  .pe-xl-n10 {
    padding-inline-end: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .pe-xxl-n10 {
    padding-inline-end: var(--gap-neg-10);
  }
}
