// Padding-block-end 0
.pb-0 {
  padding-block-end: 0;
}

@media (--sm) {
  .pb-sm-0 {
    padding-block-end: 0;
  }
}

@media (--md) {
  .pb-md-0 {
    padding-block-end: 0;
  }
}

@media (--lg) {
  .pb-lg-0 {
    padding-block-end: 0;
  }
}

@media (--xl) {
  .pb-xl-0 {
    padding-block-end: 0;
  }
}

@media (--xxl) {
  .pb-xxl-0 {
    padding-block-end: 0;
  }
}

// Padding-block-end 1
.pb-1 {
  padding-block-end: var(--spacer-1);
}

@media (--sm) {
  .pb-sm-1 {
    padding-block-end: var(--spacer-1);
  }
}

@media (--md) {
  .pb-md-1 {
    padding-block-end: var(--spacer-1);
  }
}

@media (--lg) {
  .pb-lg-1 {
    padding-block-end: var(--spacer-1);
  }
}

@media (--xl) {
  .pb-xl-1 {
    padding-block-end: var(--spacer-1);
  }
}

@media (--xxl) {
  .pb-xxl-1 {
    padding-block-end: var(--spacer-1);
  }
}

// Padding-block-end 2
.pb-2 {
  padding-block-end: var(--spacer-2);
}

@media (--sm) {
  .pb-sm-2 {
    padding-block-end: var(--spacer-2);
  }
}

@media (--md) {
  .pb-md-2 {
    padding-block-end: var(--spacer-2);
  }
}

@media (--lg) {
  .pb-lg-2 {
    padding-block-end: var(--spacer-2);
  }
}

@media (--xl) {
  .pb-xl-2 {
    padding-block-end: var(--spacer-2);
  }
}

@media (--xxl) {
  .pb-xxl-2 {
    padding-block-end: var(--spacer-2);
  }
}

// Padding-block-end 3
.pb-3 {
  padding-block-end: var(--spacer-3);
}

@media (--sm) {
  .pb-sm-3 {
    padding-block-end: var(--spacer-3);
  }
}

@media (--md) {
  .pb-md-3 {
    padding-block-end: var(--spacer-3);
  }
}

@media (--lg) {
  .pb-lg-3 {
    padding-block-end: var(--spacer-3);
  }
}

@media (--xl) {
  .pb-xl-3 {
    padding-block-end: var(--spacer-3);
  }
}

@media (--xxl) {
  .pb-xxl-3 {
    padding-block-end: var(--spacer-3);
  }
}

// Padding-block-end 4
.pb-4 {
  padding-block-end: var(--spacer-4);
}

@media (--sm) {
  .pb-sm-4 {
    padding-block-end: var(--spacer-4);
  }
}

@media (--md) {
  .pb-md-4 {
    padding-block-end: var(--spacer-4);
  }
}

@media (--lg) {
  .pb-lg-4 {
    padding-block-end: var(--spacer-4);
  }
}

@media (--xl) {
  .pb-xl-4 {
    padding-block-end: var(--spacer-4);
  }
}

@media (--xxl) {
  .pb-xxl-4 {
    padding-block-end: var(--spacer-4);
  }
}

// Padding-block-end 5
.pb-5 {
  padding-block-end: var(--spacer-5);
}

@media (--sm) {
  .pb-sm-5 {
    padding-block-end: var(--spacer-5);
  }
}

@media (--md) {
  .pb-md-5 {
    padding-block-end: var(--spacer-5);
  }
}

@media (--lg) {
  .pb-lg-5 {
    padding-block-end: var(--spacer-5);
  }
}

@media (--xl) {
  .pb-xl-5 {
    padding-block-end: var(--spacer-5);
  }
}

@media (--xxl) {
  .pb-xxl-5 {
    padding-block-end: var(--spacer-5);
  }
}

// Padding-block-end 6
.pb-6 {
  padding-block-end: var(--spacer-6);
}

@media (--sm) {
  .pb-sm-6 {
    padding-block-end: var(--spacer-6);
  }
}

@media (--md) {
  .pb-md-6 {
    padding-block-end: var(--spacer-6);
  }
}

@media (--lg) {
  .pb-lg-6 {
    padding-block-end: var(--spacer-6);
  }
}

@media (--xl) {
  .pb-xl-6 {
    padding-block-end: var(--spacer-6);
  }
}

@media (--xxl) {
  .pb-xxl-6 {
    padding-block-end: var(--spacer-6);
  }
}

// Padding-block-end 7
.pb-7 {
  padding-block-end: var(--spacer-7);
}

@media (--sm) {
  .pb-sm-7 {
    padding-block-end: var(--spacer-7);
  }
}

@media (--md) {
  .pb-md-7 {
    padding-block-end: var(--spacer-7);
  }
}

@media (--lg) {
  .pb-lg-7 {
    padding-block-end: var(--spacer-7);
  }
}

@media (--xl) {
  .pb-xl-7 {
    padding-block-end: var(--spacer-7);
  }
}

@media (--xxl) {
  .pb-xxl-7 {
    padding-block-end: var(--spacer-7);
  }
}

// Padding-block-end 8
.pb-8 {
  padding-block-end: var(--spacer-8);
}

@media (--sm) {
  .pb-sm-8 {
    padding-block-end: var(--spacer-8);
  }
}

@media (--md) {
  .pb-md-8 {
    padding-block-end: var(--spacer-8);
  }
}

@media (--lg) {
  .pb-lg-8 {
    padding-block-end: var(--spacer-8);
  }
}

@media (--xl) {
  .pb-xl-8 {
    padding-block-end: var(--spacer-8);
  }
}

@media (--xxl) {
  .pb-xxl-8 {
    padding-block-end: var(--spacer-8);
  }
}

// Padding-block-end 9
.pb-9 {
  padding-block-end: var(--spacer-9);
}

@media (--sm) {
  .pb-sm-9 {
    padding-block-end: var(--spacer-9);
  }
}

@media (--md) {
  .pb-md-9 {
    padding-block-end: var(--spacer-9);
  }
}

@media (--lg) {
  .pb-lg-9 {
    padding-block-end: var(--spacer-9);
  }
}

@media (--xl) {
  .pb-xl-9 {
    padding-block-end: var(--spacer-9);
  }
}

@media (--xxl) {
  .pb-xxl-9 {
    padding-block-end: var(--spacer-9);
  }
}

// Padding-block-end 10
.pb-10 {
  padding-block-end: var(--spacer-10);
}

@media (--sm) {
  .pb-sm-10 {
    padding-block-end: var(--spacer-10);
  }
}

@media (--md) {
  .pb-md-10 {
    padding-block-end: var(--spacer-10);
  }
}

@media (--lg) {
  .pb-lg-10 {
    padding-block-end: var(--spacer-10);
  }
}

@media (--xl) {
  .pb-xl-10 {
    padding-block-end: var(--spacer-10);
  }
}

@media (--xxl) {
  .pb-xxl-10 {
    padding-block-end: var(--spacer-10);
  }
}

// Padding-block-end 12
.pb-12 {
  padding-block-end: var(--spacer-12);
}

@media (--sm) {
  .pb-sm-12 {
    padding-block-end: var(--spacer-12);
  }
}

@media (--md) {
  .pb-md-12 {
    padding-block-end: var(--spacer-12);
  }
}

@media (--lg) {
  .pb-lg-12 {
    padding-block-end: var(--spacer-12);
  }
}

@media (--xl) {
  .pb-xl-12 {
    padding-block-end: var(--spacer-12);
  }
}

@media (--xxl) {
  .pb-xxl-12 {
    padding-block-end: var(--spacer-12);
  }
}

// Padding-block-end 14
.pb-14 {
  padding-block-end: var(--spacer-14);
}

@media (--sm) {
  .pb-sm-14 {
    padding-block-end: var(--spacer-14);
  }
}

@media (--md) {
  .pb-md-14 {
    padding-block-end: var(--spacer-14);
  }
}

@media (--lg) {
  .pb-lg-14 {
    padding-block-end: var(--spacer-14);
  }
}

@media (--xl) {
  .pb-xl-14 {
    padding-block-end: var(--spacer-14);
  }
}

@media (--xxl) {
  .pb-xxl-14 {
    padding-block-end: var(--spacer-14);
  }
}

// Padding-block-end 16
.pb-16 {
  padding-block-end: var(--spacer-16);
}

@media (--sm) {
  .pb-sm-16 {
    padding-block-end: var(--spacer-16);
  }
}

@media (--md) {
  .pb-md-16 {
    padding-block-end: var(--spacer-16);
  }
}

@media (--lg) {
  .pb-lg-16 {
    padding-block-end: var(--spacer-16);
  }
}

@media (--xl) {
  .pb-xl-16 {
    padding-block-end: var(--spacer-16);
  }
}

@media (--xxl) {
  .pb-xxl-16 {
    padding-block-end: var(--spacer-16);
  }
}

// Padding-block-end 20
.pb-20 {
  padding-block-end: var(--spacer-20);
}

@media (--sm) {
  .pb-sm-20 {
    padding-block-end: var(--spacer-20);
  }
}

@media (--md) {
  .pb-md-20 {
    padding-block-end: var(--spacer-20);
  }
}

@media (--lg) {
  .pb-lg-20 {
    padding-block-end: var(--spacer-20);
  }
}

@media (--xl) {
  .pb-xl-20 {
    padding-block-end: var(--spacer-20);
  }
}

@media (--xxl) {
  .pb-xxl-20 {
    padding-block-end: var(--spacer-20);
  }
}

// Padding-block-end 24
.pb-24 {
  padding-block-end: var(--spacer-24);
}

@media (--sm) {
  .pb-sm-24 {
    padding-block-end: var(--spacer-24);
  }
}

@media (--md) {
  .pb-md-24 {
    padding-block-end: var(--spacer-24);
  }
}

@media (--lg) {
  .pb-lg-24 {
    padding-block-end: var(--spacer-24);
  }
}

@media (--xl) {
  .pb-xl-24 {
    padding-block-end: var(--spacer-24);
  }
}

@media (--xxl) {
  .pb-xxl-24 {
    padding-block-end: var(--spacer-24);
  }
}

// Padding-block-end 28
.pb-28 {
  padding-block-end: var(--spacer-28);
}

@media (--sm) {
  .pb-sm-28 {
    padding-block-end: var(--spacer-28);
  }
}

@media (--md) {
  .pb-md-28 {
    padding-block-end: var(--spacer-28);
  }
}

@media (--lg) {
  .pb-lg-28 {
    padding-block-end: var(--spacer-28);
  }
}

@media (--xl) {
  .pb-xl-28 {
    padding-block-end: var(--spacer-28);
  }
}

@media (--xxl) {
  .pb-xxl-28 {
    padding-block-end: var(--spacer-28);
  }
}

// Padding-block-end 32
.pb-32 {
  padding-block-end: var(--spacer-32);
}

@media (--sm) {
  .pb-sm-32 {
    padding-block-end: var(--spacer-32);
  }
}

@media (--md) {
  .pb-md-32 {
    padding-block-end: var(--spacer-32);
  }
}

@media (--lg) {
  .pb-lg-32 {
    padding-block-end: var(--spacer-32);
  }
}

@media (--xl) {
  .pb-xl-32 {
    padding-block-end: var(--spacer-32);
  }
}

@media (--xxl) {
  .pb-xxl-32 {
    padding-block-end: var(--spacer-32);
  }
}

// Padding-block-end 36
.pb-36 {
  padding-block-end: var(--spacer-36);
}

@media (--sm) {
  .pb-sm-36 {
    padding-block-end: var(--spacer-36);
  }
}

@media (--md) {
  .pb-md-36 {
    padding-block-end: var(--spacer-36);
  }
}

@media (--lg) {
  .pb-lg-36 {
    padding-block-end: var(--spacer-36);
  }
}

@media (--xl) {
  .pb-xl-36 {
    padding-block-end: var(--spacer-36);
  }
}

@media (--xxl) {
  .pb-xxl-36 {
    padding-block-end: var(--spacer-36);
  }
}

// Padding-block-end 40
.pb-40 {
  padding-block-end: var(--spacer-40);
}

@media (--sm) {
  .pb-sm-40 {
    padding-block-end: var(--spacer-40);
  }
}

@media (--md) {
  .pb-md-40 {
    padding-block-end: var(--spacer-40);
  }
}

@media (--lg) {
  .pb-lg-40 {
    padding-block-end: var(--spacer-40);
  }
}

@media (--xl) {
  .pb-xl-40 {
    padding-block-end: var(--spacer-40);
  }
}

@media (--xxl) {
  .pb-xxl-40 {
    padding-block-end: var(--spacer-40);
  }
}

// Padding-block-end 44
.pb-44 {
  padding-block-end: var(--spacer-44);
}

@media (--sm) {
  .pb-sm-44 {
    padding-block-end: var(--spacer-44);
  }
}

@media (--md) {
  .pb-md-44 {
    padding-block-end: var(--spacer-44);
  }
}

@media (--lg) {
  .pb-lg-44 {
    padding-block-end: var(--spacer-44);
  }
}

@media (--xl) {
  .pb-xl-44 {
    padding-block-end: var(--spacer-44);
  }
}

@media (--xxl) {
  .pb-xxl-44 {
    padding-block-end: var(--spacer-44);
  }
}

// Padding-block-end 48
.pb-48 {
  padding-block-end: var(--spacer-48);
}

@media (--sm) {
  .pb-sm-48 {
    padding-block-end: var(--spacer-48);
  }
}

@media (--md) {
  .pb-md-48 {
    padding-block-end: var(--spacer-48);
  }
}

@media (--lg) {
  .pb-lg-48 {
    padding-block-end: var(--spacer-48);
  }
}

@media (--xl) {
  .pb-xl-48 {
    padding-block-end: var(--spacer-48);
  }
}

@media (--xxl) {
  .pb-xxl-48 {
    padding-block-end: var(--spacer-48);
  }
}

// Padding-block-end 52
.pb-52 {
  padding-block-end: var(--spacer-52);
}

@media (--sm) {
  .pb-sm-52 {
    padding-block-end: var(--spacer-52);
  }
}

@media (--md) {
  .pb-md-52 {
    padding-block-end: var(--spacer-52);
  }
}

@media (--lg) {
  .pb-lg-52 {
    padding-block-end: var(--spacer-52);
  }
}

@media (--xl) {
  .pb-xl-52 {
    padding-block-end: var(--spacer-52);
  }
}

@media (--xxl) {
  .pb-xxl-52 {
    padding-block-end: var(--spacer-52);
  }
}

// Padding-block-end 56
.pb-56 {
  padding-block-end: var(--spacer-56);
}

@media (--sm) {
  .pb-sm-56 {
    padding-block-end: var(--spacer-56);
  }
}

@media (--md) {
  .pb-md-56 {
    padding-block-end: var(--spacer-56);
  }
}

@media (--lg) {
  .pb-lg-56 {
    padding-block-end: var(--spacer-56);
  }
}

@media (--xl) {
  .pb-xl-56 {
    padding-block-end: var(--spacer-56);
  }
}

@media (--xxl) {
  .pb-xxl-56 {
    padding-block-end: var(--spacer-56);
  }
}

// Padding-block-end 60
.pb-60 {
  padding-block-end: var(--spacer-60);
}

@media (--sm) {
  .pb-sm-60 {
    padding-block-end: var(--spacer-60);
  }
}

@media (--md) {
  .pb-md-60 {
    padding-block-end: var(--spacer-60);
  }
}

@media (--lg) {
  .pb-lg-60 {
    padding-block-end: var(--spacer-60);
  }
}

@media (--xl) {
  .pb-xl-60 {
    padding-block-end: var(--spacer-60);
  }
}

@media (--xxl) {
  .pb-xxl-60 {
    padding-block-end: var(--spacer-60);
  }
}

// Padding-block-end 64
.pb-64 {
  padding-block-end: var(--spacer-64);
}

@media (--sm) {
  .pb-sm-64 {
    padding-block-end: var(--spacer-64);
  }
}

@media (--md) {
  .pb-md-64 {
    padding-block-end: var(--spacer-64);
  }
}

@media (--lg) {
  .pb-lg-64 {
    padding-block-end: var(--spacer-64);
  }
}

@media (--xl) {
  .pb-xl-64 {
    padding-block-end: var(--spacer-64);
  }
}

@media (--xxl) {
  .pb-xxl-64 {
    padding-block-end: var(--spacer-64);
  }
}

// Padding-block-end 72
.pb-72 {
  padding-block-end: var(--spacer-72);
}

@media (--sm) {
  .pb-sm-72 {
    padding-block-end: var(--spacer-72);
  }
}

@media (--md) {
  .pb-md-72 {
    padding-block-end: var(--spacer-72);
  }
}

@media (--lg) {
  .pb-lg-72 {
    padding-block-end: var(--spacer-72);
  }
}

@media (--xl) {
  .pb-xl-72 {
    padding-block-end: var(--spacer-72);
  }
}

@media (--xxl) {
  .pb-xxl-72 {
    padding-block-end: var(--spacer-72);
  }
}

// Padding-block-end 80
.pb-80 {
  padding-block-end: var(--spacer-80);
}

@media (--sm) {
  .pb-sm-80 {
    padding-block-end: var(--spacer-80);
  }
}

@media (--md) {
  .pb-md-80 {
    padding-block-end: var(--spacer-80);
  }
}

@media (--lg) {
  .pb-lg-80 {
    padding-block-end: var(--spacer-80);
  }
}

@media (--xl) {
  .pb-xl-80 {
    padding-block-end: var(--spacer-80);
  }
}

@media (--xxl) {
  .pb-xxl-80 {
    padding-block-end: var(--spacer-80);
  }
}

// Padding-block-end 96
.pb-96 {
  padding-block-end: var(--spacer-96);
}

@media (--sm) {
  .pb-sm-96 {
    padding-block-end: var(--spacer-96);
  }
}

@media (--md) {
  .pb-md-96 {
    padding-block-end: var(--spacer-96);
  }
}

@media (--lg) {
  .pb-lg-96 {
    padding-block-end: var(--spacer-96);
  }
}

@media (--xl) {
  .pb-xl-96 {
    padding-block-end: var(--spacer-96);
  }
}

@media (--xxl) {
  .pb-xxl-96 {
    padding-block-end: var(--spacer-96);
  }
}
