// Padding 0
.p-0 {
  padding: 0;
}

@media (--sm) {
  .p-sm-0 {
    padding: 0;
  }
}

@media (--md) {
  .p-md-0 {
    padding: 0;
  }
}

@media (--lg) {
  .p-lg-0 {
    padding: 0;
  }
}

@media (--xl) {
  .p-xl-0 {
    padding: 0;
  }
}

@media (--xxl) {
  .p-xxl-0 {
    padding: 0;
  }
}

// Padding 1
.p-1 {
  padding: var(--gap-1);
}

@media (--sm) {
  .p-sm-1 {
    padding: var(--gap-1);
  }
}

@media (--md) {
  .p-md-1 {
    padding: var(--gap-1);
  }
}

@media (--lg) {
  .p-lg-1 {
    padding: var(--gap-1);
  }
}

@media (--xl) {
  .p-xl-1 {
    padding: var(--gap-1);
  }
}

@media (--xxl) {
  .p-xxl-1 {
    padding: var(--gap-1);
  }
}

// Padding 2
.p-2 {
  padding: var(--gap-2);
}

@media (--sm) {
  .p-sm-2 {
    padding: var(--gap-2);
  }
}

@media (--md) {
  .p-md-2 {
    padding: var(--gap-2);
  }
}

@media (--lg) {
  .p-lg-2 {
    padding: var(--gap-2);
  }
}

@media (--xl) {
  .p-xl-2 {
    padding: var(--gap-2);
  }
}

@media (--xxl) {
  .p-xxl-2 {
    padding: var(--gap-2);
  }
}

// Padding 3
.p-3 {
  padding: var(--gap-3);
}

@media (--sm) {
  .p-sm-3 {
    padding: var(--gap-3);
  }
}

@media (--md) {
  .p-md-3 {
    padding: var(--gap-3);
  }
}

@media (--lg) {
  .p-lg-3 {
    padding: var(--gap-3);
  }
}

@media (--xl) {
  .p-xl-3 {
    padding: var(--gap-3);
  }
}

@media (--xxl) {
  .p-xxl-3 {
    padding: var(--gap-3);
  }
}

// Padding 4
.p-4 {
  padding: var(--gap-4);
}

@media (--sm) {
  .p-sm-4 {
    padding: var(--gap-4);
  }
}

@media (--md) {
  .p-md-4 {
    padding: var(--gap-4);
  }
}

@media (--lg) {
  .p-lg-4 {
    padding: var(--gap-4);
  }
}

@media (--xl) {
  .p-xl-4 {
    padding: var(--gap-4);
  }
}

@media (--xxl) {
  .p-xxl-4 {
    padding: var(--gap-4);
  }
}

// Padding 5
.p-5 {
  padding: var(--gap-5);
}

@media (--sm) {
  .p-sm-5 {
    padding: var(--gap-5);
  }
}

@media (--md) {
  .p-md-5 {
    padding: var(--gap-5);
  }
}

@media (--lg) {
  .p-lg-5 {
    padding: var(--gap-5);
  }
}

@media (--xl) {
  .p-xl-5 {
    padding: var(--gap-5);
  }
}

@media (--xxl) {
  .p-xxl-5 {
    padding: var(--gap-5);
  }
}

// Padding 6
.p-6 {
  padding: var(--gap-6);
}

@media (--sm) {
  .p-sm-6 {
    padding: var(--gap-6);
  }
}

@media (--md) {
  .p-md-6 {
    padding: var(--gap-6);
  }
}

@media (--lg) {
  .p-lg-6 {
    padding: var(--gap-6);
  }
}

@media (--xl) {
  .p-xl-6 {
    padding: var(--gap-6);
  }
}

@media (--xxl) {
  .p-xxl-6 {
    padding: var(--gap-6);
  }
}

// Padding 7
.p-7 {
  padding: var(--gap-7);
}

@media (--sm) {
  .p-sm-7 {
    padding: var(--gap-7);
  }
}

@media (--md) {
  .p-md-7 {
    padding: var(--gap-7);
  }
}

@media (--lg) {
  .p-lg-7 {
    padding: var(--gap-7);
  }
}

@media (--xl) {
  .p-xl-7 {
    padding: var(--gap-7);
  }
}

@media (--xxl) {
  .p-xxl-7 {
    padding: var(--gap-7);
  }
}

// Padding 8
.p-8 {
  padding: var(--gap-8);
}

@media (--sm) {
  .p-sm-8 {
    padding: var(--gap-8);
  }
}

@media (--md) {
  .p-md-8 {
    padding: var(--gap-8);
  }
}

@media (--lg) {
  .p-lg-8 {
    padding: var(--gap-8);
  }
}

@media (--xl) {
  .p-xl-8 {
    padding: var(--gap-8);
  }
}

@media (--xxl) {
  .p-xxl-8 {
    padding: var(--gap-8);
  }
}

// Padding 9
.p-9 {
  padding: var(--gap-9);
}

@media (--sm) {
  .p-sm-9 {
    padding: var(--gap-9);
  }
}

@media (--md) {
  .p-md-9 {
    padding: var(--gap-9);
  }
}

@media (--lg) {
  .p-lg-9 {
    padding: var(--gap-9);
  }
}

@media (--xl) {
  .p-xl-9 {
    padding: var(--gap-9);
  }
}

@media (--xxl) {
  .p-xxl-9 {
    padding: var(--gap-9);
  }
}

// Padding 10
.p-10 {
  padding: var(--gap-10);
}

@media (--sm) {
  .p-sm-10 {
    padding: var(--gap-10);
  }
}

@media (--md) {
  .p-md-10 {
    padding: var(--gap-10);
  }
}

@media (--lg) {
  .p-lg-10 {
    padding: var(--gap-10);
  }
}

@media (--xl) {
  .p-xl-10 {
    padding: var(--gap-10);
  }
}

@media (--xxl) {
  .p-xxl-10 {
    padding: var(--gap-10);
  }
}
