// padding-block Negative 1
.py-n1 {
  padding-block: var(--gap-neg-1);
}

@media (--sm) {
  .py-sm-n1 {
    padding-block: var(--gap-neg-1);
  }
}

@media (--md) {
  .py-md-n1 {
    padding-block: var(--gap-neg-1);
  }
}

@media (--lg) {
  .py-lg-n1 {
    padding-block: var(--gap-neg-1);
  }
}

@media (--xl) {
  .py-xl-n1 {
    padding-block: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .py-xxl-n1 {
    padding-block: var(--gap-neg-1);
  }
}

// padding-block Negative 2
.py-n2 {
  padding-block: var(--gap-neg-2);
}

@media (--sm) {
  .py-sm-n2 {
    padding-block: var(--gap-neg-2);
  }
}

@media (--md) {
  .py-md-n2 {
    padding-block: var(--gap-neg-2);
  }
}

@media (--lg) {
  .py-lg-n2 {
    padding-block: var(--gap-neg-2);
  }
}

@media (--xl) {
  .py-xl-n2 {
    padding-block: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .py-xxl-n2 {
    padding-block: var(--gap-neg-2);
  }
}

// padding-block Negative 3
.py-n3 {
  padding-block: var(--gap-neg-3);
}

@media (--sm) {
  .py-sm-n3 {
    padding-block: var(--gap-neg-3);
  }
}

@media (--md) {
  .py-md-n3 {
    padding-block: var(--gap-neg-3);
  }
}

@media (--lg) {
  .py-lg-n3 {
    padding-block: var(--gap-neg-3);
  }
}

@media (--xl) {
  .py-xl-n3 {
    padding-block: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .py-xxl-n3 {
    padding-block: var(--gap-neg-3);
  }
}

// padding-block Negative 4
.py-n4 {
  padding-block: var(--gap-neg-4);
}

@media (--sm) {
  .py-sm-n4 {
    padding-block: var(--gap-neg-4);
  }
}

@media (--md) {
  .py-md-n4 {
    padding-block: var(--gap-neg-4);
  }
}

@media (--lg) {
  .py-lg-n4 {
    padding-block: var(--gap-neg-4);
  }
}

@media (--xl) {
  .py-xl-n4 {
    padding-block: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .py-xxl-n4 {
    padding-block: var(--gap-neg-4);
  }
}

// padding-block Negative 5
.py-n5 {
  padding-block: var(--gap-neg-5);
}

@media (--sm) {
  .py-sm-n5 {
    padding-block: var(--gap-neg-5);
  }
}

@media (--md) {
  .py-md-n5 {
    padding-block: var(--gap-neg-5);
  }
}

@media (--lg) {
  .py-lg-n5 {
    padding-block: var(--gap-neg-5);
  }
}

@media (--xl) {
  .py-xl-n5 {
    padding-block: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .py-xxl-n5 {
    padding-block: var(--gap-neg-5);
  }
}

// padding-block Negative 6
.py-n6 {
  padding-block: var(--gap-neg-6);
}

@media (--sm) {
  .py-sm-n6 {
    padding-block: var(--gap-neg-6);
  }
}

@media (--md) {
  .py-md-n6 {
    padding-block: var(--gap-neg-6);
  }
}

@media (--lg) {
  .py-lg-n6 {
    padding-block: var(--gap-neg-6);
  }
}

@media (--xl) {
  .py-xl-n6 {
    padding-block: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .py-xxl-n6 {
    padding-block: var(--gap-neg-6);
  }
}

// padding-block Negative 7
.py-n7 {
  padding-block: var(--gap-neg-7);
}

@media (--sm) {
  .py-sm-n7 {
    padding-block: var(--gap-neg-7);
  }
}

@media (--md) {
  .py-md-n7 {
    padding-block: var(--gap-neg-7);
  }
}

@media (--lg) {
  .py-lg-n7 {
    padding-block: var(--gap-neg-7);
  }
}

@media (--xl) {
  .py-xl-n7 {
    padding-block: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .py-xxl-n7 {
    padding-block: var(--gap-neg-7);
  }
}

// padding-block Negative 8
.py-n8 {
  padding-block: var(--gap-neg-8);
}

@media (--sm) {
  .py-sm-n8 {
    padding-block: var(--gap-neg-8);
  }
}

@media (--md) {
  .py-md-n8 {
    padding-block: var(--gap-neg-8);
  }
}

@media (--lg) {
  .py-lg-n8 {
    padding-block: var(--gap-neg-8);
  }
}

@media (--xl) {
  .py-xl-n8 {
    padding-block: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .py-xxl-n8 {
    padding-block: var(--gap-neg-8);
  }
}

// padding-block Negative 9
.py-n9 {
  padding-block: var(--gap-neg-9);
}

@media (--sm) {
  .py-sm-n9 {
    padding-block: var(--gap-neg-9);
  }
}

@media (--md) {
  .py-md-n9 {
    padding-block: var(--gap-neg-9);
  }
}

@media (--lg) {
  .py-lg-n9 {
    padding-block: var(--gap-neg-9);
  }
}

@media (--xl) {
  .py-xl-n9 {
    padding-block: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .py-xxl-n9 {
    padding-block: var(--gap-neg-9);
  }
}

// padding-block Negative 10
.py-n10 {
  padding-block: var(--gap-neg-10);
}

@media (--sm) {
  .py-sm-n10 {
    padding-block: var(--gap-neg-10);
  }
}

@media (--md) {
  .py-md-n10 {
    padding-block: var(--gap-neg-10);
  }
}

@media (--lg) {
  .py-lg-n10 {
    padding-block: var(--gap-neg-10);
  }
}

@media (--xl) {
  .py-xl-n10 {
    padding-block: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .py-xxl-n10 {
    padding-block: var(--gap-neg-10);
  }
}
