// Padding-inline-end 0
.pe-0 {
  padding-inline-end: 0;
}

@media (--sm) {
  .pe-sm-0 {
    padding-inline-end: 0;
  }
}

@media (--md) {
  .pe-md-0 {
    padding-inline-end: 0;
  }
}

@media (--lg) {
  .pe-lg-0 {
    padding-inline-end: 0;
  }
}

@media (--xl) {
  .pe-xl-0 {
    padding-inline-end: 0;
  }
}

@media (--xxl) {
  .pe-xxl-0 {
    padding-inline-end: 0;
  }
}

// Padding-inline-end 1
.pe-1 {
  padding-inline-end: var(--gap-1);
}

@media (--sm) {
  .pe-sm-1 {
    padding-inline-end: var(--gap-1);
  }
}

@media (--md) {
  .pe-md-1 {
    padding-inline-end: var(--gap-1);
  }
}

@media (--lg) {
  .pe-lg-1 {
    padding-inline-end: var(--gap-1);
  }
}

@media (--xl) {
  .pe-xl-1 {
    padding-inline-end: var(--gap-1);
  }
}

@media (--xxl) {
  .pe-xxl-1 {
    padding-inline-end: var(--gap-1);
  }
}

// Padding-inline-end 2
.pe-2 {
  padding-inline-end: var(--gap-2);
}

@media (--sm) {
  .pe-sm-2 {
    padding-inline-end: var(--gap-2);
  }
}

@media (--md) {
  .pe-md-2 {
    padding-inline-end: var(--gap-2);
  }
}

@media (--lg) {
  .pe-lg-2 {
    padding-inline-end: var(--gap-2);
  }
}

@media (--xl) {
  .pe-xl-2 {
    padding-inline-end: var(--gap-2);
  }
}

@media (--xxl) {
  .pe-xxl-2 {
    padding-inline-end: var(--gap-2);
  }
}

// Padding-inline-end 3
.pe-3 {
  padding-inline-end: var(--gap-3);
}

@media (--sm) {
  .pe-sm-3 {
    padding-inline-end: var(--gap-3);
  }
}

@media (--md) {
  .pe-md-3 {
    padding-inline-end: var(--gap-3);
  }
}

@media (--lg) {
  .pe-lg-3 {
    padding-inline-end: var(--gap-3);
  }
}

@media (--xl) {
  .pe-xl-3 {
    padding-inline-end: var(--gap-3);
  }
}

@media (--xxl) {
  .pe-xxl-3 {
    padding-inline-end: var(--gap-3);
  }
}

// Padding-inline-end 4
.pe-4 {
  padding-inline-end: var(--gap-4);
}

@media (--sm) {
  .pe-sm-4 {
    padding-inline-end: var(--gap-4);
  }
}

@media (--md) {
  .pe-md-4 {
    padding-inline-end: var(--gap-4);
  }
}

@media (--lg) {
  .pe-lg-4 {
    padding-inline-end: var(--gap-4);
  }
}

@media (--xl) {
  .pe-xl-4 {
    padding-inline-end: var(--gap-4);
  }
}

@media (--xxl) {
  .pe-xxl-4 {
    padding-inline-end: var(--gap-4);
  }
}

// Padding-inline-end 5
.pe-5 {
  padding-inline-end: var(--gap-5);
}

@media (--sm) {
  .pe-sm-5 {
    padding-inline-end: var(--gap-5);
  }
}

@media (--md) {
  .pe-md-5 {
    padding-inline-end: var(--gap-5);
  }
}

@media (--lg) {
  .pe-lg-5 {
    padding-inline-end: var(--gap-5);
  }
}

@media (--xl) {
  .pe-xl-5 {
    padding-inline-end: var(--gap-5);
  }
}

@media (--xxl) {
  .pe-xxl-5 {
    padding-inline-end: var(--gap-5);
  }
}

// Padding-inline-end 6
.pe-6 {
  padding-inline-end: var(--gap-6);
}

@media (--sm) {
  .pe-sm-6 {
    padding-inline-end: var(--gap-6);
  }
}

@media (--md) {
  .pe-md-6 {
    padding-inline-end: var(--gap-6);
  }
}

@media (--lg) {
  .pe-lg-6 {
    padding-inline-end: var(--gap-6);
  }
}

@media (--xl) {
  .pe-xl-6 {
    padding-inline-end: var(--gap-6);
  }
}

@media (--xxl) {
  .pe-xxl-6 {
    padding-inline-end: var(--gap-6);
  }
}

// Padding-inline-end 7
.pe-7 {
  padding-inline-end: var(--gap-7);
}

@media (--sm) {
  .pe-sm-7 {
    padding-inline-end: var(--gap-7);
  }
}

@media (--md) {
  .pe-md-7 {
    padding-inline-end: var(--gap-7);
  }
}

@media (--lg) {
  .pe-lg-7 {
    padding-inline-end: var(--gap-7);
  }
}

@media (--xl) {
  .pe-xl-7 {
    padding-inline-end: var(--gap-7);
  }
}

@media (--xxl) {
  .pe-xxl-7 {
    padding-inline-end: var(--gap-7);
  }
}

// Padding-inline-end 8
.pe-8 {
  padding-inline-end: var(--gap-8);
}

@media (--sm) {
  .pe-sm-8 {
    padding-inline-end: var(--gap-8);
  }
}

@media (--md) {
  .pe-md-8 {
    padding-inline-end: var(--gap-8);
  }
}

@media (--lg) {
  .pe-lg-8 {
    padding-inline-end: var(--gap-8);
  }
}

@media (--xl) {
  .pe-xl-8 {
    padding-inline-end: var(--gap-8);
  }
}

@media (--xxl) {
  .pe-xxl-8 {
    padding-inline-end: var(--gap-8);
  }
}

// Padding-inline-end 9
.pe-9 {
  padding-inline-end: var(--gap-9);
}

@media (--sm) {
  .pe-sm-9 {
    padding-inline-end: var(--gap-9);
  }
}

@media (--md) {
  .pe-md-9 {
    padding-inline-end: var(--gap-9);
  }
}

@media (--lg) {
  .pe-lg-9 {
    padding-inline-end: var(--gap-9);
  }
}

@media (--xl) {
  .pe-xl-9 {
    padding-inline-end: var(--gap-9);
  }
}

@media (--xxl) {
  .pe-xxl-9 {
    padding-inline-end: var(--gap-9);
  }
}

// Padding-inline-end 10
.pe-10 {
  padding-inline-end: var(--gap-10);
}

@media (--sm) {
  .pe-sm-10 {
    padding-inline-end: var(--gap-10);
  }
}

@media (--md) {
  .pe-md-10 {
    padding-inline-end: var(--gap-10);
  }
}

@media (--lg) {
  .pe-lg-10 {
    padding-inline-end: var(--gap-10);
  }
}

@media (--xl) {
  .pe-xl-10 {
    padding-inline-end: var(--gap-10);
  }
}

@media (--xxl) {
  .pe-xxl-10 {
    padding-inline-end: var(--gap-10);
  }
}
