// CTA buttons
.cta {
  display: flex;
  font: 500 1rem/120% $font-family-base, sans-serif;
  color: $bravo-light-100;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 2px solid $bravo-light-100;
  border-radius: $border-radius;
  padding: .5rem 2rem;
  transition: all 150ms ease-in-out;

  &:hover,
  &:focus {
    color: $bravo-dark-900;
    background-color: $bravo-light-100;
    text-decoration: none;
  }

  .cta-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: none;
  }

  .cta-check:checked + &,
  .cta-check:active + &,
  &:active,
  &.active {
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
  }
}