footer {
  background-color: var(--color-bg);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: center; // space out brand from logo
  padding: 3rem 2rem;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  margin-block-end: var(--gap-4);

  a {
    text-decoration: none;

    &:focus-visible {
      outline: 2px solid var(--color-nav-link-hover-color);
      outline-offset: 0.25rem;
      border-radius: 0.25rem;

      & > svg {
        color: var(--color-nav-link-hover-color);
      }
    }
  }

  svg {
    color: var(--color-nav-link-color);
    width: 1.5rem;

    &:hover,
    &:focus {
      color: var(--color-nav-link-hover-color);
    }
  }

  .copyright {
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }

  // .social {
  //   width: 3rem;
  //   background-color: $bravo-dark-700;
  //   padding: 3rem;
  // }
}
