img {
  width: 100%;
  height: auto;
}

.hero-image {
  display: none;

  // sm breakpoint
  @media (--sm) {
    padding: 1rem;
  }

  // md breakpoint
  @media (--md) {
    display: block;
    padding: 3rem;
  }

  // lg breakpoint
  @media (--lg) {
    padding: 5rem;
  }
}

.profile-image {
  border-radius: var(--border-radius);
  overflow: hidden;
}
