// -----------
// LIGHT MODE VARIABLES
// -----------
@mixin nav-light-mode {
  // Nav variables
  --color-nav-bg: var(--mav-red); // Nav Background
  --color-nav-btn-bg-hover: var(
    --bravo-dark-900
  ); // Nav Button Hover Background
  --color-nav-link-color: var(--bravo-light-200);
  --color-nav-link-hover-color: var(--bravo-light-100);
  --color-nav-link-button-hover-color: var(--bravo-dark-900);
  --brand-icon: var(--bravo-light-100); // Brand Icon Color
}
// Execute Light Mode
@media (prefers-color-scheme: light) {
  :root {
    @include nav-light-mode;
  }
}
:root[data-theme="light"] {
  @include nav-light-mode;
}

// -----------
// DARK MODE VARIABLES
// -----------
@mixin nav-dark-mode {
  // Nav variables
  --color-nav-bg: rgba(var(--bravo-dark-900-rgb), 0.85); // Nav Background
  --color-nav-btn-bg-hover: var(
    --bravo-light-100
  ); // Nav Button Hover Background
  --color-nav-link-color: var(--bravo-light-200);
  --color-nav-link-hover-color: var(--bravo-light-100);
  --color-nav-link-button-hover-color: var(--bravo-dark-900);
  --brand-icon: var(--mav-red); // Brand Icon Color
}
// Execute Dark Mode
@media (prefers-color-scheme: dark) {
  :root {
    @include nav-dark-mode;
  }
}
:root[data-theme="dark"] {
  @include nav-dark-mode;
}

// NAV Variables
:root {
  --nav-min-height: 5.5rem;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  min-height: var(--nav-min-height);
  justify-content: space-between;
  z-index: 1000;
  padding: 1rem 2rem;
  flex-direction: row;

  @media (--lg) {
    padding-inline: 3.5rem;
  }

  a {
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-nav-bg);
    backdrop-filter: blur(0.7rem);
    -webkit-backdrop-filter: blur(0.7rem);
    z-index: -1;
  }

  ul {
    display: flex;
    gap: var(--gap);
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 1;
    margin: 0;

    @media (--md-max) {
      gap: var(--gap-4);
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 7rem 3rem;
      z-index: -1;
      transform: translateX(100%);
      transition: transform 200ms ease-out;
      background-color: var(--color-nav-bg);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(100% + 7rem);
        top: 0;
        left: 0;
        margin-block-start: -7rem;
        backdrop-filter: blur(0.7rem);
        -webkit-backdrop-filter: blur(0.7rem);
        z-index: -1;
      }

      &[data-visible="true"] {
        display: flex;
        transform: translateX(0%);
      }
    }
  }

  li {
    display: flex;
    position: relative;
    outline: none;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    a {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.25rem;
      color: var(--color-nav-link-color);
      text-decoration: inherit;
      transition: all 150ms ease-in-out;

      &::after {
        content: "";
        opacity: 1;
        background: var(--color-nav-link-hover-color);
        position: absolute;
        display: inline-block;
        width: 0%;
        height: 0.15rem;
        margin-top: 1.5rem;
        z-index: 1;
        top: 0;
        transition: width 150ms ease-out;
      }

      &:hover,
      &:focus {
        color: var(--color-nav-link-hover-color);
        text-decoration: none;
        outline: none;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;

        @media (--lg) {
          margin-top: 1.7rem;
        }
      }
    }

    &:last-of-type > a {
      color: var(--color-nav-link-color);
      cursor: pointer;
      border: var(--border-width) solid var(--color-nav-link-color);
      border-radius: var(--border-radius);
      padding: 0.5rem 2rem;
      transition: 150ms ease-in-out;
      display: flex;

      &:hover,
      &:focus {
        background: var(--color-nav-btn-bg-hover);
        border-color: var(--color-nav-btn-bg-hover);
        color: var(--color-nav-link-button-hover-color);
        outline: none;

        &:after {
          width: 0%;
        }
      }
    }
  }
}

.mobile-nav-toggle {
  display: none;

  @media (--md-max) {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--color-nav-link-color);
    background: none;
    border: 0;
    z-index: 9999;

    svg {
      width: 2rem;
      aspect-ratio: 1;
    }

    &:hover,
    &:focus {
      color: var(--color-nav-link-hover-color);
      cursor: pointer;
      background-color: transparent;
    }

    &:focus-visible {
      color: var(--color-nav-link-hover-color);
      background-color: transparent;
      text-decoration: none;
      outline: var(--border-width) solid
        var(--color-nav-link-button-hover-color);
      outline-offset: 0.25rem;
      border-radius: 0.1rem;
    }
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // margin-inline-start: 2rem;

  svg {
    height: 3.5rem;
    width: auto;
  }

  // &:hover,
  &:focus-visible {
    text-decoration: none;
    outline: var(--border-width) solid var(--color-nav-link-hover-color);
    outline-offset: 0.25rem;
    border-radius: 0.1rem;
  }
}

.brand-text {
  font: 700 1.2rem/120% var(--font-family-base);
  color: var(--color-nav-link-hover-color);
  margin-left: 0.8rem;
  text-decoration: none;
}
