// NAV Variables
$nav-min-height: 5.5rem;
$nav-background-color: rgba($bravo-dark-900, 0.85) !default;
$nav-link-color: rgba($bravo-light-200, 1) !default;
$nav-link-hover-color: rgba($bravo-light-100, 1) !default;
$nav-link-button-hover-color: rgba($bravo-dark-900, 1) !default;

header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: $nav-min-height;
  justify-content: space-between;
  z-index: 1000;
  padding: 1rem 2rem;

  @media (--lg) {
    padding-inline: 3.5rem;
  }

  a {
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $nav-background-color;
    backdrop-filter: blur(0.7rem);
    -webkit-backdrop-filter: blur(0.7rem);
    z-index: -1;
  }

  ul {
    display: flex;
    gap: $spacer;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 1;
    margin: 0;

    @media (--md-max) {
      gap: ($spacer * 2);
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      // margin-block-start: 5.5rem;
      padding: 7rem 3rem;
      z-index: -1;
      transform: translateX(100%);
      transition: transform 200ms ease-out;
      background-color: $nav-background-color;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(100% + 7rem);
        top: 0;
        left: 0;
        margin-block-start: -7rem;
        backdrop-filter: blur(0.7rem);
        -webkit-backdrop-filter: blur(0.7rem);
        z-index: -1;
      }

      &[data-visible="true"] {
        display: flex;
        transform: translateX(0%);
      }
    }
  }

  li {
    display: flex;
    position: relative;
    outline: none;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    a {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.25rem;
      color: $nav-link-color;
      text-decoration: inherit;

      &::after {
        content: "";
        opacity: 1;
        background: $nav-link-hover-color;
        position: absolute;
        display: inline-block;
        width: 0%;
        height: 0.15rem;
        margin-top: 1.5rem;
        z-index: 1;
        top: 0;
        transition: width 150ms ease-out;
      }

      &:hover,
      &:focus {
        color: $nav-link-hover-color;
        text-decoration: none;
        outline: none;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;

        @media (--lg) {
          margin-top: 1.7rem;
        }
      }
    }

    &:last-of-type > a {
      color: $nav-link-color;
      cursor: pointer;
      border: 2px solid $nav-link-color;
      border-radius: $border-radius;
      padding: 0.5rem 2rem;
      transition: 150ms ease-in-out;
      display: flex;

      &:hover,
      &:focus {
        background: $nav-link-hover-color;
        border-color: $nav-link-hover-color;
        color: $nav-link-button-hover-color;
        outline: none;

        &:after {
          width: 0%;
        }
      }
    }
  }
}

.mobile-nav-toggle {
  display: none;

  @media (--md-max) {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: $nav-link-color;
    background: none;
    border: 0;
    z-index: 9999;

    svg {
      width: 2rem;
      aspect-ratio: 1;
    }

    &:hover,
    &:focus {
      color: $nav-link-hover-color;
      cursor: pointer;
    }
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // margin-inline-start: 2rem;

  svg {
    height: 3.5rem;
    width: auto;
  }

  // &:hover,
  &:focus {
    text-decoration: none;
    outline: 2px solid rgba($bravo-light-200, 1);
    outline-offset: 0.25rem;
    border-radius: 0.1rem;
  }
}

.brand-text {
  font: 700 1.2rem/120% $font-family-base, sans-serif;
  color: $bravo-light-100;
  margin-left: 0.8rem;
  text-decoration: none;
}
