.hidden,
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

@media (--sm) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline-block {
    display: inline-block;
  }
}

@media (--md) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline-block {
    display: inline-block;
  }
}

@media (--lg) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline-block {
    display: inline-block;
  }
}

@media (--xl) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-inline-block {
    display: inline-block;
  }
}

@media (--xxl) {
  .d-xxl-none {
    display: none;
  }

  .d-xxl-block {
    display: block;
  }

  .d-xxl-inline-block {
    display: inline-block;
  }
}
