.shrink-0 {
  flex-shrink: 0 !important;
}

.shrink-1 {
  flex-shrink: 1 !important;
}

.shrink-2 {
  flex-shrink: 2 !important;
}

.shrink-3 {
  flex-shrink: 3 !important;
}

.shrink-4 {
  flex-shrink: 4 !important;
}

.shrink-5 {
  flex-shrink: 5 !important;
}

.shrink-6 {
  flex-shrink: 6 !important;
}

@media (--sm) {
  .shrink-sm-0 {
    flex-shrink: 0 !important;
  }

  .shrink-sm-1 {
    flex-shrink: 1 !important;
  }

  .shrink-sm-2 {
    flex-shrink: 2 !important;
  }

  .shrink-sm-3 {
    flex-shrink: 3 !important;
  }

  .shrink-sm-4 {
    flex-shrink: 4 !important;
  }

  .shrink-sm-5 {
    flex-shrink: 5 !important;
  }

  .shrink-sm-6 {
    flex-shrink: 6 !important;
  }
}

@media (--md) {
  .shrink-md-0 {
    flex-shrink: 0 !important;
  }

  .shrink-md-1 {
    flex-shrink: 1 !important;
  }

  .shrink-md-2 {
    flex-shrink: 2 !important;
  }

  .shrink-md-3 {
    flex-shrink: 3 !important;
  }

  .shrink-md-4 {
    flex-shrink: 4 !important;
  }

  .shrink-md-5 {
    flex-shrink: 5 !important;
  }

  .shrink-md-6 {
    flex-shrink: 6 !important;
  }
}

@media (--lg) {
  .shrink-lg-0 {
    flex-shrink: 0 !important;
  }

  .shrink-lg-1 {
    flex-shrink: 1 !important;
  }

  .shrink-lg-2 {
    flex-shrink: 2 !important;
  }

  .shrink-lg-3 {
    flex-shrink: 3 !important;
  }

  .shrink-lg-4 {
    flex-shrink: 4 !important;
  }

  .shrink-lg-5 {
    flex-shrink: 5 !important;
  }

  .shrink-lg-6 {
    flex-shrink: 6 !important;
  }
}


@media (--xl) {
  .shrink-xl-0 {
    flex-shrink: 0 !important;
  }

  .shrink-xl-1 {
    flex-shrink: 1 !important;
  }

  .shrink-xl-2 {
    flex-shrink: 2 !important;
  }

  .shrink-xl-3 {
    flex-shrink: 3 !important;
  }

  .shrink-xl-4 {
    flex-shrink: 4 !important;
  }

  .shrink-xl-5 {
    flex-shrink: 5 !important;
  }

  .shrink-xl-6 {
    flex-shrink: 6 !important;
  }
}


@media (--xxl) {
  .shrink-xxl-0 {
    flex-shrink: 0 !important;
  }

  .shrink-xxl-1 {
    flex-shrink: 1 !important;
  }

  .shrink-xxl-2 {
    flex-shrink: 2 !important;
  }

  .shrink-xxl-3 {
    flex-shrink: 3 !important;
  }

  .shrink-xxl-4 {
    flex-shrink: 4 !important;
  }

  .shrink-xxl-5 {
    flex-shrink: 5 !important;
  }

  .shrink-xxl-6 {
    flex-shrink: 6 !important;
  }
}