.grow-0 {
  flex-grow: 0 !important;
}

.grow-1 {
  flex-grow: 1 !important;
}

.grow-2 {
  flex-grow: 2 !important;
}

.grow-3 {
  flex-grow: 3 !important;
}

.grow-4 {
  flex-grow: 4 !important;
}

.grow-5 {
  flex-grow: 5 !important;
}

.grow-6 {
  flex-grow: 6 !important;
}

@media (--sm) {
  .grow-sm-0 {
    flex-grow: 0 !important;
  }

  .grow-sm-1 {
    flex-grow: 1 !important;
  }

  .grow-sm-2 {
    flex-grow: 2 !important;
  }

  .grow-sm-3 {
    flex-grow: 3 !important;
  }

  .grow-sm-4 {
    flex-grow: 4 !important;
  }

  .grow-sm-5 {
    flex-grow: 5 !important;
  }

  .grow-sm-6 {
    flex-grow: 6 !important;
  }
}

@media (--md) {
  .grow-md-0 {
    flex-grow: 0 !important;
  }

  .grow-md-1 {
    flex-grow: 1 !important;
  }

  .grow-md-2 {
    flex-grow: 2 !important;
  }

  .grow-md-3 {
    flex-grow: 3 !important;
  }

  .grow-md-4 {
    flex-grow: 4 !important;
  }

  .grow-md-5 {
    flex-grow: 5 !important;
  }

  .grow-md-6 {
    flex-grow: 6 !important;
  }
}

@media (--lg) {
  .grow-lg-0 {
    flex-grow: 0 !important;
  }

  .grow-lg-1 {
    flex-grow: 1 !important;
  }

  .grow-lg-2 {
    flex-grow: 2 !important;
  }

  .grow-lg-3 {
    flex-grow: 3 !important;
  }

  .grow-lg-4 {
    flex-grow: 4 !important;
  }

  .grow-lg-5 {
    flex-grow: 5 !important;
  }

  .grow-lg-6 {
    flex-grow: 6 !important;
  }
}


@media (--xl) {
  .grow-xl-0 {
    flex-grow: 0 !important;
  }

  .grow-xl-1 {
    flex-grow: 1 !important;
  }

  .grow-xl-2 {
    flex-grow: 2 !important;
  }

  .grow-xl-3 {
    flex-grow: 3 !important;
  }

  .grow-xl-4 {
    flex-grow: 4 !important;
  }

  .grow-xl-5 {
    flex-grow: 5 !important;
  }

  .grow-xl-6 {
    flex-grow: 6 !important;
  }
}


@media (--xxl) {
  .grow-xxl-0 {
    flex-grow: 0 !important;
  }

  .grow-xxl-1 {
    flex-grow: 1 !important;
  }

  .grow-xxl-2 {
    flex-grow: 2 !important;
  }

  .grow-xxl-3 {
    flex-grow: 3 !important;
  }

  .grow-xxl-4 {
    flex-grow: 4 !important;
  }

  .grow-xxl-5 {
    flex-grow: 5 !important;
  }

  .grow-xxl-6 {
    flex-grow: 6 !important;
  }
}