// width auto
.min-w-auto {
  width: auto;
}

@media (--sm) {
  .min-w-sm-auto {
    width: auto;
  }
}

@media (--md) {
  .min-w-md-auto {
    width: auto;
  }
}

@media (--lg) {
  .min-w-lg-auto {
    width: auto;
  }
}

@media (--xl) {
  .min-w-xl-auto {
    width: auto;
  }
}

@media (--xxl) {
  .min-w-xxl-auto {
    width: auto;
  }
}

// width 0
.min-w-0 {
  width: 0;
}

@media (--sm) {
  .min-w-sm-0 {
    width: 0;
  }
}

@media (--md) {
  .min-w-md-0 {
    width: 0;
  }
}

@media (--lg) {
  .min-w-lg-0 {
    width: 0;
  }
}

@media (--xl) {
  .min-w-xl-0 {
    width: 0;
  }
}

@media (--xxl) {
  .min-w-xxl-0 {
    width: 0;
  }
}

// width 1
.min-w-1 {
  width: var(--spacer-1);
}

@media (--sm) {
  .min-w-sm-1 {
    width: var(--spacer-1);
  }
}

@media (--md) {
  .min-w-md-1 {
    width: var(--spacer-1);
  }
}

@media (--lg) {
  .min-w-lg-1 {
    width: var(--spacer-1);
  }
}

@media (--xl) {
  .min-w-xl-1 {
    width: var(--spacer-1);
  }
}

@media (--xxl) {
  .min-w-xxl-1 {
    width: var(--spacer-1);
  }
}

// width 2
.min-w-2 {
  width: var(--spacer-2);
}

@media (--sm) {
  .min-w-sm-2 {
    width: var(--spacer-2);
  }
}

@media (--md) {
  .min-w-md-2 {
    width: var(--spacer-2);
  }
}

@media (--lg) {
  .min-w-lg-2 {
    width: var(--spacer-2);
  }
}

@media (--xl) {
  .min-w-xl-2 {
    width: var(--spacer-2);
  }
}

@media (--xxl) {
  .min-w-xxl-2 {
    width: var(--spacer-2);
  }
}

// width 3
.min-w-3 {
  width: var(--spacer-3);
}

@media (--sm) {
  .min-w-sm-3 {
    width: var(--spacer-3);
  }
}

@media (--md) {
  .min-w-md-3 {
    width: var(--spacer-3);
  }
}

@media (--lg) {
  .min-w-lg-3 {
    width: var(--spacer-3);
  }
}

@media (--xl) {
  .min-w-xl-3 {
    width: var(--spacer-3);
  }
}

@media (--xxl) {
  .min-w-xxl-3 {
    width: var(--spacer-3);
  }
}

// width 4
.min-w-4 {
  width: var(--spacer-4);
}

@media (--sm) {
  .min-w-sm-4 {
    width: var(--spacer-4);
  }
}

@media (--md) {
  .min-w-md-4 {
    width: var(--spacer-4);
  }
}

@media (--lg) {
  .min-w-lg-4 {
    width: var(--spacer-4);
  }
}

@media (--xl) {
  .min-w-xl-4 {
    width: var(--spacer-4);
  }
}

@media (--xxl) {
  .min-w-xxl-4 {
    width: var(--spacer-4);
  }
}

// width 5
.min-w-5 {
  width: var(--spacer-5);
}

@media (--sm) {
  .min-w-sm-5 {
    width: var(--spacer-5);
  }
}

@media (--md) {
  .min-w-md-5 {
    width: var(--spacer-5);
  }
}

@media (--lg) {
  .min-w-lg-5 {
    width: var(--spacer-5);
  }
}

@media (--xl) {
  .min-w-xl-5 {
    width: var(--spacer-5);
  }
}

@media (--xxl) {
  .min-w-xxl-5 {
    width: var(--spacer-5);
  }
}

// width 6
.min-w-6 {
  width: var(--spacer-6);
}

@media (--sm) {
  .min-w-sm-6 {
    width: var(--spacer-6);
  }
}

@media (--md) {
  .min-w-md-6 {
    width: var(--spacer-6);
  }
}

@media (--lg) {
  .min-w-lg-6 {
    width: var(--spacer-6);
  }
}

@media (--xl) {
  .min-w-xl-6 {
    width: var(--spacer-6);
  }
}

@media (--xxl) {
  .min-w-xxl-6 {
    width: var(--spacer-6);
  }
}

// width 7
.min-w-7 {
  width: var(--spacer-7);
}

@media (--sm) {
  .min-w-sm-7 {
    width: var(--spacer-7);
  }
}

@media (--md) {
  .min-w-md-7 {
    width: var(--spacer-7);
  }
}

@media (--lg) {
  .min-w-lg-7 {
    width: var(--spacer-7);
  }
}

@media (--xl) {
  .min-w-xl-7 {
    width: var(--spacer-7);
  }
}

@media (--xxl) {
  .min-w-xxl-7 {
    width: var(--spacer-7);
  }
}

// width 8
.min-w-8 {
  width: var(--spacer-8);
}

@media (--sm) {
  .min-w-sm-8 {
    width: var(--spacer-8);
  }
}

@media (--md) {
  .min-w-md-8 {
    width: var(--spacer-8);
  }
}

@media (--lg) {
  .min-w-lg-8 {
    width: var(--spacer-8);
  }
}

@media (--xl) {
  .min-w-xl-8 {
    width: var(--spacer-8);
  }
}

@media (--xxl) {
  .min-w-xxl-8 {
    width: var(--spacer-8);
  }
}

// width 9
.min-w-9 {
  width: var(--spacer-9);
}

@media (--sm) {
  .min-w-sm-9 {
    width: var(--spacer-9);
  }
}

@media (--md) {
  .min-w-md-9 {
    width: var(--spacer-9);
  }
}

@media (--lg) {
  .min-w-lg-9 {
    width: var(--spacer-9);
  }
}

@media (--xl) {
  .min-w-xl-9 {
    width: var(--spacer-9);
  }
}

@media (--xxl) {
  .min-w-xxl-9 {
    width: var(--spacer-9);
  }
}

// width 10
.min-w-10 {
  width: var(--spacer-10);
}

@media (--sm) {
  .min-w-sm-10 {
    width: var(--spacer-10);
  }
}

@media (--md) {
  .min-w-md-10 {
    width: var(--spacer-10);
  }
}

@media (--lg) {
  .min-w-lg-10 {
    width: var(--spacer-10);
  }
}

@media (--xl) {
  .min-w-xl-10 {
    width: var(--spacer-10);
  }
}

@media (--xxl) {
  .min-w-xxl-10 {
    width: var(--spacer-10);
  }
}

// width 12
.min-w-12 {
  width: var(--spacer-12);
}

@media (--sm) {
  .min-w-sm-12 {
    width: var(--spacer-12);
  }
}

@media (--md) {
  .min-w-md-12 {
    width: var(--spacer-12);
  }
}

@media (--lg) {
  .min-w-lg-12 {
    width: var(--spacer-12);
  }
}

@media (--xl) {
  .min-w-xl-12 {
    width: var(--spacer-12);
  }
}

@media (--xxl) {
  .min-w-xxl-12 {
    width: var(--spacer-12);
  }
}

// width 14
.min-w-14 {
  width: var(--spacer-14);
}

@media (--sm) {
  .min-w-sm-14 {
    width: var(--spacer-14);
  }
}

@media (--md) {
  .min-w-md-14 {
    width: var(--spacer-14);
  }
}

@media (--lg) {
  .min-w-lg-14 {
    width: var(--spacer-14);
  }
}

@media (--xl) {
  .min-w-xl-14 {
    width: var(--spacer-14);
  }
}

@media (--xxl) {
  .min-w-xxl-14 {
    width: var(--spacer-14);
  }
}

// width 16
.min-w-16 {
  width: var(--spacer-16);
}

@media (--sm) {
  .min-w-sm-16 {
    width: var(--spacer-16);
  }
}

@media (--md) {
  .min-w-md-16 {
    width: var(--spacer-16);
  }
}

@media (--lg) {
  .min-w-lg-16 {
    width: var(--spacer-16);
  }
}

@media (--xl) {
  .min-w-xl-16 {
    width: var(--spacer-16);
  }
}

@media (--xxl) {
  .min-w-xxl-16 {
    width: var(--spacer-16);
  }
}

// width 20
.min-w-20 {
  width: var(--spacer-20);
}

@media (--sm) {
  .min-w-sm-20 {
    width: var(--spacer-20);
  }
}

@media (--md) {
  .min-w-md-20 {
    width: var(--spacer-20);
  }
}

@media (--lg) {
  .min-w-lg-20 {
    width: var(--spacer-20);
  }
}

@media (--xl) {
  .min-w-xl-20 {
    width: var(--spacer-20);
  }
}

@media (--xxl) {
  .min-w-xxl-20 {
    width: var(--spacer-20);
  }
}

// width 24
.min-w-24 {
  width: var(--spacer-24);
}

@media (--sm) {
  .min-w-sm-24 {
    width: var(--spacer-24);
  }
}

@media (--md) {
  .min-w-md-24 {
    width: var(--spacer-24);
  }
}

@media (--lg) {
  .min-w-lg-24 {
    width: var(--spacer-24);
  }
}

@media (--xl) {
  .min-w-xl-24 {
    width: var(--spacer-24);
  }
}

@media (--xxl) {
  .min-w-xxl-24 {
    width: var(--spacer-24);
  }
}

// width 28
.min-w-28 {
  width: var(--spacer-28);
}

@media (--sm) {
  .min-w-sm-28 {
    width: var(--spacer-28);
  }
}

@media (--md) {
  .min-w-md-28 {
    width: var(--spacer-28);
  }
}

@media (--lg) {
  .min-w-lg-28 {
    width: var(--spacer-28);
  }
}

@media (--xl) {
  .min-w-xl-28 {
    width: var(--spacer-28);
  }
}

@media (--xxl) {
  .min-w-xxl-28 {
    width: var(--spacer-28);
  }
}

// width 32
.min-w-32 {
  width: var(--spacer-32);
}

@media (--sm) {
  .min-w-sm-32 {
    width: var(--spacer-32);
  }
}

@media (--md) {
  .min-w-md-32 {
    width: var(--spacer-32);
  }
}

@media (--lg) {
  .min-w-lg-32 {
    width: var(--spacer-32);
  }
}

@media (--xl) {
  .min-w-xl-32 {
    width: var(--spacer-32);
  }
}

@media (--xxl) {
  .min-w-xxl-32 {
    width: var(--spacer-32);
  }
}

// width 36
.min-w-36 {
  width: var(--spacer-36);
}

@media (--sm) {
  .min-w-sm-36 {
    width: var(--spacer-36);
  }
}

@media (--md) {
  .min-w-md-36 {
    width: var(--spacer-36);
  }
}

@media (--lg) {
  .min-w-lg-36 {
    width: var(--spacer-36);
  }
}

@media (--xl) {
  .min-w-xl-36 {
    width: var(--spacer-36);
  }
}

@media (--xxl) {
  .min-w-xxl-36 {
    width: var(--spacer-36);
  }
}

// width 40
.min-w-40 {
  width: var(--spacer-40);
}

@media (--sm) {
  .min-w-sm-40 {
    width: var(--spacer-40);
  }
}

@media (--md) {
  .min-w-md-40 {
    width: var(--spacer-40);
  }
}

@media (--lg) {
  .min-w-lg-40 {
    width: var(--spacer-40);
  }
}

@media (--xl) {
  .min-w-xl-40 {
    width: var(--spacer-40);
  }
}

@media (--xxl) {
  .min-w-xxl-40 {
    width: var(--spacer-40);
  }
}

// width 44
.min-w-44 {
  width: var(--spacer-44);
}

@media (--sm) {
  .min-w-sm-44 {
    width: var(--spacer-44);
  }
}

@media (--md) {
  .min-w-md-44 {
    width: var(--spacer-44);
  }
}

@media (--lg) {
  .min-w-lg-44 {
    width: var(--spacer-44);
  }
}

@media (--xl) {
  .min-w-xl-44 {
    width: var(--spacer-44);
  }
}

@media (--xxl) {
  .min-w-xxl-44 {
    width: var(--spacer-44);
  }
}

// width 48
.min-w-48 {
  width: var(--spacer-48);
}

@media (--sm) {
  .min-w-sm-48 {
    width: var(--spacer-48);
  }
}

@media (--md) {
  .min-w-md-48 {
    width: var(--spacer-48);
  }
}

@media (--lg) {
  .min-w-lg-48 {
    width: var(--spacer-48);
  }
}

@media (--xl) {
  .min-w-xl-48 {
    width: var(--spacer-48);
  }
}

@media (--xxl) {
  .min-w-xxl-48 {
    width: var(--spacer-48);
  }
}

// width 52
.min-w-52 {
  width: var(--spacer-52);
}

@media (--sm) {
  .min-w-sm-52 {
    width: var(--spacer-52);
  }
}

@media (--md) {
  .min-w-md-52 {
    width: var(--spacer-52);
  }
}

@media (--lg) {
  .min-w-lg-52 {
    width: var(--spacer-52);
  }
}

@media (--xl) {
  .min-w-xl-52 {
    width: var(--spacer-52);
  }
}

@media (--xxl) {
  .min-w-xxl-52 {
    width: var(--spacer-52);
  }
}

// width 56
.min-w-56 {
  width: var(--spacer-56);
}

@media (--sm) {
  .min-w-sm-56 {
    width: var(--spacer-56);
  }
}

@media (--md) {
  .min-w-md-56 {
    width: var(--spacer-56);
  }
}

@media (--lg) {
  .min-w-lg-56 {
    width: var(--spacer-56);
  }
}

@media (--xl) {
  .min-w-xl-56 {
    width: var(--spacer-56);
  }
}

@media (--xxl) {
  .min-w-xxl-56 {
    width: var(--spacer-56);
  }
}

// width 60
.min-w-60 {
  width: var(--spacer-60);
}

@media (--sm) {
  .min-w-sm-60 {
    width: var(--spacer-60);
  }
}

@media (--md) {
  .min-w-md-60 {
    width: var(--spacer-60);
  }
}

@media (--lg) {
  .min-w-lg-60 {
    width: var(--spacer-60);
  }
}

@media (--xl) {
  .min-w-xl-60 {
    width: var(--spacer-60);
  }
}

@media (--xxl) {
  .min-w-xxl-60 {
    width: var(--spacer-60);
  }
}

// width 64
.min-w-64 {
  width: var(--spacer-64);
}

@media (--sm) {
  .min-w-sm-64 {
    width: var(--spacer-64);
  }
}

@media (--md) {
  .min-w-md-64 {
    width: var(--spacer-64);
  }
}

@media (--lg) {
  .min-w-lg-64 {
    width: var(--spacer-64);
  }
}

@media (--xl) {
  .min-w-xl-64 {
    width: var(--spacer-64);
  }
}

@media (--xxl) {
  .min-w-xxl-64 {
    width: var(--spacer-64);
  }
}

// width 72
.min-w-72 {
  width: var(--spacer-72);
}

@media (--sm) {
  .min-w-sm-72 {
    width: var(--spacer-72);
  }
}

@media (--md) {
  .min-w-md-72 {
    width: var(--spacer-72);
  }
}

@media (--lg) {
  .min-w-lg-72 {
    width: var(--spacer-72);
  }
}

@media (--xl) {
  .min-w-xl-72 {
    width: var(--spacer-72);
  }
}

@media (--xxl) {
  .min-w-xxl-72 {
    width: var(--spacer-72);
  }
}

// width 80
.min-w-80 {
  width: var(--spacer-80);
}

@media (--sm) {
  .min-w-sm-80 {
    width: var(--spacer-80);
  }
}

@media (--md) {
  .min-w-md-80 {
    width: var(--spacer-80);
  }
}

@media (--lg) {
  .min-w-lg-80 {
    width: var(--spacer-80);
  }
}

@media (--xl) {
  .min-w-xl-80 {
    width: var(--spacer-80);
  }
}

@media (--xxl) {
  .min-w-xxl-80 {
    width: var(--spacer-80);
  }
}

// width 96
.min-w-96 {
  width: var(--spacer-96);
}

@media (--sm) {
  .min-w-sm-96 {
    width: var(--spacer-96);
  }
}

@media (--md) {
  .min-w-md-96 {
    width: var(--spacer-96);
  }
}

@media (--lg) {
  .min-w-lg-96 {
    width: var(--spacer-96);
  }
}

@media (--xl) {
  .min-w-xl-96 {
    width: var(--spacer-96);
  }
}

@media (--xxl) {
  .min-w-xxl-96 {
    width: var(--spacer-96);
  }
}

// width Full
.min-w-full {
  width: 100%;
}

@media (--sm) {
  .min-w-sm-full {
    width: 100%;
  }
}

@media (--md) {
  .min-w-md-full {
    width: 100%;
  }
}

@media (--lg) {
  .min-w-lg-full {
    width: 100%;
  }
}

@media (--xl) {
  .min-w-xl-full {
    width: 100%;
  }
}

@media (--xxl) {
  .min-w-xxl-full {
    width: 100%;
  }
}
