.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-visible {
  overflow: visible;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow-clip {
  overflow: clip;
}
.overflow-x-clip {
  overflow-x: clip;
}
.overflow-y-clip {
  overflow-y: clip;
}
.overflow-hidden-scroll {
  overflow: hidden scroll;
}
.overflow-x-hidden-scroll {
  overflow-x: hidden scroll;
}
.overflow-y-hidden-scroll {
  overflow-y: hidden scroll;
}
.overflow-hidden-auto {
  overflow: hidden auto;
}
.overflow-x-hidden-auto {
  overflow-x: hidden auto;
}
.overflow-y-hidden-auto {
  overflow-y: hidden auto;
}
.overflow-hidden-visible {
  overflow: hidden visible;
}
.overflow-x-hidden-visible {
  overflow-x: hidden visible;
}
.overflow-y-hidden-visible {
  overflow-y: hidden visible;
}
.overflow-hidden-clip {
  overflow: hidden clip;
}
