.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.fixed {
  position: fixed !important;
}
.sticky {
  position: sticky !important;
}
.static {
  position: static !important;
}
.inherit {
  position: inherit !important;
}
.inset-0 {
  inset: 0 !important;
}
.inset-auto {
  inset: auto !important;
}