*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  display: grid;
  // max-width: 100svw;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  color: $bravo-light-200;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: $bravo-dark-900;
  font-family: $font-family-base, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
