$spacer: 1rem !default;
$spacer-1: $spacer * 0.25;
$spacer-2: $spacer * 0.5;
$spacer-3: $spacer;
$spacer-4: $spacer * 1.5;
$spacer-5: $spacer * 3;
$spacer-6: $spacer * 4;
$spacer-7: $spacer * 5;
$spacer-8: $spacer * 6;
$spacer-9: $spacer * 8;
$spacer-10: $spacer * 10;

.gap {
  gap: var(--gap);
}

.gap-1 {
  gap: var(--gap-1);
}

.gap-2 {
  gap: var(--gap-2);
}

.gap-3 {
  gap: var(--gap-3);
}

.gap-4 {
  gap: var(--gap-4);
}

.gap-5 {
  gap: var(--gap-5);
}

.gap-6 {
  gap: var(--gap-6);
}

.gap-7 {
  gap: var(--gap-7);
}

.gap-8 {
  gap: var(--gap-8);
}

.gap-9 {
  gap: var(--gap-9);
}

.gap-10 {
  gap: var(--gap-10);
}

// $spacer: 1rem !default;
// $spacers: (0: 0,
//   1: $spacer * .25,
//   2: $spacer * .5,
//   3: $spacer,
//   4: $spacer * 1.5,
//   5: $spacer * 3,
//   6: $spacer * 4,
//   7: $spacer * 5,
//   8: $spacer * 6,
//   9: $spacer * 8,
//   10: $spacer * 10,
// ) !default;
