h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1;
  color: var(--color-txt-heading);
}

h3,
h4,
h5,
h6 {
  margin-block-start: var(--spacer-8);
  margin-block-end: var(--spacer);
}

// h1,
// .heading-xxl {
//   font-size: var(--font-heading-xxl);
//   font-weight: bold;
// }

// h2,
// .heading-xl {
//   font-size: var(--font-heading-xl);
//   font-weight: 900;
// }

h1,
.heading-lg {
  font-size: var(--font-heading-lg);
  font-weight: 900;
}

h2,
.heading-md {
  font-size: var(--font-heading-md);
  font-weight: 900;
}

h3,
.heading-sm {
  font-size: var(--font-heading-sm);
  font-weight: 900;
}

h4,
.heading-xs {
  font-size: var(--font-heading-xs);
  font-weight: 800;
}

h5,
.heading-xxs {
  font-size: var(--font-heading-xxs);
  font-weight: 800;
}

p {
  font-size: var(--font-body-md);
  color: var(--color-txt);
  overflow-wrap: break-word;
  line-height: 1.5;
  margin-block-end: var(--spacer);
}

code {
  font-size: var(--font-body-md);
}

.text-center {
  text-align: center;
}

.superheading {
  font:
    700 2rem/130% var(--font-family-base),
    sans-serif;
  color: $bravo-light-100;
  margin-bottom: $spacer;
}

.subheading {
  font:
    500 var(--font-body-lg) / 130% var(--font-family-base),
    sans-serif;
  margin-bottom: $spacer * 1.5;
}

.text-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.one-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.small-text {
  font-size: 0.8em;
}

.text-dark {
  color: var(--bravo-dark-700);
}

.post-content {
  h2 {
    margin-block-start: var(--spacer-16);
  }
  p {
    font-size: var(--font-body-lg);
  }
}
