---
// export const prerender = true;

// Library imports
import { Icon } from 'astro-icon/components';
import { getCollection } from "astro:content";

// Layout imports
import MainLayout from "../layouts/MainLayout.astro";

// Component imports
import WorkList from "../components/WorkList.astro";
import WorkListFeatured from "../components/WorkListFeatured.astro";
const works = await getCollection("works");
// import Button from '../components/Button.astro';

// Image imports
import { Image } from 'astro:assets';
import profileImage from "../img/nb-new.jpg";
import homeHero from "../img/home-hero.png";
import ContactForm from '../components/forms/ContactForm.astro';
---

<MainLayout
  title="Success!"
>
  <main>

    <!-- <HeroFull
      id="thank-you"
      heading="Websites and content. <br /> Privacy-focused websites that drive results."
      p1="We build privacy-focused websites that drive outcomes and solidify brand authority and trust across platforms. All while protecting your users' privacy."
      image={homeHero}
      image_alt="Astropost Portfolio Show"
      button_primary_link="start"
    /> -->

    <section>
      <h1>Thanks!</h1>
    </section>




  </main>
</MainLayout>
