---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import WorkFeatured from './WorkFeatured.astro';
type Props = {
  works: CollectionEntry<'works'>[];
};

// const { works } = Astro.props;

const works = await getCollection('works', ({ data }) => {
  return data.featured !== false;
});
---

<div class="collection-grid__featured">
  {works.map((work) => <WorkFeatured work={work} />)}
</div>