p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: $font-size-base * 3;
  font-weight: 900;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}
