---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import WorkList from "../../components/WorkList.astro";

const works = await getCollection("works");

export const getStaticPaths = (async ({paginate}) => {
  const landing = (await getCollection('works', ({ data }) => {
  return data.isDraft !== (true);
})).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
  // const categoryData = await getEntry('categories', landing.data.categories.id);
  return paginate(landing, {pageSize: 9});
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout
  title="Work"
>

<section>
    <WorkList works={works} />
</section>

</Layout>