// Margin-inline-end Negative 1
.me-n1 {
  margin-inline-end: var(--gap-neg-1);
}

@media (--sm) {
  .me-sm-n1 {
    margin-inline-end: var(--gap-neg-1);
  }
}

@media (--md) {
  .me-md-n1 {
    margin-inline-end: var(--gap-neg-1);
  }
}

@media (--lg) {
  .me-lg-n1 {
    margin-inline-end: var(--gap-neg-1);
  }
}

@media (--xl) {
  .me-xl-n1 {
    margin-inline-end: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .me-xxl-n1 {
    margin-inline-end: var(--gap-neg-1);
  }
}

// Margin-inline-end Negative 2
.me-n2 {
  margin-inline-end: var(--gap-neg-2);
}

@media (--sm) {
  .me-sm-n2 {
    margin-inline-end: var(--gap-neg-2);
  }
}

@media (--md) {
  .me-md-n2 {
    margin-inline-end: var(--gap-neg-2);
  }
}

@media (--lg) {
  .me-lg-n2 {
    margin-inline-end: var(--gap-neg-2);
  }
}

@media (--xl) {
  .me-xl-n2 {
    margin-inline-end: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .me-xxl-n2 {
    margin-inline-end: var(--gap-neg-2);
  }
}

// Margin-inline-end Negative 3
.me-n3 {
  margin-inline-end: var(--gap-neg-3);
}

@media (--sm) {
  .me-sm-n3 {
    margin-inline-end: var(--gap-neg-3);
  }
}

@media (--md) {
  .me-md-n3 {
    margin-inline-end: var(--gap-neg-3);
  }
}

@media (--lg) {
  .me-lg-n3 {
    margin-inline-end: var(--gap-neg-3);
  }
}

@media (--xl) {
  .me-xl-n3 {
    margin-inline-end: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .me-xxl-n3 {
    margin-inline-end: var(--gap-neg-3);
  }
}

// Margin-inline-end Negative 4
.me-n4 {
  margin-inline-end: var(--gap-neg-4);
}

@media (--sm) {
  .me-sm-n4 {
    margin-inline-end: var(--gap-neg-4);
  }
}

@media (--md) {
  .me-md-n4 {
    margin-inline-end: var(--gap-neg-4);
  }
}

@media (--lg) {
  .me-lg-n4 {
    margin-inline-end: var(--gap-neg-4);
  }
}

@media (--xl) {
  .me-xl-n4 {
    margin-inline-end: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .me-xxl-n4 {
    margin-inline-end: var(--gap-neg-4);
  }
}

// Margin-inline-end Negative 5
.me-n5 {
  margin-inline-end: var(--gap-neg-5);
}

@media (--sm) {
  .me-sm-n5 {
    margin-inline-end: var(--gap-neg-5);
  }
}

@media (--md) {
  .me-md-n5 {
    margin-inline-end: var(--gap-neg-5);
  }
}

@media (--lg) {
  .me-lg-n5 {
    margin-inline-end: var(--gap-neg-5);
  }
}

@media (--xl) {
  .me-xl-n5 {
    margin-inline-end: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .me-xxl-n5 {
    margin-inline-end: var(--gap-neg-5);
  }
}

// Margin-inline-end Negative 6
.me-n6 {
  margin-inline-end: var(--gap-neg-6);
}

@media (--sm) {
  .me-sm-n6 {
    margin-inline-end: var(--gap-neg-6);
  }
}

@media (--md) {
  .me-md-n6 {
    margin-inline-end: var(--gap-neg-6);
  }
}

@media (--lg) {
  .me-lg-n6 {
    margin-inline-end: var(--gap-neg-6);
  }
}

@media (--xl) {
  .me-xl-n6 {
    margin-inline-end: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .me-xxl-n6 {
    margin-inline-end: var(--gap-neg-6);
  }
}

// Margin-inline-end Negative 7
.me-n7 {
  margin-inline-end: var(--gap-neg-7);
}

@media (--sm) {
  .me-sm-n7 {
    margin-inline-end: var(--gap-neg-7);
  }
}

@media (--md) {
  .me-md-n7 {
    margin-inline-end: var(--gap-neg-7);
  }
}

@media (--lg) {
  .me-lg-n7 {
    margin-inline-end: var(--gap-neg-7);
  }
}

@media (--xl) {
  .me-xl-n7 {
    margin-inline-end: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .me-xxl-n7 {
    margin-inline-end: var(--gap-neg-7);
  }
}

// Margin-inline-end Negative 8
.me-n8 {
  margin-inline-end: var(--gap-neg-8);
}

@media (--sm) {
  .me-sm-n8 {
    margin-inline-end: var(--gap-neg-8);
  }
}

@media (--md) {
  .me-md-n8 {
    margin-inline-end: var(--gap-neg-8);
  }
}

@media (--lg) {
  .me-lg-n8 {
    margin-inline-end: var(--gap-neg-8);
  }
}

@media (--xl) {
  .me-xl-n8 {
    margin-inline-end: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .me-xxl-n8 {
    margin-inline-end: var(--gap-neg-8);
  }
}

// Margin-inline-end Negative 9
.me-n9 {
  margin-inline-end: var(--gap-neg-9);
}

@media (--sm) {
  .me-sm-n9 {
    margin-inline-end: var(--gap-neg-9);
  }
}

@media (--md) {
  .me-md-n9 {
    margin-inline-end: var(--gap-neg-9);
  }
}

@media (--lg) {
  .me-lg-n9 {
    margin-inline-end: var(--gap-neg-9);
  }
}

@media (--xl) {
  .me-xl-n9 {
    margin-inline-end: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .me-xxl-n9 {
    margin-inline-end: var(--gap-neg-9);
  }
}

// Margin-inline-end Negative 10
.me-n10 {
  margin-inline-end: var(--gap-neg-10);
}

@media (--sm) {
  .me-sm-n10 {
    margin-inline-end: var(--gap-neg-10);
  }
}

@media (--md) {
  .me-md-n10 {
    margin-inline-end: var(--gap-neg-10);
  }
}

@media (--lg) {
  .me-lg-n10 {
    margin-inline-end: var(--gap-neg-10);
  }
}

@media (--xl) {
  .me-xl-n10 {
    margin-inline-end: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .me-xxl-n10 {
    margin-inline-end: var(--gap-neg-10);
  }
}
