// Margin-block Negative 1
.my-n1 {
  margin-block: var(--gap-neg-1);
}

@media (--sm) {
  .my-sm-n1 {
    margin-block: var(--gap-neg-1);
  }
}

@media (--md) {
  .my-md-n1 {
    margin-block: var(--gap-neg-1);
  }
}

@media (--lg) {
  .my-lg-n1 {
    margin-block: var(--gap-neg-1);
  }
}

@media (--xl) {
  .my-xl-n1 {
    margin-block: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .my-xxl-n1 {
    margin-block: var(--gap-neg-1);
  }
}

// Margin-block Negative 2
.my-n2 {
  margin-block: var(--gap-neg-2);
}

@media (--sm) {
  .my-sm-n2 {
    margin-block: var(--gap-neg-2);
  }
}

@media (--md) {
  .my-md-n2 {
    margin-block: var(--gap-neg-2);
  }
}

@media (--lg) {
  .my-lg-n2 {
    margin-block: var(--gap-neg-2);
  }
}

@media (--xl) {
  .my-xl-n2 {
    margin-block: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .my-xxl-n2 {
    margin-block: var(--gap-neg-2);
  }
}

// Margin-block Negative 3
.my-n3 {
  margin-block: var(--gap-neg-3);
}

@media (--sm) {
  .my-sm-n3 {
    margin-block: var(--gap-neg-3);
  }
}

@media (--md) {
  .my-md-n3 {
    margin-block: var(--gap-neg-3);
  }
}

@media (--lg) {
  .my-lg-n3 {
    margin-block: var(--gap-neg-3);
  }
}

@media (--xl) {
  .my-xl-n3 {
    margin-block: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .my-xxl-n3 {
    margin-block: var(--gap-neg-3);
  }
}

// Margin-block Negative 4
.my-n4 {
  margin-block: var(--gap-neg-4);
}

@media (--sm) {
  .my-sm-n4 {
    margin-block: var(--gap-neg-4);
  }
}

@media (--md) {
  .my-md-n4 {
    margin-block: var(--gap-neg-4);
  }
}

@media (--lg) {
  .my-lg-n4 {
    margin-block: var(--gap-neg-4);
  }
}

@media (--xl) {
  .my-xl-n4 {
    margin-block: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .my-xxl-n4 {
    margin-block: var(--gap-neg-4);
  }
}

// Margin-block Negative 5
.my-n5 {
  margin-block: var(--gap-neg-5);
}

@media (--sm) {
  .my-sm-n5 {
    margin-block: var(--gap-neg-5);
  }
}

@media (--md) {
  .my-md-n5 {
    margin-block: var(--gap-neg-5);
  }
}

@media (--lg) {
  .my-lg-n5 {
    margin-block: var(--gap-neg-5);
  }
}

@media (--xl) {
  .my-xl-n5 {
    margin-block: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .my-xxl-n5 {
    margin-block: var(--gap-neg-5);
  }
}

// Margin-block Negative 6
.my-n6 {
  margin-block: var(--gap-neg-6);
}

@media (--sm) {
  .my-sm-n6 {
    margin-block: var(--gap-neg-6);
  }
}

@media (--md) {
  .my-md-n6 {
    margin-block: var(--gap-neg-6);
  }
}

@media (--lg) {
  .my-lg-n6 {
    margin-block: var(--gap-neg-6);
  }
}

@media (--xl) {
  .my-xl-n6 {
    margin-block: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .my-xxl-n6 {
    margin-block: var(--gap-neg-6);
  }
}

// Margin-block Negative 7
.my-n7 {
  margin-block: var(--gap-neg-7);
}

@media (--sm) {
  .my-sm-n7 {
    margin-block: var(--gap-neg-7);
  }
}

@media (--md) {
  .my-md-n7 {
    margin-block: var(--gap-neg-7);
  }
}

@media (--lg) {
  .my-lg-n7 {
    margin-block: var(--gap-neg-7);
  }
}

@media (--xl) {
  .my-xl-n7 {
    margin-block: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .my-xxl-n7 {
    margin-block: var(--gap-neg-7);
  }
}

// Margin-block Negative 8
.my-n8 {
  margin-block: var(--gap-neg-8);
}

@media (--sm) {
  .my-sm-n8 {
    margin-block: var(--gap-neg-8);
  }
}

@media (--md) {
  .my-md-n8 {
    margin-block: var(--gap-neg-8);
  }
}

@media (--lg) {
  .my-lg-n8 {
    margin-block: var(--gap-neg-8);
  }
}

@media (--xl) {
  .my-xl-n8 {
    margin-block: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .my-xxl-n8 {
    margin-block: var(--gap-neg-8);
  }
}

// Margin-block Negative 9
.my-n9 {
  margin-block: var(--gap-neg-9);
}

@media (--sm) {
  .my-sm-n9 {
    margin-block: var(--gap-neg-9);
  }
}

@media (--md) {
  .my-md-n9 {
    margin-block: var(--gap-neg-9);
  }
}

@media (--lg) {
  .my-lg-n9 {
    margin-block: var(--gap-neg-9);
  }
}

@media (--xl) {
  .my-xl-n9 {
    margin-block: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .my-xxl-n9 {
    margin-block: var(--gap-neg-9);
  }
}

// Margin-block Negative 10
.my-n10 {
  margin-block: var(--gap-neg-10);
}

@media (--sm) {
  .my-sm-n10 {
    margin-block: var(--gap-neg-10);
  }
}

@media (--md) {
  .my-md-n10 {
    margin-block: var(--gap-neg-10);
  }
}

@media (--lg) {
  .my-lg-n10 {
    margin-block: var(--gap-neg-10);
  }
}

@media (--xl) {
  .my-xl-n10 {
    margin-block: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .my-xxl-n10 {
    margin-block: var(--gap-neg-10);
  }
}
