// Margin-inline 0
.mx-0 {
  margin-inline: 0;
}

@media (--sm) {
  .mx-sm-0 {
    margin-inline: 0;
  }
}

@media (--md) {
  .mx-md-0 {
    margin-inline: 0;
  }
}

@media (--lg) {
  .mx-lg-0 {
    margin-inline: 0;
  }
}

@media (--xl) {
  .mx-xl-0 {
    margin-inline: 0;
  }
}

@media (--xxl) {
  .mx-xxl-0 {
    margin-inline: 0;
  }
}

// Margin-inline 1
.mx-1 {
  margin-inline: var(--gap-1);
}

@media (--sm) {
  .mx-sm-1 {
    margin-inline: var(--gap-1);
  }
}

@media (--md) {
  .mx-md-1 {
    margin-inline: var(--gap-1);
  }
}

@media (--lg) {
  .mx-lg-1 {
    margin-inline: var(--gap-1);
  }
}

@media (--xl) {
  .mx-xl-1 {
    margin-inline: var(--gap-1);
  }
}

@media (--xxl) {
  .mx-xxl-1 {
    margin-inline: var(--gap-1);
  }
}

// Margin-inline 2
.mx-2 {
  margin-inline: var(--gap-2);
}

@media (--sm) {
  .mx-sm-2 {
    margin-inline: var(--gap-2);
  }
}

@media (--md) {
  .mx-md-2 {
    margin-inline: var(--gap-2);
  }
}

@media (--lg) {
  .mx-lg-2 {
    margin-inline: var(--gap-2);
  }
}

@media (--xl) {
  .mx-xl-2 {
    margin-inline: var(--gap-2);
  }
}

@media (--xxl) {
  .mx-xxl-2 {
    margin-inline: var(--gap-2);
  }
}

// Margin-inline 3
.mx-3 {
  margin-inline: var(--gap-3);
}

@media (--sm) {
  .mx-sm-3 {
    margin-inline: var(--gap-3);
  }
}

@media (--md) {
  .mx-md-3 {
    margin-inline: var(--gap-3);
  }
}

@media (--lg) {
  .mx-lg-3 {
    margin-inline: var(--gap-3);
  }
}

@media (--xl) {
  .mx-xl-3 {
    margin-inline: var(--gap-3);
  }
}

@media (--xxl) {
  .mx-xxl-3 {
    margin-inline: var(--gap-3);
  }
}

// Margin-inline 4
.mx-4 {
  margin-inline: var(--gap-4);
}

@media (--sm) {
  .mx-sm-4 {
    margin-inline: var(--gap-4);
  }
}

@media (--md) {
  .mx-md-4 {
    margin-inline: var(--gap-4);
  }
}

@media (--lg) {
  .mx-lg-4 {
    margin-inline: var(--gap-4);
  }
}

@media (--xl) {
  .mx-xl-4 {
    margin-inline: var(--gap-4);
  }
}

@media (--xxl) {
  .mx-xxl-4 {
    margin-inline: var(--gap-4);
  }
}

// Margin-inline 5
.mx-5 {
  margin-inline: var(--gap-5);
}

@media (--sm) {
  .mx-sm-5 {
    margin-inline: var(--gap-5);
  }
}

@media (--md) {
  .mx-md-5 {
    margin-inline: var(--gap-5);
  }
}

@media (--lg) {
  .mx-lg-5 {
    margin-inline: var(--gap-5);
  }
}

@media (--xl) {
  .mx-xl-5 {
    margin-inline: var(--gap-5);
  }
}

@media (--xxl) {
  .mx-xxl-5 {
    margin-inline: var(--gap-5);
  }
}

// Margin-inline 6
.mx-6 {
  margin-inline: var(--gap-6);
}

@media (--sm) {
  .mx-sm-6 {
    margin-inline: var(--gap-6);
  }
}

@media (--md) {
  .mx-md-6 {
    margin-inline: var(--gap-6);
  }
}

@media (--lg) {
  .mx-lg-6 {
    margin-inline: var(--gap-6);
  }
}

@media (--xl) {
  .mx-xl-6 {
    margin-inline: var(--gap-6);
  }
}

@media (--xxl) {
  .mx-xxl-6 {
    margin-inline: var(--gap-6);
  }
}

// Margin-inline 7
.mx-7 {
  margin-inline: var(--gap-7);
}

@media (--sm) {
  .mx-sm-7 {
    margin-inline: var(--gap-7);
  }
}

@media (--md) {
  .mx-md-7 {
    margin-inline: var(--gap-7);
  }
}

@media (--lg) {
  .mx-lg-7 {
    margin-inline: var(--gap-7);
  }
}

@media (--xl) {
  .mx-xl-7 {
    margin-inline: var(--gap-7);
  }
}

@media (--xxl) {
  .mx-xxl-7 {
    margin-inline: var(--gap-7);
  }
}

// Margin-inline 8
.mx-8 {
  margin-inline: var(--gap-8);
}

@media (--sm) {
  .mx-sm-8 {
    margin-inline: var(--gap-8);
  }
}

@media (--md) {
  .mx-md-8 {
    margin-inline: var(--gap-8);
  }
}

@media (--lg) {
  .mx-lg-8 {
    margin-inline: var(--gap-8);
  }
}

@media (--xl) {
  .mx-xl-8 {
    margin-inline: var(--gap-8);
  }
}

@media (--xxl) {
  .mx-xxl-8 {
    margin-inline: var(--gap-8);
  }
}

// Margin-inline 9
.mx-9 {
  margin-inline: var(--gap-9);
}

@media (--sm) {
  .mx-sm-9 {
    margin-inline: var(--gap-9);
  }
}

@media (--md) {
  .mx-md-9 {
    margin-inline: var(--gap-9);
  }
}

@media (--lg) {
  .mx-lg-9 {
    margin-inline: var(--gap-9);
  }
}

@media (--xl) {
  .mx-xl-9 {
    margin-inline: var(--gap-9);
  }
}

@media (--xxl) {
  .mx-xxl-9 {
    margin-inline: var(--gap-9);
  }
}

// Margin-inline 10
.mx-10 {
  margin-inline: var(--gap-10);
}

@media (--sm) {
  .mx-sm-10 {
    margin-inline: var(--gap-10);
  }
}

@media (--md) {
  .mx-md-10 {
    margin-inline: var(--gap-10);
  }
}

@media (--lg) {
  .mx-lg-10 {
    margin-inline: var(--gap-10);
  }
}

@media (--xl) {
  .mx-xl-10 {
    margin-inline: var(--gap-10);
  }
}

@media (--xxl) {
  .mx-xxl-10 {
    margin-inline: var(--gap-10);
  }
}
