// Margin-inline-start 0
.ms-0 {
  margin-inline-start: 0;
}

@media (--sm) {
  .ms-sm-0 {
    margin-inline-start: 0;
  }
}

@media (--md) {
  .ms-md-0 {
    margin-inline-start: 0;
  }
}

@media (--lg) {
  .ms-lg-0 {
    margin-inline-start: 0;
  }
}

@media (--xl) {
  .ms-xl-0 {
    margin-inline-start: 0;
  }
}

@media (--xxl) {
  .ms-xxl-0 {
    margin-inline-start: 0;
  }
}

// Margin-inline-start 1
.ms-1 {
  margin-inline-start: var(--gap-1);
}

@media (--sm) {
  .ms-sm-1 {
    margin-inline-start: var(--gap-1);
  }
}

@media (--md) {
  .ms-md-1 {
    margin-inline-start: var(--gap-1);
  }
}

@media (--lg) {
  .ms-lg-1 {
    margin-inline-start: var(--gap-1);
  }
}

@media (--xl) {
  .ms-xl-1 {
    margin-inline-start: var(--gap-1);
  }
}

@media (--xxl) {
  .ms-xxl-1 {
    margin-inline-start: var(--gap-1);
  }
}

// Margin-inline-start 2
.ms-2 {
  margin-inline-start: var(--gap-2);
}

@media (--sm) {
  .ms-sm-2 {
    margin-inline-start: var(--gap-2);
  }
}

@media (--md) {
  .ms-md-2 {
    margin-inline-start: var(--gap-2);
  }
}

@media (--lg) {
  .ms-lg-2 {
    margin-inline-start: var(--gap-2);
  }
}

@media (--xl) {
  .ms-xl-2 {
    margin-inline-start: var(--gap-2);
  }
}

@media (--xxl) {
  .ms-xxl-2 {
    margin-inline-start: var(--gap-2);
  }
}

// Margin-inline-start 3
.ms-3 {
  margin-inline-start: var(--gap-3);
}

@media (--sm) {
  .ms-sm-3 {
    margin-inline-start: var(--gap-3);
  }
}

@media (--md) {
  .ms-md-3 {
    margin-inline-start: var(--gap-3);
  }
}

@media (--lg) {
  .ms-lg-3 {
    margin-inline-start: var(--gap-3);
  }
}

@media (--xl) {
  .ms-xl-3 {
    margin-inline-start: var(--gap-3);
  }
}

@media (--xxl) {
  .ms-xxl-3 {
    margin-inline-start: var(--gap-3);
  }
}

// Margin-inline-start 4
.ms-4 {
  margin-inline-start: var(--gap-4);
}

@media (--sm) {
  .ms-sm-4 {
    margin-inline-start: var(--gap-4);
  }
}

@media (--md) {
  .ms-md-4 {
    margin-inline-start: var(--gap-4);
  }
}

@media (--lg) {
  .ms-lg-4 {
    margin-inline-start: var(--gap-4);
  }
}

@media (--xl) {
  .ms-xl-4 {
    margin-inline-start: var(--gap-4);
  }
}

@media (--xxl) {
  .ms-xxl-4 {
    margin-inline-start: var(--gap-4);
  }
}

// Margin-inline-start 5
.ms-5 {
  margin-inline-start: var(--gap-5);
}

@media (--sm) {
  .ms-sm-5 {
    margin-inline-start: var(--gap-5);
  }
}

@media (--md) {
  .ms-md-5 {
    margin-inline-start: var(--gap-5);
  }
}

@media (--lg) {
  .ms-lg-5 {
    margin-inline-start: var(--gap-5);
  }
}

@media (--xl) {
  .ms-xl-5 {
    margin-inline-start: var(--gap-5);
  }
}

@media (--xxl) {
  .ms-xxl-5 {
    margin-inline-start: var(--gap-5);
  }
}

// Margin-inline-start 6
.ms-6 {
  margin-inline-start: var(--gap-6);
}

@media (--sm) {
  .ms-sm-6 {
    margin-inline-start: var(--gap-6);
  }
}

@media (--md) {
  .ms-md-6 {
    margin-inline-start: var(--gap-6);
  }
}

@media (--lg) {
  .ms-lg-6 {
    margin-inline-start: var(--gap-6);
  }
}

@media (--xl) {
  .ms-xl-6 {
    margin-inline-start: var(--gap-6);
  }
}

@media (--xxl) {
  .ms-xxl-6 {
    margin-inline-start: var(--gap-6);
  }
}

// Margin-inline-start 7
.ms-7 {
  margin-inline-start: var(--gap-7);
}

@media (--sm) {
  .ms-sm-7 {
    margin-inline-start: var(--gap-7);
  }
}

@media (--md) {
  .ms-md-7 {
    margin-inline-start: var(--gap-7);
  }
}

@media (--lg) {
  .ms-lg-7 {
    margin-inline-start: var(--gap-7);
  }
}

@media (--xl) {
  .ms-xl-7 {
    margin-inline-start: var(--gap-7);
  }
}

@media (--xxl) {
  .ms-xxl-7 {
    margin-inline-start: var(--gap-7);
  }
}

// Margin-inline-start 8
.ms-8 {
  margin-inline-start: var(--gap-8);
}

@media (--sm) {
  .ms-sm-8 {
    margin-inline-start: var(--gap-8);
  }
}

@media (--md) {
  .ms-md-8 {
    margin-inline-start: var(--gap-8);
  }
}

@media (--lg) {
  .ms-lg-8 {
    margin-inline-start: var(--gap-8);
  }
}

@media (--xl) {
  .ms-xl-8 {
    margin-inline-start: var(--gap-8);
  }
}

@media (--xxl) {
  .ms-xxl-8 {
    margin-inline-start: var(--gap-8);
  }
}

// Margin-inline-start 9
.ms-9 {
  margin-inline-start: var(--gap-9);
}

@media (--sm) {
  .ms-sm-9 {
    margin-inline-start: var(--gap-9);
  }
}

@media (--md) {
  .ms-md-9 {
    margin-inline-start: var(--gap-9);
  }
}

@media (--lg) {
  .ms-lg-9 {
    margin-inline-start: var(--gap-9);
  }
}

@media (--xl) {
  .ms-xl-9 {
    margin-inline-start: var(--gap-9);
  }
}

@media (--xxl) {
  .ms-xxl-9 {
    margin-inline-start: var(--gap-9);
  }
}

// Margin-inline-start 10
.ms-10 {
  margin-inline-start: var(--gap-10);
}

@media (--sm) {
  .ms-sm-10 {
    margin-inline-start: var(--gap-10);
  }
}

@media (--md) {
  .ms-md-10 {
    margin-inline-start: var(--gap-10);
  }
}

@media (--lg) {
  .ms-lg-10 {
    margin-inline-start: var(--gap-10);
  }
}

@media (--xl) {
  .ms-xl-10 {
    margin-inline-start: var(--gap-10);
  }
}

@media (--xxl) {
  .ms-xxl-10 {
    margin-inline-start: var(--gap-10);
  }
}
