// Margin-inline Negative 1
.mx-n1 {
  margin-inline: var(--gap-neg-1);
}

@media (--sm) {
  .mx-sm-n1 {
    margin-inline: var(--gap-neg-1);
  }
}

@media (--md) {
  .mx-md-n1 {
    margin-inline: var(--gap-neg-1);
  }
}

@media (--lg) {
  .mx-lg-n1 {
    margin-inline: var(--gap-neg-1);
  }
}

@media (--xl) {
  .mx-xl-n1 {
    margin-inline: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .mx-xxl-n1 {
    margin-inline: var(--gap-neg-1);
  }
}

// Margin-inline Negative 2
.mx-n2 {
  margin-inline: var(--gap-neg-2);
}

@media (--sm) {
  .mx-sm-n2 {
    margin-inline: var(--gap-neg-2);
  }
}

@media (--md) {
  .mx-md-n2 {
    margin-inline: var(--gap-neg-2);
  }
}

@media (--lg) {
  .mx-lg-n2 {
    margin-inline: var(--gap-neg-2);
  }
}

@media (--xl) {
  .mx-xl-n2 {
    margin-inline: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .mx-xxl-n2 {
    margin-inline: var(--gap-neg-2);
  }
}

// Margin-inline Negative 3
.mx-n3 {
  margin-inline: var(--gap-neg-3);
}

@media (--sm) {
  .mx-sm-n3 {
    margin-inline: var(--gap-neg-3);
  }
}

@media (--md) {
  .mx-md-n3 {
    margin-inline: var(--gap-neg-3);
  }
}

@media (--lg) {
  .mx-lg-n3 {
    margin-inline: var(--gap-neg-3);
  }
}

@media (--xl) {
  .mx-xl-n3 {
    margin-inline: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .mx-xxl-n3 {
    margin-inline: var(--gap-neg-3);
  }
}

// Margin-inline Negative 4
.mx-n4 {
  margin-inline: var(--gap-neg-4);
}

@media (--sm) {
  .mx-sm-n4 {
    margin-inline: var(--gap-neg-4);
  }
}

@media (--md) {
  .mx-md-n4 {
    margin-inline: var(--gap-neg-4);
  }
}

@media (--lg) {
  .mx-lg-n4 {
    margin-inline: var(--gap-neg-4);
  }
}

@media (--xl) {
  .mx-xl-n4 {
    margin-inline: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .mx-xxl-n4 {
    margin-inline: var(--gap-neg-4);
  }
}

// Margin-inline Negative 5
.mx-n5 {
  margin-inline: var(--gap-neg-5);
}

@media (--sm) {
  .mx-sm-n5 {
    margin-inline: var(--gap-neg-5);
  }
}

@media (--md) {
  .mx-md-n5 {
    margin-inline: var(--gap-neg-5);
  }
}

@media (--lg) {
  .mx-lg-n5 {
    margin-inline: var(--gap-neg-5);
  }
}

@media (--xl) {
  .mx-xl-n5 {
    margin-inline: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .mx-xxl-n5 {
    margin-inline: var(--gap-neg-5);
  }
}

// Margin-inline Negative 6
.mx-n6 {
  margin-inline: var(--gap-neg-6);
}

@media (--sm) {
  .mx-sm-n6 {
    margin-inline: var(--gap-neg-6);
  }
}

@media (--md) {
  .mx-md-n6 {
    margin-inline: var(--gap-neg-6);
  }
}

@media (--lg) {
  .mx-lg-n6 {
    margin-inline: var(--gap-neg-6);
  }
}

@media (--xl) {
  .mx-xl-n6 {
    margin-inline: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .mx-xxl-n6 {
    margin-inline: var(--gap-neg-6);
  }
}

// Margin-inline Negative 7
.mx-n7 {
  margin-inline: var(--gap-neg-7);
}

@media (--sm) {
  .mx-sm-n7 {
    margin-inline: var(--gap-neg-7);
  }
}

@media (--md) {
  .mx-md-n7 {
    margin-inline: var(--gap-neg-7);
  }
}

@media (--lg) {
  .mx-lg-n7 {
    margin-inline: var(--gap-neg-7);
  }
}

@media (--xl) {
  .mx-xl-n7 {
    margin-inline: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .mx-xxl-n7 {
    margin-inline: var(--gap-neg-7);
  }
}

// Margin-inline Negative 8
.mx-n8 {
  margin-inline: var(--gap-neg-8);
}

@media (--sm) {
  .mx-sm-n8 {
    margin-inline: var(--gap-neg-8);
  }
}

@media (--md) {
  .mx-md-n8 {
    margin-inline: var(--gap-neg-8);
  }
}

@media (--lg) {
  .mx-lg-n8 {
    margin-inline: var(--gap-neg-8);
  }
}

@media (--xl) {
  .mx-xl-n8 {
    margin-inline: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .mx-xxl-n8 {
    margin-inline: var(--gap-neg-8);
  }
}

// Margin-inline Negative 9
.mx-n9 {
  margin-inline: var(--gap-neg-9);
}

@media (--sm) {
  .mx-sm-n9 {
    margin-inline: var(--gap-neg-9);
  }
}

@media (--md) {
  .mx-md-n9 {
    margin-inline: var(--gap-neg-9);
  }
}

@media (--lg) {
  .mx-lg-n9 {
    margin-inline: var(--gap-neg-9);
  }
}

@media (--xl) {
  .mx-xl-n9 {
    margin-inline: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .mx-xxl-n9 {
    margin-inline: var(--gap-neg-9);
  }
}

// Margin-inline Negative 10
.mx-n10 {
  margin-inline: var(--gap-neg-10);
}

@media (--sm) {
  .mx-sm-n10 {
    margin-inline: var(--gap-neg-10);
  }
}

@media (--md) {
  .mx-md-n10 {
    margin-inline: var(--gap-neg-10);
  }
}

@media (--lg) {
  .mx-lg-n10 {
    margin-inline: var(--gap-neg-10);
  }
}

@media (--xl) {
  .mx-xl-n10 {
    margin-inline: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .mx-xxl-n10 {
    margin-inline: var(--gap-neg-10);
  }
}
