// margin-block-end Negative 1
.mb-n1 {
  margin-block-end: var(--spacer-neg-1);
}

@media (--sm) {
  .mb-sm-n1 {
    margin-block-end: var(--spacer-neg-1);
  }
}

@media (--md) {
  .mb-md-n1 {
    margin-block-end: var(--spacer-neg-1);
  }
}

@media (--lg) {
  .mb-lg-n1 {
    margin-block-end: var(--spacer-neg-1);
  }
}

@media (--xl) {
  .mb-xl-n1 {
    margin-block-end: var(--spacer-neg-1);
  }
}

@media (--xxl) {
  .mb-xxl-n1 {
    margin-block-end: var(--spacer-neg-1);
  }
}

// margin-block-end Negative 2
.mb-n2 {
  margin-block-end: var(--spacer-neg-2);
}

@media (--sm) {
  .mb-sm-n2 {
    margin-block-end: var(--spacer-neg-2);
  }
}

@media (--md) {
  .mb-md-n2 {
    margin-block-end: var(--spacer-neg-2);
  }
}

@media (--lg) {
  .mb-lg-n2 {
    margin-block-end: var(--spacer-neg-2);
  }
}

@media (--xl) {
  .mb-xl-n2 {
    margin-block-end: var(--spacer-neg-2);
  }
}

@media (--xxl) {
  .mb-xxl-n2 {
    margin-block-end: var(--spacer-neg-2);
  }
}

// margin-block-end Negative 3
.mb-n3 {
  margin-block-end: var(--spacer-neg-3);
}

@media (--sm) {
  .mb-sm-n3 {
    margin-block-end: var(--spacer-neg-3);
  }
}

@media (--md) {
  .mb-md-n3 {
    margin-block-end: var(--spacer-neg-3);
  }
}

@media (--lg) {
  .mb-lg-n3 {
    margin-block-end: var(--spacer-neg-3);
  }
}

@media (--xl) {
  .mb-xl-n3 {
    margin-block-end: var(--spacer-neg-3);
  }
}

@media (--xxl) {
  .mb-xxl-n3 {
    margin-block-end: var(--spacer-neg-3);
  }
}

// margin-block-end Negative 4
.mb-n4 {
  margin-block-end: var(--spacer-neg-4);
}

@media (--sm) {
  .mb-sm-n4 {
    margin-block-end: var(--spacer-neg-4);
  }
}

@media (--md) {
  .mb-md-n4 {
    margin-block-end: var(--spacer-neg-4);
  }
}

@media (--lg) {
  .mb-lg-n4 {
    margin-block-end: var(--spacer-neg-4);
  }
}

@media (--xl) {
  .mb-xl-n4 {
    margin-block-end: var(--spacer-neg-4);
  }
}

@media (--xxl) {
  .mb-xxl-n4 {
    margin-block-end: var(--spacer-neg-4);
  }
}

// margin-block-end Negative 5
.mb-n5 {
  margin-block-end: var(--spacer-neg-5);
}

@media (--sm) {
  .mb-sm-n5 {
    margin-block-end: var(--spacer-neg-5);
  }
}

@media (--md) {
  .mb-md-n5 {
    margin-block-end: var(--spacer-neg-5);
  }
}

@media (--lg) {
  .mb-lg-n5 {
    margin-block-end: var(--spacer-neg-5);
  }
}

@media (--xl) {
  .mb-xl-n5 {
    margin-block-end: var(--spacer-neg-5);
  }
}

@media (--xxl) {
  .mb-xxl-n5 {
    margin-block-end: var(--spacer-neg-5);
  }
}

// margin-block-end Negative 6
.mb-n6 {
  margin-block-end: var(--spacer-neg-6);
}

@media (--sm) {
  .mb-sm-n6 {
    margin-block-end: var(--spacer-neg-6);
  }
}

@media (--md) {
  .mb-md-n6 {
    margin-block-end: var(--spacer-neg-6);
  }
}

@media (--lg) {
  .mb-lg-n6 {
    margin-block-end: var(--spacer-neg-6);
  }
}

@media (--xl) {
  .mb-xl-n6 {
    margin-block-end: var(--spacer-neg-6);
  }
}

@media (--xxl) {
  .mb-xxl-n6 {
    margin-block-end: var(--spacer-neg-6);
  }
}

// margin-block-end Negative 7
.mb-n7 {
  margin-block-end: var(--spacer-neg-7);
}

@media (--sm) {
  .mb-sm-n7 {
    margin-block-end: var(--spacer-neg-7);
  }
}

@media (--md) {
  .mb-md-n7 {
    margin-block-end: var(--spacer-neg-7);
  }
}

@media (--lg) {
  .mb-lg-n7 {
    margin-block-end: var(--spacer-neg-7);
  }
}

@media (--xl) {
  .mb-xl-n7 {
    margin-block-end: var(--spacer-neg-7);
  }
}

@media (--xxl) {
  .mb-xxl-n7 {
    margin-block-end: var(--spacer-neg-7);
  }
}

// margin-block-end Negative 8
.mb-n8 {
  margin-block-end: var(--spacer-neg-8);
}

@media (--sm) {
  .mb-sm-n8 {
    margin-block-end: var(--spacer-neg-8);
  }
}

@media (--md) {
  .mb-md-n8 {
    margin-block-end: var(--spacer-neg-8);
  }
}

@media (--lg) {
  .mb-lg-n8 {
    margin-block-end: var(--spacer-neg-8);
  }
}

@media (--xl) {
  .mb-xl-n8 {
    margin-block-end: var(--spacer-neg-8);
  }
}

@media (--xxl) {
  .mb-xxl-n8 {
    margin-block-end: var(--spacer-neg-8);
  }
}

// margin-block-end Negative 9
.mb-n9 {
  margin-block-end: var(--spacer-neg-9);
}

@media (--sm) {
  .mb-sm-n9 {
    margin-block-end: var(--spacer-neg-9);
  }
}

@media (--md) {
  .mb-md-n9 {
    margin-block-end: var(--spacer-neg-9);
  }
}

@media (--lg) {
  .mb-lg-n9 {
    margin-block-end: var(--spacer-neg-9);
  }
}

@media (--xl) {
  .mb-xl-n9 {
    margin-block-end: var(--spacer-neg-9);
  }
}

@media (--xxl) {
  .mb-xxl-n9 {
    margin-block-end: var(--spacer-neg-9);
  }
}

// margin-block-end Negative 10
.mb-n10 {
  margin-block-end: var(--spacer-neg-10);
}

@media (--sm) {
  .mb-sm-n10 {
    margin-block-end: var(--spacer-neg-10);
  }
}

@media (--md) {
  .mb-md-n10 {
    margin-block-end: var(--spacer-neg-10);
  }
}

@media (--lg) {
  .mb-lg-n10 {
    margin-block-end: var(--spacer-neg-10);
  }
}

@media (--xl) {
  .mb-xl-n10 {
    margin-block-end: var(--spacer-neg-10);
  }
}

@media (--xxl) {
  .mb-xxl-n10 {
    margin-block-end: var(--spacer-neg-10);
  }
}

// margin-block-end Negative 12
.mb-n12 {
  margin-block-end: var(--spacer-neg-12);
}

@media (--sm) {
  .mb-sm-n12 {
    margin-block-end: var(--spacer-neg-12);
  }
}

@media (--md) {
  .mb-md-n12 {
    margin-block-end: var(--spacer-neg-12);
  }
}

@media (--lg) {
  .mb-lg-n12 {
    margin-block-end: var(--spacer-neg-12);
  }
}

@media (--xl) {
  .mb-xl-n12 {
    margin-block-end: var(--spacer-neg-12);
  }
}

@media (--xxl) {
  .mb-xxl-n12 {
    margin-block-end: var(--spacer-neg-12);
  }
}

// margin-block-end Negative 14
.mb-n14 {
  margin-block-end: var(--spacer-neg-14);
}

@media (--sm) {
  .mb-sm-n14 {
    margin-block-end: var(--spacer-neg-14);
  }
}

@media (--md) {
  .mb-md-n14 {
    margin-block-end: var(--spacer-neg-14);
  }
}

@media (--lg) {
  .mb-lg-n14 {
    margin-block-end: var(--spacer-neg-14);
  }
}

@media (--xl) {
  .mb-xl-n14 {
    margin-block-end: var(--spacer-neg-14);
  }
}

@media (--xxl) {
  .mb-xxl-n14 {
    margin-block-end: var(--spacer-neg-14);
  }
}

// margin-block-end Negative 16
.mb-n16 {
  margin-block-end: var(--spacer-neg-16);
}

@media (--sm) {
  .mb-sm-n16 {
    margin-block-end: var(--spacer-neg-16);
  }
}

@media (--md) {
  .mb-md-n16 {
    margin-block-end: var(--spacer-neg-16);
  }
}

@media (--lg) {
  .mb-lg-n16 {
    margin-block-end: var(--spacer-neg-16);
  }
}

@media (--xl) {
  .mb-xl-n16 {
    margin-block-end: var(--spacer-neg-16);
  }
}

@media (--xxl) {
  .mb-xxl-n16 {
    margin-block-end: var(--spacer-neg-16);
  }
}

// margin-block-end Negative 20
.mb-n20 {
  margin-block-end: var(--spacer-neg-20);
}

@media (--sm) {
  .mb-sm-n20 {
    margin-block-end: var(--spacer-neg-20);
  }
}

@media (--md) {
  .mb-md-n20 {
    margin-block-end: var(--spacer-neg-20);
  }
}

@media (--lg) {
  .mb-lg-n20 {
    margin-block-end: var(--spacer-neg-20);
  }
}

@media (--xl) {
  .mb-xl-n20 {
    margin-block-end: var(--spacer-neg-20);
  }
}

@media (--xxl) {
  .mb-xxl-n20 {
    margin-block-end: var(--spacer-neg-20);
  }
}

// margin-block-end Negative 24
.mb-n24 {
  margin-block-end: var(--spacer-neg-24);
}

@media (--sm) {
  .mb-sm-n24 {
    margin-block-end: var(--spacer-neg-24);
  }
}

@media (--md) {
  .mb-md-n24 {
    margin-block-end: var(--spacer-neg-24);
  }
}

@media (--lg) {
  .mb-lg-n24 {
    margin-block-end: var(--spacer-neg-24);
  }
}

@media (--xl) {
  .mb-xl-n24 {
    margin-block-end: var(--spacer-neg-24);
  }
}

@media (--xxl) {
  .mb-xxl-n24 {
    margin-block-end: var(--spacer-neg-24);
  }
}

// margin-block-end Negative 28
.mb-n28 {
  margin-block-end: var(--spacer-neg-28);
}

@media (--sm) {
  .mb-sm-n28 {
    margin-block-end: var(--spacer-neg-28);
  }
}

@media (--md) {
  .mb-md-n28 {
    margin-block-end: var(--spacer-neg-28);
  }
}

@media (--lg) {
  .mb-lg-n28 {
    margin-block-end: var(--spacer-neg-28);
  }
}

@media (--xl) {
  .mb-xl-n28 {
    margin-block-end: var(--spacer-neg-28);
  }
}

@media (--xxl) {
  .mb-xxl-n28 {
    margin-block-end: var(--spacer-neg-28);
  }
}

// margin-block-end Negative 32
.mb-n32 {
  margin-block-end: var(--spacer-neg-32);
}

@media (--sm) {
  .mb-sm-n32 {
    margin-block-end: var(--spacer-neg-32);
  }
}

@media (--md) {
  .mb-md-n32 {
    margin-block-end: var(--spacer-neg-32);
  }
}

@media (--lg) {
  .mb-lg-n32 {
    margin-block-end: var(--spacer-neg-32);
  }
}

@media (--xl) {
  .mb-xl-n32 {
    margin-block-end: var(--spacer-neg-32);
  }
}

@media (--xxl) {
  .mb-xxl-n32 {
    margin-block-end: var(--spacer-neg-32);
  }
}

// margin-block-end Negative 36
.mb-n36 {
  margin-block-end: var(--spacer-neg-36);
}

@media (--sm) {
  .mb-sm-n36 {
    margin-block-end: var(--spacer-neg-36);
  }
}

@media (--md) {
  .mb-md-n36 {
    margin-block-end: var(--spacer-neg-36);
  }
}

@media (--lg) {
  .mb-lg-n36 {
    margin-block-end: var(--spacer-neg-36);
  }
}

@media (--xl) {
  .mb-xl-n36 {
    margin-block-end: var(--spacer-neg-36);
  }
}

@media (--xxl) {
  .mb-xxl-n36 {
    margin-block-end: var(--spacer-neg-36);
  }
}

// margin-block-end Negative 40
.mb-n40 {
  margin-block-end: var(--spacer-neg-40);
}

@media (--sm) {
  .mb-sm-n40 {
    margin-block-end: var(--spacer-neg-40);
  }
}

@media (--md) {
  .mb-md-n40 {
    margin-block-end: var(--spacer-neg-40);
  }
}

@media (--lg) {
  .mb-lg-n40 {
    margin-block-end: var(--spacer-neg-40);
  }
}

@media (--xl) {
  .mb-xl-n40 {
    margin-block-end: var(--spacer-neg-40);
  }
}

@media (--xxl) {
  .mb-xxl-n40 {
    margin-block-end: var(--spacer-neg-40);
  }
}

// margin-block-end Negative 44
.mb-n44 {
  margin-block-end: var(--spacer-neg-44);
}

@media (--sm) {
  .mb-sm-n44 {
    margin-block-end: var(--spacer-neg-44);
  }
}

@media (--md) {
  .mb-md-n44 {
    margin-block-end: var(--spacer-neg-44);
  }
}

@media (--lg) {
  .mb-lg-n44 {
    margin-block-end: var(--spacer-neg-44);
  }
}

@media (--xl) {
  .mb-xl-n44 {
    margin-block-end: var(--spacer-neg-44);
  }
}

@media (--xxl) {
  .mb-xxl-n44 {
    margin-block-end: var(--spacer-neg-44);
  }
}

// margin-block-end Negative 48
.mb-n48 {
  margin-block-end: var(--spacer-neg-48);
}

@media (--sm) {
  .mb-sm-n48 {
    margin-block-end: var(--spacer-neg-48);
  }
}

@media (--md) {
  .mb-md-n48 {
    margin-block-end: var(--spacer-neg-48);
  }
}

@media (--lg) {
  .mb-lg-n48 {
    margin-block-end: var(--spacer-neg-48);
  }
}

@media (--xl) {
  .mb-xl-n48 {
    margin-block-end: var(--spacer-neg-48);
  }
}

@media (--xxl) {
  .mb-xxl-n48 {
    margin-block-end: var(--spacer-neg-48);
  }
}

// margin-block-end Negative 52
.mb-n52 {
  margin-block-end: var(--spacer-neg-52);
}

@media (--sm) {
  .mb-sm-n52 {
    margin-block-end: var(--spacer-neg-52);
  }
}

@media (--md) {
  .mb-md-n52 {
    margin-block-end: var(--spacer-neg-52);
  }
}

@media (--lg) {
  .mb-lg-n52 {
    margin-block-end: var(--spacer-neg-52);
  }
}

@media (--xl) {
  .mb-xl-n52 {
    margin-block-end: var(--spacer-neg-52);
  }
}

@media (--xxl) {
  .mb-xxl-n52 {
    margin-block-end: var(--spacer-neg-52);
  }
}

// margin-block-end Negative 56
.mb-n56 {
  margin-block-end: var(--spacer-neg-56);
}

@media (--sm) {
  .mb-sm-n56 {
    margin-block-end: var(--spacer-neg-56);
  }
}

@media (--md) {
  .mb-md-n56 {
    margin-block-end: var(--spacer-neg-56);
  }
}

@media (--lg) {
  .mb-lg-n56 {
    margin-block-end: var(--spacer-neg-56);
  }
}

@media (--xl) {
  .mb-xl-n56 {
    margin-block-end: var(--spacer-neg-56);
  }
}

@media (--xxl) {
  .mb-xxl-n56 {
    margin-block-end: var(--spacer-neg-56);
  }
}

// margin-block-end Negative 60
.mb-n60 {
  margin-block-end: var(--spacer-neg-60);
}

@media (--sm) {
  .mb-sm-n60 {
    margin-block-end: var(--spacer-neg-60);
  }
}

@media (--md) {
  .mb-md-n60 {
    margin-block-end: var(--spacer-neg-60);
  }
}

@media (--lg) {
  .mb-lg-n60 {
    margin-block-end: var(--spacer-neg-60);
  }
}

@media (--xl) {
  .mb-xl-n60 {
    margin-block-end: var(--spacer-neg-60);
  }
}

@media (--xxl) {
  .mb-xxl-n60 {
    margin-block-end: var(--spacer-neg-60);
  }
}

// margin-block-end Negative 64
.mb-n64 {
  margin-block-end: var(--spacer-neg-64);
}

@media (--sm) {
  .mb-sm-n64 {
    margin-block-end: var(--spacer-neg-64);
  }
}

@media (--md) {
  .mb-md-n64 {
    margin-block-end: var(--spacer-neg-64);
  }
}

@media (--lg) {
  .mb-lg-n64 {
    margin-block-end: var(--spacer-neg-64);
  }
}

@media (--xl) {
  .mb-xl-n64 {
    margin-block-end: var(--spacer-neg-64);
  }
}

@media (--xxl) {
  .mb-xxl-n64 {
    margin-block-end: var(--spacer-neg-64);
  }
}

// margin-block-end Negative 72
.mb-n72 {
  margin-block-end: var(--spacer-neg-72);
}

@media (--sm) {
  .mb-sm-n72 {
    margin-block-end: var(--spacer-neg-72);
  }
}

@media (--md) {
  .mb-md-n72 {
    margin-block-end: var(--spacer-neg-72);
  }
}

@media (--lg) {
  .mb-lg-n72 {
    margin-block-end: var(--spacer-neg-72);
  }
}

@media (--xl) {
  .mb-xl-n72 {
    margin-block-end: var(--spacer-neg-72);
  }
}

@media (--xxl) {
  .mb-xxl-n72 {
    margin-block-end: var(--spacer-neg-72);
  }
}

// margin-block-end Negative 80
.mb-n80 {
  margin-block-end: var(--spacer-neg-80);
}

@media (--sm) {
  .mb-sm-n80 {
    margin-block-end: var(--spacer-neg-80);
  }
}

@media (--md) {
  .mb-md-n80 {
    margin-block-end: var(--spacer-neg-80);
  }
}

@media (--lg) {
  .mb-lg-n80 {
    margin-block-end: var(--spacer-neg-80);
  }
}

@media (--xl) {
  .mb-xl-n80 {
    margin-block-end: var(--spacer-neg-80);
  }
}

@media (--xxl) {
  .mb-xxl-n80 {
    margin-block-end: var(--spacer-neg-80);
  }
}

// margin-block-end Negative 96
.mb-n96 {
  margin-block-end: var(--spacer-neg-96);
}

@media (--sm) {
  .mb-sm-n96 {
    margin-block-end: var(--spacer-neg-96);
  }
}

@media (--md) {
  .mb-md-n96 {
    margin-block-end: var(--spacer-neg-96);
  }
}

@media (--lg) {
  .mb-lg-n96 {
    margin-block-end: var(--spacer-neg-96);
  }
}

@media (--xl) {
  .mb-xl-n96 {
    margin-block-end: var(--spacer-neg-96);
  }
}

@media (--xxl) {
  .mb-xxl-n96 {
    margin-block-end: var(--spacer-neg-96);
  }
}
