// Margin-block-start Negative 1
.mt-n1 {
  margin-block-start: var(--gap-neg-1);
}

@media (--sm) {
  .mt-sm-n1 {
    margin-block-start: var(--gap-neg-1);
  }
}

@media (--md) {
  .mt-md-n1 {
    margin-block-start: var(--gap-neg-1);
  }
}

@media (--lg) {
  .mt-lg-n1 {
    margin-block-start: var(--gap-neg-1);
  }
}

@media (--xl) {
  .mt-xl-n1 {
    margin-block-start: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .mt-xxl-n1 {
    margin-block-start: var(--gap-neg-1);
  }
}

// Margin-block-start Negative 2
.mt-n2 {
  margin-block-start: var(--gap-neg-2);
}

@media (--sm) {
  .mt-sm-n2 {
    margin-block-start: var(--gap-neg-2);
  }
}

@media (--md) {
  .mt-md-n2 {
    margin-block-start: var(--gap-neg-2);
  }
}

@media (--lg) {
  .mt-lg-n2 {
    margin-block-start: var(--gap-neg-2);
  }
}

@media (--xl) {
  .mt-xl-n2 {
    margin-block-start: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .mt-xxl-n2 {
    margin-block-start: var(--gap-neg-2);
  }
}

// Margin-block-start Negative 3
.mt-n3 {
  margin-block-start: var(--gap-neg-3);
}

@media (--sm) {
  .mt-sm-n3 {
    margin-block-start: var(--gap-neg-3);
  }
}

@media (--md) {
  .mt-md-n3 {
    margin-block-start: var(--gap-neg-3);
  }
}

@media (--lg) {
  .mt-lg-n3 {
    margin-block-start: var(--gap-neg-3);
  }
}

@media (--xl) {
  .mt-xl-n3 {
    margin-block-start: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .mt-xxl-n3 {
    margin-block-start: var(--gap-neg-3);
  }
}

// Margin-block-start Negative 4
.mt-n4 {
  margin-block-start: var(--gap-neg-4);
}

@media (--sm) {
  .mt-sm-n4 {
    margin-block-start: var(--gap-neg-4);
  }
}

@media (--md) {
  .mt-md-n4 {
    margin-block-start: var(--gap-neg-4);
  }
}

@media (--lg) {
  .mt-lg-n4 {
    margin-block-start: var(--gap-neg-4);
  }
}

@media (--xl) {
  .mt-xl-n4 {
    margin-block-start: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .mt-xxl-n4 {
    margin-block-start: var(--gap-neg-4);
  }
}

// Margin-block-start Negative 5
.mt-n5 {
  margin-block-start: var(--gap-neg-5);
}

@media (--sm) {
  .mt-sm-n5 {
    margin-block-start: var(--gap-neg-5);
  }
}

@media (--md) {
  .mt-md-n5 {
    margin-block-start: var(--gap-neg-5);
  }
}

@media (--lg) {
  .mt-lg-n5 {
    margin-block-start: var(--gap-neg-5);
  }
}

@media (--xl) {
  .mt-xl-n5 {
    margin-block-start: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .mt-xxl-n5 {
    margin-block-start: var(--gap-neg-5);
  }
}

// Margin-block-start Negative 6
.mt-n6 {
  margin-block-start: var(--gap-neg-6);
}

@media (--sm) {
  .mt-sm-n6 {
    margin-block-start: var(--gap-neg-6);
  }
}

@media (--md) {
  .mt-md-n6 {
    margin-block-start: var(--gap-neg-6);
  }
}

@media (--lg) {
  .mt-lg-n6 {
    margin-block-start: var(--gap-neg-6);
  }
}

@media (--xl) {
  .mt-xl-n6 {
    margin-block-start: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .mt-xxl-n6 {
    margin-block-start: var(--gap-neg-6);
  }
}

// Margin-block-start Negative 7
.mt-n7 {
  margin-block-start: var(--gap-neg-7);
}

@media (--sm) {
  .mt-sm-n7 {
    margin-block-start: var(--gap-neg-7);
  }
}

@media (--md) {
  .mt-md-n7 {
    margin-block-start: var(--gap-neg-7);
  }
}

@media (--lg) {
  .mt-lg-n7 {
    margin-block-start: var(--gap-neg-7);
  }
}

@media (--xl) {
  .mt-xl-n7 {
    margin-block-start: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .mt-xxl-n7 {
    margin-block-start: var(--gap-neg-7);
  }
}

// Margin-block-start Negative 8
.mt-n8 {
  margin-block-start: var(--gap-neg-8);
}

@media (--sm) {
  .mt-sm-n8 {
    margin-block-start: var(--gap-neg-8);
  }
}

@media (--md) {
  .mt-md-n8 {
    margin-block-start: var(--gap-neg-8);
  }
}

@media (--lg) {
  .mt-lg-n8 {
    margin-block-start: var(--gap-neg-8);
  }
}

@media (--xl) {
  .mt-xl-n8 {
    margin-block-start: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .mt-xxl-n8 {
    margin-block-start: var(--gap-neg-8);
  }
}

// Margin-block-start Negative 9
.mt-n9 {
  margin-block-start: var(--gap-neg-9);
}

@media (--sm) {
  .mt-sm-n9 {
    margin-block-start: var(--gap-neg-9);
  }
}

@media (--md) {
  .mt-md-n9 {
    margin-block-start: var(--gap-neg-9);
  }
}

@media (--lg) {
  .mt-lg-n9 {
    margin-block-start: var(--gap-neg-9);
  }
}

@media (--xl) {
  .mt-xl-n9 {
    margin-block-start: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .mt-xxl-n9 {
    margin-block-start: var(--gap-neg-9);
  }
}

// Margin-block-start Negative 10
.mt-n10 {
  margin-block-start: var(--gap-neg-10);
}

@media (--sm) {
  .mt-sm-n10 {
    margin-block-start: var(--gap-neg-10);
  }
}

@media (--md) {
  .mt-md-n10 {
    margin-block-start: var(--gap-neg-10);
  }
}

@media (--lg) {
  .mt-lg-n10 {
    margin-block-start: var(--gap-neg-10);
  }
}

@media (--xl) {
  .mt-xl-n10 {
    margin-block-start: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .mt-xxl-n10 {
    margin-block-start: var(--gap-neg-10);
  }
}
