// Margin-block-end 0
.mb-0 {
  margin-block-end: 0;
}

@media (--sm) {
  .mb-sm-0 {
    margin-block-end: 0;
  }
}

@media (--md) {
  .mb-md-0 {
    margin-block-end: 0;
  }
}

@media (--lg) {
  .mb-lg-0 {
    margin-block-end: 0;
  }
}

@media (--xl) {
  .mb-xl-0 {
    margin-block-end: 0;
  }
}

@media (--xxl) {
  .mb-xxl-0 {
    margin-block-end: 0;
  }
}

// Margin-block-end 1
.mb-1 {
  margin-block-end: var(--gap-1);
}

@media (--sm) {
  .mb-sm-1 {
    margin-block-end: var(--gap-1);
  }
}

@media (--md) {
  .mb-md-1 {
    margin-block-end: var(--gap-1);
  }
}

@media (--lg) {
  .mb-lg-1 {
    margin-block-end: var(--gap-1);
  }
}

@media (--xl) {
  .mb-xl-1 {
    margin-block-end: var(--gap-1);
  }
}

@media (--xxl) {
  .mb-xxl-1 {
    margin-block-end: var(--gap-1);
  }
}

// Margin-block-end 2
.mb-2 {
  margin-block-end: var(--gap-2);
}

@media (--sm) {
  .mb-sm-2 {
    margin-block-end: var(--gap-2);
  }
}

@media (--md) {
  .mb-md-2 {
    margin-block-end: var(--gap-2);
  }
}

@media (--lg) {
  .mb-lg-2 {
    margin-block-end: var(--gap-2);
  }
}

@media (--xl) {
  .mb-xl-2 {
    margin-block-end: var(--gap-2);
  }
}

@media (--xxl) {
  .mb-xxl-2 {
    margin-block-end: var(--gap-2);
  }
}

// Margin-block-end 3
.mb-3 {
  margin-block-end: var(--gap-3);
}

@media (--sm) {
  .mb-sm-3 {
    margin-block-end: var(--gap-3);
  }
}

@media (--md) {
  .mb-md-3 {
    margin-block-end: var(--gap-3);
  }
}

@media (--lg) {
  .mb-lg-3 {
    margin-block-end: var(--gap-3);
  }
}

@media (--xl) {
  .mb-xl-3 {
    margin-block-end: var(--gap-3);
  }
}

@media (--xxl) {
  .mb-xxl-3 {
    margin-block-end: var(--gap-3);
  }
}

// Margin-block-end 4
.mb-4 {
  margin-block-end: var(--gap-4);
}

@media (--sm) {
  .mb-sm-4 {
    margin-block-end: var(--gap-4);
  }
}

@media (--md) {
  .mb-md-4 {
    margin-block-end: var(--gap-4);
  }
}

@media (--lg) {
  .mb-lg-4 {
    margin-block-end: var(--gap-4);
  }
}

@media (--xl) {
  .mb-xl-4 {
    margin-block-end: var(--gap-4);
  }
}

@media (--xxl) {
  .mb-xxl-4 {
    margin-block-end: var(--gap-4);
  }
}

// Margin-block-end 5
.mb-5 {
  margin-block-end: var(--gap-5);
}

@media (--sm) {
  .mb-sm-5 {
    margin-block-end: var(--gap-5);
  }
}

@media (--md) {
  .mb-md-5 {
    margin-block-end: var(--gap-5);
  }
}

@media (--lg) {
  .mb-lg-5 {
    margin-block-end: var(--gap-5);
  }
}

@media (--xl) {
  .mb-xl-5 {
    margin-block-end: var(--gap-5);
  }
}

@media (--xxl) {
  .mb-xxl-5 {
    margin-block-end: var(--gap-5);
  }
}

// Margin-block-end 6
.mb-6 {
  margin-block-end: var(--gap-6);
}

@media (--sm) {
  .mb-sm-6 {
    margin-block-end: var(--gap-6);
  }
}

@media (--md) {
  .mb-md-6 {
    margin-block-end: var(--gap-6);
  }
}

@media (--lg) {
  .mb-lg-6 {
    margin-block-end: var(--gap-6);
  }
}

@media (--xl) {
  .mb-xl-6 {
    margin-block-end: var(--gap-6);
  }
}

@media (--xxl) {
  .mb-xxl-6 {
    margin-block-end: var(--gap-6);
  }
}

// Margin-block-end 7
.mb-7 {
  margin-block-end: var(--gap-7);
}

@media (--sm) {
  .mb-sm-7 {
    margin-block-end: var(--gap-7);
  }
}

@media (--md) {
  .mb-md-7 {
    margin-block-end: var(--gap-7);
  }
}

@media (--lg) {
  .mb-lg-7 {
    margin-block-end: var(--gap-7);
  }
}

@media (--xl) {
  .mb-xl-7 {
    margin-block-end: var(--gap-7);
  }
}

@media (--xxl) {
  .mb-xxl-7 {
    margin-block-end: var(--gap-7);
  }
}

// Margin-block-end 8
.mb-8 {
  margin-block-end: var(--gap-8);
}

@media (--sm) {
  .mb-sm-8 {
    margin-block-end: var(--gap-8);
  }
}

@media (--md) {
  .mb-md-8 {
    margin-block-end: var(--gap-8);
  }
}

@media (--lg) {
  .mb-lg-8 {
    margin-block-end: var(--gap-8);
  }
}

@media (--xl) {
  .mb-xl-8 {
    margin-block-end: var(--gap-8);
  }
}

@media (--xxl) {
  .mb-xxl-8 {
    margin-block-end: var(--gap-8);
  }
}

// Margin-block-end 9
.mb-9 {
  margin-block-end: var(--gap-9);
}

@media (--sm) {
  .mb-sm-9 {
    margin-block-end: var(--gap-9);
  }
}

@media (--md) {
  .mb-md-9 {
    margin-block-end: var(--gap-9);
  }
}

@media (--lg) {
  .mb-lg-9 {
    margin-block-end: var(--gap-9);
  }
}

@media (--xl) {
  .mb-xl-9 {
    margin-block-end: var(--gap-9);
  }
}

@media (--xxl) {
  .mb-xxl-9 {
    margin-block-end: var(--gap-9);
  }
}

// Margin-block-end 10
.mb-10 {
  margin-block-end: var(--gap-10);
}

@media (--sm) {
  .mb-sm-10 {
    margin-block-end: var(--gap-10);
  }
}

@media (--md) {
  .mb-md-10 {
    margin-block-end: var(--gap-10);
  }
}

@media (--lg) {
  .mb-lg-10 {
    margin-block-end: var(--gap-10);
  }
}

@media (--xl) {
  .mb-xl-10 {
    margin-block-end: var(--gap-10);
  }
}

@media (--xxl) {
  .mb-xxl-10 {
    margin-block-end: var(--gap-10);
  }
}
