// Margin-inline-end 0
.me-0 {
  margin-inline-end: 0;
}

@media (--sm) {
  .me-sm-0 {
    margin-inline-end: 0;
  }
}

@media (--md) {
  .me-md-0 {
    margin-inline-end: 0;
  }
}

@media (--lg) {
  .me-lg-0 {
    margin-inline-end: 0;
  }
}

@media (--xl) {
  .me-xl-0 {
    margin-inline-end: 0;
  }
}

@media (--xxl) {
  .me-xxl-0 {
    margin-inline-end: 0;
  }
}

// Margin-inline-end 1
.me-1 {
  margin-inline-end: var(--gap-1);
}

@media (--sm) {
  .me-sm-1 {
    margin-inline-end: var(--gap-1);
  }
}

@media (--md) {
  .me-md-1 {
    margin-inline-end: var(--gap-1);
  }
}

@media (--lg) {
  .me-lg-1 {
    margin-inline-end: var(--gap-1);
  }
}

@media (--xl) {
  .me-xl-1 {
    margin-inline-end: var(--gap-1);
  }
}

@media (--xxl) {
  .me-xxl-1 {
    margin-inline-end: var(--gap-1);
  }
}

// Margin-inline-end 2
.me-2 {
  margin-inline-end: var(--gap-2);
}

@media (--sm) {
  .me-sm-2 {
    margin-inline-end: var(--gap-2);
  }
}

@media (--md) {
  .me-md-2 {
    margin-inline-end: var(--gap-2);
  }
}

@media (--lg) {
  .me-lg-2 {
    margin-inline-end: var(--gap-2);
  }
}

@media (--xl) {
  .me-xl-2 {
    margin-inline-end: var(--gap-2);
  }
}

@media (--xxl) {
  .me-xxl-2 {
    margin-inline-end: var(--gap-2);
  }
}

// Margin-inline-end 3
.me-3 {
  margin-inline-end: var(--gap-3);
}

@media (--sm) {
  .me-sm-3 {
    margin-inline-end: var(--gap-3);
  }
}

@media (--md) {
  .me-md-3 {
    margin-inline-end: var(--gap-3);
  }
}

@media (--lg) {
  .me-lg-3 {
    margin-inline-end: var(--gap-3);
  }
}

@media (--xl) {
  .me-xl-3 {
    margin-inline-end: var(--gap-3);
  }
}

@media (--xxl) {
  .me-xxl-3 {
    margin-inline-end: var(--gap-3);
  }
}

// Margin-inline-end 4
.me-4 {
  margin-inline-end: var(--gap-4);
}

@media (--sm) {
  .me-sm-4 {
    margin-inline-end: var(--gap-4);
  }
}

@media (--md) {
  .me-md-4 {
    margin-inline-end: var(--gap-4);
  }
}

@media (--lg) {
  .me-lg-4 {
    margin-inline-end: var(--gap-4);
  }
}

@media (--xl) {
  .me-xl-4 {
    margin-inline-end: var(--gap-4);
  }
}

@media (--xxl) {
  .me-xxl-4 {
    margin-inline-end: var(--gap-4);
  }
}

// Margin-inline-end 5
.me-5 {
  margin-inline-end: var(--gap-5);
}

@media (--sm) {
  .me-sm-5 {
    margin-inline-end: var(--gap-5);
  }
}

@media (--md) {
  .me-md-5 {
    margin-inline-end: var(--gap-5);
  }
}

@media (--lg) {
  .me-lg-5 {
    margin-inline-end: var(--gap-5);
  }
}

@media (--xl) {
  .me-xl-5 {
    margin-inline-end: var(--gap-5);
  }
}

@media (--xxl) {
  .me-xxl-5 {
    margin-inline-end: var(--gap-5);
  }
}

// Margin-inline-end 6
.me-6 {
  margin-inline-end: var(--gap-6);
}

@media (--sm) {
  .me-sm-6 {
    margin-inline-end: var(--gap-6);
  }
}

@media (--md) {
  .me-md-6 {
    margin-inline-end: var(--gap-6);
  }
}

@media (--lg) {
  .me-lg-6 {
    margin-inline-end: var(--gap-6);
  }
}

@media (--xl) {
  .me-xl-6 {
    margin-inline-end: var(--gap-6);
  }
}

@media (--xxl) {
  .me-xxl-6 {
    margin-inline-end: var(--gap-6);
  }
}

// Margin-inline-end 7
.me-7 {
  margin-inline-end: var(--gap-7);
}

@media (--sm) {
  .me-sm-7 {
    margin-inline-end: var(--gap-7);
  }
}

@media (--md) {
  .me-md-7 {
    margin-inline-end: var(--gap-7);
  }
}

@media (--lg) {
  .me-lg-7 {
    margin-inline-end: var(--gap-7);
  }
}

@media (--xl) {
  .me-xl-7 {
    margin-inline-end: var(--gap-7);
  }
}

@media (--xxl) {
  .me-xxl-7 {
    margin-inline-end: var(--gap-7);
  }
}

// Margin-inline-end 8
.me-8 {
  margin-inline-end: var(--gap-8);
}

@media (--sm) {
  .me-sm-8 {
    margin-inline-end: var(--gap-8);
  }
}

@media (--md) {
  .me-md-8 {
    margin-inline-end: var(--gap-8);
  }
}

@media (--lg) {
  .me-lg-8 {
    margin-inline-end: var(--gap-8);
  }
}

@media (--xl) {
  .me-xl-8 {
    margin-inline-end: var(--gap-8);
  }
}

@media (--xxl) {
  .me-xxl-8 {
    margin-inline-end: var(--gap-8);
  }
}

// Margin-inline-end 9
.me-9 {
  margin-inline-end: var(--gap-9);
}

@media (--sm) {
  .me-sm-9 {
    margin-inline-end: var(--gap-9);
  }
}

@media (--md) {
  .me-md-9 {
    margin-inline-end: var(--gap-9);
  }
}

@media (--lg) {
  .me-lg-9 {
    margin-inline-end: var(--gap-9);
  }
}

@media (--xl) {
  .me-xl-9 {
    margin-inline-end: var(--gap-9);
  }
}

@media (--xxl) {
  .me-xxl-9 {
    margin-inline-end: var(--gap-9);
  }
}

// Margin-inline-end 10
.me-10 {
  margin-inline-end: var(--gap-10);
}

@media (--sm) {
  .me-sm-10 {
    margin-inline-end: var(--gap-10);
  }
}

@media (--md) {
  .me-md-10 {
    margin-inline-end: var(--gap-10);
  }
}

@media (--lg) {
  .me-lg-10 {
    margin-inline-end: var(--gap-10);
  }
}

@media (--xl) {
  .me-xl-10 {
    margin-inline-end: var(--gap-10);
  }
}

@media (--xxl) {
  .me-xxl-10 {
    margin-inline-end: var(--gap-10);
  }
}
