// margin Negative 1
.m-n1 {
  margin: var(--spacer-neg-1);
}

@media (--sm) {
  .m-sm-n1 {
    margin: var(--spacer-neg-1);
  }
}

@media (--md) {
  .m-md-n1 {
    margin: var(--spacer-neg-1);
  }
}

@media (--lg) {
  .m-lg-n1 {
    margin: var(--spacer-neg-1);
  }
}

@media (--xl) {
  .m-xl-n1 {
    margin: var(--spacer-neg-1);
  }
}

@media (--xxl) {
  .m-xxl-n1 {
    margin: var(--spacer-neg-1);
  }
}

// margin Negative Negative 2
.m-n2 {
  margin: var(--spacer-neg-2);
}

@media (--sm) {
  .m-sm-n2 {
    margin: var(--spacer-neg-2);
  }
}

@media (--md) {
  .m-md-n2 {
    margin: var(--spacer-neg-2);
  }
}

@media (--lg) {
  .m-lg-n2 {
    margin: var(--spacer-neg-2);
  }
}

@media (--xl) {
  .m-xl-n2 {
    margin: var(--spacer-neg-2);
  }
}

@media (--xxl) {
  .m-xxl-n2 {
    margin: var(--spacer-neg-2);
  }
}

// margin Negative Negative 3
.m-n3 {
  margin: var(--spacer-neg-3);
}

@media (--sm) {
  .m-sm-n3 {
    margin: var(--spacer-neg-3);
  }
}

@media (--md) {
  .m-md-n3 {
    margin: var(--spacer-neg-3);
  }
}

@media (--lg) {
  .m-lg-n3 {
    margin: var(--spacer-neg-3);
  }
}

@media (--xl) {
  .m-xl-n3 {
    margin: var(--spacer-neg-3);
  }
}

@media (--xxl) {
  .m-xxl-n3 {
    margin: var(--spacer-neg-3);
  }
}

// margin Negative Negative 4
.m-n4 {
  margin: var(--spacer-neg-4);
}

@media (--sm) {
  .m-sm-n4 {
    margin: var(--spacer-neg-4);
  }
}

@media (--md) {
  .m-md-n4 {
    margin: var(--spacer-neg-4);
  }
}

@media (--lg) {
  .m-lg-n4 {
    margin: var(--spacer-neg-4);
  }
}

@media (--xl) {
  .m-xl-n4 {
    margin: var(--spacer-neg-4);
  }
}

@media (--xxl) {
  .m-xxl-n4 {
    margin: var(--spacer-neg-4);
  }
}

// margin Negative Negative 5
.m-n5 {
  margin: var(--spacer-neg-5);
}

@media (--sm) {
  .m-sm-n5 {
    margin: var(--spacer-neg-5);
  }
}

@media (--md) {
  .m-md-n5 {
    margin: var(--spacer-neg-5);
  }
}

@media (--lg) {
  .m-lg-n5 {
    margin: var(--spacer-neg-5);
  }
}

@media (--xl) {
  .m-xl-n5 {
    margin: var(--spacer-neg-5);
  }
}

@media (--xxl) {
  .m-xxl-n5 {
    margin: var(--spacer-neg-5);
  }
}

// margin Negative Negative 6
.m-n6 {
  margin: var(--spacer-neg-6);
}

@media (--sm) {
  .m-sm-n6 {
    margin: var(--spacer-neg-6);
  }
}

@media (--md) {
  .m-md-n6 {
    margin: var(--spacer-neg-6);
  }
}

@media (--lg) {
  .m-lg-n6 {
    margin: var(--spacer-neg-6);
  }
}

@media (--xl) {
  .m-xl-n6 {
    margin: var(--spacer-neg-6);
  }
}

@media (--xxl) {
  .m-xxl-n6 {
    margin: var(--spacer-neg-6);
  }
}

// margin Negative Negative 7
.m-n7 {
  margin: var(--spacer-neg-7);
}

@media (--sm) {
  .m-sm-n7 {
    margin: var(--spacer-neg-7);
  }
}

@media (--md) {
  .m-md-n7 {
    margin: var(--spacer-neg-7);
  }
}

@media (--lg) {
  .m-lg-n7 {
    margin: var(--spacer-neg-7);
  }
}

@media (--xl) {
  .m-xl-n7 {
    margin: var(--spacer-neg-7);
  }
}

@media (--xxl) {
  .m-xxl-n7 {
    margin: var(--spacer-neg-7);
  }
}

// margin Negative Negative 8
.m-n8 {
  margin: var(--spacer-neg-8);
}

@media (--sm) {
  .m-sm-n8 {
    margin: var(--spacer-neg-8);
  }
}

@media (--md) {
  .m-md-n8 {
    margin: var(--spacer-neg-8);
  }
}

@media (--lg) {
  .m-lg-n8 {
    margin: var(--spacer-neg-8);
  }
}

@media (--xl) {
  .m-xl-n8 {
    margin: var(--spacer-neg-8);
  }
}

@media (--xxl) {
  .m-xxl-n8 {
    margin: var(--spacer-neg-8);
  }
}

// margin Negative Negative 9
.m-n9 {
  margin: var(--spacer-neg-9);
}

@media (--sm) {
  .m-sm-n9 {
    margin: var(--spacer-neg-9);
  }
}

@media (--md) {
  .m-md-n9 {
    margin: var(--spacer-neg-9);
  }
}

@media (--lg) {
  .m-lg-n9 {
    margin: var(--spacer-neg-9);
  }
}

@media (--xl) {
  .m-xl-n9 {
    margin: var(--spacer-neg-9);
  }
}

@media (--xxl) {
  .m-xxl-n9 {
    margin: var(--spacer-neg-9);
  }
}

// margin Negative Negative 10
.m-n10 {
  margin: var(--spacer-neg-10);
}

@media (--sm) {
  .m-sm-n10 {
    margin: var(--spacer-neg-10);
  }
}

@media (--md) {
  .m-md-n10 {
    margin: var(--spacer-neg-10);
  }
}

@media (--lg) {
  .m-lg-n10 {
    margin: var(--spacer-neg-10);
  }
}

@media (--xl) {
  .m-xl-n10 {
    margin: var(--spacer-neg-10);
  }
}

@media (--xxl) {
  .m-xxl-n10 {
    margin: var(--spacer-neg-10);
  }
}

// margin Negative 12
.m-n12 {
  margin: var(--spacer-neg-12);
}

@media (--sm) {
  .m-sm-n12 {
    margin: var(--spacer-neg-12);
  }
}

@media (--md) {
  .m-md-n12 {
    margin: var(--spacer-neg-12);
  }
}

@media (--lg) {
  .m-lg-n12 {
    margin: var(--spacer-neg-12);
  }
}

@media (--xl) {
  .m-xl-n12 {
    margin: var(--spacer-neg-12);
  }
}

@media (--xxl) {
  .m-xxl-n12 {
    margin: var(--spacer-neg-12);
  }
}

// margin Negative 14
.m-n14 {
  margin: var(--spacer-neg-14);
}

@media (--sm) {
  .m-sm-n14 {
    margin: var(--spacer-neg-14);
  }
}

@media (--md) {
  .m-md-n14 {
    margin: var(--spacer-neg-14);
  }
}

@media (--lg) {
  .m-lg-n14 {
    margin: var(--spacer-neg-14);
  }
}

@media (--xl) {
  .m-xl-n14 {
    margin: var(--spacer-neg-14);
  }
}

@media (--xxl) {
  .m-xxl-n14 {
    margin: var(--spacer-neg-14);
  }
}

// margin Negative 16
.m-n16 {
  margin: var(--spacer-neg-16);
}

@media (--sm) {
  .m-sm-n16 {
    margin: var(--spacer-neg-16);
  }
}

@media (--md) {
  .m-md-n16 {
    margin: var(--spacer-neg-16);
  }
}

@media (--lg) {
  .m-lg-n16 {
    margin: var(--spacer-neg-16);
  }
}

@media (--xl) {
  .m-xl-n16 {
    margin: var(--spacer-neg-16);
  }
}

@media (--xxl) {
  .m-xxl-n16 {
    margin: var(--spacer-neg-16);
  }
}

// margin Negative 20
.m-n20 {
  margin: var(--spacer-neg-20);
}

@media (--sm) {
  .m-sm-n20 {
    margin: var(--spacer-neg-20);
  }
}

@media (--md) {
  .m-md-n20 {
    margin: var(--spacer-neg-20);
  }
}

@media (--lg) {
  .m-lg-n20 {
    margin: var(--spacer-neg-20);
  }
}

@media (--xl) {
  .m-xl-n20 {
    margin: var(--spacer-neg-20);
  }
}

@media (--xxl) {
  .m-xxl-n20 {
    margin: var(--spacer-neg-20);
  }
}

// margin Negative 24
.m-n24 {
  margin: var(--spacer-neg-24);
}

@media (--sm) {
  .m-sm-n24 {
    margin: var(--spacer-neg-24);
  }
}

@media (--md) {
  .m-md-n24 {
    margin: var(--spacer-neg-24);
  }
}

@media (--lg) {
  .m-lg-n24 {
    margin: var(--spacer-neg-24);
  }
}

@media (--xl) {
  .m-xl-n24 {
    margin: var(--spacer-neg-24);
  }
}

@media (--xxl) {
  .m-xxl-n24 {
    margin: var(--spacer-neg-24);
  }
}

// margin Negative 28
.m-n28 {
  margin: var(--spacer-neg-28);
}

@media (--sm) {
  .m-sm-n28 {
    margin: var(--spacer-neg-28);
  }
}

@media (--md) {
  .m-md-n28 {
    margin: var(--spacer-neg-28);
  }
}

@media (--lg) {
  .m-lg-n28 {
    margin: var(--spacer-neg-28);
  }
}

@media (--xl) {
  .m-xl-n28 {
    margin: var(--spacer-neg-28);
  }
}

@media (--xxl) {
  .m-xxl-n28 {
    margin: var(--spacer-neg-28);
  }
}

// margin Negative 32
.m-n32 {
  margin: var(--spacer-neg-32);
}

@media (--sm) {
  .m-sm-n32 {
    margin: var(--spacer-neg-32);
  }
}

@media (--md) {
  .m-md-n32 {
    margin: var(--spacer-neg-32);
  }
}

@media (--lg) {
  .m-lg-n32 {
    margin: var(--spacer-neg-32);
  }
}

@media (--xl) {
  .m-xl-n32 {
    margin: var(--spacer-neg-32);
  }
}

@media (--xxl) {
  .m-xxl-n32 {
    margin: var(--spacer-neg-32);
  }
}

// margin Negative 36
.m-n36 {
  margin: var(--spacer-neg-36);
}

@media (--sm) {
  .m-sm-n36 {
    margin: var(--spacer-neg-36);
  }
}

@media (--md) {
  .m-md-n36 {
    margin: var(--spacer-neg-36);
  }
}

@media (--lg) {
  .m-lg-n36 {
    margin: var(--spacer-neg-36);
  }
}

@media (--xl) {
  .m-xl-n36 {
    margin: var(--spacer-neg-36);
  }
}

@media (--xxl) {
  .m-xxl-n36 {
    margin: var(--spacer-neg-36);
  }
}

// margin Negative 40
.m-n40 {
  margin: var(--spacer-neg-40);
}

@media (--sm) {
  .m-sm-n40 {
    margin: var(--spacer-neg-40);
  }
}

@media (--md) {
  .m-md-n40 {
    margin: var(--spacer-neg-40);
  }
}

@media (--lg) {
  .m-lg-n40 {
    margin: var(--spacer-neg-40);
  }
}

@media (--xl) {
  .m-xl-n40 {
    margin: var(--spacer-neg-40);
  }
}

@media (--xxl) {
  .m-xxl-n40 {
    margin: var(--spacer-neg-40);
  }
}

// margin Negative 44
.m-n44 {
  margin: var(--spacer-neg-44);
}

@media (--sm) {
  .m-sm-n44 {
    margin: var(--spacer-neg-44);
  }
}

@media (--md) {
  .m-md-n44 {
    margin: var(--spacer-neg-44);
  }
}

@media (--lg) {
  .m-lg-n44 {
    margin: var(--spacer-neg-44);
  }
}

@media (--xl) {
  .m-xl-n44 {
    margin: var(--spacer-neg-44);
  }
}

@media (--xxl) {
  .m-xxl-n44 {
    margin: var(--spacer-neg-44);
  }
}

// margin Negative 48
.m-n48 {
  margin: var(--spacer-neg-48);
}

@media (--sm) {
  .m-sm-n48 {
    margin: var(--spacer-neg-48);
  }
}

@media (--md) {
  .m-md-n48 {
    margin: var(--spacer-neg-48);
  }
}

@media (--lg) {
  .m-lg-n48 {
    margin: var(--spacer-neg-48);
  }
}

@media (--xl) {
  .m-xl-n48 {
    margin: var(--spacer-neg-48);
  }
}

@media (--xxl) {
  .m-xxl-n48 {
    margin: var(--spacer-neg-48);
  }
}

// margin Negative 52
.m-n52 {
  margin: var(--spacer-neg-52);
}

@media (--sm) {
  .m-sm-n52 {
    margin: var(--spacer-neg-52);
  }
}

@media (--md) {
  .m-md-n52 {
    margin: var(--spacer-neg-52);
  }
}

@media (--lg) {
  .m-lg-n52 {
    margin: var(--spacer-neg-52);
  }
}

@media (--xl) {
  .m-xl-n52 {
    margin: var(--spacer-neg-52);
  }
}

@media (--xxl) {
  .m-xxl-n52 {
    margin: var(--spacer-neg-52);
  }
}

// margin Negative 56
.m-n56 {
  margin: var(--spacer-neg-56);
}

@media (--sm) {
  .m-sm-n56 {
    margin: var(--spacer-neg-56);
  }
}

@media (--md) {
  .m-md-n56 {
    margin: var(--spacer-neg-56);
  }
}

@media (--lg) {
  .m-lg-n56 {
    margin: var(--spacer-neg-56);
  }
}

@media (--xl) {
  .m-xl-n56 {
    margin: var(--spacer-neg-56);
  }
}

@media (--xxl) {
  .m-xxl-n56 {
    margin: var(--spacer-neg-56);
  }
}

// margin Negative 60
.m-n60 {
  margin: var(--spacer-neg-60);
}

@media (--sm) {
  .m-sm-n60 {
    margin: var(--spacer-neg-60);
  }
}

@media (--md) {
  .m-md-n60 {
    margin: var(--spacer-neg-60);
  }
}

@media (--lg) {
  .m-lg-n60 {
    margin: var(--spacer-neg-60);
  }
}

@media (--xl) {
  .m-xl-n60 {
    margin: var(--spacer-neg-60);
  }
}

@media (--xxl) {
  .m-xxl-n60 {
    margin: var(--spacer-neg-60);
  }
}

// margin Negative 64
.m-n64 {
  margin: var(--spacer-neg-64);
}

@media (--sm) {
  .m-sm-n64 {
    margin: var(--spacer-neg-64);
  }
}

@media (--md) {
  .m-md-n64 {
    margin: var(--spacer-neg-64);
  }
}

@media (--lg) {
  .m-lg-n64 {
    margin: var(--spacer-neg-64);
  }
}

@media (--xl) {
  .m-xl-n64 {
    margin: var(--spacer-neg-64);
  }
}

@media (--xxl) {
  .m-xxl-n64 {
    margin: var(--spacer-neg-64);
  }
}

// margin Negative 72
.m-n72 {
  margin: var(--spacer-neg-72);
}

@media (--sm) {
  .m-sm-n72 {
    margin: var(--spacer-neg-72);
  }
}

@media (--md) {
  .m-md-n72 {
    margin: var(--spacer-neg-72);
  }
}

@media (--lg) {
  .m-lg-n72 {
    margin: var(--spacer-neg-72);
  }
}

@media (--xl) {
  .m-xl-n72 {
    margin: var(--spacer-neg-72);
  }
}

@media (--xxl) {
  .m-xxl-n72 {
    margin: var(--spacer-neg-72);
  }
}

// margin Negative 80
.m-n80 {
  margin: var(--spacer-neg-80);
}

@media (--sm) {
  .m-sm-n80 {
    margin: var(--spacer-neg-80);
  }
}

@media (--md) {
  .m-md-n80 {
    margin: var(--spacer-neg-80);
  }
}

@media (--lg) {
  .m-lg-n80 {
    margin: var(--spacer-neg-80);
  }
}

@media (--xl) {
  .m-xl-n80 {
    margin: var(--spacer-neg-80);
  }
}

@media (--xxl) {
  .m-xxl-n80 {
    margin: var(--spacer-neg-80);
  }
}

// margin Negative 96
.m-n96 {
  margin: var(--spacer-neg-96);
}

@media (--sm) {
  .m-sm-n96 {
    margin: var(--spacer-neg-96);
  }
}

@media (--md) {
  .m-md-n96 {
    margin: var(--spacer-neg-96);
  }
}

@media (--lg) {
  .m-lg-n96 {
    margin: var(--spacer-neg-96);
  }
}

@media (--xl) {
  .m-xl-n96 {
    margin: var(--spacer-neg-96);
  }
}

@media (--xxl) {
  .m-xxl-n96 {
    margin: var(--spacer-neg-96);
  }
}
