// margin-inline Negative 1
.mx-n1 {
  margin-inline: var(--spacer-neg-1);
}

@media (--sm) {
  .mx-sm-n1 {
    margin-inline: var(--spacer-neg-1);
  }
}

@media (--md) {
  .mx-md-n1 {
    margin-inline: var(--spacer-neg-1);
  }
}

@media (--lg) {
  .mx-lg-n1 {
    margin-inline: var(--spacer-neg-1);
  }
}

@media (--xl) {
  .mx-xl-n1 {
    margin-inline: var(--spacer-neg-1);
  }
}

@media (--xxl) {
  .mx-xxl-n1 {
    margin-inline: var(--spacer-neg-1);
  }
}

// margin-inline Negative 2
.mx-n2 {
  margin-inline: var(--spacer-neg-2);
}

@media (--sm) {
  .mx-sm-n2 {
    margin-inline: var(--spacer-neg-2);
  }
}

@media (--md) {
  .mx-md-n2 {
    margin-inline: var(--spacer-neg-2);
  }
}

@media (--lg) {
  .mx-lg-n2 {
    margin-inline: var(--spacer-neg-2);
  }
}

@media (--xl) {
  .mx-xl-n2 {
    margin-inline: var(--spacer-neg-2);
  }
}

@media (--xxl) {
  .mx-xxl-n2 {
    margin-inline: var(--spacer-neg-2);
  }
}

// margin-inline Negative 3
.mx-n3 {
  margin-inline: var(--spacer-neg-3);
}

@media (--sm) {
  .mx-sm-n3 {
    margin-inline: var(--spacer-neg-3);
  }
}

@media (--md) {
  .mx-md-n3 {
    margin-inline: var(--spacer-neg-3);
  }
}

@media (--lg) {
  .mx-lg-n3 {
    margin-inline: var(--spacer-neg-3);
  }
}

@media (--xl) {
  .mx-xl-n3 {
    margin-inline: var(--spacer-neg-3);
  }
}

@media (--xxl) {
  .mx-xxl-n3 {
    margin-inline: var(--spacer-neg-3);
  }
}

// margin-inline Negative 4
.mx-n4 {
  margin-inline: var(--spacer-neg-4);
}

@media (--sm) {
  .mx-sm-n4 {
    margin-inline: var(--spacer-neg-4);
  }
}

@media (--md) {
  .mx-md-n4 {
    margin-inline: var(--spacer-neg-4);
  }
}

@media (--lg) {
  .mx-lg-n4 {
    margin-inline: var(--spacer-neg-4);
  }
}

@media (--xl) {
  .mx-xl-n4 {
    margin-inline: var(--spacer-neg-4);
  }
}

@media (--xxl) {
  .mx-xxl-n4 {
    margin-inline: var(--spacer-neg-4);
  }
}

// margin-inline Negative 5
.mx-n5 {
  margin-inline: var(--spacer-neg-5);
}

@media (--sm) {
  .mx-sm-n5 {
    margin-inline: var(--spacer-neg-5);
  }
}

@media (--md) {
  .mx-md-n5 {
    margin-inline: var(--spacer-neg-5);
  }
}

@media (--lg) {
  .mx-lg-n5 {
    margin-inline: var(--spacer-neg-5);
  }
}

@media (--xl) {
  .mx-xl-n5 {
    margin-inline: var(--spacer-neg-5);
  }
}

@media (--xxl) {
  .mx-xxl-n5 {
    margin-inline: var(--spacer-neg-5);
  }
}

// margin-inline Negative 6
.mx-n6 {
  margin-inline: var(--spacer-neg-6);
}

@media (--sm) {
  .mx-sm-n6 {
    margin-inline: var(--spacer-neg-6);
  }
}

@media (--md) {
  .mx-md-n6 {
    margin-inline: var(--spacer-neg-6);
  }
}

@media (--lg) {
  .mx-lg-n6 {
    margin-inline: var(--spacer-neg-6);
  }
}

@media (--xl) {
  .mx-xl-n6 {
    margin-inline: var(--spacer-neg-6);
  }
}

@media (--xxl) {
  .mx-xxl-n6 {
    margin-inline: var(--spacer-neg-6);
  }
}

// margin-inline Negative 7
.mx-n7 {
  margin-inline: var(--spacer-neg-7);
}

@media (--sm) {
  .mx-sm-n7 {
    margin-inline: var(--spacer-neg-7);
  }
}

@media (--md) {
  .mx-md-n7 {
    margin-inline: var(--spacer-neg-7);
  }
}

@media (--lg) {
  .mx-lg-n7 {
    margin-inline: var(--spacer-neg-7);
  }
}

@media (--xl) {
  .mx-xl-n7 {
    margin-inline: var(--spacer-neg-7);
  }
}

@media (--xxl) {
  .mx-xxl-n7 {
    margin-inline: var(--spacer-neg-7);
  }
}

// margin-inline Negative 8
.mx-n8 {
  margin-inline: var(--spacer-neg-8);
}

@media (--sm) {
  .mx-sm-n8 {
    margin-inline: var(--spacer-neg-8);
  }
}

@media (--md) {
  .mx-md-n8 {
    margin-inline: var(--spacer-neg-8);
  }
}

@media (--lg) {
  .mx-lg-n8 {
    margin-inline: var(--spacer-neg-8);
  }
}

@media (--xl) {
  .mx-xl-n8 {
    margin-inline: var(--spacer-neg-8);
  }
}

@media (--xxl) {
  .mx-xxl-n8 {
    margin-inline: var(--spacer-neg-8);
  }
}

// margin-inline Negative 9
.mx-n9 {
  margin-inline: var(--spacer-neg-9);
}

@media (--sm) {
  .mx-sm-n9 {
    margin-inline: var(--spacer-neg-9);
  }
}

@media (--md) {
  .mx-md-n9 {
    margin-inline: var(--spacer-neg-9);
  }
}

@media (--lg) {
  .mx-lg-n9 {
    margin-inline: var(--spacer-neg-9);
  }
}

@media (--xl) {
  .mx-xl-n9 {
    margin-inline: var(--spacer-neg-9);
  }
}

@media (--xxl) {
  .mx-xxl-n9 {
    margin-inline: var(--spacer-neg-9);
  }
}

// margin-inline Negative 10
.mx-n10 {
  margin-inline: var(--spacer-neg-10);
}

@media (--sm) {
  .mx-sm-n10 {
    margin-inline: var(--spacer-neg-10);
  }
}

@media (--md) {
  .mx-md-n10 {
    margin-inline: var(--spacer-neg-10);
  }
}

@media (--lg) {
  .mx-lg-n10 {
    margin-inline: var(--spacer-neg-10);
  }
}

@media (--xl) {
  .mx-xl-n10 {
    margin-inline: var(--spacer-neg-10);
  }
}

@media (--xxl) {
  .mx-xxl-n10 {
    margin-inline: var(--spacer-neg-10);
  }
}

// margin-inline Negative 12
.mx-n12 {
  margin-inline: var(--spacer-neg-12);
}

@media (--sm) {
  .mx-sm-n12 {
    margin-inline: var(--spacer-neg-12);
  }
}

@media (--md) {
  .mx-md-n12 {
    margin-inline: var(--spacer-neg-12);
  }
}

@media (--lg) {
  .mx-lg-n12 {
    margin-inline: var(--spacer-neg-12);
  }
}

@media (--xl) {
  .mx-xl-n12 {
    margin-inline: var(--spacer-neg-12);
  }
}

@media (--xxl) {
  .mx-xxl-n12 {
    margin-inline: var(--spacer-neg-12);
  }
}

// margin-inline Negative 14
.mx-n14 {
  margin-inline: var(--spacer-neg-14);
}

@media (--sm) {
  .mx-sm-n14 {
    margin-inline: var(--spacer-neg-14);
  }
}

@media (--md) {
  .mx-md-n14 {
    margin-inline: var(--spacer-neg-14);
  }
}

@media (--lg) {
  .mx-lg-n14 {
    margin-inline: var(--spacer-neg-14);
  }
}

@media (--xl) {
  .mx-xl-n14 {
    margin-inline: var(--spacer-neg-14);
  }
}

@media (--xxl) {
  .mx-xxl-n14 {
    margin-inline: var(--spacer-neg-14);
  }
}

// margin-inline Negative 16
.mx-n16 {
  margin-inline: var(--spacer-neg-16);
}

@media (--sm) {
  .mx-sm-n16 {
    margin-inline: var(--spacer-neg-16);
  }
}

@media (--md) {
  .mx-md-n16 {
    margin-inline: var(--spacer-neg-16);
  }
}

@media (--lg) {
  .mx-lg-n16 {
    margin-inline: var(--spacer-neg-16);
  }
}

@media (--xl) {
  .mx-xl-n16 {
    margin-inline: var(--spacer-neg-16);
  }
}

@media (--xxl) {
  .mx-xxl-n16 {
    margin-inline: var(--spacer-neg-16);
  }
}

// margin-inline Negative 20
.mx-n20 {
  margin-inline: var(--spacer-neg-20);
}

@media (--sm) {
  .mx-sm-n20 {
    margin-inline: var(--spacer-neg-20);
  }
}

@media (--md) {
  .mx-md-n20 {
    margin-inline: var(--spacer-neg-20);
  }
}

@media (--lg) {
  .mx-lg-n20 {
    margin-inline: var(--spacer-neg-20);
  }
}

@media (--xl) {
  .mx-xl-n20 {
    margin-inline: var(--spacer-neg-20);
  }
}

@media (--xxl) {
  .mx-xxl-n20 {
    margin-inline: var(--spacer-neg-20);
  }
}

// margin-inline Negative 24
.mx-n24 {
  margin-inline: var(--spacer-neg-24);
}

@media (--sm) {
  .mx-sm-n24 {
    margin-inline: var(--spacer-neg-24);
  }
}

@media (--md) {
  .mx-md-n24 {
    margin-inline: var(--spacer-neg-24);
  }
}

@media (--lg) {
  .mx-lg-n24 {
    margin-inline: var(--spacer-neg-24);
  }
}

@media (--xl) {
  .mx-xl-n24 {
    margin-inline: var(--spacer-neg-24);
  }
}

@media (--xxl) {
  .mx-xxl-n24 {
    margin-inline: var(--spacer-neg-24);
  }
}

// margin-inline Negative 28
.mx-n28 {
  margin-inline: var(--spacer-neg-28);
}

@media (--sm) {
  .mx-sm-n28 {
    margin-inline: var(--spacer-neg-28);
  }
}

@media (--md) {
  .mx-md-n28 {
    margin-inline: var(--spacer-neg-28);
  }
}

@media (--lg) {
  .mx-lg-n28 {
    margin-inline: var(--spacer-neg-28);
  }
}

@media (--xl) {
  .mx-xl-n28 {
    margin-inline: var(--spacer-neg-28);
  }
}

@media (--xxl) {
  .mx-xxl-n28 {
    margin-inline: var(--spacer-neg-28);
  }
}

// margin-inline Negative 32
.mx-n32 {
  margin-inline: var(--spacer-neg-32);
}

@media (--sm) {
  .mx-sm-n32 {
    margin-inline: var(--spacer-neg-32);
  }
}

@media (--md) {
  .mx-md-n32 {
    margin-inline: var(--spacer-neg-32);
  }
}

@media (--lg) {
  .mx-lg-n32 {
    margin-inline: var(--spacer-neg-32);
  }
}

@media (--xl) {
  .mx-xl-n32 {
    margin-inline: var(--spacer-neg-32);
  }
}

@media (--xxl) {
  .mx-xxl-n32 {
    margin-inline: var(--spacer-neg-32);
  }
}

// margin-inline Negative 36
.mx-n36 {
  margin-inline: var(--spacer-neg-36);
}

@media (--sm) {
  .mx-sm-n36 {
    margin-inline: var(--spacer-neg-36);
  }
}

@media (--md) {
  .mx-md-n36 {
    margin-inline: var(--spacer-neg-36);
  }
}

@media (--lg) {
  .mx-lg-n36 {
    margin-inline: var(--spacer-neg-36);
  }
}

@media (--xl) {
  .mx-xl-n36 {
    margin-inline: var(--spacer-neg-36);
  }
}

@media (--xxl) {
  .mx-xxl-n36 {
    margin-inline: var(--spacer-neg-36);
  }
}

// margin-inline Negative 40
.mx-n40 {
  margin-inline: var(--spacer-neg-40);
}

@media (--sm) {
  .mx-sm-n40 {
    margin-inline: var(--spacer-neg-40);
  }
}

@media (--md) {
  .mx-md-n40 {
    margin-inline: var(--spacer-neg-40);
  }
}

@media (--lg) {
  .mx-lg-n40 {
    margin-inline: var(--spacer-neg-40);
  }
}

@media (--xl) {
  .mx-xl-n40 {
    margin-inline: var(--spacer-neg-40);
  }
}

@media (--xxl) {
  .mx-xxl-n40 {
    margin-inline: var(--spacer-neg-40);
  }
}

// margin-inline Negative 44
.mx-n44 {
  margin-inline: var(--spacer-neg-44);
}

@media (--sm) {
  .mx-sm-n44 {
    margin-inline: var(--spacer-neg-44);
  }
}

@media (--md) {
  .mx-md-n44 {
    margin-inline: var(--spacer-neg-44);
  }
}

@media (--lg) {
  .mx-lg-n44 {
    margin-inline: var(--spacer-neg-44);
  }
}

@media (--xl) {
  .mx-xl-n44 {
    margin-inline: var(--spacer-neg-44);
  }
}

@media (--xxl) {
  .mx-xxl-n44 {
    margin-inline: var(--spacer-neg-44);
  }
}

// margin-inline Negative 48
.mx-n48 {
  margin-inline: var(--spacer-neg-48);
}

@media (--sm) {
  .mx-sm-n48 {
    margin-inline: var(--spacer-neg-48);
  }
}

@media (--md) {
  .mx-md-n48 {
    margin-inline: var(--spacer-neg-48);
  }
}

@media (--lg) {
  .mx-lg-n48 {
    margin-inline: var(--spacer-neg-48);
  }
}

@media (--xl) {
  .mx-xl-n48 {
    margin-inline: var(--spacer-neg-48);
  }
}

@media (--xxl) {
  .mx-xxl-n48 {
    margin-inline: var(--spacer-neg-48);
  }
}

// margin-inline Negative 52
.mx-n52 {
  margin-inline: var(--spacer-neg-52);
}

@media (--sm) {
  .mx-sm-n52 {
    margin-inline: var(--spacer-neg-52);
  }
}

@media (--md) {
  .mx-md-n52 {
    margin-inline: var(--spacer-neg-52);
  }
}

@media (--lg) {
  .mx-lg-n52 {
    margin-inline: var(--spacer-neg-52);
  }
}

@media (--xl) {
  .mx-xl-n52 {
    margin-inline: var(--spacer-neg-52);
  }
}

@media (--xxl) {
  .mx-xxl-n52 {
    margin-inline: var(--spacer-neg-52);
  }
}

// margin-inline Negative 56
.mx-n56 {
  margin-inline: var(--spacer-neg-56);
}

@media (--sm) {
  .mx-sm-n56 {
    margin-inline: var(--spacer-neg-56);
  }
}

@media (--md) {
  .mx-md-n56 {
    margin-inline: var(--spacer-neg-56);
  }
}

@media (--lg) {
  .mx-lg-n56 {
    margin-inline: var(--spacer-neg-56);
  }
}

@media (--xl) {
  .mx-xl-n56 {
    margin-inline: var(--spacer-neg-56);
  }
}

@media (--xxl) {
  .mx-xxl-n56 {
    margin-inline: var(--spacer-neg-56);
  }
}

// margin-inline Negative 60
.mx-n60 {
  margin-inline: var(--spacer-neg-60);
}

@media (--sm) {
  .mx-sm-n60 {
    margin-inline: var(--spacer-neg-60);
  }
}

@media (--md) {
  .mx-md-n60 {
    margin-inline: var(--spacer-neg-60);
  }
}

@media (--lg) {
  .mx-lg-n60 {
    margin-inline: var(--spacer-neg-60);
  }
}

@media (--xl) {
  .mx-xl-n60 {
    margin-inline: var(--spacer-neg-60);
  }
}

@media (--xxl) {
  .mx-xxl-n60 {
    margin-inline: var(--spacer-neg-60);
  }
}

// margin-inline Negative 64
.mx-n64 {
  margin-inline: var(--spacer-neg-64);
}

@media (--sm) {
  .mx-sm-n64 {
    margin-inline: var(--spacer-neg-64);
  }
}

@media (--md) {
  .mx-md-n64 {
    margin-inline: var(--spacer-neg-64);
  }
}

@media (--lg) {
  .mx-lg-n64 {
    margin-inline: var(--spacer-neg-64);
  }
}

@media (--xl) {
  .mx-xl-n64 {
    margin-inline: var(--spacer-neg-64);
  }
}

@media (--xxl) {
  .mx-xxl-n64 {
    margin-inline: var(--spacer-neg-64);
  }
}

// margin-inline Negative 72
.mx-n72 {
  margin-inline: var(--spacer-neg-72);
}

@media (--sm) {
  .mx-sm-n72 {
    margin-inline: var(--spacer-neg-72);
  }
}

@media (--md) {
  .mx-md-n72 {
    margin-inline: var(--spacer-neg-72);
  }
}

@media (--lg) {
  .mx-lg-n72 {
    margin-inline: var(--spacer-neg-72);
  }
}

@media (--xl) {
  .mx-xl-n72 {
    margin-inline: var(--spacer-neg-72);
  }
}

@media (--xxl) {
  .mx-xxl-n72 {
    margin-inline: var(--spacer-neg-72);
  }
}

// margin-inline Negative 80
.mx-n80 {
  margin-inline: var(--spacer-neg-80);
}

@media (--sm) {
  .mx-sm-n80 {
    margin-inline: var(--spacer-neg-80);
  }
}

@media (--md) {
  .mx-md-n80 {
    margin-inline: var(--spacer-neg-80);
  }
}

@media (--lg) {
  .mx-lg-n80 {
    margin-inline: var(--spacer-neg-80);
  }
}

@media (--xl) {
  .mx-xl-n80 {
    margin-inline: var(--spacer-neg-80);
  }
}

@media (--xxl) {
  .mx-xxl-n80 {
    margin-inline: var(--spacer-neg-80);
  }
}

// margin-inline Negative 96
.mx-n96 {
  margin-inline: var(--spacer-neg-96);
}

@media (--sm) {
  .mx-sm-n96 {
    margin-inline: var(--spacer-neg-96);
  }
}

@media (--md) {
  .mx-md-n96 {
    margin-inline: var(--spacer-neg-96);
  }
}

@media (--lg) {
  .mx-lg-n96 {
    margin-inline: var(--spacer-neg-96);
  }
}

@media (--xl) {
  .mx-xl-n96 {
    margin-inline: var(--spacer-neg-96);
  }
}

@media (--xxl) {
  .mx-xxl-n96 {
    margin-inline: var(--spacer-neg-96);
  }
}
