// margin-inline-start Negative 1
.ms-n1 {
  margin-inline-start: var(--spacer-neg-1);
}

@media (--sm) {
  .ms-sm-n1 {
    margin-inline-start: var(--spacer-neg-1);
  }
}

@media (--md) {
  .ms-md-n1 {
    margin-inline-start: var(--spacer-neg-1);
  }
}

@media (--lg) {
  .ms-lg-n1 {
    margin-inline-start: var(--spacer-neg-1);
  }
}

@media (--xl) {
  .ms-xl-n1 {
    margin-inline-start: var(--spacer-neg-1);
  }
}

@media (--xxl) {
  .ms-xxl-n1 {
    margin-inline-start: var(--spacer-neg-1);
  }
}

// margin-inline-start Negative 2
.ms-n2 {
  margin-inline-start: var(--spacer-neg-2);
}

@media (--sm) {
  .ms-sm-n2 {
    margin-inline-start: var(--spacer-neg-2);
  }
}

@media (--md) {
  .ms-md-n2 {
    margin-inline-start: var(--spacer-neg-2);
  }
}

@media (--lg) {
  .ms-lg-n2 {
    margin-inline-start: var(--spacer-neg-2);
  }
}

@media (--xl) {
  .ms-xl-n2 {
    margin-inline-start: var(--spacer-neg-2);
  }
}

@media (--xxl) {
  .ms-xxl-n2 {
    margin-inline-start: var(--spacer-neg-2);
  }
}

// margin-inline-start Negative 3
.ms-n3 {
  margin-inline-start: var(--spacer-neg-3);
}

@media (--sm) {
  .ms-sm-n3 {
    margin-inline-start: var(--spacer-neg-3);
  }
}

@media (--md) {
  .ms-md-n3 {
    margin-inline-start: var(--spacer-neg-3);
  }
}

@media (--lg) {
  .ms-lg-n3 {
    margin-inline-start: var(--spacer-neg-3);
  }
}

@media (--xl) {
  .ms-xl-n3 {
    margin-inline-start: var(--spacer-neg-3);
  }
}

@media (--xxl) {
  .ms-xxl-n3 {
    margin-inline-start: var(--spacer-neg-3);
  }
}

// margin-inline-start Negative 4
.ms-n4 {
  margin-inline-start: var(--spacer-neg-4);
}

@media (--sm) {
  .ms-sm-n4 {
    margin-inline-start: var(--spacer-neg-4);
  }
}

@media (--md) {
  .ms-md-n4 {
    margin-inline-start: var(--spacer-neg-4);
  }
}

@media (--lg) {
  .ms-lg-n4 {
    margin-inline-start: var(--spacer-neg-4);
  }
}

@media (--xl) {
  .ms-xl-n4 {
    margin-inline-start: var(--spacer-neg-4);
  }
}

@media (--xxl) {
  .ms-xxl-n4 {
    margin-inline-start: var(--spacer-neg-4);
  }
}

// margin-inline-start Negative 5
.ms-n5 {
  margin-inline-start: var(--spacer-neg-5);
}

@media (--sm) {
  .ms-sm-n5 {
    margin-inline-start: var(--spacer-neg-5);
  }
}

@media (--md) {
  .ms-md-n5 {
    margin-inline-start: var(--spacer-neg-5);
  }
}

@media (--lg) {
  .ms-lg-n5 {
    margin-inline-start: var(--spacer-neg-5);
  }
}

@media (--xl) {
  .ms-xl-n5 {
    margin-inline-start: var(--spacer-neg-5);
  }
}

@media (--xxl) {
  .ms-xxl-n5 {
    margin-inline-start: var(--spacer-neg-5);
  }
}

// margin-inline-start Negative 6
.ms-n6 {
  margin-inline-start: var(--spacer-neg-6);
}

@media (--sm) {
  .ms-sm-n6 {
    margin-inline-start: var(--spacer-neg-6);
  }
}

@media (--md) {
  .ms-md-n6 {
    margin-inline-start: var(--spacer-neg-6);
  }
}

@media (--lg) {
  .ms-lg-n6 {
    margin-inline-start: var(--spacer-neg-6);
  }
}

@media (--xl) {
  .ms-xl-n6 {
    margin-inline-start: var(--spacer-neg-6);
  }
}

@media (--xxl) {
  .ms-xxl-n6 {
    margin-inline-start: var(--spacer-neg-6);
  }
}

// margin-inline-start Negative 7
.ms-n7 {
  margin-inline-start: var(--spacer-neg-7);
}

@media (--sm) {
  .ms-sm-n7 {
    margin-inline-start: var(--spacer-neg-7);
  }
}

@media (--md) {
  .ms-md-n7 {
    margin-inline-start: var(--spacer-neg-7);
  }
}

@media (--lg) {
  .ms-lg-n7 {
    margin-inline-start: var(--spacer-neg-7);
  }
}

@media (--xl) {
  .ms-xl-n7 {
    margin-inline-start: var(--spacer-neg-7);
  }
}

@media (--xxl) {
  .ms-xxl-n7 {
    margin-inline-start: var(--spacer-neg-7);
  }
}

// margin-inline-start Negative 8
.ms-n8 {
  margin-inline-start: var(--spacer-neg-8);
}

@media (--sm) {
  .ms-sm-n8 {
    margin-inline-start: var(--spacer-neg-8);
  }
}

@media (--md) {
  .ms-md-n8 {
    margin-inline-start: var(--spacer-neg-8);
  }
}

@media (--lg) {
  .ms-lg-n8 {
    margin-inline-start: var(--spacer-neg-8);
  }
}

@media (--xl) {
  .ms-xl-n8 {
    margin-inline-start: var(--spacer-neg-8);
  }
}

@media (--xxl) {
  .ms-xxl-n8 {
    margin-inline-start: var(--spacer-neg-8);
  }
}

// margin-inline-start Negative 9
.ms-n9 {
  margin-inline-start: var(--spacer-neg-9);
}

@media (--sm) {
  .ms-sm-n9 {
    margin-inline-start: var(--spacer-neg-9);
  }
}

@media (--md) {
  .ms-md-n9 {
    margin-inline-start: var(--spacer-neg-9);
  }
}

@media (--lg) {
  .ms-lg-n9 {
    margin-inline-start: var(--spacer-neg-9);
  }
}

@media (--xl) {
  .ms-xl-n9 {
    margin-inline-start: var(--spacer-neg-9);
  }
}

@media (--xxl) {
  .ms-xxl-n9 {
    margin-inline-start: var(--spacer-neg-9);
  }
}

// margin-inline-start Negative 10
.ms-n10 {
  margin-inline-start: var(--spacer-neg-10);
}

@media (--sm) {
  .ms-sm-n10 {
    margin-inline-start: var(--spacer-neg-10);
  }
}

@media (--md) {
  .ms-md-n10 {
    margin-inline-start: var(--spacer-neg-10);
  }
}

@media (--lg) {
  .ms-lg-n10 {
    margin-inline-start: var(--spacer-neg-10);
  }
}

@media (--xl) {
  .ms-xl-n10 {
    margin-inline-start: var(--spacer-neg-10);
  }
}

@media (--xxl) {
  .ms-xxl-n10 {
    margin-inline-start: var(--spacer-neg-10);
  }
}

// margin-inline-start Negative 12
.ms-n12 {
  margin-inline-start: var(--spacer-neg-12);
}

@media (--sm) {
  .ms-sm-n12 {
    margin-inline-start: var(--spacer-neg-12);
  }
}

@media (--md) {
  .ms-md-n12 {
    margin-inline-start: var(--spacer-neg-12);
  }
}

@media (--lg) {
  .ms-lg-n12 {
    margin-inline-start: var(--spacer-neg-12);
  }
}

@media (--xl) {
  .ms-xl-n12 {
    margin-inline-start: var(--spacer-neg-12);
  }
}

@media (--xxl) {
  .ms-xxl-n12 {
    margin-inline-start: var(--spacer-neg-12);
  }
}

// margin-inline-start Negative 14
.ms-n14 {
  margin-inline-start: var(--spacer-neg-14);
}

@media (--sm) {
  .ms-sm-n14 {
    margin-inline-start: var(--spacer-neg-14);
  }
}

@media (--md) {
  .ms-md-n14 {
    margin-inline-start: var(--spacer-neg-14);
  }
}

@media (--lg) {
  .ms-lg-n14 {
    margin-inline-start: var(--spacer-neg-14);
  }
}

@media (--xl) {
  .ms-xl-n14 {
    margin-inline-start: var(--spacer-neg-14);
  }
}

@media (--xxl) {
  .ms-xxl-n14 {
    margin-inline-start: var(--spacer-neg-14);
  }
}

// margin-inline-start Negative 16
.ms-n16 {
  margin-inline-start: var(--spacer-neg-16);
}

@media (--sm) {
  .ms-sm-n16 {
    margin-inline-start: var(--spacer-neg-16);
  }
}

@media (--md) {
  .ms-md-n16 {
    margin-inline-start: var(--spacer-neg-16);
  }
}

@media (--lg) {
  .ms-lg-n16 {
    margin-inline-start: var(--spacer-neg-16);
  }
}

@media (--xl) {
  .ms-xl-n16 {
    margin-inline-start: var(--spacer-neg-16);
  }
}

@media (--xxl) {
  .ms-xxl-n16 {
    margin-inline-start: var(--spacer-neg-16);
  }
}

// margin-inline-start Negative 20
.ms-n20 {
  margin-inline-start: var(--spacer-neg-20);
}

@media (--sm) {
  .ms-sm-n20 {
    margin-inline-start: var(--spacer-neg-20);
  }
}

@media (--md) {
  .ms-md-n20 {
    margin-inline-start: var(--spacer-neg-20);
  }
}

@media (--lg) {
  .ms-lg-n20 {
    margin-inline-start: var(--spacer-neg-20);
  }
}

@media (--xl) {
  .ms-xl-n20 {
    margin-inline-start: var(--spacer-neg-20);
  }
}

@media (--xxl) {
  .ms-xxl-n20 {
    margin-inline-start: var(--spacer-neg-20);
  }
}

// margin-inline-start Negative 24
.ms-n24 {
  margin-inline-start: var(--spacer-neg-24);
}

@media (--sm) {
  .ms-sm-n24 {
    margin-inline-start: var(--spacer-neg-24);
  }
}

@media (--md) {
  .ms-md-n24 {
    margin-inline-start: var(--spacer-neg-24);
  }
}

@media (--lg) {
  .ms-lg-n24 {
    margin-inline-start: var(--spacer-neg-24);
  }
}

@media (--xl) {
  .ms-xl-n24 {
    margin-inline-start: var(--spacer-neg-24);
  }
}

@media (--xxl) {
  .ms-xxl-n24 {
    margin-inline-start: var(--spacer-neg-24);
  }
}

// margin-inline-start Negative 28
.ms-n28 {
  margin-inline-start: var(--spacer-neg-28);
}

@media (--sm) {
  .ms-sm-n28 {
    margin-inline-start: var(--spacer-neg-28);
  }
}

@media (--md) {
  .ms-md-n28 {
    margin-inline-start: var(--spacer-neg-28);
  }
}

@media (--lg) {
  .ms-lg-n28 {
    margin-inline-start: var(--spacer-neg-28);
  }
}

@media (--xl) {
  .ms-xl-n28 {
    margin-inline-start: var(--spacer-neg-28);
  }
}

@media (--xxl) {
  .ms-xxl-n28 {
    margin-inline-start: var(--spacer-neg-28);
  }
}

// margin-inline-start Negative 32
.ms-n32 {
  margin-inline-start: var(--spacer-neg-32);
}

@media (--sm) {
  .ms-sm-n32 {
    margin-inline-start: var(--spacer-neg-32);
  }
}

@media (--md) {
  .ms-md-n32 {
    margin-inline-start: var(--spacer-neg-32);
  }
}

@media (--lg) {
  .ms-lg-n32 {
    margin-inline-start: var(--spacer-neg-32);
  }
}

@media (--xl) {
  .ms-xl-n32 {
    margin-inline-start: var(--spacer-neg-32);
  }
}

@media (--xxl) {
  .ms-xxl-n32 {
    margin-inline-start: var(--spacer-neg-32);
  }
}

// margin-inline-start Negative 36
.ms-n36 {
  margin-inline-start: var(--spacer-neg-36);
}

@media (--sm) {
  .ms-sm-n36 {
    margin-inline-start: var(--spacer-neg-36);
  }
}

@media (--md) {
  .ms-md-n36 {
    margin-inline-start: var(--spacer-neg-36);
  }
}

@media (--lg) {
  .ms-lg-n36 {
    margin-inline-start: var(--spacer-neg-36);
  }
}

@media (--xl) {
  .ms-xl-n36 {
    margin-inline-start: var(--spacer-neg-36);
  }
}

@media (--xxl) {
  .ms-xxl-n36 {
    margin-inline-start: var(--spacer-neg-36);
  }
}

// margin-inline-start Negative 40
.ms-n40 {
  margin-inline-start: var(--spacer-neg-40);
}

@media (--sm) {
  .ms-sm-n40 {
    margin-inline-start: var(--spacer-neg-40);
  }
}

@media (--md) {
  .ms-md-n40 {
    margin-inline-start: var(--spacer-neg-40);
  }
}

@media (--lg) {
  .ms-lg-n40 {
    margin-inline-start: var(--spacer-neg-40);
  }
}

@media (--xl) {
  .ms-xl-n40 {
    margin-inline-start: var(--spacer-neg-40);
  }
}

@media (--xxl) {
  .ms-xxl-n40 {
    margin-inline-start: var(--spacer-neg-40);
  }
}

// margin-inline-start Negative 44
.ms-n44 {
  margin-inline-start: var(--spacer-neg-44);
}

@media (--sm) {
  .ms-sm-n44 {
    margin-inline-start: var(--spacer-neg-44);
  }
}

@media (--md) {
  .ms-md-n44 {
    margin-inline-start: var(--spacer-neg-44);
  }
}

@media (--lg) {
  .ms-lg-n44 {
    margin-inline-start: var(--spacer-neg-44);
  }
}

@media (--xl) {
  .ms-xl-n44 {
    margin-inline-start: var(--spacer-neg-44);
  }
}

@media (--xxl) {
  .ms-xxl-n44 {
    margin-inline-start: var(--spacer-neg-44);
  }
}

// margin-inline-start Negative 48
.ms-n48 {
  margin-inline-start: var(--spacer-neg-48);
}

@media (--sm) {
  .ms-sm-n48 {
    margin-inline-start: var(--spacer-neg-48);
  }
}

@media (--md) {
  .ms-md-n48 {
    margin-inline-start: var(--spacer-neg-48);
  }
}

@media (--lg) {
  .ms-lg-n48 {
    margin-inline-start: var(--spacer-neg-48);
  }
}

@media (--xl) {
  .ms-xl-n48 {
    margin-inline-start: var(--spacer-neg-48);
  }
}

@media (--xxl) {
  .ms-xxl-n48 {
    margin-inline-start: var(--spacer-neg-48);
  }
}

// margin-inline-start Negative 52
.ms-n52 {
  margin-inline-start: var(--spacer-neg-52);
}

@media (--sm) {
  .ms-sm-n52 {
    margin-inline-start: var(--spacer-neg-52);
  }
}

@media (--md) {
  .ms-md-n52 {
    margin-inline-start: var(--spacer-neg-52);
  }
}

@media (--lg) {
  .ms-lg-n52 {
    margin-inline-start: var(--spacer-neg-52);
  }
}

@media (--xl) {
  .ms-xl-n52 {
    margin-inline-start: var(--spacer-neg-52);
  }
}

@media (--xxl) {
  .ms-xxl-n52 {
    margin-inline-start: var(--spacer-neg-52);
  }
}

// margin-inline-start Negative 56
.ms-n56 {
  margin-inline-start: var(--spacer-neg-56);
}

@media (--sm) {
  .ms-sm-n56 {
    margin-inline-start: var(--spacer-neg-56);
  }
}

@media (--md) {
  .ms-md-n56 {
    margin-inline-start: var(--spacer-neg-56);
  }
}

@media (--lg) {
  .ms-lg-n56 {
    margin-inline-start: var(--spacer-neg-56);
  }
}

@media (--xl) {
  .ms-xl-n56 {
    margin-inline-start: var(--spacer-neg-56);
  }
}

@media (--xxl) {
  .ms-xxl-n56 {
    margin-inline-start: var(--spacer-neg-56);
  }
}

// margin-inline-start Negative 60
.ms-n60 {
  margin-inline-start: var(--spacer-neg-60);
}

@media (--sm) {
  .ms-sm-n60 {
    margin-inline-start: var(--spacer-neg-60);
  }
}

@media (--md) {
  .ms-md-n60 {
    margin-inline-start: var(--spacer-neg-60);
  }
}

@media (--lg) {
  .ms-lg-n60 {
    margin-inline-start: var(--spacer-neg-60);
  }
}

@media (--xl) {
  .ms-xl-n60 {
    margin-inline-start: var(--spacer-neg-60);
  }
}

@media (--xxl) {
  .ms-xxl-n60 {
    margin-inline-start: var(--spacer-neg-60);
  }
}

// margin-inline-start Negative 64
.ms-n64 {
  margin-inline-start: var(--spacer-neg-64);
}

@media (--sm) {
  .ms-sm-n64 {
    margin-inline-start: var(--spacer-neg-64);
  }
}

@media (--md) {
  .ms-md-n64 {
    margin-inline-start: var(--spacer-neg-64);
  }
}

@media (--lg) {
  .ms-lg-n64 {
    margin-inline-start: var(--spacer-neg-64);
  }
}

@media (--xl) {
  .ms-xl-n64 {
    margin-inline-start: var(--spacer-neg-64);
  }
}

@media (--xxl) {
  .ms-xxl-n64 {
    margin-inline-start: var(--spacer-neg-64);
  }
}

// margin-inline-start Negative 72
.ms-n72 {
  margin-inline-start: var(--spacer-neg-72);
}

@media (--sm) {
  .ms-sm-n72 {
    margin-inline-start: var(--spacer-neg-72);
  }
}

@media (--md) {
  .ms-md-n72 {
    margin-inline-start: var(--spacer-neg-72);
  }
}

@media (--lg) {
  .ms-lg-n72 {
    margin-inline-start: var(--spacer-neg-72);
  }
}

@media (--xl) {
  .ms-xl-n72 {
    margin-inline-start: var(--spacer-neg-72);
  }
}

@media (--xxl) {
  .ms-xxl-n72 {
    margin-inline-start: var(--spacer-neg-72);
  }
}

// margin-inline-start Negative 80
.ms-n80 {
  margin-inline-start: var(--spacer-neg-80);
}

@media (--sm) {
  .ms-sm-n80 {
    margin-inline-start: var(--spacer-neg-80);
  }
}

@media (--md) {
  .ms-md-n80 {
    margin-inline-start: var(--spacer-neg-80);
  }
}

@media (--lg) {
  .ms-lg-n80 {
    margin-inline-start: var(--spacer-neg-80);
  }
}

@media (--xl) {
  .ms-xl-n80 {
    margin-inline-start: var(--spacer-neg-80);
  }
}

@media (--xxl) {
  .ms-xxl-n80 {
    margin-inline-start: var(--spacer-neg-80);
  }
}

// margin-inline-start Negative 96
.ms-n96 {
  margin-inline-start: var(--spacer-neg-96);
}

@media (--sm) {
  .ms-sm-n96 {
    margin-inline-start: var(--spacer-neg-96);
  }
}

@media (--md) {
  .ms-md-n96 {
    margin-inline-start: var(--spacer-neg-96);
  }
}

@media (--lg) {
  .ms-lg-n96 {
    margin-inline-start: var(--spacer-neg-96);
  }
}

@media (--xl) {
  .ms-xl-n96 {
    margin-inline-start: var(--spacer-neg-96);
  }
}

@media (--xxl) {
  .ms-xxl-n96 {
    margin-inline-start: var(--spacer-neg-96);
  }
}
