// Margin 0
.m-0 {
  margin: 0;
}

@media (--sm) {
  .m-sm-0 {
    margin: 0;
  }
}

@media (--md) {
  .m-md-0 {
    margin: 0;
  }
}

@media (--lg) {
  .m-lg-0 {
    margin: 0;
  }
}

@media (--xl) {
  .m-xl-0 {
    margin: 0;
  }
}

@media (--xxl) {
  .m-xxl-0 {
    margin: 0;
  }
}

// Margin 1
.m-1 {
  margin: var(--gap-1);
}

@media (--sm) {
  .m-sm-1 {
    margin: var(--gap-1);
  }
}

@media (--md) {
  .m-md-1 {
    margin: var(--gap-1);
  }
}

@media (--lg) {
  .m-lg-1 {
    margin: var(--gap-1);
  }
}

@media (--xl) {
  .m-xl-1 {
    margin: var(--gap-1);
  }
}

@media (--xxl) {
  .m-xxl-1 {
    margin: var(--gap-1);
  }
}

// Margin 2
.m-2 {
  margin: var(--gap-2);
}

@media (--sm) {
  .m-sm-2 {
    margin: var(--gap-2);
  }
}

@media (--md) {
  .m-md-2 {
    margin: var(--gap-2);
  }
}

@media (--lg) {
  .m-lg-2 {
    margin: var(--gap-2);
  }
}

@media (--xl) {
  .m-xl-2 {
    margin: var(--gap-2);
  }
}

@media (--xxl) {
  .m-xxl-2 {
    margin: var(--gap-2);
  }
}

// Margin 3
.m-3 {
  margin: var(--gap-3);
}

@media (--sm) {
  .m-sm-3 {
    margin: var(--gap-3);
  }
}

@media (--md) {
  .m-md-3 {
    margin: var(--gap-3);
  }
}

@media (--lg) {
  .m-lg-3 {
    margin: var(--gap-3);
  }
}

@media (--xl) {
  .m-xl-3 {
    margin: var(--gap-3);
  }
}

@media (--xxl) {
  .m-xxl-3 {
    margin: var(--gap-3);
  }
}

// Margin 4
.m-4 {
  margin: var(--gap-4);
}

@media (--sm) {
  .m-sm-4 {
    margin: var(--gap-4);
  }
}

@media (--md) {
  .m-md-4 {
    margin: var(--gap-4);
  }
}

@media (--lg) {
  .m-lg-4 {
    margin: var(--gap-4);
  }
}

@media (--xl) {
  .m-xl-4 {
    margin: var(--gap-4);
  }
}

@media (--xxl) {
  .m-xxl-4 {
    margin: var(--gap-4);
  }
}

// Margin 5
.m-5 {
  margin: var(--gap-5);
}

@media (--sm) {
  .m-sm-5 {
    margin: var(--gap-5);
  }
}

@media (--md) {
  .m-md-5 {
    margin: var(--gap-5);
  }
}

@media (--lg) {
  .m-lg-5 {
    margin: var(--gap-5);
  }
}

@media (--xl) {
  .m-xl-5 {
    margin: var(--gap-5);
  }
}

@media (--xxl) {
  .m-xxl-5 {
    margin: var(--gap-5);
  }
}

// Margin 6
.m-6 {
  margin: var(--gap-6);
}

@media (--sm) {
  .m-sm-6 {
    margin: var(--gap-6);
  }
}

@media (--md) {
  .m-md-6 {
    margin: var(--gap-6);
  }
}

@media (--lg) {
  .m-lg-6 {
    margin: var(--gap-6);
  }
}

@media (--xl) {
  .m-xl-6 {
    margin: var(--gap-6);
  }
}

@media (--xxl) {
  .m-xxl-6 {
    margin: var(--gap-6);
  }
}

// Margin 7
.m-7 {
  margin: var(--gap-7);
}

@media (--sm) {
  .m-sm-7 {
    margin: var(--gap-7);
  }
}

@media (--md) {
  .m-md-7 {
    margin: var(--gap-7);
  }
}

@media (--lg) {
  .m-lg-7 {
    margin: var(--gap-7);
  }
}

@media (--xl) {
  .m-xl-7 {
    margin: var(--gap-7);
  }
}

@media (--xxl) {
  .m-xxl-7 {
    margin: var(--gap-7);
  }
}

// Margin 8
.m-8 {
  margin: var(--gap-8);
}

@media (--sm) {
  .m-sm-8 {
    margin: var(--gap-8);
  }
}

@media (--md) {
  .m-md-8 {
    margin: var(--gap-8);
  }
}

@media (--lg) {
  .m-lg-8 {
    margin: var(--gap-8);
  }
}

@media (--xl) {
  .m-xl-8 {
    margin: var(--gap-8);
  }
}

@media (--xxl) {
  .m-xxl-8 {
    margin: var(--gap-8);
  }
}

// Margin 9
.m-9 {
  margin: var(--gap-9);
}

@media (--sm) {
  .m-sm-9 {
    margin: var(--gap-9);
  }
}

@media (--md) {
  .m-md-9 {
    margin: var(--gap-9);
  }
}

@media (--lg) {
  .m-lg-9 {
    margin: var(--gap-9);
  }
}

@media (--xl) {
  .m-xl-9 {
    margin: var(--gap-9);
  }
}

@media (--xxl) {
  .m-xxl-9 {
    margin: var(--gap-9);
  }
}

// Margin 10
.m-10 {
  margin: var(--gap-10);
}

@media (--sm) {
  .m-sm-10 {
    margin: var(--gap-10);
  }
}

@media (--md) {
  .m-md-10 {
    margin: var(--gap-10);
  }
}

@media (--lg) {
  .m-lg-10 {
    margin: var(--gap-10);
  }
}

@media (--xl) {
  .m-xl-10 {
    margin: var(--gap-10);
  }
}

@media (--xxl) {
  .m-xxl-10 {
    margin: var(--gap-10);
  }
}
