// margin-block-start Negative 1
.mt-n1 {
  margin-block-start: var(--spacer-neg-1);
}

@media (--sm) {
  .mt-sm-n1 {
    margin-block-start: var(--spacer-neg-1);
  }
}

@media (--md) {
  .mt-md-n1 {
    margin-block-start: var(--spacer-neg-1);
  }
}

@media (--lg) {
  .mt-lg-n1 {
    margin-block-start: var(--spacer-neg-1);
  }
}

@media (--xl) {
  .mt-xl-n1 {
    margin-block-start: var(--spacer-neg-1);
  }
}

@media (--xxl) {
  .mt-xxl-n1 {
    margin-block-start: var(--spacer-neg-1);
  }
}

// margin-block-start Negative 2
.mt-n2 {
  margin-block-start: var(--spacer-neg-2);
}

@media (--sm) {
  .mt-sm-n2 {
    margin-block-start: var(--spacer-neg-2);
  }
}

@media (--md) {
  .mt-md-n2 {
    margin-block-start: var(--spacer-neg-2);
  }
}

@media (--lg) {
  .mt-lg-n2 {
    margin-block-start: var(--spacer-neg-2);
  }
}

@media (--xl) {
  .mt-xl-n2 {
    margin-block-start: var(--spacer-neg-2);
  }
}

@media (--xxl) {
  .mt-xxl-n2 {
    margin-block-start: var(--spacer-neg-2);
  }
}

// margin-block-start Negative 3
.mt-n3 {
  margin-block-start: var(--spacer-neg-3);
}

@media (--sm) {
  .mt-sm-n3 {
    margin-block-start: var(--spacer-neg-3);
  }
}

@media (--md) {
  .mt-md-n3 {
    margin-block-start: var(--spacer-neg-3);
  }
}

@media (--lg) {
  .mt-lg-n3 {
    margin-block-start: var(--spacer-neg-3);
  }
}

@media (--xl) {
  .mt-xl-n3 {
    margin-block-start: var(--spacer-neg-3);
  }
}

@media (--xxl) {
  .mt-xxl-n3 {
    margin-block-start: var(--spacer-neg-3);
  }
}

// margin-block-start Negative 4
.mt-n4 {
  margin-block-start: var(--spacer-neg-4);
}

@media (--sm) {
  .mt-sm-n4 {
    margin-block-start: var(--spacer-neg-4);
  }
}

@media (--md) {
  .mt-md-n4 {
    margin-block-start: var(--spacer-neg-4);
  }
}

@media (--lg) {
  .mt-lg-n4 {
    margin-block-start: var(--spacer-neg-4);
  }
}

@media (--xl) {
  .mt-xl-n4 {
    margin-block-start: var(--spacer-neg-4);
  }
}

@media (--xxl) {
  .mt-xxl-n4 {
    margin-block-start: var(--spacer-neg-4);
  }
}

// margin-block-start Negative 5
.mt-n5 {
  margin-block-start: var(--spacer-neg-5);
}

@media (--sm) {
  .mt-sm-n5 {
    margin-block-start: var(--spacer-neg-5);
  }
}

@media (--md) {
  .mt-md-n5 {
    margin-block-start: var(--spacer-neg-5);
  }
}

@media (--lg) {
  .mt-lg-n5 {
    margin-block-start: var(--spacer-neg-5);
  }
}

@media (--xl) {
  .mt-xl-n5 {
    margin-block-start: var(--spacer-neg-5);
  }
}

@media (--xxl) {
  .mt-xxl-n5 {
    margin-block-start: var(--spacer-neg-5);
  }
}

// margin-block-start Negative 6
.mt-n6 {
  margin-block-start: var(--spacer-neg-6);
}

@media (--sm) {
  .mt-sm-n6 {
    margin-block-start: var(--spacer-neg-6);
  }
}

@media (--md) {
  .mt-md-n6 {
    margin-block-start: var(--spacer-neg-6);
  }
}

@media (--lg) {
  .mt-lg-n6 {
    margin-block-start: var(--spacer-neg-6);
  }
}

@media (--xl) {
  .mt-xl-n6 {
    margin-block-start: var(--spacer-neg-6);
  }
}

@media (--xxl) {
  .mt-xxl-n6 {
    margin-block-start: var(--spacer-neg-6);
  }
}

// margin-block-start Negative 7
.mt-n7 {
  margin-block-start: var(--spacer-neg-7);
}

@media (--sm) {
  .mt-sm-n7 {
    margin-block-start: var(--spacer-neg-7);
  }
}

@media (--md) {
  .mt-md-n7 {
    margin-block-start: var(--spacer-neg-7);
  }
}

@media (--lg) {
  .mt-lg-n7 {
    margin-block-start: var(--spacer-neg-7);
  }
}

@media (--xl) {
  .mt-xl-n7 {
    margin-block-start: var(--spacer-neg-7);
  }
}

@media (--xxl) {
  .mt-xxl-n7 {
    margin-block-start: var(--spacer-neg-7);
  }
}

// margin-block-start Negative 8
.mt-n8 {
  margin-block-start: var(--spacer-neg-8);
}

@media (--sm) {
  .mt-sm-n8 {
    margin-block-start: var(--spacer-neg-8);
  }
}

@media (--md) {
  .mt-md-n8 {
    margin-block-start: var(--spacer-neg-8);
  }
}

@media (--lg) {
  .mt-lg-n8 {
    margin-block-start: var(--spacer-neg-8);
  }
}

@media (--xl) {
  .mt-xl-n8 {
    margin-block-start: var(--spacer-neg-8);
  }
}

@media (--xxl) {
  .mt-xxl-n8 {
    margin-block-start: var(--spacer-neg-8);
  }
}

// margin-block-start Negative 9
.mt-n9 {
  margin-block-start: var(--spacer-neg-9);
}

@media (--sm) {
  .mt-sm-n9 {
    margin-block-start: var(--spacer-neg-9);
  }
}

@media (--md) {
  .mt-md-n9 {
    margin-block-start: var(--spacer-neg-9);
  }
}

@media (--lg) {
  .mt-lg-n9 {
    margin-block-start: var(--spacer-neg-9);
  }
}

@media (--xl) {
  .mt-xl-n9 {
    margin-block-start: var(--spacer-neg-9);
  }
}

@media (--xxl) {
  .mt-xxl-n9 {
    margin-block-start: var(--spacer-neg-9);
  }
}

// margin-block-start Negative 10
.mt-n10 {
  margin-block-start: var(--spacer-neg-10);
}

@media (--sm) {
  .mt-sm-n10 {
    margin-block-start: var(--spacer-neg-10);
  }
}

@media (--md) {
  .mt-md-n10 {
    margin-block-start: var(--spacer-neg-10);
  }
}

@media (--lg) {
  .mt-lg-n10 {
    margin-block-start: var(--spacer-neg-10);
  }
}

@media (--xl) {
  .mt-xl-n10 {
    margin-block-start: var(--spacer-neg-10);
  }
}

@media (--xxl) {
  .mt-xxl-n10 {
    margin-block-start: var(--spacer-neg-10);
  }
}

// margin-block-start Negative 12
.my-n12 {
  margin-block-start: var(--spacer-neg-12);
}

@media (--sm) {
  .my-sm-n12 {
    margin-block-start: var(--spacer-neg-12);
  }
}

@media (--md) {
  .my-md-n12 {
    margin-block-start: var(--spacer-neg-12);
  }
}

@media (--lg) {
  .my-lg-n12 {
    margin-block-start: var(--spacer-neg-12);
  }
}

@media (--xl) {
  .my-xl-n12 {
    margin-block-start: var(--spacer-neg-12);
  }
}

@media (--xxl) {
  .my-xxl-n12 {
    margin-block-start: var(--spacer-neg-12);
  }
}

// margin-block-start Negative 14
.my-n14 {
  margin-block-start: var(--spacer-neg-14);
}

@media (--sm) {
  .my-sm-n14 {
    margin-block-start: var(--spacer-neg-14);
  }
}

@media (--md) {
  .my-md-n14 {
    margin-block-start: var(--spacer-neg-14);
  }
}

@media (--lg) {
  .my-lg-n14 {
    margin-block-start: var(--spacer-neg-14);
  }
}

@media (--xl) {
  .my-xl-n14 {
    margin-block-start: var(--spacer-neg-14);
  }
}

@media (--xxl) {
  .my-xxl-n14 {
    margin-block-start: var(--spacer-neg-14);
  }
}

// margin-block-start Negative 16
.my-n16 {
  margin-block-start: var(--spacer-neg-16);
}

@media (--sm) {
  .my-sm-n16 {
    margin-block-start: var(--spacer-neg-16);
  }
}

@media (--md) {
  .my-md-n16 {
    margin-block-start: var(--spacer-neg-16);
  }
}

@media (--lg) {
  .my-lg-n16 {
    margin-block-start: var(--spacer-neg-16);
  }
}

@media (--xl) {
  .my-xl-n16 {
    margin-block-start: var(--spacer-neg-16);
  }
}

@media (--xxl) {
  .my-xxl-n16 {
    margin-block-start: var(--spacer-neg-16);
  }
}

// margin-block-start Negative 20
.my-n20 {
  margin-block-start: var(--spacer-neg-20);
}

@media (--sm) {
  .my-sm-n20 {
    margin-block-start: var(--spacer-neg-20);
  }
}

@media (--md) {
  .my-md-n20 {
    margin-block-start: var(--spacer-neg-20);
  }
}

@media (--lg) {
  .my-lg-n20 {
    margin-block-start: var(--spacer-neg-20);
  }
}

@media (--xl) {
  .my-xl-n20 {
    margin-block-start: var(--spacer-neg-20);
  }
}

@media (--xxl) {
  .my-xxl-n20 {
    margin-block-start: var(--spacer-neg-20);
  }
}

// margin-block-start Negative 24
.my-n24 {
  margin-block-start: var(--spacer-neg-24);
}

@media (--sm) {
  .my-sm-n24 {
    margin-block-start: var(--spacer-neg-24);
  }
}

@media (--md) {
  .my-md-n24 {
    margin-block-start: var(--spacer-neg-24);
  }
}

@media (--lg) {
  .my-lg-n24 {
    margin-block-start: var(--spacer-neg-24);
  }
}

@media (--xl) {
  .my-xl-n24 {
    margin-block-start: var(--spacer-neg-24);
  }
}

@media (--xxl) {
  .my-xxl-n24 {
    margin-block-start: var(--spacer-neg-24);
  }
}

// margin-block-start Negative 28
.my-n28 {
  margin-block-start: var(--spacer-neg-28);
}

@media (--sm) {
  .my-sm-n28 {
    margin-block-start: var(--spacer-neg-28);
  }
}

@media (--md) {
  .my-md-n28 {
    margin-block-start: var(--spacer-neg-28);
  }
}

@media (--lg) {
  .my-lg-n28 {
    margin-block-start: var(--spacer-neg-28);
  }
}

@media (--xl) {
  .my-xl-n28 {
    margin-block-start: var(--spacer-neg-28);
  }
}

@media (--xxl) {
  .my-xxl-n28 {
    margin-block-start: var(--spacer-neg-28);
  }
}

// margin-block-start Negative 32
.my-n32 {
  margin-block-start: var(--spacer-neg-32);
}

@media (--sm) {
  .my-sm-n32 {
    margin-block-start: var(--spacer-neg-32);
  }
}

@media (--md) {
  .my-md-n32 {
    margin-block-start: var(--spacer-neg-32);
  }
}

@media (--lg) {
  .my-lg-n32 {
    margin-block-start: var(--spacer-neg-32);
  }
}

@media (--xl) {
  .my-xl-n32 {
    margin-block-start: var(--spacer-neg-32);
  }
}

@media (--xxl) {
  .my-xxl-n32 {
    margin-block-start: var(--spacer-neg-32);
  }
}

// margin-block-start Negative 36
.my-n36 {
  margin-block-start: var(--spacer-neg-36);
}

@media (--sm) {
  .my-sm-n36 {
    margin-block-start: var(--spacer-neg-36);
  }
}

@media (--md) {
  .my-md-n36 {
    margin-block-start: var(--spacer-neg-36);
  }
}

@media (--lg) {
  .my-lg-n36 {
    margin-block-start: var(--spacer-neg-36);
  }
}

@media (--xl) {
  .my-xl-n36 {
    margin-block-start: var(--spacer-neg-36);
  }
}

@media (--xxl) {
  .my-xxl-n36 {
    margin-block-start: var(--spacer-neg-36);
  }
}

// margin-block-start Negative 40
.my-n40 {
  margin-block-start: var(--spacer-neg-40);
}

@media (--sm) {
  .my-sm-n40 {
    margin-block-start: var(--spacer-neg-40);
  }
}

@media (--md) {
  .my-md-n40 {
    margin-block-start: var(--spacer-neg-40);
  }
}

@media (--lg) {
  .my-lg-n40 {
    margin-block-start: var(--spacer-neg-40);
  }
}

@media (--xl) {
  .my-xl-n40 {
    margin-block-start: var(--spacer-neg-40);
  }
}

@media (--xxl) {
  .my-xxl-n40 {
    margin-block-start: var(--spacer-neg-40);
  }
}

// margin-block-start Negative 44
.my-n44 {
  margin-block-start: var(--spacer-neg-44);
}

@media (--sm) {
  .my-sm-n44 {
    margin-block-start: var(--spacer-neg-44);
  }
}

@media (--md) {
  .my-md-n44 {
    margin-block-start: var(--spacer-neg-44);
  }
}

@media (--lg) {
  .my-lg-n44 {
    margin-block-start: var(--spacer-neg-44);
  }
}

@media (--xl) {
  .my-xl-n44 {
    margin-block-start: var(--spacer-neg-44);
  }
}

@media (--xxl) {
  .my-xxl-n44 {
    margin-block-start: var(--spacer-neg-44);
  }
}

// margin-block-start Negative 48
.my-n48 {
  margin-block-start: var(--spacer-neg-48);
}

@media (--sm) {
  .my-sm-n48 {
    margin-block-start: var(--spacer-neg-48);
  }
}

@media (--md) {
  .my-md-n48 {
    margin-block-start: var(--spacer-neg-48);
  }
}

@media (--lg) {
  .my-lg-n48 {
    margin-block-start: var(--spacer-neg-48);
  }
}

@media (--xl) {
  .my-xl-n48 {
    margin-block-start: var(--spacer-neg-48);
  }
}

@media (--xxl) {
  .my-xxl-n48 {
    margin-block-start: var(--spacer-neg-48);
  }
}

// margin-block-start Negative 52
.my-n52 {
  margin-block-start: var(--spacer-neg-52);
}

@media (--sm) {
  .my-sm-n52 {
    margin-block-start: var(--spacer-neg-52);
  }
}

@media (--md) {
  .my-md-n52 {
    margin-block-start: var(--spacer-neg-52);
  }
}

@media (--lg) {
  .my-lg-n52 {
    margin-block-start: var(--spacer-neg-52);
  }
}

@media (--xl) {
  .my-xl-n52 {
    margin-block-start: var(--spacer-neg-52);
  }
}

@media (--xxl) {
  .my-xxl-n52 {
    margin-block-start: var(--spacer-neg-52);
  }
}

// margin-block-start Negative 56
.my-n56 {
  margin-block-start: var(--spacer-neg-56);
}

@media (--sm) {
  .my-sm-n56 {
    margin-block-start: var(--spacer-neg-56);
  }
}

@media (--md) {
  .my-md-n56 {
    margin-block-start: var(--spacer-neg-56);
  }
}

@media (--lg) {
  .my-lg-n56 {
    margin-block-start: var(--spacer-neg-56);
  }
}

@media (--xl) {
  .my-xl-n56 {
    margin-block-start: var(--spacer-neg-56);
  }
}

@media (--xxl) {
  .my-xxl-n56 {
    margin-block-start: var(--spacer-neg-56);
  }
}

// margin-block-start Negative 60
.my-n60 {
  margin-block-start: var(--spacer-neg-60);
}

@media (--sm) {
  .my-sm-n60 {
    margin-block-start: var(--spacer-neg-60);
  }
}

@media (--md) {
  .my-md-n60 {
    margin-block-start: var(--spacer-neg-60);
  }
}

@media (--lg) {
  .my-lg-n60 {
    margin-block-start: var(--spacer-neg-60);
  }
}

@media (--xl) {
  .my-xl-n60 {
    margin-block-start: var(--spacer-neg-60);
  }
}

@media (--xxl) {
  .my-xxl-n60 {
    margin-block-start: var(--spacer-neg-60);
  }
}

// margin-block-start Negative 64
.my-n64 {
  margin-block-start: var(--spacer-neg-64);
}

@media (--sm) {
  .my-sm-n64 {
    margin-block-start: var(--spacer-neg-64);
  }
}

@media (--md) {
  .my-md-n64 {
    margin-block-start: var(--spacer-neg-64);
  }
}

@media (--lg) {
  .my-lg-n64 {
    margin-block-start: var(--spacer-neg-64);
  }
}

@media (--xl) {
  .my-xl-n64 {
    margin-block-start: var(--spacer-neg-64);
  }
}

@media (--xxl) {
  .my-xxl-n64 {
    margin-block-start: var(--spacer-neg-64);
  }
}

// margin-block-start Negative 72
.my-n72 {
  margin-block-start: var(--spacer-neg-72);
}

@media (--sm) {
  .my-sm-n72 {
    margin-block-start: var(--spacer-neg-72);
  }
}

@media (--md) {
  .my-md-n72 {
    margin-block-start: var(--spacer-neg-72);
  }
}

@media (--lg) {
  .my-lg-n72 {
    margin-block-start: var(--spacer-neg-72);
  }
}

@media (--xl) {
  .my-xl-n72 {
    margin-block-start: var(--spacer-neg-72);
  }
}

@media (--xxl) {
  .my-xxl-n72 {
    margin-block-start: var(--spacer-neg-72);
  }
}

// margin-block-start Negative 80
.my-n80 {
  margin-block-start: var(--spacer-neg-80);
}

@media (--sm) {
  .my-sm-n80 {
    margin-block-start: var(--spacer-neg-80);
  }
}

@media (--md) {
  .my-md-n80 {
    margin-block-start: var(--spacer-neg-80);
  }
}

@media (--lg) {
  .my-lg-n80 {
    margin-block-start: var(--spacer-neg-80);
  }
}

@media (--xl) {
  .my-xl-n80 {
    margin-block-start: var(--spacer-neg-80);
  }
}

@media (--xxl) {
  .my-xxl-n80 {
    margin-block-start: var(--spacer-neg-80);
  }
}

// margin-block-start Negative 96
.my-n96 {
  margin-block-start: var(--spacer-neg-96);
}

@media (--sm) {
  .my-sm-n96 {
    margin-block-start: var(--spacer-neg-96);
  }
}

@media (--md) {
  .my-md-n96 {
    margin-block-start: var(--spacer-neg-96);
  }
}

@media (--lg) {
  .my-lg-n96 {
    margin-block-start: var(--spacer-neg-96);
  }
}

@media (--xl) {
  .my-xl-n96 {
    margin-block-start: var(--spacer-neg-96);
  }
}

@media (--xxl) {
  .my-xxl-n96 {
    margin-block-start: var(--spacer-neg-96);
  }
}
