// Margin-inline-start Negative 1
.ms-n1 {
  margin-inline-start: var(--gap-neg-1);
}

@media (--sm) {
  .ms-sm-n1 {
    margin-inline-start: var(--gap-neg-1);
  }
}

@media (--md) {
  .ms-md-n1 {
    margin-inline-start: var(--gap-neg-1);
  }
}

@media (--lg) {
  .ms-lg-n1 {
    margin-inline-start: var(--gap-neg-1);
  }
}

@media (--xl) {
  .ms-xl-n1 {
    margin-inline-start: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .ms-xxl-n1 {
    margin-inline-start: var(--gap-neg-1);
  }
}

// Margin-inline-start Negative 2
.ms-n2 {
  margin-inline-start: var(--gap-neg-2);
}

@media (--sm) {
  .ms-sm-n2 {
    margin-inline-start: var(--gap-neg-2);
  }
}

@media (--md) {
  .ms-md-n2 {
    margin-inline-start: var(--gap-neg-2);
  }
}

@media (--lg) {
  .ms-lg-n2 {
    margin-inline-start: var(--gap-neg-2);
  }
}

@media (--xl) {
  .ms-xl-n2 {
    margin-inline-start: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .ms-xxl-n2 {
    margin-inline-start: var(--gap-neg-2);
  }
}

// Margin-inline-start Negative 3
.ms-n3 {
  margin-inline-start: var(--gap-neg-3);
}

@media (--sm) {
  .ms-sm-n3 {
    margin-inline-start: var(--gap-neg-3);
  }
}

@media (--md) {
  .ms-md-n3 {
    margin-inline-start: var(--gap-neg-3);
  }
}

@media (--lg) {
  .ms-lg-n3 {
    margin-inline-start: var(--gap-neg-3);
  }
}

@media (--xl) {
  .ms-xl-n3 {
    margin-inline-start: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .ms-xxl-n3 {
    margin-inline-start: var(--gap-neg-3);
  }
}

// Margin-inline-start Negative 4
.ms-n4 {
  margin-inline-start: var(--gap-neg-4);
}

@media (--sm) {
  .ms-sm-n4 {
    margin-inline-start: var(--gap-neg-4);
  }
}

@media (--md) {
  .ms-md-n4 {
    margin-inline-start: var(--gap-neg-4);
  }
}

@media (--lg) {
  .ms-lg-n4 {
    margin-inline-start: var(--gap-neg-4);
  }
}

@media (--xl) {
  .ms-xl-n4 {
    margin-inline-start: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .ms-xxl-n4 {
    margin-inline-start: var(--gap-neg-4);
  }
}

// Margin-inline-start Negative 5
.ms-n5 {
  margin-inline-start: var(--gap-neg-5);
}

@media (--sm) {
  .ms-sm-n5 {
    margin-inline-start: var(--gap-neg-5);
  }
}

@media (--md) {
  .ms-md-n5 {
    margin-inline-start: var(--gap-neg-5);
  }
}

@media (--lg) {
  .ms-lg-n5 {
    margin-inline-start: var(--gap-neg-5);
  }
}

@media (--xl) {
  .ms-xl-n5 {
    margin-inline-start: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .ms-xxl-n5 {
    margin-inline-start: var(--gap-neg-5);
  }
}

// Margin-inline-start Negative 6
.ms-n6 {
  margin-inline-start: var(--gap-neg-6);
}

@media (--sm) {
  .ms-sm-n6 {
    margin-inline-start: var(--gap-neg-6);
  }
}

@media (--md) {
  .ms-md-n6 {
    margin-inline-start: var(--gap-neg-6);
  }
}

@media (--lg) {
  .ms-lg-n6 {
    margin-inline-start: var(--gap-neg-6);
  }
}

@media (--xl) {
  .ms-xl-n6 {
    margin-inline-start: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .ms-xxl-n6 {
    margin-inline-start: var(--gap-neg-6);
  }
}

// Margin-inline-start Negative 7
.ms-n7 {
  margin-inline-start: var(--gap-neg-7);
}

@media (--sm) {
  .ms-sm-n7 {
    margin-inline-start: var(--gap-neg-7);
  }
}

@media (--md) {
  .ms-md-n7 {
    margin-inline-start: var(--gap-neg-7);
  }
}

@media (--lg) {
  .ms-lg-n7 {
    margin-inline-start: var(--gap-neg-7);
  }
}

@media (--xl) {
  .ms-xl-n7 {
    margin-inline-start: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .ms-xxl-n7 {
    margin-inline-start: var(--gap-neg-7);
  }
}

// Margin-inline-start Negative 8
.ms-n8 {
  margin-inline-start: var(--gap-neg-8);
}

@media (--sm) {
  .ms-sm-n8 {
    margin-inline-start: var(--gap-neg-8);
  }
}

@media (--md) {
  .ms-md-n8 {
    margin-inline-start: var(--gap-neg-8);
  }
}

@media (--lg) {
  .ms-lg-n8 {
    margin-inline-start: var(--gap-neg-8);
  }
}

@media (--xl) {
  .ms-xl-n8 {
    margin-inline-start: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .ms-xxl-n8 {
    margin-inline-start: var(--gap-neg-8);
  }
}

// Margin-inline-start Negative 9
.ms-n9 {
  margin-inline-start: var(--gap-neg-9);
}

@media (--sm) {
  .ms-sm-n9 {
    margin-inline-start: var(--gap-neg-9);
  }
}

@media (--md) {
  .ms-md-n9 {
    margin-inline-start: var(--gap-neg-9);
  }
}

@media (--lg) {
  .ms-lg-n9 {
    margin-inline-start: var(--gap-neg-9);
  }
}

@media (--xl) {
  .ms-xl-n9 {
    margin-inline-start: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .ms-xxl-n9 {
    margin-inline-start: var(--gap-neg-9);
  }
}

// Margin-inline-start Negative 10
.ms-n10 {
  margin-inline-start: var(--gap-neg-10);
}

@media (--sm) {
  .ms-sm-n10 {
    margin-inline-start: var(--gap-neg-10);
  }
}

@media (--md) {
  .ms-md-n10 {
    margin-inline-start: var(--gap-neg-10);
  }
}

@media (--lg) {
  .ms-lg-n10 {
    margin-inline-start: var(--gap-neg-10);
  }
}

@media (--xl) {
  .ms-xl-n10 {
    margin-inline-start: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .ms-xxl-n10 {
    margin-inline-start: var(--gap-neg-10);
  }
}
