// Margin-block-end Negative 1
.mb-n1 {
  margin-block-end: var(--gap-neg-1);
}

@media (--sm) {
  .mb-sm-n1 {
    margin-block-end: var(--gap-neg-1);
  }
}

@media (--md) {
  .mb-md-n1 {
    margin-block-end: var(--gap-neg-1);
  }
}

@media (--lg) {
  .mb-lg-n1 {
    margin-block-end: var(--gap-neg-1);
  }
}

@media (--xl) {
  .mb-xl-n1 {
    margin-block-end: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .mb-xxl-n1 {
    margin-block-end: var(--gap-neg-1);
  }
}

// Margin-block-end Negative 2
.mb-n2 {
  margin-block-end: var(--gap-neg-2);
}

@media (--sm) {
  .mb-sm-n2 {
    margin-block-end: var(--gap-neg-2);
  }
}

@media (--md) {
  .mb-md-n2 {
    margin-block-end: var(--gap-neg-2);
  }
}

@media (--lg) {
  .mb-lg-n2 {
    margin-block-end: var(--gap-neg-2);
  }
}

@media (--xl) {
  .mb-xl-n2 {
    margin-block-end: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .mb-xxl-n2 {
    margin-block-end: var(--gap-neg-2);
  }
}

// Margin-block-end Negative 3
.mb-n3 {
  margin-block-end: var(--gap-neg-3);
}

@media (--sm) {
  .mb-sm-n3 {
    margin-block-end: var(--gap-neg-3);
  }
}

@media (--md) {
  .mb-md-n3 {
    margin-block-end: var(--gap-neg-3);
  }
}

@media (--lg) {
  .mb-lg-n3 {
    margin-block-end: var(--gap-neg-3);
  }
}

@media (--xl) {
  .mb-xl-n3 {
    margin-block-end: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .mb-xxl-n3 {
    margin-block-end: var(--gap-neg-3);
  }
}

// Margin-block-end Negative 4
.mb-n4 {
  margin-block-end: var(--gap-neg-4);
}

@media (--sm) {
  .mb-sm-n4 {
    margin-block-end: var(--gap-neg-4);
  }
}

@media (--md) {
  .mb-md-n4 {
    margin-block-end: var(--gap-neg-4);
  }
}

@media (--lg) {
  .mb-lg-n4 {
    margin-block-end: var(--gap-neg-4);
  }
}

@media (--xl) {
  .mb-xl-n4 {
    margin-block-end: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .mb-xxl-n4 {
    margin-block-end: var(--gap-neg-4);
  }
}

// Margin-block-end Negative 5
.mb-n5 {
  margin-block-end: var(--gap-neg-5);
}

@media (--sm) {
  .mb-sm-n5 {
    margin-block-end: var(--gap-neg-5);
  }
}

@media (--md) {
  .mb-md-n5 {
    margin-block-end: var(--gap-neg-5);
  }
}

@media (--lg) {
  .mb-lg-n5 {
    margin-block-end: var(--gap-neg-5);
  }
}

@media (--xl) {
  .mb-xl-n5 {
    margin-block-end: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .mb-xxl-n5 {
    margin-block-end: var(--gap-neg-5);
  }
}

// Margin-block-end Negative 6
.mb-n6 {
  margin-block-end: var(--gap-neg-6);
}

@media (--sm) {
  .mb-sm-n6 {
    margin-block-end: var(--gap-neg-6);
  }
}

@media (--md) {
  .mb-md-n6 {
    margin-block-end: var(--gap-neg-6);
  }
}

@media (--lg) {
  .mb-lg-n6 {
    margin-block-end: var(--gap-neg-6);
  }
}

@media (--xl) {
  .mb-xl-n6 {
    margin-block-end: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .mb-xxl-n6 {
    margin-block-end: var(--gap-neg-6);
  }
}

// Margin-block-end Negative 7
.mb-n7 {
  margin-block-end: var(--gap-neg-7);
}

@media (--sm) {
  .mb-sm-n7 {
    margin-block-end: var(--gap-neg-7);
  }
}

@media (--md) {
  .mb-md-n7 {
    margin-block-end: var(--gap-neg-7);
  }
}

@media (--lg) {
  .mb-lg-n7 {
    margin-block-end: var(--gap-neg-7);
  }
}

@media (--xl) {
  .mb-xl-n7 {
    margin-block-end: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .mb-xxl-n7 {
    margin-block-end: var(--gap-neg-7);
  }
}

// Margin-block-end Negative 8
.mb-n8 {
  margin-block-end: var(--gap-neg-8);
}

@media (--sm) {
  .mb-sm-n8 {
    margin-block-end: var(--gap-neg-8);
  }
}

@media (--md) {
  .mb-md-n8 {
    margin-block-end: var(--gap-neg-8);
  }
}

@media (--lg) {
  .mb-lg-n8 {
    margin-block-end: var(--gap-neg-8);
  }
}

@media (--xl) {
  .mb-xl-n8 {
    margin-block-end: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .mb-xxl-n8 {
    margin-block-end: var(--gap-neg-8);
  }
}

// Margin-block-end Negative 9
.mb-n9 {
  margin-block-end: var(--gap-neg-9);
}

@media (--sm) {
  .mb-sm-n9 {
    margin-block-end: var(--gap-neg-9);
  }
}

@media (--md) {
  .mb-md-n9 {
    margin-block-end: var(--gap-neg-9);
  }
}

@media (--lg) {
  .mb-lg-n9 {
    margin-block-end: var(--gap-neg-9);
  }
}

@media (--xl) {
  .mb-xl-n9 {
    margin-block-end: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .mb-xxl-n9 {
    margin-block-end: var(--gap-neg-9);
  }
}

// Margin-block-end Negative 10
.mb-n10 {
  margin-block-end: var(--gap-neg-10);
}

@media (--sm) {
  .mb-sm-n10 {
    margin-block-end: var(--gap-neg-10);
  }
}

@media (--md) {
  .mb-md-n10 {
    margin-block-end: var(--gap-neg-10);
  }
}

@media (--lg) {
  .mb-lg-n10 {
    margin-block-end: var(--gap-neg-10);
  }
}

@media (--xl) {
  .mb-xl-n10 {
    margin-block-end: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .mb-xxl-n10 {
    margin-block-end: var(--gap-neg-10);
  }
}
