// Margin-block-start 0
.mt-0 {
  margin-block-start: 0;
}

@media (--sm) {
  .mt-sm-0 {
    margin-block-start: 0;
  }
}

@media (--md) {
  .mt-md-0 {
    margin-block-start: 0;
  }
}

@media (--lg) {
  .mt-lg-0 {
    margin-block-start: 0;
  }
}

@media (--xl) {
  .mt-xl-0 {
    margin-block-start: 0;
  }
}

@media (--xxl) {
  .mt-xxl-0 {
    margin-block-start: 0;
  }
}

// Margin-block-start 1
.mt-1 {
  margin-block-start: var(--gap-1);
}

@media (--sm) {
  .mt-sm-1 {
    margin-block-start: var(--gap-1);
  }
}

@media (--md) {
  .mt-md-1 {
    margin-block-start: var(--gap-1);
  }
}

@media (--lg) {
  .mt-lg-1 {
    margin-block-start: var(--gap-1);
  }
}

@media (--xl) {
  .mt-xl-1 {
    margin-block-start: var(--gap-1);
  }
}

@media (--xxl) {
  .mt-xxl-1 {
    margin-block-start: var(--gap-1);
  }
}

// Margin-block-start 2
.mt-2 {
  margin-block-start: var(--gap-2);
}

@media (--sm) {
  .mt-sm-2 {
    margin-block-start: var(--gap-2);
  }
}

@media (--md) {
  .mt-md-2 {
    margin-block-start: var(--gap-2);
  }
}

@media (--lg) {
  .mt-lg-2 {
    margin-block-start: var(--gap-2);
  }
}

@media (--xl) {
  .mt-xl-2 {
    margin-block-start: var(--gap-2);
  }
}

@media (--xxl) {
  .mt-xxl-2 {
    margin-block-start: var(--gap-2);
  }
}

// Margin-block-start 3
.mt-3 {
  margin-block-start: var(--gap-3);
}

@media (--sm) {
  .mt-sm-3 {
    margin-block-start: var(--gap-3);
  }
}

@media (--md) {
  .mt-md-3 {
    margin-block-start: var(--gap-3);
  }
}

@media (--lg) {
  .mt-lg-3 {
    margin-block-start: var(--gap-3);
  }
}

@media (--xl) {
  .mt-xl-3 {
    margin-block-start: var(--gap-3);
  }
}

@media (--xxl) {
  .mt-xxl-3 {
    margin-block-start: var(--gap-3);
  }
}

// Margin-block-start 4
.mt-4 {
  margin-block-start: var(--gap-4);
}

@media (--sm) {
  .mt-sm-4 {
    margin-block-start: var(--gap-4);
  }
}

@media (--md) {
  .mt-md-4 {
    margin-block-start: var(--gap-4);
  }
}

@media (--lg) {
  .mt-lg-4 {
    margin-block-start: var(--gap-4);
  }
}

@media (--xl) {
  .mt-xl-4 {
    margin-block-start: var(--gap-4);
  }
}

@media (--xxl) {
  .mt-xxl-4 {
    margin-block-start: var(--gap-4);
  }
}

// Margin-block-start 5
.mt-5 {
  margin-block-start: var(--gap-5);
}

@media (--sm) {
  .mt-sm-5 {
    margin-block-start: var(--gap-5);
  }
}

@media (--md) {
  .mt-md-5 {
    margin-block-start: var(--gap-5);
  }
}

@media (--lg) {
  .mt-lg-5 {
    margin-block-start: var(--gap-5);
  }
}

@media (--xl) {
  .mt-xl-5 {
    margin-block-start: var(--gap-5);
  }
}

@media (--xxl) {
  .mt-xxl-5 {
    margin-block-start: var(--gap-5);
  }
}

// Margin-block-start 6
.mt-6 {
  margin-block-start: var(--gap-6);
}

@media (--sm) {
  .mt-sm-6 {
    margin-block-start: var(--gap-6);
  }
}

@media (--md) {
  .mt-md-6 {
    margin-block-start: var(--gap-6);
  }
}

@media (--lg) {
  .mt-lg-6 {
    margin-block-start: var(--gap-6);
  }
}

@media (--xl) {
  .mt-xl-6 {
    margin-block-start: var(--gap-6);
  }
}

@media (--xxl) {
  .mt-xxl-6 {
    margin-block-start: var(--gap-6);
  }
}

// Margin-block-start 7
.mt-7 {
  margin-block-start: var(--gap-7);
}

@media (--sm) {
  .mt-sm-7 {
    margin-block-start: var(--gap-7);
  }
}

@media (--md) {
  .mt-md-7 {
    margin-block-start: var(--gap-7);
  }
}

@media (--lg) {
  .mt-lg-7 {
    margin-block-start: var(--gap-7);
  }
}

@media (--xl) {
  .mt-xl-7 {
    margin-block-start: var(--gap-7);
  }
}

@media (--xxl) {
  .mt-xxl-7 {
    margin-block-start: var(--gap-7);
  }
}

// Margin-block-start 8
.mt-8 {
  margin-block-start: var(--gap-8);
}

@media (--sm) {
  .mt-sm-8 {
    margin-block-start: var(--gap-8);
  }
}

@media (--md) {
  .mt-md-8 {
    margin-block-start: var(--gap-8);
  }
}

@media (--lg) {
  .mt-lg-8 {
    margin-block-start: var(--gap-8);
  }
}

@media (--xl) {
  .mt-xl-8 {
    margin-block-start: var(--gap-8);
  }
}

@media (--xxl) {
  .mt-xxl-8 {
    margin-block-start: var(--gap-8);
  }
}

// Margin-block-start 9
.mt-9 {
  margin-block-start: var(--gap-9);
}

@media (--sm) {
  .mt-sm-9 {
    margin-block-start: var(--gap-9);
  }
}

@media (--md) {
  .mt-md-9 {
    margin-block-start: var(--gap-9);
  }
}

@media (--lg) {
  .mt-lg-9 {
    margin-block-start: var(--gap-9);
  }
}

@media (--xl) {
  .mt-xl-9 {
    margin-block-start: var(--gap-9);
  }
}

@media (--xxl) {
  .mt-xxl-9 {
    margin-block-start: var(--gap-9);
  }
}

// Margin-block-start 10
.mt-10 {
  margin-block-start: var(--gap-10);
}

@media (--sm) {
  .mt-sm-10 {
    margin-block-start: var(--gap-10);
  }
}

@media (--md) {
  .mt-md-10 {
    margin-block-start: var(--gap-10);
  }
}

@media (--lg) {
  .mt-lg-10 {
    margin-block-start: var(--gap-10);
  }
}

@media (--xl) {
  .mt-xl-10 {
    margin-block-start: var(--gap-10);
  }
}

@media (--xxl) {
  .mt-xxl-10 {
    margin-block-start: var(--gap-10);
  }
}
