// Margin Negative 1
.m-n1 {
  margin: var(--gap-neg-1);
}

@media (--sm) {
  .m-sm-n1 {
    margin: var(--gap-neg-1);
  }
}

@media (--md) {
  .m-md-n1 {
    margin: var(--gap-neg-1);
  }
}

@media (--lg) {
  .m-lg-n1 {
    margin: var(--gap-neg-1);
  }
}

@media (--xl) {
  .m-xl-n1 {
    margin: var(--gap-neg-1);
  }
}

@media (--xxl) {
  .m-xxl-n1 {
    margin: var(--gap-neg-1);
  }
}

// Margin Negative 2
.m-n2 {
  margin: var(--gap-neg-2);
}

@media (--sm) {
  .m-sm-n2 {
    margin: var(--gap-neg-2);
  }
}

@media (--md) {
  .m-md-n2 {
    margin: var(--gap-neg-2);
  }
}

@media (--lg) {
  .m-lg-n2 {
    margin: var(--gap-neg-2);
  }
}

@media (--xl) {
  .m-xl-n2 {
    margin: var(--gap-neg-2);
  }
}

@media (--xxl) {
  .m-xxl-n2 {
    margin: var(--gap-neg-2);
  }
}

// Margin Negative 3
.m-n3 {
  margin: var(--gap-neg-3);
}

@media (--sm) {
  .m-sm-n3 {
    margin: var(--gap-neg-3);
  }
}

@media (--md) {
  .m-md-n3 {
    margin: var(--gap-neg-3);
  }
}

@media (--lg) {
  .m-lg-n3 {
    margin: var(--gap-neg-3);
  }
}

@media (--xl) {
  .m-xl-n3 {
    margin: var(--gap-neg-3);
  }
}

@media (--xxl) {
  .m-xxl-n3 {
    margin: var(--gap-neg-3);
  }
}

// Margin Negative 4
.m-n4 {
  margin: var(--gap-neg-4);
}

@media (--sm) {
  .m-sm-n4 {
    margin: var(--gap-neg-4);
  }
}

@media (--md) {
  .m-md-n4 {
    margin: var(--gap-neg-4);
  }
}

@media (--lg) {
  .m-lg-n4 {
    margin: var(--gap-neg-4);
  }
}

@media (--xl) {
  .m-xl-n4 {
    margin: var(--gap-neg-4);
  }
}

@media (--xxl) {
  .m-xxl-n4 {
    margin: var(--gap-neg-4);
  }
}

// Margin Negative 5
.m-n5 {
  margin: var(--gap-neg-5);
}

@media (--sm) {
  .m-sm-n5 {
    margin: var(--gap-neg-5);
  }
}

@media (--md) {
  .m-md-n5 {
    margin: var(--gap-neg-5);
  }
}

@media (--lg) {
  .m-lg-n5 {
    margin: var(--gap-neg-5);
  }
}

@media (--xl) {
  .m-xl-n5 {
    margin: var(--gap-neg-5);
  }
}

@media (--xxl) {
  .m-xxl-n5 {
    margin: var(--gap-neg-5);
  }
}

// Margin Negative 6
.m-n6 {
  margin: var(--gap-neg-6);
}

@media (--sm) {
  .m-sm-n6 {
    margin: var(--gap-neg-6);
  }
}

@media (--md) {
  .m-md-n6 {
    margin: var(--gap-neg-6);
  }
}

@media (--lg) {
  .m-lg-n6 {
    margin: var(--gap-neg-6);
  }
}

@media (--xl) {
  .m-xl-n6 {
    margin: var(--gap-neg-6);
  }
}

@media (--xxl) {
  .m-xxl-n6 {
    margin: var(--gap-neg-6);
  }
}

// Margin Negative 7
.m-n7 {
  margin: var(--gap-neg-7);
}

@media (--sm) {
  .m-sm-n7 {
    margin: var(--gap-neg-7);
  }
}

@media (--md) {
  .m-md-n7 {
    margin: var(--gap-neg-7);
  }
}

@media (--lg) {
  .m-lg-n7 {
    margin: var(--gap-neg-7);
  }
}

@media (--xl) {
  .m-xl-n7 {
    margin: var(--gap-neg-7);
  }
}

@media (--xxl) {
  .m-xxl-n7 {
    margin: var(--gap-neg-7);
  }
}

// Margin Negative 8
.m-n8 {
  margin: var(--gap-neg-8);
}

@media (--sm) {
  .m-sm-n8 {
    margin: var(--gap-neg-8);
  }
}

@media (--md) {
  .m-md-n8 {
    margin: var(--gap-neg-8);
  }
}

@media (--lg) {
  .m-lg-n8 {
    margin: var(--gap-neg-8);
  }
}

@media (--xl) {
  .m-xl-n8 {
    margin: var(--gap-neg-8);
  }
}

@media (--xxl) {
  .m-xxl-n8 {
    margin: var(--gap-neg-8);
  }
}

// Margin Negative 9
.m-n9 {
  margin: var(--gap-neg-9);
}

@media (--sm) {
  .m-sm-n9 {
    margin: var(--gap-neg-9);
  }
}

@media (--md) {
  .m-md-n9 {
    margin: var(--gap-neg-9);
  }
}

@media (--lg) {
  .m-lg-n9 {
    margin: var(--gap-neg-9);
  }
}

@media (--xl) {
  .m-xl-n9 {
    margin: var(--gap-neg-9);
  }
}

@media (--xxl) {
  .m-xxl-n9 {
    margin: var(--gap-neg-9);
  }
}

// Margin Negative 10
.m-n10 {
  margin: var(--gap-neg-10);
}

@media (--sm) {
  .m-sm-n10 {
    margin: var(--gap-neg-10);
  }
}

@media (--md) {
  .m-md-n10 {
    margin: var(--gap-neg-10);
  }
}

@media (--lg) {
  .m-lg-n10 {
    margin: var(--gap-neg-10);
  }
}

@media (--xl) {
  .m-xl-n10 {
    margin: var(--gap-neg-10);
  }
}

@media (--xxl) {
  .m-xxl-n10 {
    margin: var(--gap-neg-10);
  }
}
