---
import { SITE_TITLE, SITE_TITLE_TAG, SITE_DESCRIPTION } from "../consts";

// Vercel component imports
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

// Component import
import MainHead from "./MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ContactFormFluent from "../components/forms/ContactFormFluent.astro";
import ResumePopout from "../components/ResumePopout.astro";

// Style import
import "../css/global.scss";

const {
  title = SITE_TITLE,
  title_tag = SITE_TITLE_TAG,
  description = SITE_DESCRIPTION,
  og_image = "/img/open-graph.png",
} = Astro.props;
---

<html lang="en" prefix="og: https://ogp.me/ns#">
  <MainHead {title} {title_tag} {description} {og_image} />
  <body>
    <Nav />
    <main>
      <slot />
    </main>

    <section id="contact" class="p-0">
      <div class="container">
        <div class="flex align-items-start justify-content-center">
          <ContactFormFluent />
        </div>
      </div>
    </section>

    <Footer />
    <ResumePopout />
    <Analytics />
    <SpeedInsights />
  </body>
</html>
